<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>部长设置</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="../../common/css/vant-rem.css">
		<link rel="stylesheet" href="../../common/css/basic.css">
		<link rel="stylesheet" href="../club/css/clubCreateCompetition.css">
		<link rel="stylesheet" href="css/normal.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
		<script src="../../common/js/network.js"></script>
		<script src="js/tool.js"></script>
		<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
		<script>
			// init vConsole
			var vConsole = new VConsole();
			console.log('Hello world');
		</script> -->
		<style type="text/css">
			.van-cell:not(:last-child)::after {
				left: 0;
			}

			.van-cell::after {
				border-bottom: none;
			}

			.van-hairline--top-bottom::after,
			.van-hairline-unset--top-bottom::after {
				border-width: 0;
			}

			.van-nav-bar__text {
				color: #999;
			}

			.van-nav-bar__left,
			.van-nav-bar__right {
				font-size: .32rem;
			}
			.van-hairline--bottom::after{
				border: none;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak class="page">
			<div class="header">
				<van-nav-bar :title="title"
				 @click-left="OnclickLeft"
				 @click-right="OnclickRight"
				 left-text="取消">
					<template #right>
						<div :style="{color:!submitform.name||!submitform.introduce?'#999':'#e60012'}">保存</div>
					</template>
				</van-nav-bar>
			</div>
			<div v-if="flag==1">
				<div class="laberDiv">
					{{title}}
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-field v-model="submitform.name" :input="titleChange()" class="club-input" style="min-height:1.7rem;" rows="2"
					 autosize type="textarea" maxlength="16" placeholder="请输入分部名称" show-word-limit />
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>

	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					flag: getQueryString("flag"), //1俱乐部名称2//俱乐部简介
					title: getQueryString("flag") == 1 ? '分部名称' : '俱乐部简介',
					submitform: JSON.parse(localStorage.getItem('clubForm')) || {name:''},
					isClick:false
				};
			},
			mounted() {

			},
			created() {

			},
			methods: {
				OnclickLeft(){
					window.history.back(-1)
				},
				OnclickRight(){
					var _this = this;
					if(this.isClick)return;
					if((!this.submitform.name&&this.flag==1)||(!this.submitform.introduce&&this.flag==2)){
						return;
					}
					this.isClick = true;
					this.checkStr(this.flag==1?this.submitform.name:this.submitform.introduce,function(){
						_this.submitForm();
					})
					
				},
				checkStr(param, cb) {
					var that = this;
					ajax({
						type: "post",
						url: "contentSecurity/aliyun/textScan",
						data: {content:param},
						success: function(res) {
							if (res.code == 0) {
								cb()
							} else if (res.code == 4001) {
								that.$toast("输入的内容不合法!");
								that.isClick = false;
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				submitForm(){
					var _self = this;
					ajax({
						type: "post",
						url: "club/updateClub",
						data: _self.submitform,
						success: function(res) {
							if (res.code == 0) {
								_self.$toast("俱乐部设置成功！");
								localStorage.removeItem('clubForm');
								localStorage.setItem("settingChange","tabDetailChange");
								localStorage.setItem("dataChange","tabDetailChange");
								setTimeout(function(){
									window.history.back(-1)
								},2500)
							} else if (res.code == 3000) {
								_self.$toast("该分部名称已存在！~");
								_self.isClick = false;
							} else {
								_self.$toast(res.msg);
								_self.isClick = false;
							}
						},
						error: function() {
							_self.isClick = false;
							console.log("error")
						}
					})
				},
				titleChange() {
					this.submitform.name = this.submitform.name.replace(
						/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				},
				// contentChange() {
				// 	this.submitform.introduce = this.submitform.introduce.replace(
				// 		/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				// }
			}
		})
	</script>
