@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 0.24rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PingFangSC-Regular", sans-serif;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #12121f;
  color: #CFCFD2;
  height: 100vh;
}

.contain {
  padding: 0.24rem;
  /* 视频课程的轮播图 */
  /* 分类导航 */
}

.contain .course-swipe {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 2.4rem;
}

.contain .course-swipe .van-swipe-item img {
  width: 100%;
  height: 100%;
}

.contain .nav_grid {
  margin-bottom: 0.32rem;
}

.contain .nav_grid .van-image {
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #12121f;
}

.contain .nav_grid .van-image img {
  width: 100%;
  height: 100%;
}

.contain .nav_grid .van-grid-item {
  -ms-flex-preferred-size: 20% !important;
  flex-basis: 20% !important;
}

.contain .nav_grid .van-grid-item__text {
  color: #CFCFD2;
  line-height: 0.6rem;
  font-size: 0.32rem;
}

.contain .nav_grid .van-grid-item__content {
  background-color: transparent;
  padding: 0.48rem 0.15rem 0;
}

.contain .recentBox .btn_train {
  width: 1.28rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
  background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.48rem;
  text-align: center;
  border-radius: 0.24rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  -ms-border-radius: 0.24rem;
  -o-border-radius: 0.24rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.courseBox .title, .courseBox-bg .title {
  font-size: 0.4rem;
  line-height: 1.04rem;
}

.courseBox .title .titleInfo, .courseBox-bg .title .titleInfo {
  color: #71717f;
  font-size: 0.2rem;
}

.courseBox .title2, .courseBox-bg .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseBox .title2 .txt, .courseBox-bg .title2 .txt {
  font-size: 0.4rem;
  line-height: 1.04rem;
}

.courseBox .title2 .btn_viewMore, .courseBox-bg .title2 .btn_viewMore {
  font-size: 0.24rem;
  color: #71717f;
  line-height: 0.6rem;
}

.courseBox .courseDiv, .courseBox-bg .courseDiv {
  position: relative;
  width: 100%;
  margin-bottom: 0.32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.courseBox .courseDiv .iconlabel, .courseBox-bg .courseDiv .iconlabel {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.72rem;
  height: 0.32rem;
}

.courseBox .courseDiv .cover, .courseBox-bg .courseDiv .cover {
  border-radius: 8px;
  width: 2.72rem;
  height: 2.04rem;
  background-position: 75% 0;
  background-size: 100% 100%;
  margin-right: 0.24rem;
}

.courseBox .courseDiv .content .stitle, .courseBox-bg .courseDiv .content .stitle {
  font-size: 0.32rem;
  line-height: 0.5rem;
  color: #CFCFD2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.courseBox .courseDiv .content .detail, .courseBox-bg .courseDiv .content .detail {
  color: #71717f;
  font-size: 0.24rem;
  line-height: 0.5rem;
}

.courseBox .courseDiv .content .progress, .courseBox-bg .courseDiv .content .progress {
  font-size: 0.24rem;
  line-height: 0.48rem;
  color: #71717f;
  margin-top: 0.24rem;
}

.courseBox-bg .van-swipe-item {
  padding-right: 0.24rem;
}

.courseBox-bg .van-swipe-item:last-child {
  padding-right: 0;
}

.courseBox-bg .courseDiv {
  height: 3.3rem;
  background-position: 75% 0;
  background-size: 100% 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 8px;
}

.courseBox-bg .courseDiv .content {
  padding: 0.24rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1e1e2a), to(rgba(30, 30, 42, 0)));
  background-image: linear-gradient(to top, #1e1e2a, rgba(30, 30, 42, 0));
  border-radius: 8px;
}

.courseBox-bg .courseDiv .content .stitle {
  color: #CFCFD2;
}

.courseBox-bg .courseDiv .content .detail {
  color: #CFCFD2;
}

.classificationBox {
  padding: 0 0.24rem;
}

.classificationBox .title {
  font-size: 0.4rem;
  line-height: 1.04rem;
}

.classificationBox .title .titleInfo {
  color: #FFAA88;
  font-size: 0.2rem;
}

.classificationBox .classificationDiv .classificationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.classificationBox .classificationDiv .classificationList .name {
  font-size: 0.32rem;
  margin-right: 0.24rem;
  width: 0.8rem;
}

.classificationBox .classificationDiv .classificationList .typeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.classificationBox .classificationDiv .classificationList .typeList .typeItem {
  background-color: #1e1e2a;
  font-size: 0.24rem;
  color: #71717f;
  line-height: 0.48rem;
  padding: 0 0.2rem;
  border-radius: 0.24rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  -ms-border-radius: 0.24rem;
  -o-border-radius: 0.24rem;
  margin-right: 0.24rem;
  margin-bottom: 0.24rem;
}

.classificationBox .classificationDiv .classificationList .typeList .selected {
  background-color: rgba(255, 170, 136, 0.1);
  color: #FFAA88;
}

.courseList .header .van-nav-bar {
  background-color: rgba(255, 255, 255, 0);
}

.courseList .header .van-nav-bar .van-nav-bar__content {
  color: #fff;
}

.courseList .header .van-nav-bar .van-nav-bar__title {
  opacity: 0;
  color: #fff;
  font-size: 0.36rem;
  margin-left: 15%;
  max-width: 50%;
}

.courseList .header .van-hairline--bottom::after {
  border: none;
}

.courseList .topBox .bg {
  height: 6.7rem;
  width: 100%;
  background-size: auto 102%;
  background-position: 90%;
  background-repeat: no-repeat;
}

.courseList .topBox .bg .opacity {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.3rem;
  padding-top: 1.6rem;
  height: 6.7rem;
}

.courseList .topBox .bg .opacity .title {
  font-size: 0.48rem;
  line-height: 0.8rem;
  color: #ffffff;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.courseList .topBox .bg .opacity .discript {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #CFCFD2;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 0.8rem;
}

.courseList .topBox .bg .opacity .classifyBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0;
}

.courseList .topBox .bg .opacity .classifyBox .classifyDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.courseList .topBox .bg .opacity .classifyBox .classifyDiv .classifyItem {
  margin-right: 0.2rem;
  height: 0.48rem;
  line-height: 0.48rem;
  padding: 0 0.16rem;
  font-size: 0.24rem;
  background-color: rgba(18, 18, 31, 0.3);
  border-radius: 0.24rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  -ms-border-radius: 0.24rem;
  -o-border-radius: 0.24rem;
}

.courseList .topBox .bg .opacity .classifyBox .transPeopleCount {
  font-size: 0.24rem;
}

.courseList .topBox .bg .opacity .information {
  padding: 0.15rem 0.52rem;
  text-align: center;
}

.courseList .topBox .bg .opacity .information .need1 {
  font-size: 0.56rem;
  line-height: 0.6rem;
  color: #ffffff;
  display: table-row;
  font-family: "BebasNeue";
}

.courseList .topBox .bg .opacity .information .needTitle1 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #CFCFD2;
  display: table-row;
}

.courseList .topBox .bg .opacity .information .need2 {
  font-size: 0.56rem;
  line-height: 0.6rem;
  color: #ffffff;
  font-family: "BebasNeue";
}

.courseList .topBox .bg .opacity .information .needTitle2 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #CFCFD2;
}

.courseList .topBox .bg .opacity .information .needBox3 {
  float: right;
}

.courseList .topBox .bg .opacity .information .need3 {
  font-size: 0.48rem;
  line-height: 0.6rem;
  color: #ffffff;
  display: table-row;
}

.courseList .topBox .bg .opacity .information .needTitle3 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  color: #CFCFD2;
  display: table-row;
}

.courseList .tabBox {
  overflow: hidden;
  background-color: #12121f;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  top: -0.88rem;
}

.courseList .tabBox .van-sticky--fixed {
  top: 0.92rem;
}

.courseList .tabBox .tabTitle {
  background-color: #12121f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.8rem;
  height: 0.88rem;
  border-bottom: 1px solid #1e1e2a;
}

.courseList .tabBox .tabTitle .tabName {
  font-size: 0.36rem;
  line-height: 0.88rem;
  color: #71717f;
}

.courseList .tabBox .tabTitle .tabName span {
  font-size: 0.24rem;
}

.courseList .tabBox .tabTitle .selected {
  font-size: .36rem;
  color: #CFCFD2;
  position: relative;
}

.courseList .tabBox .tabTitle .selected::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.14rem;
  background-position: 100% 100%;
  background: url(../img/tabselect.png) no-repeat;
  background-size: 100%;
}

.courseList .listBox {
  padding: 0.1rem;
  padding-bottom: 1rem;
}

.courseList .listBox .courseList ul {
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.courseList .listBox .courseList ul li {
  height: 1.5rem;
  padding: 0.15rem 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.courseList .listBox .courseList ul li .chooseBox {
  width: 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseList .listBox .courseList ul li .chooseBox img {
  width: 0.36rem;
  height: 0.36rem;
}

.courseList .listBox .courseList ul li .itemImg {
  margin-right: 0.2rem;
}

.courseList .listBox .courseList ul li .itemImg img {
  width: 1.8rem;
  height: 1.2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.courseList .listBox .courseList ul li .rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5rem;
}

.courseList .listBox .courseList ul li .rightBox .itemDiscript .smallTile {
  font-size: 0.28rem;
  color: #CFCFD2;
  line-height: 0.6rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.courseList .listBox .courseList ul li .rightBox .itemDiscript .need {
  font-size: 0.24rem;
  color: #71717f;
  line-height: 0.6rem;
}

.courseList .listBox .courseList .info {
  color: #71717f;
  font-size: 0.2rem;
  text-align: center;
  padding: 0.2rem 0;
}

.courseList .listBox .courseList .btn_box {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.courseList .listBox .courseList .btn_box .btn {
  color: #fff;
  width: 6.3rem;
  height: 0.88rem;
  font-size: 0.4rem;
  line-height: 0.88rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#FFAA88), to(#FF4E3E));
  background-image: linear-gradient(to left, #FFAA88, #FF4E3E);
  border-radius: 0.44rem;
  margin-bottom: 0.68rem;
}

.courseList .chooseDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.15rem 0.3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #1e1e2a;
  height: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.courseList .chooseDiv .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseList .chooseDiv img {
  width: 0.36rem;
  height: 0.36rem;
  margin-right: 0.15rem;
}

.courseList .commentBox {
  position: relative;
  padding: 0 0.3rem;
}

.courseList .commentBox ul li {
  margin-top: 0.4rem;
}

.courseList .commentBox .basicBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseList .commentBox .basicBox .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.courseList .commentBox .basicBox .infoBox .userImg {
  margin-right: 0.16rem;
}

.courseList .commentBox .basicBox .infoBox .userImg img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.courseList .commentBox .basicBox .infoBox .detail .nickname {
  font-size: 0.32rem;
  line-height: 0.5rem;
  min-height: 0.5rem;
}

.courseList .commentBox .basicBox .infoBox .detail .time {
  font-size: 0.2rem;
  color: #71717f;
  line-height: 0.3rem;
  height: 0.3rem;
}

.courseList .commentBox .basicBox .likeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.28rem;
}

.courseList .commentBox .basicBox .liked {
  color: #FF4E3E;
}

.courseList .commentBox .commentDiv {
  margin-left: 0.96rem;
  border-bottom: 1px solid #1e1e2a;
}

.courseList .commentBox .commentDiv .comment {
  padding: 0.2rem 0;
  font-size: 0.28rem;
  line-height: 0.5rem;
  min-height: 0.5rem;
  word-break: break-all;
}

.courseList .commentBox .commentDiv .comment span {
  font-size: 0.28rem;
}

.courseList .commentBox .commentDiv .commentBck {
  font-size: 0.28rem;
  background-color: #1e1e2a;
  padding: 0.24rem;
  margin-bottom: 0.4rem;
}

.courseList .commentBox .commentDiv .commentBck .commentBckItem {
  margin-bottom: 0.1rem;
}

.courseList .commentBox .commentDiv .commentBck .commentBckItem span {
  line-height: 0.35rem;
}

.courseList .commentBox .commentDiv .commentBck .commentBckItem .name {
  color: #71717f;
}

.courseList .commentBox .commentDiv .commentBck .more {
  font-size: 0.28rem;
  line-height: 0.5rem;
}

.courseList .commentBox .noData-box {
  text-align: center;
  padding-top: 0.5rem;
}

.courseList .commentBox .noData-box .noData-img {
  width: 4rem;
}

.courseList .commentBox .noData-box .noData-p {
  color: #CFCFD2;
  font-size: 0.28rem;
  padding: 0.2rem 0;
  color: #71717f;
}

.courseList .commentBox .van-list__error-text,
.courseList .commentBox .van-list__finished-text,
.courseList .commentBox .van-list__loading {
  color: #71717f;
  font-size: 0.2rem;
  text-align: center;
  padding: 0.2rem 0;
}

.courseList .sendBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 0.16rem 0.24rem;
  background-color: #12121f;
}

.courseList .sendBox .van-cell {
  background-color: #1e1e2a;
  padding: 0.03rem 0.2rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.courseList .sendBox .van-cell:after {
  border: none;
}

.courseList .sendBox .van-field__control {
  color: #CFCFD2;
}

.courseList .van-popup {
  background-color: #12121f;
}

.courseList .van-popup .popupHeader {
  position: absolute;
  background-color: #12121f;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courseList .van-popup .popupHeader .title {
  font-size: 0.36rem;
}

.courseList .van-popup .commentBox {
  position: relative;
  z-index: 3;
  height: calc(100% - 1rem);
  overflow: auto;
  padding: 0;
}

.courseList .van-popup .commentBox .mainComment {
  padding: 0 0.3rem;
  margin-top: 1rem;
  border-bottom: 4px solid #1e1e2a;
}

.courseList .van-popup .commentBox .commentDiv {
  padding-left: 0.96rem;
  margin: 0;
  border-bottom: none;
}

.courseList .van-popup .commentBox .allCommentTitle {
  font-size: 0.36rem;
  line-height: 1rem;
  padding: 0 0.3rem;
}

.courseList .van-popup .commentBox .childComment {
  padding: 0 0.3rem;
  margin-top: 0.15rem;
}

.courseList .van-popup .sendBox {
  position: absolute;
  z-index: 9;
}

.van-dialog {
  background-color: #292934;
}

.van-dialog .van-button--default {
  background-color: #292934;
}

.van-dialog .van-hairline--left::after {
  border-color: #1e1e2a;
}

.van-dialog .van-hairline--top::after {
  border-color: #1e1e2a;
}

.van-action-sheet .van-action-sheet__cancel,
.van-action-sheet .van-action-sheet__item {
  background-color: #12121f;
  color: #CFCFD2;
  border-bottom: 1px solid #1e1e2a;
}

.van-action-sheet .van-action-sheet__gap {
  background-color: #1e1e2a;
  color: #CFCFD2;
}

.normalHeader .header {
  height: 0.92rem;
  position: relative;
  z-index: 100;
}

.normalHeader .header .van-nav-bar {
  background-color: #12121f;
}

.normalHeader .header .van-nav-bar .van-nav-bar__content {
  color: #CFCFD2;
}

.normalHeader .header .van-nav-bar .van-nav-bar__title {
  color: #CFCFD2;
}

.normalHeader .header .van-hairline--bottom::after {
  border: none;
}

@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
  .normalHeader .header {
    height: 0.92rem;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
  }
  .courseList .tabBox .van-sticky--fixed {
    top: 0.92rem;
    top: calc(0.92rem + constant(safe-area-inset-top));
    top: calc(0.92rem + env(safe-area-inset-top));
  }
}

.allCourse .van-swipe-cell__right {
  padding: 0 0.05rem;
  vertical-align: middle;
}

.allCourse .van-swipe-cell__right img {
  width: 1.44rem;
  height: 1.44rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  position: relative;
  top: 0.48rem;
}

.allCourse .noData-box {
  text-align: center;
  padding-top: 3rem;
}

.allCourse .noData-box .noData-img {
  width: 4rem;
}

.allCourse .noData-box .noData-p {
  color: #b3b8bb;
  font-size: 0.28rem;
}

.myCourse {
  padding: 0rem 0.3rem;
}

.myCourse ul li {
  width: calc(100% + 2px);
}

.myCourse .van-swipe-cell__right {
  right: -1px;
}

.myCourse .van-swipe-cell__right .delBox {
  width: 1.36rem;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-color: #E60012;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myCourse .van-swipe-cell__right .delBox img {
  width: 0.56rem;
  height: 0.56rem;
}

.myCourse .noData-box {
  text-align: center;
  padding-top: 3rem;
}

.myCourse .noData-box .noData-img {
  width: 4rem;
}

.myCourse .noData-box .noData-p {
  color: #999;
  font-size: 0.28rem;
  line-height: 0.4rem;
  margin-top: 0.2rem;
}
/*# sourceMappingURL=index.css.map */