@font-face {
    font-family: "BebasNeue";
    src:url("../common/font/BebasNeue/BebasNeue.tff") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #12121f;
    color: #cfcfd2;
}
.personInfo{
    margin-top: 1rem;
    padding: 0 0.3rem;
    .infoBox{
        display: flex;
        .pic{
            img{
            width: 1rem;
            height: 1rem;
            border-radius:50% ;
            -webkit-border-radius:50% ;
            -moz-border-radius:50% ;
            -ms-border-radius:50% ;
            -o-border-radius:50% ;
            margin-right: 0.2rem;
}
        }
        .nameBox{
            .name{
                color: #cfcfd2 ;
                font-size: 0.32rem;
                line-height: 0.6rem;
            }
            .idBox{
                color: #71717f ;
                font-size: 0.24rem;
                line-height: 0.3rem;
            }
        }
    }
    .scoreBox{
        padding: 0.3rem 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .num{
            color: #E60012 ;
            font-family: "BebasNeue";
            font-size: 0.8rem;
            line-height: 1rem;
            height: 1rem;
        }
        .desc{
            color: #cfcfd2 ;
            text-align: center;
            font-size: 0.24rem;
        }
    }
}
.detailBox{
    border-top: 0.2rem solid #1e1e2a;
    ul{
        li{
            border-bottom: 1px solid #1e1e2a;
            padding: 0.25rem 0.3rem;
            .box1{
                display: flex;
                justify-content: space-between;
                .namebox{
                    color: #cfcfd2;
                    font-size: 0.32rem;
                    line-height: 0.6rem;
                    .mode{
                        font-size: 0.24rem;
                    }
                }
                .score{
                    color: #E60012 ;
                    font-size: 0.32rem;
                }
            }
            .box2{
                display: flex;
                justify-content: space-between;
                .date{
                    color: #71717f;
                    font-size: 0.24rem;
                    
                }
                .useTime{
                    color: #71717f;
                    font-size: 0.24rem;
                }
            }
            
        }
    }
}