html,
body,
div {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: auto;
    font-size: 100px;
}

body {
    font-family: microsoft yahei, Arial, sans-serif;
    font-size: .3rem;
    background-color: var(--bgColor);
    color: var(--textColor);
}

.agr-content {
    margin: auto;
    padding: .24rem;
}

.agr-content p {
    /* text-indent: .28rem; */
    margin: 0;
    line-height: 0.5rem;
}