/*猴子的下拉加载*/

.monkey-pull-refresh .van-pull-refresh__head {
    line-height: 0;
    height: 90px!important;
}

.monkey-pull-refresh .monkeyBox {}

.monkey-pull-refresh .monkeyBox .monkey {
    width: 60px;
    height: 60px;
    line-height: 0;
    padding: 0;
    margin: 0 auto;
    background-size: cover;
    background-position: 100% 100%;
    background-image: var(--monkey);
}

.monkey-pull-refresh .monkeyBox p {
    height: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.noDataBox {
    text-align: center;
    padding-top: 2.5rem;
}

.noDataBox .noDataImg {
    width: 4rem;
    height: 4rem;
    background-image: var(--noData);
    background-size: cover;
    margin: 0 auto;
}

.noDataBox .noDataInfo {
    color: var(--textColor2);
    line-height: 0.8rem;
    font-size: 0.28rem;
}