<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" href="font/iconfont.css">
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vue.js"></script>
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vant.js"></script>
    <script src="../common/js/network.js"></script>
    <script src="js/openId.js"></script>
    <title>浦发银行湖南省分行云端跳绳比赛</title>
    <style type="text/css">
        body,
        .page {
            background-color: #FCC9BD;
        }
    </style>

</head>

<body>
    <div id="app" class="page" v-cloak>
        <div class="header">
            <van-nav-bar title="浦发银行湖南省分行云端跳绳比赛" @click-left="closeH5()" @click-right="share" safe-area-inset-top fixed>
                <template #left v-if="!isShare">
						<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" ></span>
					</template>
                <template #right v-if="!isShare">
						<span class="icon iconfont icon-fenxianganniu"  style="font-size: 0.5rem;"></span>
					</template>
            </van-nav-bar>
        </div>
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
            <div>
                <div class="pageBgBox">
                    <div class="ruleicon" @click="window.location.href='rule.html'">
                        活动规则
                    </div>
                    <div v-if="!isShare&&!startDjs" class="gojump" @click="listShow = true">去跳绳 </span>
                    </div>
                    <div v-if="!isShare&&startDjs" class="gojump notStart" v-if="startDjs">去跳绳 <span v-if="startDjs">{{startDjs}} </span></div>
                </div>
                <div class="contain">
                    <div class="infobox">
                        <div class="card card-person" style="height:1.96rem;">
                            <div class="schoolName">
                                <div>{{person.studentSchoolInfo.schoolName}}</div>
                            </div>
                            <div class="studentName">
                                {{person.studentSchoolInfo.name}}
                            </div>
                            <!-- <div class="studentInfoBox">
                                学籍号：{{person.studentSchoolInfo.studentCardId}}
                            </div>
                            <div class="studentInfoBox">
                                年 &nbsp 级：{{person.studentSchoolInfo.grade}}
                            </div> -->
                        </div>
                        <div class="ub ub-pj ub-ac">
                            <div class="card ub-f1 card-camp" @click="gonext(1)" style="margin-right: .18rem;">
                                <div class="cardTitle">
                                    3分钟倒计时跳个人排名
                                </div>
                                <div class="ranking">
                                    {{person.oneRank||"--"}}
                                </div>
                                <div class="circle">
                                    <img src="img/circlecamp.png">
                                </div>
                            </div>
                            <div class="card ub-f1 card-school" @click="gonext(2)" style="padding-left: .3rem;">
                                <div class="cardTitle">
                                    支行排名
                                </div>
                                <div class="ranking">
                                    {{person.schoolRank||"--"}}
                                </div>
                                <div class="circle">
                                    <img src="img/circleschool.png">
                                </div>
                            </div>
                        </div>
                        <div class="card card-parent" @click="gonext(3)">
                            <div class="cardTitle">
                                1分钟倒计时亲子双人跳排名
                            </div>
                            <div class="ranking">
                                {{person.threeRank||"--"}}
                            </div>
                            <div class="circle">
                                <img src="img/circleparent.png">
                            </div>
                        </div>
                    </div>
                    <div class="rankBox">
                        <div class="rankTitle">
                            <div>每日优胜奖</div>
                            <div class="dateBox" @click="dateshow = true">
                                <div>{{currentDatestr}}</div>
                                <van-icon name="arrow-down" size=".3rem" color="#333333" />
                            </div>
                        </div>
                        <div>
                            <van-tabs v-model="active" @click="tabsClick">
                                <van-tab title="3分钟倒计时个人跳">
                                    <div class="listDiv " v-if="list.length>0">
                                        <div class="title">
                                            <div class="rank">排名</div>
                                            <div class="schoolName">姓名</div>
                                            <div class="count">个数</div>
                                        </div>
                                        <div class="item" v-for="item in list">
                                            <div class="rank">
                                                <img class="sortPic" v-if="item.rank==1" src="./img/no1.png" />
                                                <img class="sortPic" v-if="item.rank==2" src="./img/no2.png" />
                                                <img class="sortPic" v-if="item.rank==3" src="./img/no3.png" />
                                            </div>
                                            <div class="schoolName">{{item.name||'--'}}</div>
                                            <div class="count">{{item.skipCount||'--'}}</div>
                                        </div>
                                    </div>
                                    <div class="noData-box" style="padding-top: 0.5rem;" v-else>
                                        <img class="noData-img" src="./img/noData.png" />
                                        <p class="noData-p">今天还没有人跳绳哦！快去跳绳吧！</p>
                                    </div>

                                </van-tab>
                                <van-tab title="1分钟倒计时亲子双人跳">
                                    <div class="listDiv " v-if="list.length>0">
                                        <div class="title">
                                            <div class="rank">排名</div>
                                            <div class="schoolName">姓名</div>
                                            <div class="count">个数</div>
                                        </div>
                                        <div class="item" v-for="item in list">
                                            <div class="rank">
                                                <img class="sortPic" v-if="item.rank==1" src="./img/no1.png" />
                                                <img class="sortPic" v-if="item.rank==2" src="./img/no2.png" />
                                                <img class="sortPic" v-if="item.rank==3" src="./img/no3.png" />
                                            </div>
                                            <div class="schoolName">{{item.name||'--'}}</div>
                                            <div class="count">{{item.skipCount||'--'}}</div>
                                        </div>
                                    </div>
                                    <div class="noData-box" style="padding-top: 0.5rem;" v-else>
                                        <img class="noData-img" src="./img/noData.png" />
                                        <p class="noData-p">今天还没有人跳绳哦！快去跳绳吧！</p>
                                    </div>
                                </van-tab>
                            </van-tabs>

                        </div>
                    </div>
                    <div v-if="!startDjs&&endDjs">
                        <div class="desc">*此成绩不作为最终成绩</div>
                        <div class="desc">(距比赛结束还剩{{endDjs}})</div>
                    </div>
                </div>


            </div>
        </van-pull-refresh>

        <van-popup v-model="dateshow" position="bottom" style="z-index: 9999;">
            <van-datetime-picker v-model="currentDate" type="month-day" title="" :min-date="minDate" :max-date="maxDate" :formatter="formatter" swipe-duration=100 @confirm="dateConfirm" @cancel="dateshow = false" />
        </van-popup>

        <van-popup v-model="listShow" round position="bottom">
            <div class="competitionListBox">
                <div v-for="item in person.competitonInfos" class="itemBox" @click="gotoSkip2(item.competitionId)">
                    <div class="name van-ellipsis">{{item.competitionName}}</div>
                    <div class="status">
                        去跳绳
                        <span class="iconfont icon-tongyong-gengduo" />
                    </div>
                </div>
            </div>
        </van-popup>


        <van-dialog v-model="unbindShow" width="280px" cancel-button-color="#222" confirm-button-color="#222" confirm-button-text="去绑定" title="请先绑定跳绳设备" @confirm="confirm" show-cancel-button>
        </van-dialog>
    </div>
</body>
<script>
    var vm;
    var isPageHide = false;
    window.addEventListener('pageshow', function() {
        if (isPageHide && isIOS) {
            //vm.init()
        }
    });
    window.addEventListener('pagehide', function() {
        isPageHide = true;
    });
    new Vue({
        el: '#app',
        data() {
            return {
                dateshow: false,
                rankdate: '',
                minDate: new Date(2022, 00, 15),
                maxDate: new Date(),
                currentDate: new Date(),
                list: [],
                active: 0,

                campId: getQueryString('campId') || "pufa20220124",
                refreshing: false,
                isShare: getQueryString('isShare'),
                person: {
                    studentSchoolInfo: {},
                    competitonInfos: [],
                    rankInfo: {}
                },
                listShow: false,
                unbindShow: false,
                interval: "",
                startDjs: "",
                interval2: "",
                endDjs: "",
                threeComId: "",
                oneComId: ""
            };
        },
        watch: {},
        filters: {},
        mounted() {
            window.initCompetitionDetail = this.initCompetitionDetail;
        },
        created() {
            var that = this;
            if (isWechat) { //说明是分享的页面
                if (getCookie('SUMMERCAMP_OPENID')) {
                    that.openId = getCookie('SUMMERCAMP_OPENID');
                } else {
                    if (getCode()) {
                        //页面中带有code调用接口获取openId
                        getOpenid(getCode(), function(openid) {
                            if (!openid) return;
                            that.openId = openid;
                        })
                    } else { //重定向
                        var local = location.href;
                        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + APPID + '&redirect_uri=' +
                            encodeURIComponent(local) + '&response_type=code&scope=snsapi_base&state=#wechat_redirect'
                    }
                }
            }
            var month = new Date().getMonth() + 1,
                dates = new Date().getDate();
            month = month > 9 ? month : "0" + month;
            dates = dates > 9 ? dates : "0" + dates;
            this.currentDatestr = '2022-' + month + '-' + dates;
            this.initCompetitionDetail();
        },
        methods: {
            tabsClick(name) {
                if (name == 0) {
                    this.competitionId = this.threeComId
                } else {
                    this.competitionId = this.oneComId
                }
                this.getSchoolrank()
            },
            formatter(type, val) {
                if (type === 'month') {
                    return `${val}月`;
                } else if (type === 'day') {
                    return `${val}日`;
                }
                return val;
            },
            // 确定时间回调
            dateConfirm(val) {
                var month = new Date(val).getMonth() + 1,
                    dates = new Date(val).getDate();
                month = month > 9 ? month : "0" + month;
                dates = dates > 9 ? dates : "0" + dates;
                this.currentDatestr = '2021-' + month + '-' + dates;
                this.getSchoolrank();
                this.dateshow = false;
            },
            getSchoolrank() { //获取校内跳绳排名
                ajax({
                    url: "summerVlogSkippingPk/homePage/getDailyTopThree",
                    data: {
                        currentTime: new Date(this.currentDatestr + " 00:00:00").getTime(),
                        competitionId: this.competitionId,
                        campId: this.campId
                    }
                }).then(res => {
                    if (res.code == 0) {
                        this.list = res.data;
                    } else {
                        this.$toast(res.msg)
                    }
                })
            },
            onRefresh() {
                this.initCompetitionDetail();
                this.refreshing = false;
            },
            initCompetitionDetail() { //获取个人信息
                ajax({
                    url: "summerVlogSkippingPk/homePage/myHomePage",
                    data: {
                        campId: this.campId
                    }
                }).then(res => {
                    if (res.code == 0) {
                        this.person = Object.assign({
                            studentSchoolInfo: {},
                            schoolName: "",
                            grade: "",
                            studentCardId: ""
                        }, res.data);

                        this.person.competitonInfos.forEach(item => {
                            if (item.modeValue == 60) {
                                this.oneComId = item.competitionId
                            } else if (item.modeValue == 180) {
                                this.threeComId = item.competitionId
                                this.competitionId = item.competitionId
                            }
                        });
                        this.getSchoolrank()



                        if ((res.data.startTime - new Date().getTime()) > 0) {
                            this.interval = setInterval(() => {
                                var s = parseInt((res.data.startTime - new Date().getTime()) / 1000)
                                if (s <= 0) {
                                    clearInterval(this.interval)
                                    this.initCompetitionDetail()
                                }
                                var hour = Math.floor(s / 3600) + "";
                                var minute = Math.floor((s - hour * 3600) / 60) + "";
                                var second = s - hour * 3600 - minute * 60 + "";
                                this.startDjs = hour.padStart(2, "0") + ":" + minute.padStart(2, "0") + ":" + second.padStart(2, "0");
                            }, 1000);
                        } else {
                            clearInterval(this.interval)
                            this.startDjs = "";
                        }

                        if ((res.data.endTime - new Date().getTime()) > 0) {
                            this.interval2 = setInterval(() => {
                                var s = parseInt((res.data.endTime - new Date().getTime()) / 1000)
                                if (s <= 0) {
                                    clearInterval(this.interval2)
                                    this.initCompetitionDetail()
                                }
                                var day = Math.floor(s / 3600 / 24)
                                var hour = Math.floor((s - day * 3600 * 24) / 3600) + "";
                                var minute = Math.floor((s - hour * 3600 - day * 3600 * 24) / 60) + "";
                                var second = s - day * 3600 * 24 - hour * 3600 - minute * 60 + "";
                                this.endDjs = day + "天" + hour.padStart(2, "0") + "小时" + minute.padStart(2, "0") + "分钟" + second.padStart(2, "0") + "秒";
                            }, 1000);
                        } else {
                            clearInterval(this.interval2)
                            this.endDjs = "";
                        }

                    } else {
                        this.$toast(res.msg)
                    }
                })

            },
            closeH5() {
                Interaction.closePage()
            },
            gotoSkip2(competitionId) {
                ajax({
                    url: "summerVlogSkippingPk/vlogStory/get/now/round/times",
                    data: {
                        competitionId: competitionId,
                        campId: this.campId
                    }
                }).then((res) => {
                    if (res.code == 0) {
                        this.listShow = false;
                        this.gotoSkip3(res.data)
                    } else {
                        this.$toast(res.msg)
                    }
                });
            },
            gotoSkip3(obj) {
                if (obj.roundTimes == 0) {
                    this.$toast("您今天的跳绳次数已经用完，请明天继续！")
                    return
                }
                var skipItem = {
                    method: "LSTH5APP_JingAnSchoolChallenge", //H5调起原生选择设备，需要过滤掉rs-s3，Hilink，发光跳绳，并跳转到专门的vlog页面，
                    isChild: obj.isChild, // 1是学生，0是家长 int
                    competitionId: obj.competitionId + "", // 比赛ID string
                    roundTimes: obj.roundTimes, // 跳了多少次 int
                    skipTime: obj.modeValue, //modeValue
                    modeValue: obj.modeValue, //modeValue
                    campId: this.campId,
                    mode: obj.mode, //模式值 1自由 2倒计时 3倒计数
                    isMustVlog: obj.isMustVlog, //是否需要Vlog
                    maxBpmLimit: obj.maxBpmLimit, //bpm的限制
                    category: 9,
                    isAward: obj.isAward, //成绩上传之后是否有奖励
                    htmlUrl: obj.modeValue == 60 ? 'summercamp/personalRanking.html' : 'summercamp/parentRanking.html',
                }
                console.log(skipItem)
                if (isIOS) {
                    window.webkit.messageHandlers.lstNative.postMessage(skipItem)
                } else { //判断Android
                    window.android.LSTH5APP_JingAnSchoolChallenge(JSON.stringify(skipItem));
                }
            },
            gonext(type) {
                var url = ""
                if (type == 1) {
                    this.person.competitonInfos.forEach(item => {
                        if (item.modeValue == 180) {
                            url = `personalRanking.html?competitionId=${item.competitionId}&fromH5=1&shareName=${this.person.studentSchoolInfo.name}&active=3`
                        }
                    });
                } else if (type == 2) {
                    this.person.competitonInfos.forEach(item => {
                        if (item.modeValue == 180) {
                            url = `personalRanking.html?competitionId=${item.competitionId}&fromH5=1&shareName=${this.person.studentSchoolInfo.name}&active=2`
                        }
                    });

                } else if (type == 3) {
                    this.person.competitonInfos.forEach(item => {
                        if (item.modeValue == 60) {
                            url = `parentRanking.html?competitionId=${item.competitionId}&fromH5=1&shareName=${this.person.studentSchoolInfo.name}`
                        }
                    });
                }
                if (this.isShare) {
                    url += `&isShare=1&campId=${this.campId}`
                } else {
                    url += `&campId=${this.campId}`
                }
                window.location.href = url
            },
            share() {
                Interaction.sharePage({
                    "title": `${this.person.studentSchoolInfo.schoolName}在参加浦发银行湖南省分行云端跳绳比赛`,
                    "description": "爱生活爱健康",
                    "url": host + `h5/h5V3/summercamp/index.html?isShare=1&userId=${JSON.parse(localStorage.getItem("appInfo")).userId}&campId=${this.campId}`
                })
            },
            confirm() {
                if (isIOS) {
                    window.webkit.messageHandlers.lstNative.postMessage({
                        method: "LSH5APP_Push_Action",
                        actionType: "LSTH5APP_GoMyDeviceVC",
                        actionNum: "0900",
                        isEffective: 0,
                    });

                } else if (isAndroid) {
                    window.android.LSH5APP_Push_Action(JSON.stringify({
                        actionType: "LSTH5APP_GoMyDeviceVC",
                        actionNum: "0900",
                        isEffective: 0,
                    }))
                }
            },

        },
    });
</script>

</html>