<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/personalRanking.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vue.js"></script>
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vant.js"></script>
    <script src="js/openId.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.8.1/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script> -->
    <script src="../common/js/network.js"></script>
    <title>浦发银行长沙分行云端跳绳比赛</title>
    <style type="text/css">
        .gojump {
            width: 6.7rem;
            height: 0.88rem;
            position: fixed;
            left: 50%;
            margin-left: -3.35rem;
            bottom: 1rem;
            font-size: .4rem;
            text-align: center;
            color: #fff;
            line-height: 0.88rem;
            z-index: 9;
            border-radius: 0.44rem;
            background: linear-gradient(to right, #FF4E3E, #FFAA88);
        }
    </style>

</head>

<body>
    <div id="app" class="page" v-cloak>
        <div class="header">
            <van-nav-bar title="1分钟倒计时跳亲子人气榜" z-index=999 @click-left="onClickLeft" @click-right="share" safe-area-inset-top fixed>
                <template #left v-if="!isShare">
                    <span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" ></span>
                </template>
                <!-- <template slot="title">
                    <div class="title" @click="show = !show">
                       {{active==1?"1分钟倒计时跳亲子人气榜":"1分钟倒计时跳亲子实力榜"}} 
                        <van-icon name="arrow-down" color="#333" size="16" />
                    </div>
                </template> -->
                <template slot="title">
                    <div class="title" >
                       1分钟倒计时跳亲子实力榜
                    </div>
                </template>
                <template #right v-if="!isShare"> 
                    <span class="icon iconfont icon-fenxianganniu"  style="font-size: 0.5rem;"></span>
                </template>
            </van-nav-bar>
            <van-overlay :show="show" z-index=998 @click="show = false">
                <div class="optionBox" @click.stop>
                    <div class="optionItem " :class="active==1?'active':''" @click="changeRank(1)">1分钟倒计时跳亲子人气榜</div>
                    <div class="optionItem" :class="active==2?'active':''" @click="changeRank(2)">1分钟倒计时跳亲子实力榜</div>
                </div>
            </van-overlay>
        </div>
        <div class="rankBox">
            <div class="van_row_title_box">
                <van-row class="van_row_title" v-if="active==1">
                    <van-col span="2">
                        排名
                    </van-col>
                    <van-col span="6">
                        姓名
                    </van-col>
                    <van-col span="10">
                        支行
                    </van-col>
                    <van-col span="6">
                        人气值
                    </van-col>
                </van-row>
                <van-row class="van_row_title" v-else-if="active==2">
                    <van-col span="2">
                        排名
                    </van-col>
                    <van-col span="4">
                        姓名
                    </van-col>
                    <van-col span="7">
                        今日最佳<br>(个数)
                    </van-col>
                    <van-col span="7">
                        最佳汇总<br>(个数)
                    </van-col>
                    <van-col span="4">
                        查看<br>视频
                    </van-col>
                </van-row>
            </div>
            <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                <van-list v-model="loading" :finished="finished" @load="onLoad" finished-text="已经到底啦~" v-if="list.length>0" :immediate-check=false>
                    <van-row v-for="(item,index) in list" class="rankList" :class="item.userId==currentUserId?'self':''">
                        <van-col span="2" class="ranking" v-if="item.rank==1">
                            <img class="sortPic" src="./img/no1.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else-if="item.rank==2">
                            <img class="sortPic" src="./img/no2.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else-if="item.rank==3">
                            <img class="sortPic" src="./img/no3.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else>
                            {{item.rank||'--'}}
                        </van-col>

                        <van-col span="4" class="van-ellipsis" v-if="active==2">{{ item.name||item.nickName }}</van-col>

                        <van-col span="6" class="van-ellipsis" v-if="active==1">{{ item.name||item.nickName }}</van-col>
                        <van-col span="10" class="van-ellipsis" v-if="active==1">{{ item.schoolName }}</van-col>
                        <van-col span="6" class="van-ellipsis skipCount" v-if="active==1">
                            {{item.popularity}}
                            <img src="./img/like.png" class="skipImg" alt="" v-if="item.isLikeStatus">
                            <img src="./img/unlike.png" @click="schoolAddPopularity(item.userId,index)" class="skipImg" alt="" v-else-if="!item.isLikeStatus">
                        </van-col>


                        <van-col span="7" class="c666" v-if="active==2">{{item.bestDailyValue||"--"}}</van-col>
                        <van-col span="7" class="skipCount" v-if="active==2"> {{item.bestValue||'--'}}</van-col>
                        <van-col span="4" class="playBox" v-if="active==2">
                            <img src="./img/play.png" class="playImg" @click="videoBoxActive(item)" alt="">
                        </van-col>

                    </van-row>
                </van-list>
                <div class="noData-box" v-else-if="finished">
                    <img class="noData-img" src="./img/noData.png" />
                    <p class="noData-p">暂无排行数据</p>
                </div>
            </van-pull-refresh>
        </div>
        <div class="gojump" v-if="djs" @click="gotoSkip(skipItem)">
            继续完成跳绳<span>({{djs}})</span>
        </div>


        <!-- <van-popup v-model="videoShow" style="background:transparent;" round>
            <div class="videoContain">
                <div class="videoBox">
                    <div class="title">选择你要查看的视频</div>
                    <div class="boxItem" @click="play(parentVideoId)">
                        <img src="./img/video_parent.png" alt="">
                        <div class="text">家长的跳绳vlog</div>
                        <span class="iconfont icon-tongyong-gengduo" />
                    </div>
                    <div class="boxItem" @click="play(childVideoId)">
                        <img src="./img/video_student.png" alt="">
                        <div class="text">学生的跳绳vlog</div>
                        <span class="iconfont icon-tongyong-gengduo" />
                    </div>
                </div>
                <div class="closeIcon">
                    <van-icon name="close" @click="videoShow=false" size="0.5rem" color="#fff" />
                </div>
            </div>
        </van-popup> -->

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                campId: getQueryString('campId') || "pufa20220128",
                isShare: getQueryString('isShare'),
                competitionId: getQueryString('competitionId'),
                show: false,
                active: 2,
                apiUrl: "",
                currentUserId: localStorage.getItem("appInfo") ? JSON.parse(localStorage.getItem("appInfo")).userId : getQueryString('userId'),
                skipItem: {},
                pageNum: 0,
                pageSize: 999,
                total: 0,
                refreshing: false,
                finished: false,
                loading: false,
                list: [{}],
                openId: "",
                videoShow: false,
                djs: "",
                interval: ""
            };
        },
        watch: {},
        filters: {
            ellipsis(value) {
                if (!value) return '';
                if (value.length > 6) {
                    return value.slice(0, 6) + '...';
                }
                return value;
            }
        },
        mounted() {
            window.initCompetitionDetail = this.initCompetitionDetail;
        },
        created() {
            var that = this;
            if (!this.isShare) {
                this.openId = JSON.parse(localStorage.getItem("appInfo")).userId;
            } else {
                this.openId = getQueryString("userId")
            }

            if (isWechat) { //说明是分享的页面
                if (getCookie('SUMMERCAMP_OPENID')) {
                    that.openId = getCookie('SUMMERCAMP_OPENID');
                    that.getRankData();
                    this.getDJS()
                } else {
                    if (getCode()) {
                        //页面中带有code调用接口获取openId
                        getOpenid(getCode(), function(openid) {
                            if (!openid) return;
                            that.openId = openid;
                            that.getRankData();
                        })
                    } else { //重定向
                        var local = location.href;
                        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + APPID + '&redirect_uri=' + encodeURIComponent(local) + '&response_type=code&scope=snsapi_base&state=#wechat_redirect'
                    }
                }
            }
            this.getRankData();
            this.getDJS()

        },
        methods: {
            initCompetitionDetail() {
                this.getRankData();
                this.getDJS()
            },
            //改变排行榜
            changeRank(value) {
                this.active = value;
                this.show = false;
                this.pageNum = 0;
                this.getRankData();
            },
            //获取排行榜数据
            getRankData() {
                if (this.active == 1) {
                    this.apiUrl = "summerVlogSkippingPk/summerCamp/studentPopularityRanking";
                } else {
                    this.apiUrl = "summerVlogSkippingPk/competitorDailyStastic/getSingleRanking";
                }
                ajax({
                    url: this.apiUrl,
                    data: {
                        openId: this.openId,
                        campId: this.campId,
                        competitionId: this.competitionId,
                        type: 2
                    }
                }).then(res => {
                    if (res.code == 0) {
                        this.finished = true;
                        this.list = res.data
                        this.loading = false;
                    } else {
                        this.finished = true;
                        this.loading = false;
                        this.$toast(res.msg)
                    }

                })

            },
            getDJS(competitionId) {
                ajax({
                    url: "summerVlogSkippingPk/vlogStory/get/now/round/times",
                    data: {
                        campId: this.campId,
                        competitionId: this.competitionId,
                    }
                }).then((res) => {
                    if (res.code == 0) {
                        clearInterval(this.interval)
                        this.skipItem = res.data
                        if (parseInt((res.data.parentStoryTime + 240000 - new Date().getTime()) / 1000) > 0) {
                            this.interval = setInterval(() => {
                                var s = parseInt((res.data.parentStoryTime + 240000 - new Date().getTime()) / 1000)
                                if (s <= 0) {
                                    this.djs = "";
                                    this.getRankData();
                                    this.getDJS()
                                    clearInterval(this.interval)
                                }
                                var hour = Math.floor(s / 3600) + "";
                                var minute = Math.floor((s - hour * 3600) / 60) + "";
                                var second = s - hour * 3600 - minute * 60 + "";
                                this.djs = hour.padStart(2, "0") + ":" + minute.padStart(2, "0") + ":" + second.padStart(2, "0");
                            }, 1000);
                        } else {
                            clearInterval(this.interval)
                            this.djs = ""
                        }
                    } else {
                        this.$toast(res.msg)
                    }
                });
            },
            gotoSkip(obj) {

                var skipItem = {
                    method: "LSTH5APP_JingAnSchoolChallenge", //H5调起原生选择设备，需要过滤掉rs-s3，Hilink，发光跳绳，并跳转到专门的vlog页面，
                    isChild: obj.isChild, // 1是学生，0是家长 int
                    competitionId: obj.competitionId + "", // 比赛ID string
                    roundTimes: obj.roundTimes, // 跳了多少次 int
                    skipTime: obj.modeValue, //modeValue
                    modeValue: obj.modeValue, //modeValue
                    campId: this.campId,
                    isFromRank: 1, //是否来自于排行页
                    mode: obj.mode, //模式值 1自由 2倒计时 3倒计数
                    isMustVlog: obj.isMustVlog, //是否需要Vlog
                    maxBpmLimit: obj.maxBpmLimit, //bpm的限制
                    category: 9,
                    isAward: obj.isAward, //成绩上传之后是否有奖励
                    htmlUrl: obj.modeValue == 180 ? 'pufabankCamp/personalRanking.html' : 'pufabankCamp/parentRanking.html',
                }
                if (isIOS) {
                    window.webkit.messageHandlers.lstNative.postMessage(skipItem)
                } else { //判断Android
                    window.android.LSTH5APP_JingAnSchoolChallenge(JSON.stringify(skipItem));
                }
            },
            onRefresh() {
                // 清空列表数据
                this.finished = false;
                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.loading = true;
                this.onLoad();
            },
            onLoad() {
                if (this.refreshing) {
                    this.refreshing = false;
                    this.pageNum = 0;
                } else {
                    this.pageNum++;
                }
                this.getRankData()
            },
            onClickLeft() {
                if (getQueryString("fromH5") == 1) {
                    window.history.back(-1)
                } else {
                    Interaction.closePage();
                }
            },

            videoBoxActive(item) {
                // ajax({
                //     url: "summerVlogSkippingPk/competitorDailyStastic/getThreeMinVideoId",
                //     data: {
                //         campId: this.campId,
                //         competitionId: this.competitionId,
                //         videoUserId: item.userId
                //     }
                // }).then((res) => {
                //     if (res.code == 0) {
                //         if (res.data) {
                //             this.parentVideoId = res.data.parentVideoId || "";
                //             this.childVideoId = res.data.childVideoId || "";
                //         } else {
                //             this.parentVideoId = "";
                //             this.childVideoId = "";
                //         }
                //         this.videoShow = true
                //     } else {
                //         this.$toast(res.msg)
                //     }
                // });
                ajax({
                    url: "summerVlogSkippingPk/competitorDailyStastic/getOneMinVideoId",
                    data: {
                        campId: this.campId,
                        competitionId: this.competitionId,
                        videoUserId: item.userId
                    }
                }).then((res) => {
                    if (res.code == 0) {
                        this.play(res.data.childVideoId)
                    } else {
                        this.$toast(res.msg)
                    }
                });

            },
            schoolAddPopularity(schoolId, index) {
                var that = this;
                if (!that.openId) {
                    that.$toast("只能在微信浏览器中点赞");
                    return;
                }
                ajax({
                    type: "get",
                    url: "summerVlogSkippingPk/summerCamp/studentAddPopularity",
                    data: {
                        likedUserId: schoolId,
                        openId: that.openId,
                        campId: this.campId,
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.$toast("点赞成功");
                            that.list[index].isLikeStatus = true;
                            that.list[index].popularity += 10;
                        } else {
                            that.$toast(res.msg)
                        }

                    },
                    error: function(err) {
                        console.log("error")
                    }
                })
            },
            share() {
                Interaction.sharePage({
                    "title": `${getQueryString("shareName")||localStorage.getItem("shareName")}在参加浦发银行长沙分行云端跳绳比赛`,
                    "description": "3分钟倒计时跳个人排名",
                    "url": host + `h5/h5V3/pufabankCamp/parentRanking.html?isShare=1&userId=${JSON.parse(localStorage.getItem("appInfo")).userId}&campId=${this.campId}&competitionId=${this.competitionId}`
                })
            },
            play(id) {
                if (this.isShare) {
                    this.$toast('可去"派健康"APP查看跳绳视频')
                    return
                }
                if (!id) {
                    this.$toast("暂没有相应的视频！")
                    return
                }
                this.videoShow = false
                var item = {
                    method: "LSTH5APP_PlayChallengeVlogVideo", //H5跳绳原生简易播放页面，专门用来播放挑战的vlog视频
                    videoId: id
                }
                if (isIOS) {
                    window.webkit.messageHandlers.lstNative.postMessage(item)
                } else { //判断Android
                    window.android.LSTH5APP_PlayChallengeVlogVideo(JSON.stringify(item));
                }
            },

        },

    });
</script>

</html>