<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/personalRanking.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vue.js"></script>
    <script src="https://lsprod3.laisitech.com/h5/h5V3/common/js/vant.js"></script>
    <script src="js/openId.js"></script>
    <script src="../common/js/network.js"></script>
    <title>浦发银行长沙分行云端跳绳比赛</title>
</head>

<body>
    <div id="app" class="page" v-cloak>
        <div class="header">
            <van-nav-bar title="1分钟倒计时亲子双人跳" z-index=999 @click-left="onClickLeft" @click-right="share" safe-area-inset-top fixed>
                <template #left v-if="!isShare">
                    <span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" ></span>
                </template>
                <template slot="title">
                    <span class="title" @click="show = !show">
                       {{active==1?"3分钟倒计时跳部门人气榜":active==2?"3分钟倒计时跳部门实力榜":active==3?"个人实力榜(男)":"个人实力榜(女)"}} 
                        <van-icon name="arrow-down" color="#333" size="16" />
                    </span>
                </template>
                <template #right v-if="!isShare"> 
                    <span class="icon iconfont icon-fenxianganniu"  style="font-size: 0.5rem;"></span>
                </template>
            </van-nav-bar>
            <van-overlay :show="show" z-index=998 @click="show = false">
                <div class="optionBox" @click.stop>
                    <div class="optionItem " :class="active==1?'active':''" @click="changeRank(1)">3分钟倒计时跳部门人气榜</div>
                    <div class="optionItem" :class="active==2?'active':''" @click="changeRank(2)">3分钟倒计时跳部门实力榜</div>
                    <div class="optionItem" v-if="!visitor" :class="active==3?'active':''" @click="changeRank(3)">3分钟倒计时跳个人实力榜(男)</div>
                    <div class="optionItem" v-if="!visitor" :class="active==4?'active':''" @click="changeRank(4)">3分钟倒计时跳个人实力榜(女)</div>
                </div>
            </van-overlay>
        </div>
        <div class="rankBox">
            <div class="van_row_title_box">
                <van-row class="van_row_title" v-if="active==1">
                    <van-col span="2">
                        排名
                    </van-col>
                    <van-col span="14">
                        支行
                    </van-col>
                    <van-col span="8">
                        人气值
                    </van-col>
                </van-row>
                <van-row class="van_row_title" v-if="active==2">
                    <van-col span="2">
                        排名
                    </van-col>
                    <van-col span="14">
                        支行
                    </van-col>
                    <van-col span="8">
                        日平均个数<br> (每日0点更新)
                    </van-col>
                </van-row>
                <van-row class="van_row_title" v-if="active==3||active==4">
                    <van-col span="2">
                        排名
                    </van-col>
                    <van-col span="8">
                        姓名
                    </van-col>
                    <van-col span="5">
                        今日最佳<br> (个数)
                    </van-col>
                    <van-col span="4">
                        累计跳绳<br>天数
                    </van-col>
                    <van-col span="5">
                        最佳汇总<br> (个数)
                    </van-col>

                </van-row>

            </div>
            <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                <van-list v-model="loading" :finished="finished" @load="onLoad" finished-text="已经到底啦~" v-if="list.length>0">
                    <van-row v-for="(item,index) in list" class="rankList" :class="item.userId==currentUserId?'self':''">
                        <van-col span="2" class="ranking" v-if="item.rank==1">
                            <img class="sortPic" src="./img/no1.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else-if="item.rank==2">
                            <img class="sortPic" src="./img/no2.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else-if="item.rank==3">
                            <img class="sortPic" src="./img/no3.png" />
                        </van-col>
                        <van-col span="2" class="ranking" v-else>
                            {{item.rank||"--"}}
                        </van-col>

                        <van-col span="8" class="studentBox" v-if="active==3||active==4">
                            <div class="name" class="van-ellipsis name">{{ item.name }}</div>
                        </van-col>
                        <van-col span="5" class="c666" v-if="active==3||active==4"> {{item.bestDailyValue||'--'}}</van-col>
                        <van-col span="4" class="c666" v-if="active==3||active==4">
                            {{item.frequency||'--'}}
                        </van-col>
                        <van-col span="5" class="skipCount" v-if="active==3||active==4"> {{item.bestTotalCount||'--'}}</van-col>


                        <van-col span="14" v-if="active==1||active==2">
                            <div class="van-ellipsis">{{item.schoolName }}</div>
                        </van-col>
                        <van-col span="8" v-if="active==1||active==2">
                            {{active==1?item.popularity:active==2?item.skipCount:'--'}}
                            <img src="./img/like.png" class="skipImg" alt="" v-if="active==1&&item.isLikeStatus">
                            <img src="./img/unlike.png" @click="schoolAddPopularity(item.id,index)" class="skipImg" alt="" v-else-if="active==1&&!item.isLikeStatus">
                        </van-col>

                    </van-row>
                </van-list>
                <div class="noData-box" v-else-if="finished">
                    <img class="noData-img" src="./img/noData.png" />
                    <p class="noData-p">暂无排行数据</p>
                </div>
            </van-pull-refresh>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                visitor: getQueryString('visitor') || 0,
                show: false,
                active: getQueryString('active') || "2",
                campId: getQueryString('campId') || "pufa20220124",
                competitionId: getQueryString('competitionId'),
                isShare: getQueryString('isShare'),
                currentUserId: localStorage.getItem("appInfo") ? JSON.parse(localStorage.getItem("appInfo")).userId : getQueryString('userId'),
                pageNum: 0,
                pageSize: 999,
                total: 0,
                refreshing: false,
                finished: false,
                loading: false,
                list: [],
                openId: "",
                liketimes: 0,
                apiUrl: ""
            };
        },
        watch: {},
        filters: {
            ellipsis(value) {
                if (!value) return '';
                if (value.length > 6) {
                    return value.slice(0, 6) + '...';
                }
                return value;
            }
        },
        mounted() {
            window.initCompetitionDetail = this.initCompetitionDetail;
        },
        created() {
            var that = this;
            if (!this.isShare) {
                this.openId = JSON.parse(localStorage.getItem("appInfo")).userId;
            } else {
                this.active = 1;
                this.openId = getQueryString("userId")
            }

            if (this.visitor) {
                this.active = 1;
            }

            if (isWechat) { //说明是分享的页面
                if (getCookie('SUMMERCAMP_OPENID')) {
                    that.openId = getCookie('SUMMERCAMP_OPENID');
                    that.getRankData();
                } else {
                    if (getCode()) {
                        //页面中带有code调用接口获取openId
                        getOpenid(getCode(), function(openid) {
                            if (!openid) return;
                            that.openId = openid;
                            that.getRankData();
                        })
                    } else { //重定向
                        var local = location.href;
                        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + APPID + '&redirect_uri=' + encodeURIComponent(local) + '&response_type=code&scope=snsapi_base&state=#wechat_redirect'
                    }
                }
            } else {
                that.getRankData();
            }
        },
        methods: {
            initCompetitionDetail() {
                this.getRankData();
            },
            //改变排行榜
            changeRank(value) {
                this.active = value;
                this.show = false;
                this.pageNum = 0;
                this.getRankData();
            },
            onClickLeft() {
                if (getQueryString("fromH5") == 1) {
                    window.history.back(-1)
                } else {
                    Interaction.closePage();
                }
            },
            //获取排行榜数据
            getRankData() {
                if (this.active == 1) {
                    this.apiUrl = "summerVlogSkippingPk/summerCamp/schoolPopularityRanking";
                } else if (this.active == 2) {
                    this.apiUrl = "summerVlogSkippingPk/summerCamp/schoolStrengthRanking";
                } else if (this.active == 3) {
                    this.apiUrl = "summerVlogSkippingPk/competitorDailyStastic/getTwinRanking";
                } else if (this.active == 4) {
                    this.apiUrl = "summerVlogSkippingPk/competitorDailyStastic/getTwinRanking";
                }
                var that = this;
                var nowPageNum = that.pageNum;
                ajax({
                    type: "get",
                    url: this.apiUrl,
                    data: {
                        openId: that.openId,
                        campId: this.campId,
                        competitionId: this.competitionId,
                        type: 2
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.finished = true;
                            that.list = res.data
                            if (that.active == 3) {
                                that.list = res.data.boy
                            } else if (that.active == 4) {
                                that.list = res.data.girl
                            }
                            that.loading = false;
                        } else {
                            that.finished = true;
                            that.loading = false;
                            that.$toast(res.msg)
                        }
                    },
                    error: function() {
                        that.finished = true;
                        that.loading = false;
                        console.log("error")
                    }
                })
            },
            onRefresh() {
                // 清空列表数据
                this.finished = false;
                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.loading = true;
                this.onLoad();
            },
            onLoad() {
                if (this.refreshing) {
                    this.refreshing = false;
                    this.pageNum = 0;
                } else {
                    this.pageNum++;
                }
                this.getRankData()
            },
            videoBoxActive(item) {
                ajax({
                    url: "summerVlogSkippingPk/competitorDailyStastic/getOneMinVideoId",
                    data: {
                        campId: this.campId,
                        competitionId: this.competitionId,
                        videoUserId: item.userId
                    }
                }).then((res) => {
                    if (res.code == 0) {
                        this.play(res.data.childVideoId)
                    } else {
                        this.$toast(res.msg)
                    }
                });

            },
            play(id) {
                if (this.isShare) {
                    this.$toast('可去"派健康"APP查看跳绳视频')
                    return
                }
                if (!id) {
                    this.$toast("暂没有相应的视频！")
                    return
                }
                var item = {
                    method: "LSTH5APP_PlayChallengeVlogVideo", //H5跳绳原生简易播放页面，专门用来播放挑战的vlog视频
                    videoId: id
                }
                if (isIOS) {
                    window.webkit.messageHandlers.lstNative.postMessage(item)
                } else { //判断Android
                    window.android.LSTH5APP_PlayChallengeVlogVideo(JSON.stringify(item));
                }
            },
            //点赞学校
            schoolAddPopularity(schoolId, index) {
                var that = this;
                if (!that.openId) {
                    that.$toast("只能在微信浏览器中点赞");
                    return;
                }
                ajax({
                    type: "post",
                    url: "summerVlogSkippingPk/summerCamp/schoolAddPopularity",
                    data: {
                        schoolId: schoolId,
                        openId: that.openId,
                        campId: this.campId,
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.$toast("点赞成功");
                            that.list[index].isLikeStatus = true;
                            that.list[index].popularity += 10;
                        } else {
                            that.$toast(res.msg)
                        }

                    },
                    error: function(err) {
                        console.log("error")
                    }
                })
            },

            share() {
                Interaction.sharePage({
                    "title": `${getQueryString("shareName")||localStorage.getItem("shareName")}在参加浦发银行长沙分行云端跳绳比赛`,
                    "description": "1分钟倒计时亲子双人跳排名",
                    "url": host + `h5/h5V3/pufabankCamp/personalRanking.html?isShare=1&userId=${JSON.parse(localStorage.getItem("appInfo")).userId}&campId=${this.campId}&competitionId=${this.competitionId}&active=${this.active}`
                })
            }

        },

    });
</script>

</html>