.cellbox {
	padding: .3rem;
	height: 1.2rem;
}

.cellbox .title {
	font-size: .32rem;
	color: #000;
}

.cellbox .detail {
	font-size: .28rem;
	color: #999;
	white-space: nowrap;
}

.cellbox .van-icon {
	font-size: .3rem;
	margin-left: .15rem;
	margin-right: -.08rem;
	margin-bottom: -0.03rem;
}

.cellbox .groupMember {
	text-align: center;
	width: 20%;
	display: flex;
	flex-flow: column;
}

.cellbox .groupMember .imgbox {
	border-radius: 100%;
	width: .92rem;
	height: .92rem;
	margin-bottom: .1rem;
	/* background-color: #f5f5f5; */
}

.cellbox .headpic {
	width: .72rem;
	height: .72rem;
	border-radius: .1rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.van-uploader__input-wrapper {
	display: flex;
}

.cellbox .groupMember .imgbox div.headImg {
	width: .92rem;
	height: .92rem;
	background-size: contain;
	background-position: center center;
	border-radius: 100%;
}

.border-bottom {
	border-bottom: .02rem solid #f5f5f5;
}

.border-bottom2 {
	border-bottom: .2rem solid #f5f5f5;
}

.quit {
	color: #E60012;
	font-size: .32rem;
	text-align: center;
	line-height: .6rem;
}

.van-switch {
	width: 1rem;
	height: .46rem;
}

.van-switch__node {
	width: .32rem;
	height: .32rem;
	top: .06rem;
	left: .06rem;
	background-color: #B3B8BB;
	box-shadow: none;
}

.van-switch--on .van-switch__node {
	transform: translateX(.56rem);
	background-color: #fff;
}