.border-bottom{
	border-bottom: 1px solid #f3f3f3;
}
.padding{
	padding: 0 0.15rem;
}
.activityDetailImg {
	background-size: cover;
	width: 100%;
	height: 6.6rem;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
}
.createrHeadPic div{
	width: 0.88rem;
	height: 0.88rem;
	background-size: cover;
	border-radius: 50%;
	margin: 0.2rem 0;
}
.createrName{
	font-size: 0.32rem;
	color: #333;
	line-height: 0.7rem;
}
.activityTime{
	font-size: 0.24rem;
	color: #727272 ;
}
.laberTitle{
	font-size: 0.28rem;
	line-height: 0.8rem;
}
.activity-content{
	font-size: 0.28rem;
	line-height: 0.5rem;
	color: #333;
}
.gotoSign {
	background: linear-gradient(to right, #FF6A88, #FF5136 );
	color: #fff;
	position: fixed;
	width: 80%;
	bottom: 0;
	left: 10%;
	height: 1rem;
	font-size: 0.4rem;
	line-height: 1rem;
	border-radius: .46rem;
}

/* 成员列表 */
.memberList{
	margin-top: 0.38rem;
	background-color: #fff;
	padding:0 0.28rem;
}
.memberList .memberTitle{
	color: #333;
	font-size: 0.32rem;
	line-height: 0.6rem;
}
.memberList .finishNumber{
	font-size: 0.24rem;
	color: #333;
	line-height: 1rem;
	text-align: right;
}
.memberList .finishIcon .van-icon{
	font-size: 0.32rem;
	position: relative;
	top: -0.28rem;
	color: #333;
}
.memberList .peopeleList{
	position: relative;
	height: 1rem;
}
.memberList .peopeleBox{
	position: absolute;
	height: .66rem;
	width: .66rem;
	top: .1rem;
}
.memberList .peopeleBox img{
	width: 0.66rem;
	height: 0.66rem;
	/* vertical-align: middle; */
	border-radius: 50%;
	position: absolute;
}
.memberList .finishIcon{
	height: 1rem;
	text-align: right
}