@charset "UTF-8";
/* 2021 1 7  新加企业俱乐部部门赛比赛详情*/
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff2") format("woff2"), url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff") format("woff"), url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.ttf") format("truetype"), url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.eot") format("embedded-opentype"), url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.corporate {
  margin-bottom: 2rem;
}

.corporate .deptList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #f8f8f8;
  padding: 0 0.3rem 0 0.15rem;
}

.corporate .deptList .ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.36rem;
  color: #1f1f1f;
}

.corporate .deptList .ranking img {
  width: 0.4rem;
  height: 0.46rem;
}

.corporate .deptList .deptInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.corporate .deptList .deptInfoBox .deptPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corporate .deptList .deptInfoBox .deptPic img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.corporate .deptList .deptInfoBox .deptD {
  margin-left: 0.1rem;
  padding: 0.1rem 0;
  width: 100%;
}

.corporate .deptList .deptInfoBox .deptD .name {
  font-size: 0.28rem;
  color: #1f1f1f;
  line-height: 0.55rem;
  height: 0.55rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 3.5rem;
}

.corporate .deptList .deptInfoBox .deptD .userInfo {
  font-size: 0.2rem;
  color: #999999;
  line-height: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.corporate .deptList .scoreBox .numBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.corporate .deptList .scoreBox .numBox .num {
  font-size: 0.48rem;
  color: #1f1f1f;
  font-weight: bold;
  line-height: 0.55rem;
  font-family: "DINCondensed-Bold";
}

.corporate .deptList .scoreBox .numBox .unit {
  font-size: 0.2rem;
  color: #1f1f1f;
  line-height: 0.35rem;
}

.corporate .deptList .scoreBox .numD {
  text-align: right;
  font-size: 0.2rem;
  color: #999999;
  line-height: 0.4rem;
}

.corporate .deptList .iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.corporate .deptList .iconBox i {
  color: #999;
}
/*# sourceMappingURL=corporateCompetion.css.map */