.laberTitle {
	text-align: left;
	font-size: 0.32rem;
	line-height: 1rem;
	padding: 0 0.32rem;
	padding-right: 0;
}
.laberContent input{
	font-size: 0.26rem;
	color: #727272 ;
	height: 0.5rem;
	margin-top: 0.25rem;
	line-height: 0.5rem;
}
