[v-cloak] {
    display: none !important;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

//白字
$textColor:var(--textColor);
$textColor2:var(--textColor2);
$textColorActive:var(--textColorActive);
//黑色背景
$bgColor:var(--bgColor);
//边框色
$borderColor:var(--borderColor);
.header {
    height: 0.92rem;
    position: relative;
    z-index: 100;
    height: calc(1rem + constant(safe-area-inset-top));
    height: calc(1rem + env(safe-area-inset-top));
    .van-nav-bar {
        background-color: var(--specialBgColor);
        .van-nav-bar__content {
            color: $textColor;
        }
        .van-nav-bar__title {
            color: $textColor;
            font-size: 0.36rem;
        }
        .van-nav-bar__text {
            color: $textColor;
        }
    }
    .van-hairline--bottom::after {
        border: none;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--specialBgColor);
    color: $textColor;
    min-height: 100vh;
}

.threeDiv {
    width: 100%;
    height: 3.3rem;
    background-image: var(--skipLeaderboard_topBgImg);
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
    .no1 {
        position: absolute;
        left: 33.333333%;
        width: 33.333333%;
        text-align: center;
        .headerPic {
            background-image: url(../img/no1.png);
            width: 1.8rem;
            height: 1.8rem;
            background-size: 100% 100%;
            position: relative;
            z-index: 11;
            text-align: center;
            margin-top: 0.2rem;
        }
        .imgitem {
            width: 1rem;
            height: 1rem;
            z-index: 10;
            position: absolute;
            top: 0.44rem;
            border-radius: 50%;
            left: calc(50% - 0.53rem);
        }
    }
    .no2 {
        position: absolute;
        left: 0%;
        width: 33.333333%;
        text-align: center;
        .headerPic {
            background-image: url(../img/no2.png);
            width: 1.65rem;
            height: 1.65rem;
            background-size: 100% 100%;
            position: relative;
            z-index: 11;
            text-align: center;
            margin-top: 0.5rem;
        }
        .imgitem {
            width: 0.9rem;
            height: 0.9rem;
            z-index: 10;
            position: absolute;
            top: 0.74rem;
            border-radius: 50%;
            left: calc(50% - 0.48rem);
        }
    }
    .no3 {
        position: absolute;
        left: 66.6666666%;
        width: 33.33333%;
        text-align: center;
        .headerPic {
            background-image: url(../img/no3.png);
            width: 1.65rem;
            height: 1.65rem;
            background-size: 100% 100%;
            position: relative;
            z-index: 11;
            text-align: center;
            margin-top: 0.5rem;
        }
        .imgitem {
            width: 0.9rem;
            height: 0.9rem;
            z-index: 10;
            position: absolute;
            top: 0.74rem;
            border-radius: 50%;
            left: calc(50% - 0.48rem);
        }
    }
    .noDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name {
        font-size: .24rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 0.15rem;
    }
    .num {
        font-size: 0.24rem;
        color: $textColor2;
    }
    .bigNumberSpan {
        font-size: 0.48rem;
        font-family: 'BebasNeue';
        color: $textColor;
    }
    .nullImg {
        width: 1.2rem;
        position: absolute;
        height: 1.8rem;
        top: 0.74rem;
        left: calc(50% - 0.6rem);
        background-size: 100% 100%;
        background-image: var(--skipLeaderboard_topNullImg);
        ;
    }
}

.main-container {
    position: relative;
    padding: 0.24rem;
    padding-bottom: 0;
}

.content-container {
    margin-top: 0.1rem;
    overflow: hidden;
    border-radius: 0.24rem;
    position: relative;
    width: 100%;
    background-color: var(--specialBorderColor);
    min-height: calc(100vh - 5.5rem);
    .allHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin-bottom: 1.08rem;
        .van-dropdown-menu__bar {
            box-shadow: none;
            background-color: var(--specialBorderColor);
            color: $textColor;
            height: 1.08rem;
        }
        .van-dropdown-menu__title {
            color: $textColor;
            font-size: 0.32rem;
        }
        .van-dropdown-menu__title::after {
            width: 12px;
            height: 12px;
            border: none;
            top: 40%;
            right: -0.1rem;
            transform: rotate(-0deg);
            opacity: 1;
            background: url(../img/arrow_down.svg) no-repeat;
            background-size: 100%;
        }
        .van-dropdown-menu__title--down::after {
            background: url(../img/arrow_up.svg) no-repeat;
            background-size: 100%;
            top: 25%;
        }
        .van-icon-success::before {
            width: 16px;
            height: 16px;
            background: url(../img/choose.svg) no-repeat;
            background-size: 100%;
            content: "";
        }
        .van-popup {
            background-color: $borderColor;
            margin: 0 0.24rem;
            width: calc(100% - 0.48rem);
            .van-cell {
                background-color: $borderColor;
                color: $textColor;
            }
        }
        .van-cell::after {
            border-bottom: 1px solid $bgColor
        }
    }
    .headerBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin-bottom: 1.92rem;
        background-color: var(--specialBorderColor);
        .tabDiv {
            width: 100%;
            height: 0.96rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 0.96rem;
            p {
                width: 25%;
                font-size: .32rem;
                text-align: center;
                color: $textColor2;
            }
            .selected {
                font-size: .36rem;
                color: $textColorActive;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, -50%);
                    width: 0.4rem;
                    height: 0.14rem;
                    background-position: 100% 100%;
                    background: url(../img/tabselect.png) no-repeat;
                    background-size: 100%;
                }
            }
        }
        .tabDiv2 {
            width: 100%;
            height: 0.96rem;
            display: flex;
            justify-content: center;
            align-content: center;
            z-index: 2;
            border-bottom: 1px solid var(--specialBgColor);
            p {
                width: 1.8rem;
                font-size: 0.28rem;
                line-height: 0.96rem;
                text-align: center;
                border-radius: 0.2rem;
                color: $textColor2;
            }
            .selected {
                color: $textColorActive;
            }
        }
    }
    .listDiv {
        .listItem {
            box-sizing: border-box;
            margin: 0 .24rem;
            height: 1.28rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--specialBgColor);
            .rank {
                text-align: center;
                font-size: 0.36rem;
                font-family: 'BebasNeue';
                min-width: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 0.4rem;
                }
            }
            .user {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 55%;
                .headpic {
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                    margin: 0 0.16rem;
                }
                .name {
                    font-size: .28rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .num {
                text-align: right;
                width: 40%;
                white-space: nowrap;
                font-size: 0.24rem;
                color: $textColor2;
            }
            .bigNumberSpan {
                font-size: 0.48rem;
                font-family: 'BebasNeue';
                color: $textColor;
            }
        }
        .isself {
            border-bottom: 0.16rem solid var(--specialBgColor);
            margin: 0;
            padding: 0 0.24rem;
        }
    }
    .dataBox {
        padding-top: 1.96rem;
    }
    .dataBox2 {
        padding-top: 1.08rem;
    }
}

.content-container2 {
    min-height: calc(100vh - 2.5rem);
}

.noDataBox {
    text-align: center;
    padding: 0.5rem 0;
    .noDataImg {
        width: 4rem;
        height: 4rem;
        background-image: var(--noData);
        background-size: cover;
        margin: 0 auto;
    }
    .noDataInfo {
        color: var(--textColor);
        line-height: 0.8rem;
        font-size: 0.28rem;
    }
}

.bottomTip {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: $textColor;
    font-size: .2rem;
    line-height: 0.8rem;
    text-align: center;
}

.van-overlay {
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
    // background-color: transparent;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}