@font-face {
    font-family: "BebasNeue";
    src: url("../font/BebasNeue/BebasNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

//黑字
$text_color:#595962;
//白字
$text_color_white:#CFCFD2;
//黑色背景
$bg_color:#12121f;
//边框色
$border_color:#1e1e2a;




.van-hairline--bottom::after {
    border: none;
}

.comListBox {
    .van-sticky--fixed {
        top: 1rem;
    }

    .van-tab--active {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            width: 0.4rem;
            height: 0.14rem;
            background-position: 100% 100%;
            background: url(../img/tabselect.png) no-repeat;
            background-size: 100%;

        }
    }

    .van-tabs__line {
        display: none;
    }

    .van-pull-refresh {
        min-height: calc(100vh - 1.88rem);
    }

    .monkey-pull-refresh .van-pull-refresh__head {
        line-height: 0;
        height: 90px !important;
    }

    .monkey-pull-refresh .monkeyBox {}

    .monkey-pull-refresh .monkeyBox .monkey {
        width: 60px;
        height: 60px;
        line-height: 0;
        padding: 0;
        margin: 0;
    }

    .monkey-pull-refresh .monkeyBox p {
        height: 10px;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    .noData-box {
        text-align: center;
        padding-top: 2.5rem;
    }

    .noData-box .noData-img {
        width: 4rem;
    }


}

.creatMatch-img-box img {
    width: 0.94rem;
    height: 0.94rem;
    position: fixed;
    bottom: 2.5rem;
    right: 0.3rem;
    z-index: 999;
}

.van-dialog__content {
    padding: 0.2rem;

    .van-field {
        background-color: #292934;
        border: 1px solid $text_color_white;
        padding: 0.1rem;
        box-sizing: border-box;
    }
}

.creatBox {
    .item_box {
        padding: 0.1rem 0.3rem;
        border-bottom: 1px solid $border_color;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .laber {
            font-size: 0.32rem;
            color: $text_color_white;
            line-height: 1rem;
        }

        .borderTop {
            border-top: 1px solid $bg_color;
        }

        .pkName_box {
            height: 1.2rem;
            background-color: $border_color;
            margin-bottom: 0.3rem;

            .van-field {
                background-color: $border_color;
                padding: 0.2rem;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;

                .van-field__control {
                    height: 0.5rem;
                    min-height: 0.5rem !important;
                }
            }



        }

        .van-radio {
            padding: 0.3rem;
        }

        .van-radio--horizontal {
            margin-right: 1.5rem;
            width: 2rem;
        }

        .van-radio--horizontal:last-child {
            margin-right: 0;
            width: auto;
        }

        .van-radio__label {
            font-size: 0.32rem;
        }


        .pk_cell {
            padding: 0.35rem 0 0.35rem 0.3rem;

            .van-cell__value {
                color: #71717f;
                font-size: 0.24rem;
            }
        }

        .pk_cell2 {
            padding: 0.25rem 0;

            .van-cell__value {
                color: #71717f;
                font-size: 0.24rem;
            }

            .van-cell__title {
                color: $text_color_white;
                font-size: 0.32rem;
            }
        }

        .chosed .van-cell__value {
            color: $text_color_white;
            font-size: 0.28rem;
            -webkit-box-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }
    }

    .nextStep {
        width: 4rem;
        margin: 1.5rem auto;
        height: 0.8rem;
        line-height: 0.8rem;
        background-color: #74747E;
        color: #fff;
        font-size: 0.4rem;
    }

    .canNextStep {
        background-image: linear-gradient(to left, #FF6A88, #FF4E3E);
    }
}

//团队赛详情
.teamDetailContain {

    margin-top: 0.3rem;

    .teamInfoBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .activeTeam {
            width: 47%;
            height: 1.4rem;
            font-size: 0.24rem;
            color: #fff;
            background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
            border-radius: 12px;
            padding: 0.2rem 0;
            padding-left: 0.7rem;
            box-sizing: border-box;
            position: relative;
            transform: skewX(-10deg);
            position: relative;
            right: -0.1rem;
            z-index: 2;

            .teamName {
                font-size: 0.32rem;
                line-height: 0.5rem
            }

            .bigNumberSpan {
                font-size: 0.48rem;
                font-family: "BebasNeue"
            }

        }

        .powerTeam {
            @extend .activeTeam;
            background-image: linear-gradient(to right, #4684EF, #6DCAFB);
            position: relative;
            top: 0.2rem;
            left: -0.1rem;
            right: 0;
            z-index: 1;

        }
    }

    .listBox {

        .van-pull-refresh {
            width: 100%;
            min-height: calc(100vh - 3.7rem);
        }

        .monkey-pull-refresh .van-pull-refresh__head {
            line-height: 0;
            height: 90px !important;
        }

        .monkey-pull-refresh .monkeyBox {}

        .monkey-pull-refresh .monkeyBox .monkey {
            width: 60px;
            height: 60px;
            line-height: 0;
            padding: 0;
            margin: 0;
        }

        .monkey-pull-refresh .monkeyBox p {
            height: 10px;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }

        .leftRightBox {
            display: flex;
            align-items: flex-start;
            padding: 0.5rem 0.3rem;
        }

        .left {
            width: 50%;

            .listItem {
                border-radius: 0.24rem 0 0 0.24rem;
                height: 1.8rem;
                padding: 0.24rem;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: $border_color;
                margin-bottom: 1px;

                .border {
                    width: 2px;
                    height: 0.8rem;
                    margin-right: 0.15rem;
                    background-image: linear-gradient(to bottom, #FF4E3E, #FFAA88);
                }

                .headerPic {
                    height: 0.48rem;
                    width: 0.48rem;
                    border-radius: 50%;
                    margin-right: 0.15rem;
                }

                .scoreBox {
                    font-size: 0.28rem;
                    color: #71717F;

                    .nickName {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 2rem;
                        min-height: 0.6rem;
                        line-height: 0.6rem;
                        color: $text_color_white;
                    }

                    .bigNumberSpan {
                        font-family: "BebasNeue";
                        font-size: 0.28rem
                    }

                }
            }

            .self {
                background-image: linear-gradient(to right, rgba(255, 78, 62, 0.3), rgba(255, 170, 136, 0.3));
            }
        }

        .right {
            @extend .left;
            border-left: 1px solid transparent;

            .listItem {
                border-radius: 0 0.24rem 0.24rem 0;

                .border {
                    background-image: linear-gradient(to bottom, #4684EF, #6DCAFB);
                }


            }

            .self {
                background-image: linear-gradient(to right, rgba(25, 141, 255, 0.3), rgba(28, 142, 255, 0));
            }

        }

        .button_box {
            max-height: 5rem;
            overflow-y: auto;
        }

        .noPeople-div {
            text-align: center;
            /* position: absolute; */
            width: 100%;
            margin-top: 1.5rem;
        }

        .noPeople-div .noPeoplePic {
            width: 1.22rem;
        }

        .noPeople-div .noPeopleP {
            color: #D1D1D1;
            font-size: 0.28rem;
            margin: 0;
            padding: 0;
        }

    }
}
















.header {
    height: 1rem;
    position: relative;
    z-index: 9;

}

@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
    .header {
        height: 1rem;
        height: calc(1rem + constant(safe-area-inset-top));
        height: calc(1rem + env(safe-area-inset-top));
    }

    .listBox .van-sticky--fixed {
        top: 1rem;
        top: calc(1rem + constant(safe-area-inset-top));
        top: calc(1rem + env(safe-area-inset-top));
    }
}