// sidebar
$menuText:#161616;
$menuActiveText:#e60707;
$subMenuActiveText:#17171a; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#f5f5f5;

$subMenuBg:#f4f4f5;
$subMenuHover:#dee4e9;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
