<!DOCTYPE html>
<html lang="zh-cmn-Hans">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
        <title>俱乐部主页</title>
        <!-- 引入样式文件 -->
        <link rel="stylesheet" href="../../common/css/vant-rem-2122.css">
        <link rel="stylesheet" href="../../common/css/basic.css">
        <link href="css/clubIndex.css" rel="stylesheet" type="text/css" />
        <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
				<script>
					// init vConsole
				        var vConsole = new VConsole();
				        console.log('Hello world');
				    </script> -->
        <style type="text/css">
		</style>
    </head>

    <body>
        <div id="app" v-cloak>
            <div class="header">
                <div class="blackbg"></div>
                <img class="bannerBg" :src='clubObject.photo' alt="">
                <div class="infoBox">
                    <div class="clubPic"
                        :style="{'backgroundImage':'url('+clubObject.photo+')'}"></div>
                    <div class="clubDescript">
                        <div class="clubName">{{clubObject.name}}</div>
                        <div class="clubId">俱乐部ID：{{clubObject.id}}</div>
                        <div class="clubDate">成立：{{timestampTodate(clubObject.createTime)}}</div>
                        <div class="clubAddress">城市：{{clubObject.city+"·"+clubObject.county}}</div>
                        <div class="clubLabel">{{clubObject.label=="00"?"跳绳":"其他"}}</div>
                    </div>
                </div>
            </div>
            <div class="containBox2">
                <div style="height: 1rem; margin-bottom: 0.2rem;">
                    <div class="memberBox">
                        <div class="title">成员</div>
                        <div class="memberListDiv">
                            <div class="memberPersonPic">
                                <img :src="item.headPictureUrl" v-for="(item
                                    ,index) in
                                    clubObject.memberList"
                                    :style="{left:''+index*0.5+'rem'}">
                            </div>
                            <div class="memberPersonNum"
                                @click="goMemberlist()">
                                <div class="numP">{{clubObject.memberNumber||0}}人</div>
                                <img class="iconRight" src="img/iconRight.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="introduceBox">
                    <div class="titleBox">俱乐部简介</div>
                    <div class="clubDescript">
                        {{clubObject.introduce}}
                    </div>
                </div>

                <div class="detailBox">
                    <div class="titleBox">今日运动数据</div>
                    <div class="clubDataBox">
                        <div class="totalSkipBox">
                            <div class="num">{{clubObject.ropeTotalNum||0}}</div>
                            <div class="txt">跳绳总个数</div>
                        </div>
                        <div class="totalSkipBox">
                            <div class="num">{{clubObject.totalJumps||0}}
                                <span class="smallNum">/{{clubObject.memberNumber||0}}</span>
                            </div>
                            <div class="txt">活跃成员</div>
                        </div>
                    </div>
                </div>

                <div class="btn_box">
                    <p id="joinBtn" class="addClubBtn"
                        v-if="clubObject.isPublic=='Y'" @click="joinClubReq(0)">立即加入</p>
                    <p id="applyJoinBtn" class="addClubBtn" v-else
                        @click="joinClubReq(1)">申请加入</p>
                </div>
            </div>


        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
    <script src="../../common/js/network.js"></script>
    <script>
		window.addEventListener('pageshow', function(e) {
			
		}, false)
		function timestampTodate(date, type) {
			if (date) {
				var newdate = new Date(date)
				var year = newdate.getFullYear();
				var day = newdate.getDate() < 10 ? '0' + newdate.getDate() : newdate.getDate();
				var month = newdate.getMonth() + 1 < 10 ? '0' + (newdate.getMonth() + 1) : newdate.getMonth() + 1;

				if (type == '-') {
					return year + '-' + month + '-' + day;
				} else if (type == 'M/D') {
					return newdate.getMonth() + 1 + '月' + newdate.getDate() + '日';
				} else {
					return year + '/' + month + '/' + day;
				}

			}
		}
		new Vue({
			el: '#app',
			data() {
				return {
					clubObject:{
						notice:{},
                        memberList:{},
                        isClicked:false,
					},
				}
			},
			computed: {
				timestamp2HMS: function () {
					return function(timestamp,type){
						//timestamp 是秒
						var h=parseInt(timestamp/3600)
						var m=parseInt((timestamp-h*3600)/60)
						var s=timestamp-h*3600-m*60
						m=m<10?("0"+m):m
						s=s<10?("0"+s):s
						if(type=="h"){
							return h
						}else if(type=="m"){
							return m
						}else if(type=="s"){
							return s
						}
					}
				}
			},
			filters: {},
			mounted() {
				
				
			},
			created() {
				this.addIntegral()
				this.getClubDetail()
			},
			methods: {
				
				//浏览俱乐部加积分
				addIntegral(){
					ajax({
						type: "post",
						url: "integral/add/integral",
						data:{
							actionType:"0503"
						},
						success: function(res) {
							
						}
					})
				},
				//俱乐部信息
				getClubDetail(){
					var that = this
					ajax({
						type: "get",
						url: "club/clubDetail",
						data: {
							clubId: getQueryString('id') || 10991,
						},
						success: function(res) {
							if (res.code == 0) {
								that.clubObject=res.data
							} 
						}
					})
				},
				//跳转成员列表
				goMemberlist() {
					var str = "h5/h5V2/allClub/club/memberList.html?id=" + getQueryString('id') + '&userId=' + JSON.parse(localStorage.getItem(
						"appInfo")).userId + '&flag=5' + '&hiddenTitle=1'
					if (isIOS) {
						var allstr = "/" + str
						Interaction.pushToNextVC(allstr)
					} else {
						var allstr = host + str
						Interaction.pushToNextVC(allstr)
					}
                },
                //加入俱乐部
                joinClubReq(isApply){
                    var that=this
                    if(this.isClicked)return
                    this.isClicked=true;
                    ajax({
						type: "post",
						url: "club/joinClub",
						data:{
							clubId: getQueryString('id'),
		                    memberId: JSON.parse(localStorage.getItem("appInfo")).userId
						},
						success: function(res) {
                            that.isClicked = false
							if (parseInt(res.code) == 0) {
                                if (isApply) {
                                    that.$toast('您已申请加入, 请等待部长审核')
                                } else {
                                    if (isIOS) { 
                                        window.webkit.messageHandlers.lstNative.postMessage({
                                            'method': 'joinClubSccuess'
                                        })
                                    } else  { 
                                        window.android.joinClubSccuess()
                                    }
                                    
                                    window.location.href = "clubDetailJoined.html?userId=" + getQueryString('userId') + '&id=' + getQueryString('id');
                                }

                            } else if (parseInt(res.code) == 3001) {
                                that.$toast('您已加入该俱乐部')
                                window.location.href = "clubDetailJoined.html?userId=" + getQueryString('userId') + '&id=' + getQueryString('id');
                            } else if (parseInt(res.code) == 4003) {
                                that.$toast(res.msg + '日后可加入该俱乐部')

                            } else if (parseInt(res.code) == 3002) {
                                that.$toast('您已申请加入, 请等待部长审核')

                            } else {
                                that.$toast(res.msg)
                            }
						}
					})
                }
				
			}
			
		})
	</script>
</html>
