<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,
			maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>俱乐部主页</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="../../common/css/vant-rem-2122.css">
		<link rel="stylesheet" href="../../common/css/basic.css">
		<link href="css/clubIndex.css" rel="stylesheet" type="text/css" />
		<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
		<script>
				        var vConsole = new VConsole();
				    </script> -->
		<style type="text/css">
		</style>
	</head>

	<body>
		<div id="app" v-cloak>
			<div class="header">
				<div class="blackbg"></div>
				<img class="bannerBg" :src='clubObject.photo' alt="">
				<div class="infoBox">
					<div class="clubPic"
						:style="{'backgroundImage':'url('+clubObject.photo+')'}"></div>
					<div class="clubDescript">
						<div class="clubName">{{clubObject.name}}</div>
						<div class="clubId">俱乐部ID：{{clubObject.id}}</div>
						<div class="clubDate">成立：{{timestampTodate(clubObject.createTime)}}</div>
						<div class="clubAddress">城市：{{clubObject.city+"·"+clubObject.county}}</div>
						<div class="clubLabel">{{clubObject.label=="00"?"跳绳":"其他"}}</div>
					</div>
				</div>
			</div>
			<div class="containBox">
				<div class="noticeBox" @click="goNotice(clubObject.notice)">
					<div class="noticeBoxLeft">
						<img class="iconNotice" src="img/iconNotice.png" alt="">
						<span class="noticeContent">{{clubObject.notice.title||""}}</span>
					</div>
					<img class="iconRight" src="img/iconRight.png" alt="">
				</div>
				<div class="memberBox">
					<div class="title">成员</div>
					<div class="memberListDiv">
						<div class="memberPersonPic">
							<img :src="item.headPictureUrl" v-for="(item ,index) in
								clubObject.memberList" :style="{left:''+index*0.5+'rem'}">
						</div>
						<div class="memberPersonNum" @click="goMemberlist()">
							<div class="numP">{{clubObject.memberNumber||0}}人</div>
							<img class="iconRight" src="img/iconRight.png" alt="">
						</div>
					</div>
				</div>
				<div class="tabBox">
					<van-tabs v-model:active="activeTab" sticky title-active-color="#1F1F1F"
						@change="tabChange"
						swipeable
						color="#1F1F1F">
						<van-tab title="今日运动" class="todaySport">
							<div class="todayBox" v-if="today.list.length>0">
								<van-list v-model:loading="today.loading" :finished="today.finished"
									finished-text="没有更多了"
									@load="getTodaySport">
									<van-row class="memberSport" v-for="item in today.list">
										<van-col span="3" class=""
											@click="Interaction.visitPersonalHomepage(item.memberId)">
											<img class="headerPic" :src="item.headPictureUrl" alt="">
										</van-col>
										<van-col span="7" class="nickName"
											@click="Interaction.visitPersonalHomepage(item.memberId)">
											{{item.nickname}}
										</van-col>
										<van-col span="6" class="flexBox">
											<span class="boldNum">{{item.ropeNum}}</span>
											<span class="descript">个</span>
										</van-col>
										<van-col span="8" class="flexBox">
											<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"h")}}</span><span
												class="descript">小时</span>
											<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"m")}}</span>
											<span
												class="descript">分</span>
											<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"s")}}</span><span
												class="descript">秒</span>
										</van-col>
									</van-row>
								</van-list>
							</div>
							<div v-else class="nullDataBox">
								<img src="../../common/img/noData.png" alt="">
							</div>

							<div class="historyBox">
								<van-collapse v-model="historyActive" accordion
									:change="historyDataChange()">
									<van-collapse-item v-for="(item ,index) in pastSportData"
										:title="item.date"
										:name="index+1" :value="item.sportNum+'人'" :border="false">
										<div class="todayBox">
											<van-list v-model:loading="item.loading" :finished="item.finished"
												finished-text="没有更多了"
												@load="getHistorySport(item)">
												<van-row class="memberSport" v-for="item in item.list">
													<van-col span="3" class=""
														@click="Interaction.visitPersonalHomepage(item.memberId)">
														<img class="headerPic" :src="item.headPictureUrl" alt="">
													</van-col>
													<van-col span="7" class="nickName"
														@click="Interaction.visitPersonalHomepage(item.memberId)">
														{{item.nickname}}
													</van-col>
													<van-col span="6" class="flexBox">
														<span class="boldNum">{{item.ropeNum}}</span>
														<span class="descript">个</span>
													</van-col>
													<van-col span="8" class="flexBox">
														<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"h")}}</span><span
															class="descript">小时</span>
														<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"m")}}</span>
														<span
															class="descript">分</span>
														<span class="boldNum">{{timestamp2HMS(item.duraMs/1000,"s")}}</span><span
															class="descript">秒</span>
													</van-col>
												</van-row>
											</van-list>
										</div>
									</van-collapse-item>
								</van-collapse>
							</div>
						</van-tab>
						<van-tab title="任务" class="task">
							<div class="taskBox">
								<div class="title">我的任务</div>
								<div class="taskDiv" v-if="taskObject.join.list.length>0">
									<van-list v-model:loading="taskObject.join.loading"
										:finished="taskObject.join.finished" @load="getTask()">
										<div class="taskList" v-for="item in taskObject.join.list"
											@click="gotoTask(item)">
											<div class="taskName">{{item.name}}</div>
											<div class="taskPeopleNum">
												{{item.doneTaskNum}}人完成
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
							<div class="taskBox">
								<div class="title">未参加</div>
								<div class="taskDiv" v-if="taskObject.unJoin.list.length>0">
									<van-list v-model:loading="taskObject.unJoin.loading"
										:finished="taskObject.unJoin.finished" @load="getnotJoinTask()">
										<div class="taskList" v-for="item in taskObject.unJoin.list"
											@click="gotoTask(item)">
											<div class="taskName">{{item.name}}</div>
											<div class="taskPeopleNum">
												{{item.doneTaskNum}}人完成
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
						</van-tab>
						<van-tab title="线上赛" class="competition">
							<div class="taskBox">
								<div class="title">已参加</div>
								<div class="taskDiv" v-if="competitionObject.join.list.length>0">
									<van-list v-model:loading="competitionObject.join.loading"
										:finished="competitionObject.join.finished" @load="getCompetition()">
										<div class="taskList" v-for="item in competitionObject.join.list"
											@click="gotoCompetition(item)">
											<div class="taskName">{{item.name}}</div>
											<div class="taskPeopleNum">
												<p>{{item.repeatNumber == 0?"未跳绳":("排名"+item.rank)}}
													<span v-if="item.repeatNumber == 0" class="redcircle"></span>
												</p>
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
							<div class="taskBox">
								<div class="title">未参加</div>
								<div class="taskDiv" v-if="competitionObject.unJoin.list.length>0">
									<van-list v-model:loading="competitionObject.unJoin.loading"
										:finished="competitionObject.unJoin.finished"
										@load="getnotJoinCompetition()">
										<div class="taskList" v-for="item in competitionObject.unJoin.list"
											@click="gotoCompetition(item)">
											<div class="taskName">{{item.name}}</div>
											<div class="taskPeopleNum">
												{{item.registerCount||0}}人参赛
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
						</van-tab>
						<van-tab title="活动" class="activity">
							<div class="taskBox">
								<div class="title">已报名</div>
								<div class="taskDiv" v-if="activityObject.join.list.length>0">
									<van-list v-model:loading="activityObject.join.loading"
										:finished="activityObject.join.finished" @load="getActivity()">
										<div class="taskList" v-for="item in activityObject.join.list"
											@click="gotoactivity(item,1)">
											<div class="taskName">{{item.title}}</div>
											<div class="taskPeopleNum">
												{{item.attendCount}}人报名
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
							<div class="taskBox">
								<div class="title">未报名</div>
								<div class="taskDiv" v-if="activityObject.unJoin.list.length>0">
									<van-list v-model:loading="activityObject.unJoin.loading"
										:finished="activityObject.unJoin.finished"
										@load="getnotJoinActivity()">
										<div class="taskList" v-for="item in activityObject.unJoin.list"
											@click="gotoactivity(item,0)">
											<div class="taskName">{{item.title}}</div>
											<div class="taskPeopleNum">
												{{item.attendCount}}人报名
												<img src="img/iconRight.png" class="iconRight" alt="">
											</div>
										</div>
									</van-list>
								</div>
								<div v-else class="nullDataBox">
									<img src="../../common/img/noData.png" alt="">
								</div>
							</div>
						</van-tab>
					</van-tabs>
				</div>

				<div class="addBtn" v-if="activeTab!=0&&isMinister=='Y'">
					<img src="img/iconAdd.png" @click="goAddEvent" alt="">
				</div>

			</div>


		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
	<script src="../../common/js/network.js"></script>
	<script>
		window.addEventListener('pageshow', function(e) {
			var dataChangeVar = localStorage.getItem('dataChange')
			localStorage.removeItem('dataChange');
			if (dataChangeVar == 'tabDetailChange') {
				refreshDetailData()
			}
		}, false)
		function timestampTodate(date, type) {
			if (date) {
				var newdate = new Date(date)
				var year = newdate.getFullYear();
				var day = newdate.getDate() < 10 ? '0' + newdate.getDate() : newdate.getDate();
				var month = newdate.getMonth() + 1 < 10 ? '0' + (newdate.getMonth() + 1) : newdate.getMonth() + 1;

				if (type == '-') {
					return year + '-' + month + '-' + day;
				} else if (type == 'M/D') {
					return newdate.getMonth() + 1 + '月' + newdate.getDate() + '日';
				} else {
					return year + '/' + month + '/' + day;
				}

			}
		}
		new Vue({
			el: '#app',
			data() {
				return {
					clubObject:{
						notice:{},
						memberList:{}
					},
					isMinister : getQueryString('isMinister')||"N",
					activeTab:0,
					today:{
						loading: false,
						finished: false,
						list:[],
						page: 1,
						pageSize: 20,
					},
					pastSportData:[],
					historyActive:[0],
					lasthistoryActive:0,
					taskObject:{
						join:{
							loading: false,
							finished: false,
							list:[],
							page: 1,
							pageSize: 20,
						},
						unJoin:{
							loading: false,
							finished: false,
							list:[],
							page: 1,
							pageSize: 20,
						}
					},
					competitionObject:{
						join:{
							loading: false,
							finished: false,
							list:[],
							page: 1,
							pageSize: 20,
						},
						unJoin:{
							loading: false,
							finished: false,
							list:[],
							page: 1,
							pageSize: 20,
						},
						
					},
					activityObject:{
							join:{
								loading: false,
								finished: false,
								list:[],
								page: 1,
								pageSize: 20,
							},
							unJoin:{
								loading: false,
								finished: false,
								list:[],
								page: 1,
								pageSize: 20,
							}
						},
				}
			},
			computed: {
				timestamp2HMS: function () {
					return function(timestamp,type){
						//timestamp 是秒
						var h=parseInt(timestamp/3600)
						var m=parseInt((timestamp-h*3600)/60)
						var s=timestamp-h*3600-m*60
						m=m<10?("0"+m):m
						s=s<10?("0"+s):s
						if(type=="h"){
							return h
						}else if(type=="m"){
							return m
						}else if(type=="s"){
							return s
						}
					}
				}
			},
			filters: {},
			mounted() {
				window.refreshDetailData=this.refreshDetailData
				window.ininPageData=this.refreshDetailData
				
			},
			created() {
				this.addIntegral()
				this.getClubDetail()
				this.getTodaySport()
				this.getPastSportData()
			},
			methods: {
				refreshDetailData(){
					if(this.activeTab==1){
						//任务
						this.taskObject.join.page=1
						this.taskObject.unJoin.page=1
						this.getTask()
						this.getnotJoinTask()
					}else if(this.activeTab==2){
						//线上赛
						this.competitionObject.join.page=1
						this.competitionObject.unJoin.page=1
						this.getCompetition()
						this.getnotJoinCompetition()
					}else if(this.activeTab==3){
						//活动
						this.activityObject.join.page=1
						this.activityObject.unJoin.page=1
						this.getActivity()
						this.getnotJoinActivity()
					}
				},
				//浏览俱乐部加积分
				addIntegral(){
					ajax({
						type: "post",
						url: "integral/add/integral",
						data:{
							actionType:"0503"
						},
						success: function(res) {
							
						}
					})
				},
				//俱乐部信息
				getClubDetail(){
					var that = this
					ajax({
						type: "get",
						url: "club/clubDetail",
						data: {
							clubId: getQueryString('id') || 10991,
						},
						success: function(res) {
							if (res.code == 0) {
								that.clubObject=res.data
							} 
						}
					})
				},
				//跳转通知详情
				goNotice(noticeInfo){
					var relatedId=noticeInfo.relatedId;
					var userId=JSON.parse(localStorage.getItem("appInfo")).userId
					if (relatedId) {
						var isHistory = noticeInfo.isExpired == 'Y'?"1":"0"
						if (noticeInfo.type == '00') {
							//跳转任务详情
							if (isIOS) {
								window.webkit.messageHandlers.lstNative.postMessage({
									'method': 'clubToTaskDetail',
									'taskId': relatedId,
									"isHistory": isHistory,
									"url": "/h5/h5V2/allClub/club/tasksDetail.html?id=" + relatedId + '&userId=' + userId + '&clubId=' + getQueryString('id')
								})
							} else { 
								var str = "id=" + relatedId + '&userId=' + userId +'&clubId=' + getQueryString('id') + '&isHistory=' + isHistory;
								window.android.clubToTaskDetail(str)
							}
						} else if (noticeInfo.type == '01') {
							//跳转比赛详情
							if (isIOS) {
								window.webkit.messageHandlers.lstNative.postMessage({
									'method': 'clubToCompetitionDetail',
									'matchId': relatedId,
									"isHistory": isHistory,
									"url": "/h5/h5V2/allClub/club/clubCompetitionDetail.html?id=" + relatedId + '&userId=' + userId + '&clubId=' + getQueryString('id')
								})
							} else { 
								var str = "id=" + relatedId + '&userId=' + userId +'&clubId=' + getQueryString('id') + '&isHistory=' + isHistory
								window.android.clubToCompetitionDetail(str)
							}
						} else if (noticeInfo.type == '02') {
							//跳转活动详情
							if (isIOS) {
								window.webkit.messageHandlers.lstNative.postMessage({
									'method': 'clubToActivityDetail',
									'activityId': relatedId,
									"isHistory": isHistory,
									"url": "/h5/h5V2/allClub/club/activityDetail.html?id=" + relatedId + '&userId=' + userId + '&clubId=' + getQueryString('id')
								})
							} else {
								var str = "id=" + relatedId + '&userId=' +userId +'&clubId=' + getQueryString('id') + '&isHistory=' + isHistory
								window.android.clubToActivityDetail(str)
							}
						}
					} else {
						if (noticeInfo.noticeId) {
							//跳转任务、通知详情
							if (isIOS) {
								var allstr = "/h5/h5V2/allClub/clubList_Detail/noticeDetail.html?id=" + noticeInfo.noticeId + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId
								Interaction.pushToNextVC(allstr)
							} else {
								var allstr = host + "h5//h5V2/allClub/clubList_Detail/noticeDetail.html?id=" + noticeInfo.noticeId + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId
								Interaction.pushToNextVC(allstr)
							}
						}
					}
				},
				//跳转成员列表
				goMemberlist() {
					var str = "h5/h5V2/allClub/club/memberList.html?id=" + getQueryString('id') + '&userId=' + JSON.parse(localStorage.getItem(
						"appInfo")).userId + '&flag=5' + '&hiddenTitle=1'
					if (isIOS) {
						var allstr = "/" + str
						Interaction.pushToNextVC(allstr)
					} else {
						var allstr = host + str
						Interaction.pushToNextVC(allstr)
					}
				},
				//获取今日跳绳数据
				getTodaySport(){
					var that = this
					var currentPage=that.today.page
					ajax({
						type: "get",
						url: "club/todaySport",
						data: {
							clubId: getQueryString('id') ,
							page:that.today.page,
							pageSize: that.today.pageSize,
							date: timestampTodate(new Date(), '-'),
						},
						success: function(res) {
							that.today.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.today.list=res.data.sportList||[]
								}else{
									that.today.list=that.today.list.concat(res.data.sportList)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.today.pageSize>res.data.totalNum){
									that.today.finished = true;
								}

								that.today.page++
							} 
						}
					})
				},
				historyDataChange(){
					if(this.lasthistoryActive==this.historyActive||!this.historyActive)return
					this.getHistorySport(this.pastSportData[this.historyActive-1])
					this.lasthistoryActive=this.historyActive
				},
				//获取历史跳绳数据
				getHistorySport(historyObject){
					var that = this
					var currentPage=historyObject.page
					ajax({
						type: "get",
						url: "club/todaySport",
						data: {
							clubId: getQueryString('id') ,
							page:historyObject.page,
							pageSize: historyObject.pageSize,
							date: historyObject.date,
						},
						success: function(res) {
							historyObject.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									historyObject.list=res.data.sportList||[]
								}else{
									historyObject.list=historyObject.list.concat(res.data.sportList)
								}
								//当加载的数量大于总数的时候
								if(currentPage*historyObject.pageSize>res.data.totalNum){
									historyObject.finished = true;
								}

								historyObject.page++
							} 
						}
					})
				},
				//获取历史数据的日期
				getPastSportData(){
					var that = this
					ajax({
						type: "get",
						url: "club/pastSportData",
						data: {
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							if (res.code == 0) {
								that.pastSportData=res.data
								that.pastSportData.forEach(obj => { //对tabs数据预处理
									that.$set(obj, 'finished', false);
									that.$set(obj, 'loading', true);
									that.$set(obj, 'page', 1);
									that.$set(obj, 'pageSize', 20);
									that.$set(obj, 'list', []);
								});
							} 
						}
					})
				},
				// 发布按钮： 发布任务、比赛、活动按钮
				goAddEvent() {
					var activeTab=this.activeTab
					localStorage.removeItem('taskForm');
					localStorage.removeItem('taskForm2');
					localStorage.removeItem('activityForm');
					localStorage.removeItem('competitionForm');
					//给APP回传 
					if (isIOS) { //判断iPhone|iPad|iPod|iOS
						//IOS 调用方法，跳转创建页面
						if (activeTab == 1) {
							window.webkit.messageHandlers.lstNative.postMessage({
								'method': 'clubCreatTask'
							})
						} else if (activeTab == 2) {
							localStorage.setItem('CLUBID',getQueryString('id'));
							window.webkit.messageHandlers.lstNative.postMessage({
								'method': 'clubCreatCompetition'
							})
						} else if (activeTab == 3) {
							window.webkit.messageHandlers.lstNative.postMessage({
								'method': 'clubCreatActivity'
							})
						}

					} else  { //判断Android
						if (activeTab == 1) {
							window.android.clubCreatTask()
						} else if (activeTab == 2) {
							window.android.clubCreatCompetition()
						} else if (activeTab == 3) {
							window.android.clubCreatActivity()
						}
					}
				},
				//tab的切换
				tabChange(tabName){
					if(tabName==1){
						//任务
						this.taskObject.join.page=1
						this.taskObject.unJoin.page=1
						this.getTask()
						this.getnotJoinTask()
					}else if(tabName==2){
						//线上赛
						this.competitionObject.join.page=1
						this.competitionObject.unJoin.page=1
						this.getCompetition()
						this.getnotJoinCompetition()
					}else if(tabName==3){
						//活动
						this.activityObject.join.page=1
						this.activityObject.unJoin.page=1
						this.getActivity()
						this.getnotJoinActivity()
					}
				},
				//获取已参加的任务
				getTask(){
					var that = this
					var currentPage=that.taskObject.join.page
					ajax({
						type: "post",
						url: "club/myTask",
						data: {
							page: that.taskObject.join.page,
							pageSize: that.taskObject.join.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.taskObject.join.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.taskObject.join.list=res.data.joinTaskList||[]
								}else{
									that.taskObject.join.list=that.taskObject.join.list.concat(res.data.joinTaskList)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.taskObject.join.pageSize>res.data.totalNum){
									that.taskObject.join.finished = true;
								}
								that.taskObject.join.page++
							} 
						}
					})
				},
				//获取未参加的任务
				getnotJoinTask(){
					var that = this
					var currentPage=that.taskObject.unJoin.page
					ajax({
						type: "post",
						url: "club/notJoinTask",
						data: {
							page: that.taskObject.unJoin.page,
							pageSize: that.taskObject.unJoin.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.taskObject.unJoin.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.taskObject.unJoin.list=res.data.notJoinTaskList||[]
								}else{
									that.taskObject.unJoin.list=that.taskObject.unJoin.list.concat(res.data.notJoinTaskList)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.taskObject.unJoin.pageSize>res.data.totalNum){
									that.taskObject.unJoin.finished = true;
								}
								that.taskObject.unJoin.page++
							} 
						}
					})
				},
				//获取已参加的比赛
				getCompetition(){
					var that = this
					var currentPage=that.competitionObject.join.page
					ajax({
						type: "post",
						url: "club/competition/user/attended",
						data: {
							page: that.competitionObject.join.page,
							pageSize: that.competitionObject.join.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.competitionObject.join.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.competitionObject.join.list=res.data.content||[]
								}else{
									that.competitionObject.join.list=that.competitionObject.join.list.concat(res.data.content)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.competitionObject.join.pageSize>res.data.total){
									that.competitionObject.join.finished = true;
								}
								that.competitionObject.join.page++
							} 
						}
					})
				},
				//获取未参加的比赛
				getnotJoinCompetition(){
					var that = this
					var currentPage=that.competitionObject.unJoin.page
					ajax({
						type: "post",
						url: "club/competition/user/notAttended",
						data: {
							page: that.competitionObject.unJoin.page,
							pageSize: that.competitionObject.unJoin.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.competitionObject.unJoin.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.competitionObject.unJoin.list=res.data.content||[]
								}else{
									that.competitionObject.unJoin.list=that.competitionObject.unJoin.list.concat(res.data.content)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.competitionObject.unJoin.pageSize>res.data.total){
									that.competitionObject.unJoin.finished = true;
								}
								that.competitionObject.unJoin.page++
							} 
						}
					})
				},
				//获取已参加的活动
				getActivity(){
					var that = this
					var currentPage=that.activityObject.join.page
					ajax({
						type: "post",
						url: "club/activity/user/attended",
						data: {
							page: that.activityObject.join.page,
							pageSize: that.activityObject.join.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.activityObject.join.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.activityObject.join.list=res.data.content||[]
								}else{
									that.activityObject.join.list=that.activityObject.join.list.concat(res.data.content)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.activityObject.join.pageSize>res.data.total){
									that.activityObject.join.finished = true;
								}
								that.activityObject.join.page++
							} 
						}
					})
				},
				//获取未参加的活动
				getnotJoinActivity(){
					var that = this
					var currentPage=that.activityObject.unJoin.page
					ajax({
						type: "post",
						url: "club/activity/user/notAttended",
						data: {
							page: that.activityObject.unJoin.page,
							pageSize: that.activityObject.unJoin.pageSize,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
							clubId: getQueryString('id') ,
						},
						success: function(res) {
							that.activityObject.unJoin.loading = false;
							if (res.code == 0) {
								if(currentPage==1){
									that.activityObject.unJoin.list=res.data.content||[]
								}else{
									that.activityObject.unJoin.list=that.activityObject.unJoin.list.concat(res.data.content)
								}
								//当加载的数量大于总数的时候
								if(currentPage*that.activityObject.unJoin.pageSize>res.data.total){
									that.activityObject.unJoin.finished = true;
								}
								that.activityObject.unJoin.page++
							} 
						}
					})
				},
				//跳转任务
				gotoTask(item){
					if (isIOS) {
						window.webkit.messageHandlers.lstNative.postMessage({
							'method': 'clubToTaskDetail',
							'taskId': item.taskId,
							'url': "/h5/h5V2/allClub/club/tasksDetail.html?id=" + item.taskId + '&userId=' + JSON.parse(localStorage.getItem("appInfo"))
								.userId + '&clubId=' + getQueryString('id')
						})
					} else { //判断Android
						var str = "id=" + item.taskId + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId + '&clubId=' + getQueryString(
							'id');
						window.android.clubToTaskDetail(str)
					}
				},
				//跳转比赛
				gotoCompetition(item){
					if (isIOS) { 
						window.webkit.messageHandlers.lstNative.postMessage({
							'method': 'clubToCompetitionDetail',
							'matchId': item.id,
							'url': "/h5/h5V2/allClub/club/clubCompetitionDetail.html?id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem(
								"appInfo")).userId + '&clubId=' + getQueryString('id')
						})
					} else { 
						var str = "id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId + '&clubId=' + getQueryString(
							'id')
						window.android.clubToCompetitionDetail(str)
					}
				},
				//跳转活动
				gotoactivity(item,type){
					if (isIOS) {
						var urlstr = ""
						if (type == 1) {
							urlstr = "/h5/h5V2/allClub/club/activityDetail.html?id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem(
								"appInfo")).userId + '&clubId=' + getQueryString('id') + '&isAttend=1'
						} else {
							urlstr = "/h5/h5V2/allClub/club/activityDetail.html?id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem(
								"appInfo")).userId + '&clubId=' + getQueryString('id')
						}

						window.webkit.messageHandlers.lstNative.postMessage({
							'method': 'clubToActivityDetail',
							'activityId': item.id,
							'url': urlstr
						})

					} else { //判断Android
						if (type == 1) {
							var str = "id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId + '&clubId=' +
								getQueryString('id') + '&isAttend=1'
						} else {
							var str = "id=" + item.id + '&userId=' + JSON.parse(localStorage.getItem("appInfo")).userId + '&clubId=' +
								getQueryString('id')
						}
						window.android.clubToActivityDetail(str)
					}
				}
				
				
			}
			
		})
	</script>
</html>
