#app {
    background-color: var(--specialBgColor);
    min-height: 100vh;
}

.cardList {
    padding: .2rem .3rem;
    font-size: .32rem;
}

.cardList>li {
    background-color: var(--specialBorderColor);
    border-radius: .2rem;
    margin-bottom: .2rem;
    color: var(--textColor);
}

.cardList>li>div {
    height: 1.2rem;
}

.cardList>li .van-ellipsis {
    font-size: .28rem;
    max-width: 4rem;
}

.cardList>li .headpic {
    width: .72rem;
    height: .72rem;
    border-radius: .1rem;
    background-color: var(--specialBgColor);
}

.cardList>li>div {
    border-bottom: .02rem solid var(--bgColor);
    padding: 0 .3rem;
}

.cropper-container {
    display: none;
}