* {
    box-sizing: border-box;
}

body {
    font-family: 'PingFangSC-Regular';
}

@font-face {
    font-family: "OPPOSans-B";
    src: url("OPPOSans-B.woff2") format("woff2"),
        url("OPPOSans-B.woff") format("woff"),
        url("OPPOSans-B.ttf") format("truetype"),
        url("OPPOSans-B.eot") format("embedded-opentype"),
        url("OPPOSans-B.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



.van-nav-bar__title {
    color: #cfcfd2;
}

.van-nav-bar__text {
    color: #cfcfd2;
}

.van-nav-bar .van-icon {
    color: #cfcfd2;
}

.van-hairline--bottom::after {
    border-bottom: none;
}

.van-nav-bar__left,
.van-nav-bar__right {
    font-size: .32rem;
    color: #cfcfd2;
}

.van-nav-bar {
    background-color: transparent;
}

.ub {
    display: -webkit-flex !important;
    display: flex !important;
    position: relative;
}

.ub-rev {
    -webkit-flex-direction: row;
    flex-direction: row
}

.ub-f1 {
    flex: 1;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-align-items: center;
    align-items: center;
}

.ub-aend {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.ub-ae {
    -webkit-justify-content: end;
    justify-content: end;
}

.ub-pc {
    -webkit-justify-content: center;
    justify-content: center;
}

.ub-pe {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.ub-pend {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.ub-pj {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ub-ad {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}


[v-cloak] {
    display: none !important;
}

.van-checkbox__icon .van-icon {
    border: 1px solid #71717f;
}

.van-checkbox__icon--checked .van-icon,
.van-address-item .van-radio__icon--checked .van-icon {
    /* background: linear-gradient(to right, #FF6A88, #FF5136);
	border-color: #FF6A88; */
    background: #ff4e3e;
    border-color: #71717f;
    border: none;
}

.van-checkbox__icon .van-icon {
    /* border: .02rem solid #fff; */
}

.pinkBtn {
    background: linear-gradient(to right, #FF6A88, #FF5136);
    height: .52rem;
    text-align: center;
    color: #fff;
    padding: 0 .32rem;
    line-height: .52rem;
    border-radius: .26rem;
    font-size: .32rem;
}

.van-count-down {
    color: #fff;
    padding-right: .02rem;
    font-size: .24rem;
}

.van-overlay {
    background: rgba(0, 0, 0, .5);
}

.cfF24023 {
    color: #F24023 !important;
}

.ftmDON {
    font-family: "BebasNeue";
}

.submit,
.submit2 {
    background: linear-gradient(to right, #FF4E3E, #FFAA88);
    border: none;
    font-size: .36rem;
    color: #fff;
    height: .88rem;
    line-height: .88rem;
    width: 6.3rem;
}

.submit2 {
    background: #999;
    color: #fff;
}

.van-loading {
    position: absolute;
    color: #c8c9cc;
    font-size: 0;
    vertical-align: middle;
    top: calc(50% - .15rem);
    z-index: 9;
    left: calc(50% - .15rem);
}

.van-tabs--line .van-tabs__wrap {
    height: 1.08rem;
}

.van-tabs__nav--line {
    padding-bottom: .1rem;
}

.van-tab {
    color: #999;
    font-size: .32rem;
    font-family: "PingFangSC-Medium";
}

.van-tab--active {
    color: #1f1f1f;
    font-size: .36rem;
}

.van-tabs__line {
    width: .48rem !important;
    background-color: #1F1F1F;
}

.van-sticky--fixed {
    top: .92rem;
}