* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #9ACAFF;
    font-size: 0.32rem;
}

.header {
    .van-nav-bar {
        background-color: transparent;
        z-index: 99;
        .van-nav-bar__title {
            color: #fff;
            opacity: 0;
        }
        .van-icon {
            color: #fff;
        }
    }
    .van-hairline--bottom::after {
        border: none;
    }
}

.contain {
    .topBgImg {
        width: 100%;
    }
    .formBox {
        position: relative;
        top: -0.96rem;
        input::placeholder {
            color: #999;
            font-size: 0.28rem;
        }
        input::-webkit-input-placeholder {
            /* placeholder颜色 */
            color: #999;
            /* placeholder字体大小 */
            font-size: 0.28rem;
        }
        .inputBox {
            display: flex;
            padding: 0 0.4rem;
            align-items: center;
            justify-items: flex-start;
            border-bottom: 1px solid #98C3ED;
            box-sizing: border-box;
            height: 0.96rem;
            .title {
                color: #323739;
                width: 1.6rem;
                font-size: 0.32rem;
            }
            input {
                padding-left: 0.2rem;
                background-color: transparent;
                color: #222;
                width: calc(100% - 1.4rem);
            }
        }
        .formBtn {
            width: 100%;
            border-radius: 0.44rem;
            background-color: #DDDDDD;
            font-size: 0.32rem;
            color: #fff;
            text-align: center;
            line-height: 0.88rem;
            width: 6.3rem;
            margin: 0 auto;
            margin-top: 0.44rem;
        }
        .formBtnSuccess {
            @extend .formBtn;
            background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
        }
    }
}

.listBox {
    width: 6.7rem;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    min-height: 3rem;
    .infoTitle {
        position: absolute;
        text-align: center;
        background-image: linear-gradient(to right, #7DBBFF, #2B7AEC);
        color: #fff;
        font-size: 0.36rem;
        line-height: 0.52rem;
        top: -0.26rem;
        border-radius: 0.26rem;
        // width: 3.2rem;
        // left: calc(50% - 1.6rem);
        width: 4rem;
        left: calc(50% - 2rem);
    }
    .title {
        padding: 0 0.3rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: #999;
        background-color: #E7F3FF;
        text-align: center;
        height: 1.1rem;
        line-height: 0.7rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .rank {
            width: 20%;
        }
        .nickName {
            width: 40%;
        }
        .userId {
            width: 40%;
        }
    }
    .item {
        @extend .title;
        border-radius: 0;
        color: #222;
        height: 0.7rem;
        &:nth-child(2n) {
            background-color: #E7F3FF;
        }
        &:nth-child(2n+1) {
            background-color: #F3F9FF;
        }
        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}