body {
  color: #333;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: relative;
  z-index: 100;
  height: calc(0.92rem + constant(safe-area-inset-top));
  height: calc(0.92rem + env(safe-area-inset-top));
  background-color: #ffffff;
  z-index: 102;
}

.header .title, .header .contain .rankBox .listDiv .item, .contain .rankBox .listDiv .header .item {
  color: #333;
  font-size: 0.32rem;
  text-align: center;
}

.header .van-hairline--bottom::after {
  border: none;
}

.van-tabs {
  border-radius: 10px;
  padding: 0.3rem 0 0;
  color: #999;
  text-align: center;
}

.van-tabs .van-tab {
  color: #999;
}

.van-tabs .van-tabs__nav {
  border-radius: 10px;
}

.van-tabs .van-tab--active {
  color: #333;
  font-weight: normal;
}

.van-tabs .van-tab--active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.14rem;
  background-position: 100% 100%;
  background: url(../img/tabselect.png) no-repeat;
  background-size: 100%;
}

.van-tabs .van-tabs__line {
  display: none;
}

.pageBgBox {
  height: 9.6rem;
  background-image: url("../img/indexbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageBgBox .ruleicon {
  position: absolute;
  right: 0;
  top: .15rem;
  width: 1.34rem;
  z-index: 19;
  line-height: 0.44rem;
  font-size: .24rem;
  color: #fff;
  text-align: center;
  border-radius: 0.22rem 0 0 0.22rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
  background: linear-gradient(to right, #FF4E3E, #FFAA88);
}

.pageBgBox .gotoSchoolBtn {
  position: fixed;
  right: .64rem;
  bottom: 3.3rem;
  z-index: 9;
  width: 1.4rem;
  height: 1.4rem;
}

.pageBgBox .gojump {
  width: 6.7rem;
  height: 0.88rem;
  position: fixed;
  left: 50%;
  margin-left: -3.35rem;
  bottom: 1rem;
  font-size: .4rem;
  text-align: center;
  color: #fff;
  line-height: 0.88rem;
  z-index: 9;
  border-radius: 0.44rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
  background: linear-gradient(to right, #FF4E3E, #FFAA88);
}

.pageBgBox .notStart {
  background-color: #ddd;
  background-image: none;
}

.contain {
  position: relative;
  top: -0.2rem;
  margin-bottom: 2rem;
}

.contain .infobox {
  padding: 0 .32rem;
}

.contain .infobox .card {
  font-size: .28rem;
  padding: 0.1rem .32rem;
  border-radius: .32rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain .infobox .card .schoolName {
  line-height: 0.8rem;
}

.contain .infobox .card .studentName {
  font-size: 0.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
}

.contain .infobox .card .studentInfoBox {
  font-size: 0.24rem;
  color: #666;
  height: 0.4rem;
  line-height: 0.4rem;
}

.contain .infobox .card .circle img {
  width: .32rem;
  height: .32rem;
}

.contain .infobox .card .cardTitle {
  color: #555555;
  font-size: 0.24rem;
  margin-top: .1rem;
}

.contain .infobox .card-person, .contain .infobox .card-camp, .contain .infobox .card-school, .contain .infobox .card-parent {
  background-image: url("../img/card-person.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-bottom: 0.32rem;
}

.contain .infobox .card-person .ranking, .contain .infobox .card-camp .ranking, .contain .infobox .card-school .ranking, .contain .infobox .card-parent .ranking {
  font-size: 0.6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  font-family: "BebasNeue";
}

.contain .infobox .card-camp {
  background-image: url("../img/card-camp.png");
  margin-bottom: 0.32rem;
  margin-right: 0.32rem;
  width: 100%;
  height: 1.8rem;
}

.contain .infobox .card-camp .ranking {
  font-size: 0.6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #F6C021;
}

.contain .infobox .card-school {
  background-image: url("../img/card-school.png");
  margin-bottom: 0.32rem;
  width: 100%;
  height: 1.8rem;
}

.contain .infobox .card-school .ranking {
  font-size: 0.6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #1082ff;
}

.contain .infobox .card-parent {
  background-image: url("../img/card-parent.png");
  height: 1.8rem;
}

.contain .infobox .card-parent .ranking {
  font-size: 0.6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #FFAA88;
}

.contain .rankBox {
  border-radius: 12px;
  margin: 0 .32rem;
  padding: 0.32rem;
  background-color: #fff;
  margin-bottom: 0.32rem;
}

.contain .rankBox .rankTitle {
  color: #333333;
  font-size: 0.28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contain .rankBox .rankTitle .dateBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contain .rankBox .listDiv .title, .contain .rankBox .listDiv .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999;
  text-align: center;
  height: 1.24rem;
  line-height: 0.4rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contain .rankBox .listDiv .title .rank, .contain .rankBox .listDiv .item .rank {
  width: 20%;
  font-size: 0.28rem;
}

.contain .rankBox .listDiv .title .rank .sortPic, .contain .rankBox .listDiv .item .rank .sortPic {
  width: 0.44rem;
  height: 0.44rem;
  position: relative;
  top: 0.1rem;
}

.contain .rankBox .listDiv .title .schoolName, .contain .rankBox .listDiv .item .schoolName {
  width: 35%;
  font-size: 0.24rem;
}

.contain .rankBox .listDiv .title .count, .contain .rankBox .listDiv .item .count {
  width: 30%;
  font-size: 0.24rem;
}

.contain .rankBox .listDiv .item {
  border-radius: 0;
  color: #222;
  height: 1.28rem;
}

.contain .rankBox .listDiv .item .schoolName {
  font-size: 0.28rem;
}

.contain .rankBox .listDiv .item .count {
  color: #FFAA88;
  font-size: 0.48rem;
  font-family: "BebasNeue";
}

.contain .rankBox .noData-box {
  text-align: center;
  padding-top: 2.5rem;
}

.contain .rankBox .noData-box .noData-img {
  width: 3rem;
}

.contain .rankBox .noData-box .noData-p {
  color: #b3b8bb;
  font-size: 0.28rem;
}

.contain .desc {
  font-size: 0.24rem;
  color: #999;
  text-align: center;
  line-height: 0.4rem;
}

.competitionListBox {
  padding-bottom: calc(0.1rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(0.1rem + env(safe-area-inset-bottom));
}

.competitionListBox .itemBox {
  height: 1.44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.48rem;
  border-bottom: 1px solid #f5f5f5;
}

.competitionListBox .itemBox:last-child {
  border-bottom: none;
}

.competitionListBox .itemBox .name {
  color: #222;
  font-size: 0.32rem;
  max-width: 70%;
}

.competitionListBox .itemBox .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666;
  font-size: 0.28rem;
}
/*# sourceMappingURL=index.css.map */