<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>京东云运动智能跳绳大赛-75派</title>
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body class="detailHtml">
    <div id="app" v-cloak>
        <div class="header">
            <van-nav-bar @click-left="onclickLeft" title="比赛详情" left-arrow safe-area-inset-top fixed>
                <template #left>
                    <span class="iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
                </template>

            </van-nav-bar>
        </div>
        <div class="contain">
            <img class="topBgImg" src="./img/indexBg.png" alt="">

            <div class="detailInfo" v-if="competitionItem.competitionState==2">
                <div class="infoItem">
                    <div>比赛名称：</div>
                    <span>{{competitionItem.name}}</span>
                </div>
                <div class="infoItem">
                    <div>比赛模式：</div>
                    <span v-if="competitionItem.mode==2">{{competitionItem.modeValue==60?'一分钟':competitionItem.modeValue}}倒计时跳</span>
                    <span v-else>{{competitionItem.modeValue}}个倒计时跳</span>
                </div>
                <div class="infoItem">
                    <div>已 报 名：</div>
                    <span>{{competitionItem.attendCount}}人</span>
                </div>
                <div class="infoItem">
                    <div>比赛次数：</div>
                    <span v-if="competitionItem.mode==2">不限次数取最好成绩</span>
                    <span v-else>不限次数，累积打卡20天</span>
                </div>
                <div class="infoItem">
                    <div>比赛时间：</div>
                    <span v-if="competitionItem.mode==2">2021/12/25 00:00 至<br>2022/01/04 23:59:59</span>
                    <span v-else>2021/12/25 00:00 至<br>2022/01/13 23:59:59</span>
                </div>
                <div class="infoItem">
                    <div>录取名次：</div>
                    <span v-if="competitionItem.mode==2">一等奖红色筋膜枪（*1）<br>二等奖体脂秤（*2）<br>三等奖 按摩四件套（*5）</span>
                    <span v-else>累积打卡满20天<br>运动修护套装*1(内含按摩摩膏+面膜)</span>
                </div>
            </div>

            <div class="userList" v-if="competitionItem.competitionState!=2">
                <van-sticky>
                    <div class="userItem userItemHeader" v-if="competitionItem.mode==2">
                        <div class="rank">排名</div>
                        <div class="name van-ellipsis">参赛成员</div>
                        <div class="time">最好成绩时间</div>
                        <div class="score">跳绳个数</div>
                    </div>
                    <div class="userItem userItemHeader" v-if="competitionItem.mode==3">
                        <div class="rank">排名</div>
                        <div class="name van-ellipsis">参赛成员</div>
                        <div class="time">累积打卡天数</div>
                        <div class="score">每日最短<br>用时之和</div>
                    </div>
                </van-sticky>
                <van-pull-refresh v-model="refreshing" :head-height="90" @refresh="onRefresh" class="monkey-pull-refresh">
                    <template #pulling="props">
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>下拉刷新</p>
                      </div>
                    </template>
                    <!-- 释放提示 -->
                    <template #loosing>
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>释放刷新</p>
                      </div>
                    </template>
                    <!-- 加载提示 -->
                    <template #loading>
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>正在刷新</p>
                      </div>
                    </template>

                    <van-list v-model="loading" v-if="list.length>0" :finished="finished" @load="onLoad" :immediate-check=false>
                        <div class="userItem" v-for="item in list">
                            <div class="rank">
                                <img src="./img/no1.png" v-if="item.rank==1" alt="">
                                <img src="./img/no2.png" v-else-if="item.rank==2" alt="">
                                <img src="./img/no3.png" v-else-if="item.rank==3" alt="">
                                <span v-else>{{item.rank}}</span>
                            </div>
                            <div class="name ">
                                <img :src="item.headerPicUrl" alt="">
                                <div class="van-ellipsis">
                                    {{item.nickName}}
                                </div>
                            </div>
                            <div class="time" v-if="competitionItem.mode==2">{{sjc2time('ymd', item.bestValueTime) }}</div>
                            <div class="score" v-if="competitionItem.mode==2"><span>{{item.bestValue||"--"}}</span>个</div>
                            <div class="time" v-if="competitionItem.mode==3">{{item.bestValueDay||0}}</div>
                            <div class="score" v-if="competitionItem.mode==3"><span>{{parseInt(item.bestValue/60)}}</span>m<span>{{item.bestValue%60}}</span>s</div>
                        </div>
                    </van-list>
                    <div class="noDataBox" v-else-if="finished">
                        <div class="noDataImg"></div>
                    </div>
                </van-pull-refresh>

            </div>



            <div class="btnBox">
                <div class="btn" @click="join" v-if="competitionItem.signUpState==0">
                    确认报名
                </div>
                <div class="btn" @click="play" v-else-if="competitionItem.competitionState==1">
                    去跳绳
                </div>
                <div class="btn btnccc" v-else-if="competitionItem.competitionState==2">
                    已报名 <span v-if="djs">({{djs}})</span>
                </div>
            </div>
        </div>
        <van-popup v-model="showQrcode" round>
            <div class='qrcodeBox'>
                <img class="qrImg" src="./img/qrcode.png" alt="">
                <div class="qrBtn" @click="showQrcode=false"></div>
            </div>
        </van-popup>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
    <script src="../common/js/network.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    showQrcode: false,
                    id: getQueryString("id"),
                    competitionItem: {
                        mode: "",
                        modeValue: "",
                        id: getQueryString("id")
                    },
                    page: 0,
                    pageSize: 100,
                    list: [],
                    loading: false,
                    finished: true,
                    refreshing: false,
                    djs: "",
                    interval: ""
                }
            },
            mounted() {
                window.initCompetitionDetail = this.initDetail;
                this.initDetail()
            },
            created() {

            },
            methods: {
                //传入时间戳获取日期
                sjc2time(id, sjc) {
                    if (!sjc) return "--"
                    var datetime = new Date(sjc);
                    var year = datetime.getFullYear();
                    var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                    var month2 = datetime.getMonth() + 1 < 10 ? datetime.getMonth() + 1 : datetime.getMonth() + 1;
                    var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                    var date2 = datetime.getDate() < 10 ? datetime.getDate() : datetime.getDate();
                    var hour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                    var minute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                    var second = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                    if (id == "ymd") {
                        return year + "/" + month + "/" + date;
                    }
                },
                onclickLeft() {
                    window.history.back(-1)
                },
                onLoad() {
                    if (this.refreshing) {
                        this.page = 0
                        this.list = [];
                        this.refreshing = false;
                        this.init()
                    } else {
                        this.page++
                    }

                },
                onRefresh() {
                    this.finished = false;
                    this.loading = true;
                    this.onLoad();
                },
                initDetail() {
                    ajax({
                        url: "jingdongPk/competition/getCompetitionById",
                        data: {
                            competitionId: this.id,
                        }
                    }).then(res => {
                        if (res.code == 0) {
                            this.competitionItem = res.data
                            if (this.competitionItem.competitionState != 2) {
                                this.init()
                            } else {
                                this.interval = setInterval(() => {
                                    var s = parseInt((this.competitionItem.startTime - new Date().getTime()) / 1000)
                                    if (s <= 0) {
                                        this.initDetail()
                                        clearInterval(this.interval)
                                    }
                                    var hour = Math.floor(s / 3600) + "";
                                    var minute = Math.floor((s - hour * 3600) / 60) + "";
                                    var second = s - hour * 3600 - minute * 60 + "";
                                    this.djs = hour.padStart(2, "0") + ":" + minute.padStart(2, "0") + ":" + second.padStart(2, "0");
                                }, 1000);
                            }

                        }
                    })
                },
                init() {
                    ajax({
                        url: "jingdongPk/competitorStatistic/rankItem",
                        data: {
                            competitionId: this.id,
                        }
                    }).then(res => {
                        this.loading = false;
                        if (res.code == 0) {
                            this.list = res.data.rankItem
                            this.finished = true;
                        }
                    })

                },
                join() {
                    ajax({
                        type: "post",
                        url: "jingdongPk/competitor/participate",
                        data: {
                            competitionId: this.id
                        }
                    }).then((res) => {
                        if (res.code == 0) {
                            this.initDetail()
                            this.showQrcode = true
                        }
                    });

                },
                play() {
                    var skipItem = {
                        method: "LSTH5APP_SelectDeviceAndPushToSport", //H5调起原生选择设备，并跳转到对应设备类型的运动页，目前3.0后有：跳绳、健腹轮、腕力球
                        deviceType: "skipping", //skipping、wristball、wheel 、steps
                        mode: this.competitionItem.mode, //倒计时2、倒计数3，按照原先跳绳PK类型定义的值",
                        modeValue: this.competitionItem.modeValue, //按照原先跳绳的类型传值
                        jumpCount: -1, //按照原先跳绳的类型传值
                        category: 8, //1：PK赛，2俱乐部比赛,
                        isPK: 1, //0不是，1是，表示是否是PK类型的运动，是的话去pk运动页面，不是去普通运动页面
                        dataId: this.competitionItem.id,
                    };
                    try {
                        if (isIOS) {
                            window.webkit.messageHandlers.lstNative.postMessage(skipItem);
                        } else {
                            window.android.LSTH5APP_SelectDeviceAndPushToSport(
                                JSON.stringify(skipItem)
                            );
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }



            }
        })
    </script>
</body>

</html>