<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>京东云运动杯跳绳大赛-75派</title>
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body class="detailHtml">
    <div id="app" v-cloak>
        <div class="header">
            <van-nav-bar @click-left="onclickLeft" title="比赛详情" left-arrow safe-area-inset-top fixed>
                <template #left>
                    <span class="iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
                </template>

            </van-nav-bar>
        </div>
        <div class="contain">
            <img class="topBgImg" src="./img/indexBg.png" alt="">

            <div class="detailInfo" v-if="status==0">
                <div class="infoItem">
                    比赛名称：<span>800个倒计数打卡赛</span>
                </div>
                <div class="infoItem">
                    比赛模式：<span>800个倒计数</span>
                </div>
                <div class="infoItem">
                    已 报 名：<span>10人</span>
                </div>
                <div class="infoItem">
                    比赛次数：<span>不限次数，累积打卡20天</span>
                </div>
                <div class="infoItem">
                    比赛时间：<span>2021/12/25 00:00 至<br>
                        2022/01/04 23:59:59</span>
                </div>
                <div class="infoItem">
                    录取名次：<span>累积打卡满20天<br>
                        运动修复套装*1(内含按摩摩膏+面膜)</span>
                </div>
            </div>

            <div class="userList" v-if="status==1">
                <div class="userItem userItemHeader">
                    <div class="rank">排名</div>
                    <div class="name van-ellipsis">参赛成员</div>
                    <div class="time">最好成绩时间</div>
                    <div class="score">每日最短<br>用时之和</div>
                </div>
                <!-- <div class="userItem userItemHeader">
                    <div class="rank">排名</div>
                    <div class="name van-ellipsis">参赛成员</div>
                    <div class="time">累积打卡天数</div>
                    <div class="score">跳绳个数</div>
                </div> -->
                <van-pull-refresh v-model="refreshing" :head-height="90" @refresh="onRefresh" class="monkey-pull-refresh">
                    <template #pulling="props">
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>下拉刷新</p>
                      </div>
                    </template>
                    <!-- 释放提示 -->
                    <template #loosing>
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>释放刷新</p>
                      </div>
                    </template>
                    <!-- 加载提示 -->
                    <template #loading>
                      <div class="monkeyBox">
                        <div class="monkey"></div>
                        <p>正在刷新</p>
                      </div>
                    </template>

                    <van-list v-model="loading" v-if="list.length>0" :finished="finished" finished-text="没有更多了" @load="onLoad" :immediate-check=false>
                        <div class="userItem">
                            <div class="rank">
                                <!-- <img src="./img/no1.png" alt="">
                                <img src="./img/no2.png" alt="">
                                <img src="./img/no3.png" alt=""> -->
                                4
                            </div>
                            <div class="name ">
                                <img src="./img/girl.png" alt="">
                                <div class="van-ellipsis">
                                    正在刷新正在刷新正在刷新正在刷新正在刷新正在刷新正在刷新
                                </div>
                            </div>
                            <div class="time">1</div>
                            <div class="score"><span>11</span>个</div>
                        </div>
                    </van-list>
                    <div class="noDataBox" v-else-if="finished">
                        <div class="noDataImg"></div>
                    </div>
                </van-pull-refresh>

            </div>



            <div class="btnBox" v-if="status==0">
                <div class="btn" @click="join">
                    确认报名
                </div>
            </div>
            <div class="btnBox" v-if="status==1">
                <div class="btn" @click="play">
                    去跳绳
                </div>
            </div>
        </div>
        <van-popup v-model="showQrcode" round>
            <div class='qrcodeBox'>
                <img class="qrImg" src="./img/qrcode.png" alt="">
                <div class="qrBtn" @click="showQrcode=false"></div>
            </div>
        </van-popup>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
    <script src="../common/js/network.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    showQrcode: false,
                    status: 1, //0 比赛未开始 1 比赛已开始 
                    page: 1,
                    pageSize: 10,
                    list: [{}, {}],
                    loading: false,
                    finished: false,
                    refreshing: false,
                }
            },
            mounted() {
                this.init()
            },
            created() {

            },
            methods: {
                onclickLeft() {
                    window.history.back(-1)
                },
                onLoad() {
                    if (this.refreshing) {
                        this.page = 0
                        this.list = [];
                        this.refreshing = false;
                    } else {
                        this.page++
                    }

                },
                onRefresh() {
                    this.finished = false;
                    this.loading = true;
                    this.onLoad();
                },

                init() {
                    ajax({
                        url: "jingdongPk/competitorStatistic/rankItem",
                        data: {
                            competitionId: this.id,
                            page: this.page,
                            pageSize: this.pageSize
                        }
                    }).then(res => {
                        this.loading = false;
                        if (res.code == 0) {
                            if (this.page == 1) {
                                this.list = res.data
                            } else {
                                this.list = this.list.concat(res.data)
                            }
                            if (0) {
                                this.finished = true;
                            }
                        }
                    })

                },
                join() {
                    this.showQrcode = true
                },
                play() {
                    var skipItem = {
                        method: "LSTH5APP_SelectDeviceAndPushToSport", //H5调起原生选择设备，并跳转到对应设备类型的运动页，目前3.0后有：跳绳、健腹轮、腕力球
                        deviceType: "skipping", //skipping、wristball、wheel 、steps
                        mode: 2, //倒计时2、倒计数3，按照原先跳绳PK类型定义的值",
                        modeValue: 60, //按照原先跳绳的类型传值
                        jumpCount: -1, //按照原先跳绳的类型传值
                        category: 1, //1：PK赛，2俱乐部比赛,
                        isPK: 1, //0不是，1是，表示是否是PK类型的运动，是的话去pk运动页面，不是去普通运动页面
                        dataId: 1,
                    };
                    try {
                        if (isIOS) {
                            window.webkit.messageHandlers.lstNative.postMessage(skipItem);
                        } else {
                            window.android.LSTH5APP_SelectDeviceAndPushToSport(
                                JSON.stringify(skipItem)
                            );
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }



            }
        })
    </script>
</body>

</html>