<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>京东云运动智能跳绳大赛-75派</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="./css/report.css">
    <link rel="stylesheet" href="./font/iconfont.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <van-nav-bar @click-left="onclickLeft" title="获奖名单" left-arrow safe-area-inset-top fixed>
            </van-nav-bar>
        </div>
        <div class="contain">
            <img class="topBgImg" src="./img/report/topbg.png" alt="">
            <div class="formBox">
                <div>
                    <div class="inputBox">
                        <div class="title">收货人</div>
                        <input type="text" v-model="form.receiver" placeholder="收货人姓名">
                    </div>
                    <div class="inputBox">
                        <div class="title">手机号码</div>
                        <input type="text" maxlength="11" v-model="form.phoneNumber" placeholder="收货人手机号码">
                    </div>
                    <div class="inputBox">
                        <div class="title">所在地区</div>
                        <input type="text" v-model="address1" readonly @click="areaShow=true" placeholder="选择省/市/区">
                        <span class="iconfont icon-tongyong-gengduo" style="color: #71717f;"></span>
                    </div>

                    <div class="inputBox">
                        <div class="title">详细地址</div>
                        <input type="text" v-model="form.address2" placeholder="请填写详细地址">
                    </div>
                </div>
                <div class="formBtn formBtnSuccess" v-if="!isSubmit" @click="submit">
                    提交地址
                </div>
                <div class="formBtn" v-else>
                    地址已提交
                </div>

            </div>


            <div class="listBox" v-for="(item, index) in list">
                <div class="infoTitle" v-if="mode==2">{{listName[index]}}</div>
                <div class="infoTitle" v-if="mode==3">打卡赛获奖名单</div>
                <div class="listDiv">
                    <div class="title">
                        <div class="rank">排名</div>
                        <div class="nickName">昵称</div>
                        <div class="userId">用户ID</div>
                    </div>
                    <div>
                        <div class="item" v-for="(sitem ,index) in item.rankItem">
                            <div class="rank">{{sitem.rank}}</div>
                            <div class="nickName van-ellipsis">{{sitem.nickName}}</div>
                            <div class="userId">{{sitem.userId}}</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <van-popup v-model="areaShow" position="bottom">
            <van-area :area-list="areaList" @confirm="areaConfirm" @cancel="areaShow=false" />
        </van-popup>


    </div>
</body>
<script src="js/area.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="../common/js/network.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                userId: "",
                mode: getQueryString("mode") || 2,
                areaShow: false,
                form: {
                    name: "",
                    phoneNumber: "",
                    address: "",
                    receiver: ""
                },
                isSubmit: 0,
                address1: "",
                list: [],
                listName: [
                    "儿童组获奖名单",
                    "青少年组男子获奖名单",
                    "青少年组女子获奖名单",
                    "成年组男子获奖名单",
                    "成年组女子获奖名单"
                ]

            };
        },

        created() {
            this.init()
            this.status()

        },
        mounted() {
            window.addEventListener('scroll', this.scrollFn);

        },
        methods: {
            scrollFn() {
                var t = document.documentElement.scrollTop || document.body.scrollTop;
                var rate = t / 100
                if (rate > 1) {
                    rate = 1
                }
                var colorValue = `rgba(154, 202, 255,${rate})`
                document.getElementsByClassName("van-nav-bar")[0].style.background = colorValue
                document.getElementsByClassName("van-nav-bar__title")[0].style.opacity = rate;
            },
            destroyed() {
                window.removeEventListener('scroll', this.scrollFn); // 销毁监听
            },
            onclickLeft() {
                Interaction.closePage();
            },
            //地址选择回调
            areaConfirm(item) {
                this.form.province = item[0].name;
                this.form.city = item[1].name;
                if (item[2]) this.form.county = item[2].name
                else this.form.county = ""

                this.address1 = this.form.province + this.form.city + this.form.county;
                this.areaShow = false;
            },
            init() {
                ajax({
                    url: "jingdongPk/competitorStatistic/rankItemWinner",
                    data: {
                        mode: this.mode
                    }
                }).then(res => {
                    if (res.code == 0) {
                        this.list = res.data
                    } else {
                        this.list = []
                    }
                })
            },
            status() {
                ajax({
                    url: "jingdongPk/competitionWinner/getWinnerAddress",
                    data: {
                        mode: this.mode
                    }
                }).then(res => {
                    if (res.code == 0) {
                        this.isSubmit = res.data;
                    } else {
                        this.$toast(res.msg)
                    }
                })
            },
            submit() {
                if (!this.form.receiver || !this.form.phoneNumber || !this.form.province || !this.form.address2) {
                    this.$toast("请先完善地址信息！")
                    return
                }
                if (!(/^1[3456789]\d{9}$/.test(this.form.phoneNumber))) {
                    this.$toast('请填写正确的手机号码！')
                    return
                }

                this.$dialog.confirm({
                    message: '确定收货地址为:' + this.address1 + this.form.address2,
                    cancelButtonText: "修改",
                    cancelButtonColor: "#222",
                    confirmButtonColor: "#222"

                }).then(() => {
                    this.form.mode = this.mode
                    this.form.address = this.address1 + this.form.address2
                    ajax({
                        type: "post",
                        url: "jingdongPk/postAddressInfo/addAddress",
                        data: this.form,
                    }).then(res => {
                        if (res.code == 0) {
                            this.$toast("收货地址提交成功！")
                        } else {
                            this.$toast(res.msg)
                        }

                    })
                })
            },
        }
    })
</script>

</html>