.list-item {
    margin: 0.16rem 0.24rem;
    background-size: cover;
    height: 2.7rem;
    border-radius: 0.15rem;
    margin-bottom: 0.24rem;
    color: #cfcfd2;
    text-align: left;
    padding: 0 0.16rem;
    padding-top: 1.14rem;
    box-sizing: border-box;
    position: relative;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    -ms-border-radius: 0.15rem;
    -o-border-radius: 0.15rem;
}

// .list-item-official {
// 	background-image: url(../img/skipping/10.png)!important;
// }



.pkTitle {
    font-size: 0.36rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
        color: #fff;
        font-size: 0.2rem;
        padding: 1px 0.05rem;
        text-align: center;
        margin: 0 0.1rem;
    }

    .lock_img {
        width: 0.28rem;
        position: relative;
        top: 0.02rem;
        left: 0.1rem;
    }
}

.pkDescript {
    font-size: 0.2rem;
    line-height: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
        margin-right: 0.16rem;
    }
}



.pkPromoter {
    font-size: 0.2rem;
}

.pkTime {
    font-size: 12px;
    line-height: 0.36rem;
    position: absolute;
    left: 0;
    top: 0.2rem;
    padding: 0 0.1rem;
    // height: 0.36rem;
    box-sizing: border-box;
    text-align: center;
    background-color: #E50012;
    border-top-right-radius: 0.18rem;
    border-bottom-right-radius: 0.18rem;
}

.pkTime_ing {
    min-width: 1.44rem;
    background-color: transparent;
    border: 1px solid #cfcfd2;
    color: #cfcfd2;
    border-left: none;
}

.pkTime_todo {
    min-width: 1.44rem;
    background-color: #cfcfd2;
    color: #E60012;
}

.pkTime_done {
    background-color: #71717f;
}