<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
            minimum-scale=1.0, viewport-fit=cover">
    <title>全部课程</title>
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="../common/css/basic.css">

    <link rel="stylesheet" id="themeCssLink" href="../common/css/theme_black.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <div id="app" class="normalHeader" v-cloak>
        <div class="header">
            <van-nav-bar @click-left="onclickLeft" title="全部课程" left-arrow safe-area-inset-top fixed>
                <template #left>
                        <span class="icon iconfont icon-fanhuianniu"
                            style="font-size: 0.5rem;" />
                        </template>

            </van-nav-bar>
        </div>
        <div class="allContain">
            <div class="classificationBox">
                <div class="title">课程筛选
                    <span class="titleInfo" v-if="chooseLength>0">已选{{chooseLength}}项</span>
                    <span class="icon iconfont icon-shurukuang-chahao" v-if="chooseLength>0" @click="initCondition(0)" style="font-size: 0.2rem;color: #595962;" />
                </div>
                <div class="classificationDiv">
                    <div class="classificationList" v-for="(items,
                                    key) in laberList">
                        <div class="name">
                            {{key}}
                        </div>
                        <div class="typeList">
                            <div class="typeItem" v-for="item in
                                            items" @click="laberChoose(item,items)" :class="item.choose?'selected':''">{{item.attribute}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="contain" style="overflow-y: auto;">
                <van-pull-refresh v-model="refreshing" :head-height="90" @refresh="initIndexData" class="monkey-pull-refresh">
                    <template #pulling="props">
                                    <div class="monkeyBox">
                                        <div class="monkey"> </div>
                                        <p>下拉刷新</p>
                                    </div>

                                </template>
                    <!-- 释放提示 -->
                    <template #loosing>
                                    <div class="monkeyBox">
                                        <div class="monkey"> </div>
                                        <p>释放刷新</p>
                                    </div>
                                </template>

                    <!-- 加载提示 -->
                    <template #loading>
                                    <div class="monkeyBox">
                                        <div class="monkey"> </div>
                                        <p>正在刷新</p>
                                    </div>
                                </template>

                    <van-list v-model="loading" :finished="finished" @load="onLoad" :immediate-check=false v-if="chooseLength==0" finished-text="已经到底啦~">
                        <div class="courseBox">
                            <ul>
                                <li class="courseDiv" v-for="item in
                                            classList" @click="courseList(item)">
                                    <img v-if="item.classLableList.length>0" :src="'./img/'+item.classLableList[0].classLabel+'.png'" class="iconlabel" alt="">
                                    <div class="cover" :style="{'backgroundImage':'url('+item.classCover+')'}">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <p class="stitle">{{item.className}}</p>
                                            <p class="detail">
                                                {{Math.round(item.classDuration/60)}}分钟 · {{item.calory}}千卡 · {{item.classLevelName}}
                                            </p>
                                        </div>
                                        <div class="progress">
                                            {{item.sumExercise||0}}人练过
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </van-list>
                    <div v-else>
                        <div class="courseBox" v-if="classList.length>0">
                            <ul>
                                <li class="courseDiv" v-for="item in
                                            classList" @click="courseList(item)">
                                    <img v-if="item.classLableList.length>0" :src="'./img/'+item.classLableList[0].classLabel+'.png'" class="iconlabel" alt="">
                                    <div class="cover" :style="{'backgroundImage':'url('+item.classCover+')'}">
                                    </div>
                                    <div class="content">
                                        <div>
                                            <p class="stitle">{{item.className}}</p>
                                            <p class="detail">
                                                {{Math.round(item.classDuration/60)}}分钟 · {{item.calory}}千卡 · {{item.classLevelName}}
                                            </p>
                                        </div>
                                        <div class="progress">
                                            {{item.sumExercise||0}}人练过
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>

                        <div class="noDataBox" style="padding-top: 0;" v-else-if="!refreshing">
                            <div class="noDataImg"></div>
                            <p class="noDataInfo">暂无符合条件的训练课程，换个条件试试吧~</p>
                        </div>
                    </div>


                </van-pull-refresh>
            </div>
        </div>

    </div>

    </div>
</body>
<script src="https://oss.laisitech.com/4749d39a-e8e9-46e4-b75a-8dcdb248c9c9.js?name=vue"></script>
<script src="https://oss.laisitech.com/50c1bcb1-6c6d-4389-bee5-7778b6613ed9.js?name=vant"></script>
<script src="../common/js/network.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                refreshing: true,
                laberList: [],
                userId: "",
                classList: [],
                chooseLength: 0,
                classifyName: getQueryString("classifyName") || "",
                offset: 0,
                loading: false,
                finished: false,


            }
        },
        filters: {


        },
        mounted() {


        },
        created() {
            this.getLaberList()
        },
        methods: {
            onLoad() {

                if (this.chooseLength == 0) {
                    this.loading = true;
                    this.offset++;
                    this.getNormalClass()
                } else {
                    this.getClassByConditions()
                }
            },
            onclickLeft() {
                Interaction.closePage();
            },
            initIndexData() {
                if (this.chooseLength == 0) {
                    this.offset = 0
                    this.loading = true;
                    this.finished = false;
                    this.getNormalClass()
                } else {
                    this.getClassByConditions()
                }

            },
            //标签库
            getLaberList() {
                ajax({
                    url: "community/threeAttribute/group/see/all/attribute",
                }).then(res => {
                    this.laberList = res.data;
                    this.laberList['时间'] = [{
                        id: 10,
                        attribute: "2-10分钟"
                    }, {
                        id: 20,
                        attribute: "11-20分钟"
                    }, {
                        id: 30,
                        attribute: "21-40分钟"
                    }]
                    if (this.classifyName && this.classifyName != "全部") {
                        for (const key in this.laberList) {
                            this.laberList[key].forEach(item => {
                                if (item.attribute == this.classifyName)
                                    this.laberChoose(item, this.laberList[key])
                                return
                            });
                        }
                    } else {
                        this.getNormalClass()
                    }
                }).catch((err) => {
                    console.log(err)
                })
            },
            //初始化课程
            getNormalClass() {
                ajax({
                    url: "community/threeUserCollect/see/all/bigClass/orderBy",
                    data: {
                        offset: this.offset,
                        limit: 10
                    }
                }).then(res => {

                    if (res.data.resultList.length == 0) {
                        this.finished = true
                        return
                    }
                    if (this.offset == 0) {
                        this.classList = []
                        this.classList = res.data.resultList
                    } else {
                        this.classList = this.classList.concat(res.data.resultList);

                    }
                    this.refreshing = false;
                    this.loading = false;
                }).catch((err) => {
                    console.log(e)
                })
            },
            //筛选课程
            getClassByConditions() {
                ajax({
                    type: "post",
                    data: this.form,
                    url: "community/threeUserCollect/see/class/by/conditions",
                }).then(res => {
                    if (res.code == 0) {
                        this.classList = res.data;
                    } else {
                        this.classList = [];
                    }
                    setTimeout(() => {
                        this.refreshing = false;
                    }, 300);
                }).catch((err) => {
                    console.log(err)
                })

            },
            //选择标签
            laberChoose(item, items) {
                if (item.choose) {
                    item.choose = false
                    this.initCondition()
                    return
                }

                items.forEach(ele => {
                    ele.choose = false
                })
                if (!item.choose) {
                    item.choose = true
                    this.initCondition()
                }

            },
            //筛选条件处理
            initCondition(flag) { //0 清空筛选条件

                let obj = this.laberList;
                let form = {};
                this.chooseLength = 0;
                for (const key in obj) {
                    let submitKey = ""
                    if (key == "目标") {
                        submitKey = "oneClassTarget"
                    } else if (key == "部位") {
                        submitKey = "oneClassPart"
                    } else if (key == "等级") {
                        submitKey = "classLevel"
                    } else if (key == "器械") {
                        submitKey = "oneClassKit"
                    } else if (key == "时间") {
                        submitKey = "durationRangeId"
                    } else {
                        continue
                    }

                    form[submitKey] = [];
                    obj[key].forEach(item => {
                        if (flag == 0) {
                            item.choose = false;
                            this.chooseLength = 0
                        } else if (item.choose) {
                            this.chooseLength++
                                form[submitKey].push(item.id)
                        }
                    });
                    form[submitKey] = form[submitKey].join()
                }



                if (this.chooseLength == 0) {
                    this.getNormalClass()
                } else {
                    this.form = form
                    this.getClassByConditions()
                }
            },
            //跳转课程详情
            courseList(item) {
                window.location.href = `courseList.html?id=${item.bigClassId}&fromH5=1`
            },



        }
    })
</script>

</html>