<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>生涯最佳</title>
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" id="themeCssLink" href="../common/css/theme_black.css">

</head>

<body id="body">
    <div id="app" v-cloak :class="type!='total'?'body2':''">
        <div v-if="theme=='black'">
            <div class="topBox">
                <div class="personalInfo">
                    <div class="headerPicBox">
                        <img class="headerPic" :src="userInfo.headPictureUrl" alt="">
                    </div>
                    <div class="nickName">{{userInfo.nickName}}</div>
                    <div class="time">{{shareTime||sjc2time("ymd",(new Date().getTime()))}}</div>
                </div>
            </div>
            <div class="totalBox" v-if="type=='total'">
                <div v-for="item in totalObj">
                    <div class="itemBox" v-if="item.dataType=='steps'" style="background-image: url(./img/runningBg.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/runningLabel.png" alt="">
                            <div class="txt">
                                走路对脑力劳动者，特别是创造性的人来说，是一种生理活动的最好方式
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.mostSteps||'--'}}</div>
                                <div class="info">最多步数(步)</div>
                            </div>
                            <div class="dataItem">

                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxDistance?(item.maxDistance/1000).toFixed(2):'--'}}</div>
                                <div class="info">最远距离(公里)</div>
                            </div>
                        </div>
                    </div>
                    <div class="itemBox2" v-else-if="item.dataType=='skipping'" style="background-image: url(./img/skippingBg.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/skippingLabel.png" alt="">
                            <div class="txt">
                                跳出新人生
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.mostCount||'--'}}</div>
                                <div class="info">最多个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.longestDuration?secondsFormat(item.longestDuration):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostHolding||'--'}}</div>
                                <div class="info">最多连续跳绳(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostFreq||'--'}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem" v-if="item.tripleJumpCount">
                                <div class="num">{{item.tripleJumpCount||'--'}}</div>
                                <div class="info">双三摇最多个数(个)</div>
                            </div>

                        </div>
                    </div>

                    <div class="itemBox2" v-else-if="item.dataType=='wheel'" style="background-image: url(./img/wheelBg.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/wheelLabel.png" alt="">
                            <div class="txt">
                                活水贵在流动，生命在于运动
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.maxCount||"--"}}</div>
                                <div class="info">最多次数(次)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.getMostStandardRate?item.getMostStandardRate+'%':'--'}}</div>
                                <div class="info">最高达标率</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.longestDuration?secondsFormat(item.longestDuration):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostFreq||'--'}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>

                        </div>
                    </div>

                    <div class="itemBox2" v-else-if="item.dataType=='wristBall'" style="background-image: url(./img/wristballBg.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/wristballLabel.png" alt="">
                            <div class="txt">
                                健身，让生活变得有声有色 ；健康，让日子过得有滋有味
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.maxCount||'--'}}</div>
                                <div class="info">最多圈数(圈)</div>
                            </div>
                            <div class="dataItem">

                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxRate|'--'}}</div>
                                <div class="info">最大转速(rpm)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxStrength?item.maxStrength/1000:'--'}}</div>
                                <div class="info">最大力量(kg)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxMs?secondsFormat(item.maxMs):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div class="detailBox" v-else-if="type=='steps'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{stepsObj.bestStep.steps>1000000?((stepsObj.bestStep.steps/10000).toFixed(2)+"万"):stepsObj.bestStep.steps}}
                                </div>
                                <div class="time">{{sjc2time("ymd",stepsObj.bestStep.checkTime)}}</div>
                                <div class="info">最多步数(步)</div>

                            </div>
                            <div class="dataItem">
                                <div class="num">{{(stepsObj.bestDistance.distance/1000).toFixed(2)||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.bestDistance.checkTime)}}</div>
                                <div class="info">最远距离(公里)</div>

                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link.png" alt="">
                        <img src="./img/link.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg.png);">
                        <div class="title">
                            步行累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{stepsObj.totalStep||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.updateTime)}}</div>
                                <div class="info">累计步数(步)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{(stepsObj.totalDistance/1000).toFixed(2)||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.updateTime)}}</div>
                                <div class="info">累计距离(公里)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detailBox" v-else-if="type=='skipping'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostSkip.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostSkip.updateTime)}}</div>
                                <div class="info">最多个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostHolding.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostHolding.updateTime)}}</div>
                                <div class="info">最多连续个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(skippingObj.longestDuration.value)}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.longestDuration.updateTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostAvg.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostAvg.updateTime)}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostDoubleTriple.value||"--"}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostDoubleTriple.updateTime)}}</div>
                                <div class="info">双三摇最多个数(个)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link.png" alt="">
                        <img src="./img/link.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg.png);">
                        <div class="title">
                            跳绳累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{skippingObj.totalNumber>1000000?((skippingObj.totalNumber/10000).toFixed(2)+"万"):skippingObj.totalNumber}}
                                </div>
                                <div class="time">{{sjc2time("ymd",skippingObj.serverTime)}}</div>
                                <div class="info">累计个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num"> {{secondsFormat(skippingObj.totalTime)}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.serverTime)}}</div>
                                <div class="info">累计时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detailBox" v-else-if="type=='wheel'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestCountToTal.countToTal||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestCountToTal.startTime)}}</div>
                                <div class="info">最多次数(次)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wheelObj.bestMaxMs.maxMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxMs.startTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxStandardRate.maxStandardRate}}%</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxStandardRate.startTime)}}</div>
                                <div class="info">最高达标率</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxDistant.maxDistant||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxDistant.startTime)}}</div>
                                <div class="info">最远距离(米)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxFreq.maxFreq||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxFreq.startTime)}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link.png" alt="">
                        <img src="./img/link.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg.png);">
                        <div class="title">
                            健腹轮累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{wheelObj.bestCountToTal.countToTal>1000000?((wheelObj.bestCountToTal.countToTal/10000).toFixed(2)+"万"):wheelObj.bestCountToTal.countToTal}}
                                </div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestCountToTal.startTime)}}</div>
                                <div class="info">累计次数(次)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wheelObj.bestTakeMs.takeMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestTakeMs.startTime)}}</div>
                                <div class="info">累计时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailBox" v-else-if="type=='wristball'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{wristballObj.bestMaxCount.maxCount}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxCount.startTime)}}</div>
                                <div class="info">最多圈数(圈)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wristballObj.bestMaxRate.maxRate}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxRate.startTime)}}</div>
                                <div class="info">最大转速(rpm)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wristballObj.bestMaxMs.maxMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxMs.startTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{(wristballObj.bestMaxStrength.maxStrength/1000).toFixed(2)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxStrength.startTime)}}</div>
                                <div class="info">最大力量(kg)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link.png" alt="">
                        <img src="./img/link.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg.png);">
                        <div class="title">
                            腕力球累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{wristballObj.bestTotalCount.totalCount>1000000?((wristballObj.bestTotalCount.totalCount/10000).toFixed(2)+"万"):wristballObj.bestTotalCount.totalCount}}
                                </div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestTotalCount.startTime)}}</div>
                                <div class="info">累计圈数(圈)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wristballObj.bestTakeMs.takeMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestTakeMs.startTime)}}</div>
                                <div class="info">累计时长</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="qrBox">
                <img src="./img/qrcode.png" alt="">
            </div>
            <div class="desc">
                —学着改变自己，因为你还有未被发现的自己存在—
            </div>
            <div class="btn" @click="goApp">
                加入派健康 一起创造最佳时刻吧
            </div>



        </div>
        <div v-else>
            <div class="topBox" style="backgroundImage: url('./img/topBg_white.png');">
                <div class="personalInfo">
                    <div class="headerPicBox headerPicBox_white">
                        <img class="headerPic" :src="userInfo.headPictureUrl" alt="">
                    </div>
                    <div class="nickName">{{userInfo.nickName}}</div>
                    <div class="time">{{shareTime||sjc2time("ymd",(new Date().getTime()))}}</div>
                </div>
            </div>
            <div class="totalBox" v-if="type=='total'">
                <div v-for="item in totalObj">
                    <div class="itemBox" v-if="item.dataType=='steps'" style="background-image: url(./img/runningBg_white.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/runningLabel_white.png" alt="">
                            <div class="txt">
                                走路对脑力劳动者，特别是创造性的人来说，是一种生理活动的最好方式
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.mostSteps||'--'}}</div>
                                <div class="info">最多步数(步)</div>
                            </div>
                            <div class="dataItem">

                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxDistance?(item.maxDistance/1000).toFixed(2):'--'}}</div>
                                <div class="info">最远距离(公里)</div>
                            </div>
                        </div>
                    </div>
                    <div class="itemBox2" v-else-if="item.dataType=='skipping'" style="background-image: url(./img/skippingBg_white.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/skippingLabel_white.png" alt="">
                            <div class="txt">
                                跳出新人生
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.mostCount||'--'}}</div>
                                <div class="info">最多个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.longestDuration?secondsFormat(item.longestDuration):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostHolding||'--'}}</div>
                                <div class="info">最多连续跳绳(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostFreq||'--'}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem" v-if="item.tripleJumpCount">
                                <div class="num">{{item.tripleJumpCount||'--'}}</div>
                                <div class="info">双三摇最多个数(个)</div>
                            </div>

                        </div>
                    </div>

                    <div class="itemBox2" v-else-if="item.dataType=='wheel'" style="background-image: url(./img/wheelBg_white.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/wheelLabel_white.png" alt="">
                            <div class="txt">
                                活水贵在流动，生命在于运动
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.maxCount||"--"}}</div>
                                <div class="info">最多次数(次)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.getMostStandardRate?item.getMostStandardRate+'%':'--'}}</div>
                                <div class="info">最高达标率</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.longestDuration?secondsFormat(item.longestDuration):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.mostFreq||'--'}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>

                        </div>
                    </div>

                    <div class="itemBox2" v-else-if="item.dataType=='wristBall'" style="background-image: url(./img/wristballBg_white.png);">
                        <div class="labelBox">
                            <img class="label" src="./img/wristballLabel_white.png" alt="">
                            <div class="txt">
                                健身，让生活变得有声有色 ；健康，让日子过得有滋有味
                            </div>
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{item.maxCount||'--'}}</div>
                                <div class="info">最多圈数(圈)</div>
                            </div>
                            <div class="dataItem">

                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxRate|'--'}}</div>
                                <div class="info">最大转速(rpm)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxStrength?item.maxStrength/1000:'--'}}</div>
                                <div class="info">最大力量(kg)</div>
                            </div>
                            <div class="dataItem">
                            </div>
                            <div class="dataItem">
                                <div class="num">{{item.maxMs?secondsFormat(item.maxMs):'--'}}</div>
                                <div class="info">最长时间</div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div class="detailBox" v-else-if="type=='steps'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg_white.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{stepsObj.bestStep.steps>1000000?((stepsObj.bestStep.steps/10000).toFixed(2)+"万"):stepsObj.bestStep.steps}}
                                </div>
                                <div class="time">{{sjc2time("ymd",stepsObj.bestStep.checkTime)}}</div>
                                <div class="info">最多步数(步)</div>

                            </div>
                            <div class="dataItem">
                                <div class="num">{{(stepsObj.bestDistance.distance/1000).toFixed(2)||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.bestDistance.checkTime)}}</div>
                                <div class="info">最远距离(公里)</div>

                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link_white.png" alt="">
                        <img src="./img/link_white.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg_white.png);">
                        <div class="title">
                            步行累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{stepsObj.totalStep||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.updateTime)}}</div>
                                <div class="info">累计步数(步)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{(stepsObj.totalDistance/1000).toFixed(2)||0}}</div>
                                <div class="time">{{sjc2time("ymd",stepsObj.updateTime)}}</div>
                                <div class="info">累计距离(公里)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detailBox" v-else-if="type=='skipping'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg_white.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostSkip.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostSkip.updateTime)}}</div>
                                <div class="info">最多个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostHolding.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostHolding.updateTime)}}</div>
                                <div class="info">最多连续个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(skippingObj.longestDuration.value)}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.longestDuration.updateTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostAvg.value}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostAvg.updateTime)}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{skippingObj.mostDoubleTriple.value||"--"}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.mostDoubleTriple.updateTime)}}</div>
                                <div class="info">双三摇最多个数(个)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link_white.png" alt="">
                        <img src="./img/link_white.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg_white.png);">
                        <div class="title">
                            跳绳累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{skippingObj.totalNumber>1000000?((skippingObj.totalNumber/10000).toFixed(2)+"万"):skippingObj.totalNumber}}
                                </div>
                                <div class="time">{{sjc2time("ymd",skippingObj.serverTime)}}</div>
                                <div class="info">累计个数(个)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num"> {{secondsFormat(skippingObj.totalTime)}}</div>
                                <div class="time">{{sjc2time("ymd",skippingObj.serverTime)}}</div>
                                <div class="info">累计时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detailBox" v-else-if="type=='wheel'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg_white.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestCountToTal.countToTal||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestCountToTal.startTime)}}</div>
                                <div class="info">最多次数(次)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wheelObj.bestMaxMs.maxMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxMs.startTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxStandardRate.maxStandardRate}}%</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxStandardRate.startTime)}}</div>
                                <div class="info">最高达标率</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxDistant.maxDistant||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxDistant.startTime)}}</div>
                                <div class="info">最远距离(米)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wheelObj.bestMaxFreq.maxFreq||0}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestMaxFreq.startTime)}}</div>
                                <div class="info">最快频次(次/分)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link_white.png" alt="">
                        <img src="./img/link_white.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg_white.png);">
                        <div class="title">
                            健腹轮累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{wheelObj.bestCountToTal.countToTal>1000000?((wheelObj.bestCountToTal.countToTal/10000).toFixed(2)+"万"):wheelObj.bestCountToTal.countToTal}}
                                </div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestCountToTal.startTime)}}</div>
                                <div class="info">累计次数(次)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wheelObj.bestTakeMs.takeMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wheelObj.bestTakeMs.startTime)}}</div>
                                <div class="info">累计时长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailBox" v-else-if="type=='wristball'">
                <div class="detailDiv">
                    <img src="./img/title.png" class="titleImg" alt="">
                    <div class="itemBox" style="background-image: url(./img/detailBg_white.png);">
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">{{wristballObj.bestMaxCount.maxCount}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxCount.startTime)}}</div>
                                <div class="info">最多圈数(圈)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{wristballObj.bestMaxRate.maxRate}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxRate.startTime)}}</div>
                                <div class="info">最大转速(rpm)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wristballObj.bestMaxMs.maxMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxMs.startTime)}}</div>
                                <div class="info">最长时间</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{(wristballObj.bestMaxStrength.maxStrength/1000).toFixed(2)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestMaxStrength.startTime)}}</div>
                                <div class="info">最大力量(kg)</div>
                            </div>
                        </div>
                    </div>
                    <div class="linkBox">
                        <img src="./img/link_white.png" alt="">
                        <img src="./img/link_white.png" alt="">
                    </div>
                </div>
                <div class="detailDiv">
                    <div class="itemBox2" style="background-image: url(./img/detailBg_white.png);">
                        <div class="title">
                            腕力球累计数据
                        </div>
                        <div class="dataBox">
                            <div class="dataItem">
                                <div class="num">
                                    {{wristballObj.bestTotalCount.totalCount>1000000?((wristballObj.bestTotalCount.totalCount/10000).toFixed(2)+"万"):wristballObj.bestTotalCount.totalCount}}
                                </div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestTotalCount.startTime)}}</div>
                                <div class="info">累计圈数(圈)</div>
                            </div>
                            <div class="dataItem">
                                <div class="num">{{secondsFormat(wristballObj.bestTakeMs.takeMs)}}</div>
                                <div class="time">{{sjc2time("ymd",wristballObj.bestTakeMs.startTime)}}</div>
                                <div class="info">累计时长</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="qrBox">
                <img src="./img/qrcode.png" alt="">
            </div>
            <div class="desc">
                —学着改变自己，因为你还有未被发现的自己存在—
            </div>
            <div class="btn" @click="goApp" v-if="!isApp">
                加入派健康 一起创造最佳时刻吧
            </div>



        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="../common/js/network.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                type: getQueryString("type") || "total",
                shareTime: getQueryString("shareTime"),
                isApp: getQueryString("isApp"),
                theme: "black",
                userInfo: {},
                totalObj: [],
                stepsObj: {
                    bestDistance: {},
                    bestStep: {},
                },
                wheelObj: {
                    bestCountToTal: {
                        countToTal: 0,
                        detailId: null,
                        startTime: 0
                    },
                    bestMaxCount: {
                        detailId: null,
                        maxCount: 0,
                        startTime: 0
                    },
                    bestMaxDistant: {
                        detailId: null,
                        maxDistant: 0,
                        startTime: 0
                    },
                    bestMaxFreq: {
                        detailId: null,
                        maxFreq: 0,
                        startTime: 0
                    },
                    bestMaxMs: {
                        detailId: null,
                        maxMs: 0,
                        startTime: 0
                    },
                    bestMaxStandardRate: {
                        detailId: null,
                        maxStandardRate: 0,
                        startTime: 0
                    },
                    bestTakeMs: {
                        startTime: 0,
                        takeMs: 0
                    }
                },
                wristballObj: {
                    bestMaxCount: {},
                    bestMaxMs: {},
                    bestMaxRate: {},
                    bestMaxStrength: {},
                    bestTakeMs: {},
                    bestTotalCount: {},
                },
                skippingObj: {
                    longestDuration: {
                        updateTime: "",
                        value: 0
                    },
                    mostSkip: {
                        updateTime: "",
                        value: 0
                    },
                    mostHolding: {
                        updateTime: "",
                        value: 0
                    },
                    mostAvg: {
                        updateTime: "",
                        value: 0
                    },
                    mostDoubleTriple: {

                    }

                },
            }
        },
        created() {
            if (this.type == "wristball") {
                this.getWristball()
            } else if (this.type == "skipping") {
                this.getSkipping()
            } else if (this.type == "wheel") {
                this.getWheel()
            } else if (this.type == "steps") {
                this.getStep()
            } else {
                this.getTotal()
            }

            if (getQueryString('theme')) {
                this.theme = getQueryString('theme')
            } else if (localStorage.getItem("appInfo")) {
                var appInfo = JSON.parse(localStorage.getItem("appInfo"));
                this.theme = appInfo.theme || "black"
            }
        },
        methods: {
            goApp() {
                var openApp = function(linkUrl) {
                    var a = document.createElement("a");
                    a.setAttribute("href", linkUrl);
                    a.setAttribute("id", "js_a");
                    //防止反复添加
                    if (document.getElementById("js_a")) {
                        document.body.removeChild(document.getElementById("js_a"));
                    }
                    document.body.appendChild(a);
                    a.click();
                };
                let linkUrl = "";
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    linkUrl = "https://lstemp.laisitech.com?actionType=goBestCareer";
                    openApp(linkUrl);
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    linkUrl = "app://rehealth/mainPage?goto=/me/career_best"
                    if (openApp(linkUrl)) {} else {
                        linkUrl =
                            "https://a.app.qq.com/o/simple.jsp?pkgname=com.lstech.rehealth";
                        openApp(linkUrl);
                    }
                }
            },
            //传入毫秒数 返回相应的日时分秒
            secondsFormat(s) {
                s = s / 1000
                var hour = Math.floor(s / 3600).toString()
                var minute = Math.floor((s - (hour * 3600)) / 60).toString()
                var second = (s - hour * 3600 - minute * 60).toString()
                return hour.padStart(2, "0") + ":" + minute.padStart(2, "0") + ":" + second.padStart(2, "0")
            },
            //传入时间戳获取日期
            sjc2time(id, sjc) {
                if (!sjc) return
                var datetime = new Date(parseInt(sjc));
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() +
                    1;
                var month2 = datetime.getMonth() + 1 < 10 ? datetime.getMonth() + 1 : datetime.getMonth() + 1;
                var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                var date2 = datetime.getDate() < 10 ? datetime.getDate() : datetime.getDate();
                var hour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                var minute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                var second = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                if (id == "ymd") {
                    return year + "/" + month + "/" + date;
                } else if (id == "md") {
                    return month + "/" + date;
                }
            },
            getTotal() {
                ajax({
                    url: "newHomePage/share/v2/common/best/career/record",
                }).then(res => {
                    if (res.code == 0) {
                        this.totalObj = res.data.data
                        this.userInfo = res.data.accountData
                    }
                })

            },
            getWristball() {
                ajax({
                    url: "wristball/share/shareCareerBest",
                }).then(res => {
                    if (res.code == 0) {
                        this.wristballObj = res.data.rankBestCareer;
                        this.userInfo = res.data.accountData
                    }
                })
            },
            getSkipping() {
                ajax({
                    url: "share/ropeSkipping/shareBestCareerRecord",
                }).then(res => {
                    if (res.code == 0) {
                        this.skippingObj = res.data
                        this.userInfo = {
                            headPictureUrl: res.data.headerPicUrl,
                            nickName: res.data.nickName,
                        }
                    }
                })
            },
            getWheel() {
                ajax({
                    url: "ab-roller/share/shareCareerBest",
                }).then(res => {
                    if (res.code == 0) {
                        this.wheelObj = res.data.sourceCareerBest
                        this.userInfo = res.data.accountData
                    }
                })
            },
            getStep() {
                ajax({
                    url: "sportwatch/share/best/step/userId",
                }).then(res => {
                    if (res.code == 0) {
                        this.stepsObj = res.data.bestDistance;
                        this.userInfo = res.data.accountData
                    }
                })
            },

        }
    })
</script>


</html>