<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/PersonalRanking.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
    <script src="../common/js/network.js"></script>
</head>

<body>
    <div id="app" class="page" v-cloak>
        <div class="header">
            <van-nav-bar title="标题" z-index=999>
                <div v-if="!isShare" slot="left" @click="onClickLeft()" class="van-nav-bar__left"><i class="van-icon van-icon-arrow-left van-nav-bar__arrow"></i></div>
                <template slot="title">
                    <div class="title" @click="show = !show">
                       {{active==1?"校园大PK-人气榜":"校园大PK-实力榜"}} 
                        <van-icon name="arrow-down" color="#FA9C12" size="16" />
                    </div>
                </template>
                <div class="ub ub-ac" slot="right">
                    <img v-if="active==2" @click="window.location.href='rule.html'" src="img/ruleicon.png" style="width: .4rem;margin-right: .2rem;" alt="">
                    <img v-if="!isShare" @click="share()" src="img/shareicon.png" style="width: .4rem;" />
                </div>

            </van-nav-bar>
            <van-overlay :show="show" z-index=998 @click="show = false">
                <div class="optionBox" @click.stop>
                    <div class="optionItem " :class="active==1?'active':''" @click="changeRank(1)">校园大PK-人气榜</div>
                    <div class="optionItem" :class="active==2?'active':''" @click="changeRank(2)">校园大PK-实力榜</div>
                </div>
            </van-overlay>
        </div>
        <div class="rankBox">
            <div class="van_row_title_box">
                <van-row class="van_row_title" v-if="active==1">
                    <van-col span="3">
                        排名
                    </van-col>
                    <van-col span="3"></van-col>
                    <van-col span="9" class="align_left">
                        学校
                    </van-col>
                    <van-col span="8">
                        人气值
                    </van-col>
                </van-row>
                <van-row class="van_row_title" v-else>
                    <van-col span="3">
                        排名
                    </van-col>
                    <van-col span="3">

                    </van-col>
                    <van-col span="9" class="align_left">
                        学校
                    </van-col>
                    <van-col span="8">
                        个数
                    </van-col>
                </van-row>
            </div>
            <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                <van-list v-model="loading" :finished="finished" finished-text="已经到底啦~" v-if="list.length>0">
                    <van-row v-for="(item,index) in list" class="rankList">
                        <van-col span="3" class="ranking" v-if="item.rank==0">
                            <img class="sortPic" src="./img/no1.png" />
                        </van-col>
                        <van-col span="3" class="ranking" v-else-if="item.rank==1">
                            <img class="sortPic" src="./img/no2.png" />
                        </van-col>
                        <van-col span="3" class="ranking" v-else-if="item.rank==2">
                            <img class="sortPic" src="./img/no3.png" />
                        </van-col>
                        <van-col span="3" class="ranking" v-else>
                            {{item.rank + 1}}
                        </van-col>
                        <van-col span="3">
                            <div @click="goNext(item.schoolName,item.id)" class="detail_headpic" :style="{'background-image': 'url(' + item.icon + ')'}"></div>
                        </van-col>
                        <van-col span="9" class="align_left ub ub-ac" @click="goNext(item.schoolName,item.id)">
                            <div>{{item.schoolName}}</div>
                            <!-- <img @click="goNext(item.schoolName,item.id)" src="./img/schoolicon.png" style="display: block;top: 0;" class="skipImg" alt=""> -->
                        </van-col>
                        <van-col span="9">
                            {{active==1?item.popularity:item.skipCount||'--'}}
                            <img src="./img/like.png" class="skipImg" alt="" v-if="active==1&&item.isLiked">
                            <img src="./img/unlike.png" @click="schoolAddPopularity(item.id,index)" class="skipImg" alt="" v-else-if="active==1&&!item.isLiked">
                            <img src="./img/skip.png" class="skipImg" alt="" v-else>
                        </van-col>

                    </van-row>
                </van-list>
                <div class="noData-box" v-else-if="finished">
                    <img class="noData-img" src="./img/noData.png" />
                    <p class="noData-p">暂无排行数据</p>
                </div>
            </van-pull-refresh>
        </div>
        <van-popup v-model="couponshow" round :style="{width:'70%'}">
            <img style="width: 100%;height: auto;display: block;" @click="window.location.href='https://shop43117428.youzan.com/v2/ump/promocard/fetch?alias=qqcamvcg'" src="img/coupon.png" alt="">
        </van-popup>
        <div>
            <img src="./img/gotoPersonal.png" class="gotoPersonal" @click="gotoPersonal" alt="">
        </div>

    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                show: false,
                active: 2,
                apiUrl: "/rope-skipping-summer-camp/summerCamp/schoolStrengthRanking",
                isShare: getQueryString('isShare'),
                pageNum: 1,
                pageSize: 10,
                total: 0,
                refreshing: false,
                finished: false,
                loading: false,
                list: [],
                openId: "",
                couponshow: false,
                liketimes: 0
            };
        },
        watch: {},
        filters: {
            ellipsis(value) {
                if (!value) return '';
                if (value.length > 6) {
                    return value.slice(0, 6) + '...';
                }
                return value;
            }
        },
        mounted() {},
        beforeCreate() {

        },
        created() {
            var that = this;
            if (!this.isShare) {
                that.openId = JSON.parse(localStorage.getItem("appInfo")).userId;
            } else {
                that.active = 1;
                that.apiUrl = "/rope-skipping-summer-camp/summerCamp/schoolPopularityRanking"
            }
            if (isWechat) { //说明是分享的页面
                if (getCookie('SUMMERCAMP_OPENID')) {
                    that.openId = getCookie('SUMMERCAMP_OPENID');
                    that.getRankData();
                } else {
                    if (getCode()) {
                        //页面中带有code调用接口获取openId
                        getOpenid(getCode(), function(openid) {
                            if (!openid) return;
                            that.openId = openid;
                            that.getRankData();
                        })
                    } else { //重定向
                        var local = location.href;
                        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + APPID + '&redirect_uri=' + encodeURIComponent(local) + '&response_type=code&scope=snsapi_base&state=#wechat_redirect'
                    }
                }
            } else {
                that.getRankData();
            }
        },
        methods: {
            //改变排行榜
            changeRank(value) {
                this.active = value;
                if (value == 1) {
                    this.apiUrl = "/rope-skipping-summer-camp/summerCamp/schoolPopularityRanking";
                } else {
                    this.apiUrl = "/rope-skipping-summer-camp/summerCamp/schoolStrengthRanking";
                }
                this.show = false;
                this.pageNum = 0;
                this.getRankData();
            },
            onClickLeft() {
                if (getQueryString('isStudent')) {
                    closePage()
                } else {
                    window.history.back(-1)
                }
            },
            //获取排行榜数据
            getRankData() {
                var that = this;
                var nowPageNum = that.pageNum;
                ajax({
                    type: "get",
                    url: that.apiUrl,
                    data: {
                        openId: that.openId
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.list = res.data
                            that.loading = false;
                            that.finished = true;
                        } else {
                            that.finished = true;
                            that.loading = false;
                            that.$toast(res.msg)
                        }
                    },
                    error: function() {
                        that.finished = true;
                        that.loading = false;
                        console.log("error")
                    }
                })
            },
            onRefresh() {
                // 清空列表数据
                this.finished = false;
                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.loading = true;
                this.onLoad();
            },
            onLoad() {
                if (this.refreshing) {
                    this.refreshing = false;
                    this.pageNum = 1;
                } else {
                    this.pageNum++;
                }
                this.getRankData()
            },
            gotoPersonal() {
                if (this.isShare) {
                    window.location.href = "./PersonalRanking.html?isShare=1&campId=" + getQueryString("campId")
                } else {
                    window.location.href = "./PersonalRanking.html?campId=" + getQueryString("campId")
                }
            },
            goNext(schoolName, id) {
                var url = 'InnerSchoolRanking.html'
                if (this.isShare) {
                    url += "?isShare=1";
                    url = url + '&schoolName=' + schoolName + '&schoolId=' + id + "&campId=" + getQueryString("campId")
                } else {
                    url = url + '?schoolName=' + schoolName + '&schoolId=' + id + "&campId=" + getQueryString("campId")
                }
                window.location.href = url
            },
            //点赞学校
            schoolAddPopularity(schoolId, index) {
                var that = this;
                if (that.liketimes == 0 && that.isShare) {
                    setTimeout(function() {
                        that.couponshow = true;
                    }, 500);
                    that.liketimes++;
                }
                if (!that.openId) {
                    that.$toast("只能在微信浏览器中点赞");
                    return;
                }
                ajax({
                    type: "GET",
                    url: "/rope-skipping-summer-camp/summerCamp/schoolAddPopularity",
                    data: {
                        schoolId: schoolId,
                        openId: that.openId
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.$toast("点赞成功");
                            that.list[index].isLiked = true;
                            that.list[index].popularity += 10;
                        } else {
                            that.$toast(res.msg)
                        }

                    },
                    error: function(err) {
                        console.log("error")
                    }
                })
            },
            share() {
                var appInfo = JSON.parse(localStorage.getItem("appInfo"));
                var version = appInfo.appVersion;
                version = version.split(".");
                if (isIOS) {
                    console.log(parseInt(version[version.length - 1]))
                    if (parseInt(version[version.length - 1]) < 1120) {
                        this.$toast("请先升级到最新版本后再分享");
                        return
                    }
                } else if (isAndroid) {
                    if (parseInt(version[version.length - 1]) < 1099) {
                        this.$toast("请先升级到最新版本后再分享");
                        return
                    }
                }
                sharePage({
                    "title": "点赞！现在小学生跳绳怎么能这么厉害？！",
                    "description": "我校正在参加《“绳”彩争霸 静安区小学生寒假跳绳挑战赛》 快来为我们加油打气吧！",
                    "url": host + "/h5/h5V2/summercamp/SchoolRanking.html?isShare=1" + "&campId=" + getQueryString("campId")
                })
            }

        },

    });
</script>

</html>