<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>活动详情</title>
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="css/activityDetail.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style type="text/css">
			.btn_box{
			   text-align: center;
			   position: fixed;
			   bottom: 0;
			   width: 100%;
			   z-index: 3;
			   display: flex;
			   justify-content: center;
			   background-image: linear-gradient(to bottom, rgba(255,255,255,0.1),rgba(255,255,255,0.8),rgba(255,255,255,0.95), rgba(255,255,255,1));
			 }
			 .btn_box .gotoSign {
			   color: #fff;
			   width: 6.3rem;
			   height: 0.88rem;
			   font-size: 0.4rem;
			   line-height: 0.88rem;
			   background-image: linear-gradient(to right, #FF6A88, #FF5136);
			   border-radius: 0.44rem;
			   margin-bottom: 0.68rem;
			 }
			  .btn_box .creatMatch2{
			   background-image:none;
			   background-color: #999999;
			 }
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<div id="">
				<div class="activityDetailImg" @click="viewPic(activityItem.picUrl)" :style="{'background-image':'url('+activityItem.picUrl+')'}"></div>
				<div class="memberList" v-if="memberItem.memberList.length>0">
					<div class="memberTitle">已报名成员</div>
					<div>
						<van-row  @click="memberList" type="flex" style="align-items: center;">
							<van-col span="15" class="peopeleList">
								<div class="peopeleBox"   v-for="(item ,index) in memberItem.memberList" v-if="index<4" :style="{'left':index*0.4+'rem'}">
									<img  :src="item.headerPicUrl " >
								</div>
							</van-col>
							<van-col span="7" class="finishNumber">{{memberItem.memberList.length}}人</van-col>
							<van-col span="2" class="finishIcon" >
								<van-icon name="arrow" />
							</van-col>
						</van-row>
					</div>
				</div>
				<div class="padding border-bottom" style="border-top:0.2rem solid #f8f8f8;border-bottom:0.2rem solid #f8f8f8;">
					<van-row type="flex" style="align-items: center;">
						<van-col span="4" class="createrHeadPic">
							<div :style="{'background-image':'url('+personItem.headerPicUrl+')'}"></div>
						</van-col>
						<van-col span="20" style="margin-top: -.1rem;">
							<div class="createrName">{{personItem.nickName}}</div>
							<div class="activityTime">
								<span>发起人</span>
							</div>
						</van-col>
					</van-row>
				</div>
				
				<div class="padding" style="margin-bottom:1rem;padding: .4rem; .3rem;padding-bottom: .8rem;">
					<div style="font-size: .32rem;">
						活动详情
					</div>
					<div class="laberTitle">
						活动名称：<span style="color: #727272;">{{activityItem.title}}</span>
					</div>
					<div class="activity-content">
						活动时间：<span style="color: #727272;">{{showTimeFormat(activityItem.startTime,activityItem.endTime)}}</span>
					</div>
					<div class="laberTitle">
						活动内容：<span style="color: #727272;">{{activityItem.info}}</span>
					</div>
				</div>
				<div id="" class="btn_box">
					<van-button class="gotoSign" size="large" v-if="isAttend=='Y'">已报名</van-button>
					<van-button class="gotoSign" size="large" @click="signUp()" v-else>去报名</van-button>
				</div>
				
				<van-image-preview v-model="show" :images="imagePreview" :showIndex=false>
				</van-image-preview>
			</div>

		</div>

	</body>
	<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js "></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
	<script src="js/DateTime.js"></script>
	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		function showTimeFormat(time1, time2) { //传入两个时间戳 
			if (!time1 || !time2) {
				return
			}
			var year = DateTime.timeStamp2String("y");
			var day = DateTime.timeStamp2String("d");
			var year1 = DateTime.sjc2time("y", time1);
			var year2 = DateTime.sjc2time("y", time2);
			var day1 = DateTime.sjc2time("d", time1);
			var day2 = DateTime.sjc2time("d", time2);
			if (year > year1) { //去年的活动显示2018/12/31-2019/01/03
				return DateTime.sjc2time("ymd3", time1) + " - " + DateTime.sjc2time("ymd3", time2);
			} else {
				if (year2 != year1) {
					return DateTime.sjc2time("ymdhm3", time1) + " - " + DateTime.sjc2time("ymdhm3", time2);
				} else {
					if (day1 == day) {
						if (day1 == day2) {
							return DateTime.sjc2time("hm", time1) + " - " + DateTime.sjc2time("hm", time2);
						} else {
							return DateTime.sjc2time("mdhm3", time1) + " - " + DateTime.sjc2time("mdhm3", time2);
						}
					} else {
						return DateTime.sjc2time("mdhm3", time1) + " - " + DateTime.sjc2time("mdhm3", time2);
					}
				}
			}
		}

		new Vue({
			el: '#app',
			data() {
				return {
					activityId: "",
					clubId: "",
					isAttend: "",
					activityItem: {
						joinMember: []
					},
					personItem: {},
					memberItem: {
						memberList: []
					},
					show:false,
					imagePreview:[]
				}
			},
			filters: {
				ellipsis(value) {
					if (!value) return '';
					if (value.length > 4) {
						return value.slice(0, 4) + '...';
					}
					return value;
				}
			},
			mounted() {
				window.activityDetail = this.activityDetail;
			},
			created() {
				this.activityId = getQueryString("id");
				this.clubId = getQueryString("clubId");
				this.activityDetail();
			},
			methods: {
				viewPic(url) {
					//console.log(url)
					this.imagePreview=[url];
					this.show=true;
				},
				activityDetail() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/activity/get/item",
						data:{
							id: _self.activityId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.personItem = res.data.itemList[0];
								_self.activityItem = res.data.itemList[1];
								_self.memberItem = res.data.itemList[2];
								_self.isAttend=res.data.isSignUp;
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				//报名
				signUp() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/activity/user/attend",
						data: {
							activityId: _self.activityId,
							clubId: _self.clubId,
							userId: JSON.parse(localStorage.getItem("appInfo")).userId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.$toast("报名成功!");
								_self.activityDetail();
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				memberList() {
					window.location.href = "activityMemberList.html?id=" + this.activityId
				}

			}
		})
	</script>
</html>
