<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>申请列表</title>
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="css/memberList.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link href="../clubList_Detail/css/header.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .noData-img {
            height: auto !important;
        }
        
        .popbox {
            padding-top: 0;
        }
        
        .popbox>div {
            font-size: .32rem;
            text-align: center;
            border-bottom: .02rem solid #1e1e2a;
            height: 1.12rem;
            line-height: 1.12rem;
        }
        
        .cardList {
            padding: 0.3rem;
            font-size: .32rem;
        }
        
        .cardList>li {
            margin-bottom: .3rem;
        }
        
        .cardList>li .van-ellipsis {
            max-width: 5.5rem;
            font-size: .32rem;
        }
        
        .cardList>li .detail {
            font-size: .24rem;
            color: #71717f;
        }
        
        .cardList>li .headpic {
            width: .72rem;
            height: .72rem;
            border-radius: .1rem;
            overflow: hidden;
            margin-right: .2rem;
            background-color: #1e1e2a;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .cardList>li .headpic img {
            width: 100%;
            height: 100%;
        }
        
        .cardList>li .headpic2 img {
            width: 80%;
            height: 80%;
        }
        
        .cardList>li>div {
            border-bottom: none;
        }
        
        .acceptStatus {
            width: 1.32rem;
            height: .48rem;
            line-height: .5rem;
            border-color: #71717f;
            color: #71717f;
            top: .3rem;
        }
        
        .acceptStatus3 {
            width: 1.32rem;
            height: .48rem;
            line-height: .5rem;
            text-align: center;
            /* padding: 0 .4rem; */
            border-radius: .24rem;
            background: linear-gradient(to right, #FF4E3E, #FFAA88);
            font-size: .24rem;
            color: #fff;
            top: .3rem;
            position: relative;
            margin-left: .16rem;
        }
        
        .van-uploader__upload {
            background-color: #1e1e2a;
        }
        
        .van-uploader__upload-icon {
            color: #292934;
            font-size: 1rem;
        }
        
        .van-field__control {
            color: #cfcfd2;
        }
    </style>
</head>

<body>
    <div id="app" class="normalHeader" v-cloak>
        <div class="header">
            <van-nav-bar @click-left="onclickLeft" title="申请列表" @click-right="OnclickRight" right-text="全部通过" left-arrow safe-area-inset-top fixed>
                <template #left>
					<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
				</template>

            </van-nav-bar>
        </div>
        <van-popup v-model="groupshow" round position="bottom" :style="{ height: '50%' }">
            <div class="popbox">
                <div>选择分部</div>
                <ul class="cardList">
                    <li @click="createshow = true">
                        <div class="ub ub-ac">
                            <div class="headpic ub ub-ac ub-pc" style="background-color: #1e1e2a;"><img style="width: .46rem;height: .46rem;" class="" src="../corporateClub/img/plusicon.png" /></div>
                            <div class="">
                                <div class="van-ellipsis">新建分部门</div>
                            </div>
                        </div>
                    </li>
                    <li v-for="(item,index) in dataList" @click="confirmGroup(item)">
                        <!-- 分组名称 -->
                        <div class="ub ub-ac">
                            <div class="headpic" :class="item.id=='-1'?'headpic2':''"><img :src="item.id!='-1'?item.image:'../corporateClub/img/notgroup2.png'" /></div>
                            <div class="">
                                <div class="van-ellipsis">{{item.name}}</div>
                                <div class="detail">
                                    {{item.subMinisterName?('分部长：'+item.subMinisterName):item.id!='-1'?('分部长：未设置'):''}} 成员数：{{item.totalNumber}}人
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </van-popup>
        <van-dialog v-model="createshow" :before-close="beforeClose" @confirm="submitCreate" :confirm-button-color="createGroupObj.fileList.length==0||!createGroupObj.name?'#71717f':''" cancel-button-color="#71717f" :title="createGroupObj.id?'编辑分部':'创建分部'" :confirm-button-text="createGroupObj.id?'编辑':'创建'"
            show-cancel-button>
            <div style="padding: .5rem;">
                <div class="ub ub-ver ub-pc">
                    <van-uploader v-model="createGroupObj.fileList" upload-icon="plus" :deletable="false" :max-count="1" :after-read="afterRead2"></van-uploader>
                </div>
                <div style="color: #71717f;font-size: .24rem;text-align: center;">选择部门形象</div>
                <van-field style="background-color: #1e1e2a;margin-top: .48rem;border-radius: .1rem;height: .64rem;padding: .1rem .32rem;" maxlength="16" v-model="createGroupObj.name" placeholder="请输入分部名称" />
            </div>
        </van-dialog>
        <div>
            <div class=" memberList applyList" v-if="memberList.length>0">
                <van-swipe-cell v-for="item in memberList">
                    <van-row>
                        <van-col span="4" class="createrHeadPic">
                            <div class="detail_headpic" :style="{'background-image': 'url(' + item.headPictureUrl + ')'}"></div>
                        </van-col>
                        <van-col span="11">
                            <div class="createrName van-ellipsis">
                                {{item.nickname}}
                            </div>
                            <div class="activityTime">
                                <span>申请时间:</span>
                                <span>{{renderTime(item.updateTime)}}</span>
                            </div>
                        </van-col>
                        <van-col span="9">
                            <div class="ub ub-ac ub-pj">
                                <div class="acceptStatus" @click="deleteApply(item)">拒绝</div>
                                <div class="acceptStatus3" @click="beforeclick(item)">通过</div>
                            </div>
                        </van-col>
                    </van-row>

                    <!-- <template slot="right">
						<van-button square type="danger" @click="deleteApply(item)" text="删除" />
					</template> -->
                </van-swipe-cell>
            </div>
            <div class="noData-box" v-else-if="memberList.length<=0&&upFinished">
                <img class="noData-img" src="../../common/img/noData.png" />
                <!-- <p class="noData-p">暂无数据</p> -->
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>

<script src="js/DateTime.js"></script>
<script src="../../common/js/network.js"></script>
<script src="js/exif.js"></script>
<script src="js/upload.js"></script>
<script src="../corporateClub/js/tool.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                clubId: "", //俱乐部id
                memberList: [],
                applyByself: [],
                inviteList: [],
                upFinished: false, //加载完全
                isCorporate: localStorage.getItem('isCorporate') ? parseInt(localStorage.getItem('isCorporate')) : 0,
                groupshow: false,
                pageIndex: 0,
                pageSize: 10,
                offset: 200, // 滚动条与底部距离小于 offset 时触发load事件
                dataList: [],
                createshow: false,
                createGroupObj: {
                    name: '',
                    fileList: [],
                    image: '',
                    clubId: getQueryString('id'),
                    creator: JSON.parse(localStorage.getItem('appInfo')).userId
                },
                clubGroupId: '',
                applyId: '',
                ifall: false,
            }
        },
        created() {
            this.clubId = getQueryString("id") || "1";
            this.applyList();
            window.popdone = null;
            if (this.isCorporate == 1) this.initData();
        },
        methods: {
            onclickLeft() {
                window.history.back(-1);
            },
            OnclickRight() {
                var _self = this;
                var mlength = _self.memberList.length;
                if (this.isCorporate != 1) {
                    for (var i = 0; i < mlength; i++) {
                        _self.handleApply2(_self.memberList[i], i)
                    }
                } else {
                    let applyByself = [];
                    let inviteList = [];
                    for (var i = 0; i < mlength; i++) {
                        if (_self.memberList[i].isMinisterInvite == "N") {
                            inviteList.push(_self.memberList[i]);
                        } else {
                            applyByself.push(_self.memberList[i]);
                        }
                    }
                    _self.inviteList = inviteList;
                    for (var i = 0; i < _self.inviteList.length; i++) {
                        _self.handleApply3(_self.inviteList[i], i)
                    }
                    if (applyByself.length > 0) {
                        this.applyByself = applyByself;
                        this.groupshow = true;
                        this.ifall = true;
                    }
                }
            },
            afterRead2(file) {
                this.overlayShow = true;
                uploadImg1(file, 'headpic', 0, res => {
                    console.log(res);
                    this.overlayShow = false;
                    if (res.code != 0) {
                        this.$toast("图片审核未通过，请重新上传！");
                    } else {
                        this.createGroupObj.image = res.url;
                    }
                })
            },
            beforeClose(action, done) { //提交前的判断
                window.popdone = done;
                if (action === 'confirm') {
                    if (!this.createGroupObj.image) {
                        this.$toast("请选择组别形象");
                        done(false)
                    }
                    if (!this.createGroupObj.name) {
                        this.$toast("请输入组别名称");
                        done(false)
                    }
                } else {
                    done();
                    this.resetcreateGroupObj();
                }

            },
            resetcreateGroupObj() { //重置分部编辑数据
                this.createGroupObj = {
                    name: '',
                    fileList: [],
                    url: '',
                    clubId: getQueryString('id'),
                    creator: JSON.parse(localStorage.getItem('appInfo')).userId
                }
            },
            submitCreate() { //编/创建分部
                console.log(this.createGroupObj)
                this.createshow = false;
                let _self = this;
                ajax({
                    type: "post",
                    url: !_self.createGroupObj.id ? "club/saveClubGroup" : "club/updateClubGroup",
                    data: _self.createGroupObj,
                    success: function(res) {
                        if (res.code == 0) {
                            _self.$toast(!_self.createGroupObj.id ? "创建分部成功" : "编辑分部成功");
                            _self.initData();
                            _self.resetcreateGroupObj();
                            window.popdone();
                        } else {
                            _self.$toast(res.msg);
                            window.popdone(false);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            initData() {
                let _self = this;
                ajax({
                    type: "get",
                    url: "club/queryClubGroup",
                    data: {
                        clubId: _self.clubId
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            _self.dataList = res.data;
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            //获取申请列表
            applyList() {
                var _self = this;
                ajax({
                    type: "post",
                    url: "club/applyList",
                    data: {
                        clubId: _self.clubId,
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            _self.memberList = res.data;
                            _self.upFinished = true;
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            beforeclick(item) {
                this.ifall = false;
                if (this.isCorporate != 1) {
                    this.handleApply(item)
                } else {
                    this.applyId = item.applyId;
                    if (item.isMinisterInvite == "N") {
                        this.handleApply(item, 1, item.clubGroupId);
                    } else {
                        this.groupshow = true;
                    }
                }
            },
            confirmGroup(item) {
                let _self = this;
                this.$dialog.confirm({
                    // title: '标题',
                    message: '确定加入该组吗？'
                }).then(() => {
                    this.clubGroupId = item.id;
                    if (this.clubGroupId == 'wfb') this.clubGroupId = '';
                    if (this.ifall) {
                        var mlength = _self.applyByself.length;
                        for (var i = 0; i < mlength; i++) {
                            _self.handleApply2(_self.applyByself[i], i)
                        }
                    } else {
                        this.handleApply({
                            applyId: this.applyId
                        });
                    }

                }).catch(() => {

                });

            },
            //处理申请 flag1 通过 2拒绝
            handleApply(item, flag, clubGroupId) {
                var _self = this;
                var agree = true;
                if (flag == 2) {
                    agree = false;
                }
                let params = {
                    clubId: _self.clubId,
                    applyId: item.applyId,
                    agree: agree
                }
                if (this.isCorporate == 1) params.clubGroupId = clubGroupId || this.clubGroupId;
                ajax({
                    type: "post",
                    url: "club/handleApply",
                    data: params,
                    success: function(res) {
                        // 0 成功
                        // 2003 参数错误
                        // 3001 已在该俱乐部
                        // 3002 已申请
                        if (res.code == 0) {
                            _self.groupshow = false;
                            _self.$toast("该申请已通过!")
                            _self.applyList();
                            localStorage.setItem("settingChange", 1);
                            _self.handleApplySuccess();

                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            //处理申请 flag1 通过 2拒绝
            handleApply2(item, index) {
                var _self = this;
                var agree = true;
                let params = {
                    clubId: _self.clubId,
                    applyId: item.applyId,
                    agree: agree
                }
                if (this.isCorporate == 1) params.clubGroupId = this.clubGroupId;
                ajax({
                    type: "post",
                    url: "club/handleApply",
                    data: params,
                    success: function(res) {
                        // 0 成功
                        // 2003 参数错误
                        // 3001 已在该俱乐部
                        // 3002 已申请
                        if (res.code == 0) {
                            if (index == _self.memberList.length - 1) {
                                _self.groupshow = false;
                                _self.$toast("申请已全部通过!")
                                _self.applyList();
                                localStorage.setItem("settingChange", 1);
                                _self.handleApplySuccess();
                            }
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            //处理申请 flag1 通过 2拒绝
            handleApply3(item, index) {
                var _self = this;
                var agree = true;
                let params = {
                    clubId: _self.clubId,
                    applyId: item.applyId,
                    agree: agree,
                    clubGroupId: item.clubGroupId
                }
                ajax({
                    type: "post",
                    url: "club/handleApply",
                    data: params,
                    success: function(res) {
                        // 0 成功
                        // 2003 参数错误
                        // 3001 已在该俱乐部
                        // 3002 已申请
                        if (res.code == 0) {
                            if (index == _self.inviteList.length - 1) {
                                _self.inviteList = [];
                                _self.groupshow = false;
                                _self.$toast("申请已全部通过!")
                                _self.applyList();
                                localStorage.setItem("settingChange", 1);
                                _self.handleApplySuccess();
                            }
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            renderTime(utc_datetime) {
                var T_pos = utc_datetime.indexOf('T');
                var Z_pos = utc_datetime.indexOf('.');
                var year_month_day = utc_datetime.substr(0, T_pos);
                var hour_minute_second = utc_datetime.substr(T_pos + 1, Z_pos - T_pos - 1);
                var new_datetime = year_month_day + " " + hour_minute_second; // 2017-03-31 08:02:06

                // 处理成为时间戳
                var timestamp = this.getTime(new_datetime);
                // 增加8个小时，北京时间比utc时间多八个时区
                // var timestamp = timestamp + 8 * 60 * 60 * 1000;

                // 时间戳转为时间
                var beijing_datetime = this.sjc2time("ymd3", timestamp);
                return beijing_datetime;

            },
            getTime(time) {
                var myDate = new Date(time);
                var u = navigator.userAgent;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isiOS) {
                    var t = new Date(time.replace(/-/g, '/')).getTime();
                } else {
                    var t = myDate.getTime();
                }
                return t;
            },
            sjc2time(id, sjc) {
                var datetime = new Date(sjc);
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() +
                    1;
                var month2 = datetime.getMonth() + 1 < 10 ? datetime.getMonth() + 1 : datetime.getMonth() + 1;
                var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                var date2 = datetime.getDate() < 10 ? datetime.getDate() : datetime.getDate();
                var hour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
                var minute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                var second = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                if (id == "y") {
                    return year;
                } else if (id == "d") {
                    return date;
                } else if (id == "ym") {
                    return year + "-" + month;
                } else if (id == "ymd") {
                    return year + "-" + month + "-" + date;
                } else if (id == "ymd3") {
                    return year + "." + month + "." + date;
                } else if (id == "ymd2") {
                    return year + "年" + month + "月" + date + "日";
                } else if (id == "ymdhm") {
                    return year + "-" + month + "-" + date + " " + hour + ":" + minute;
                } else if (id == "mdhm") {
                    return month + "月" + date + "日 " + hour + ":" + minute;
                } else if (id == "ymdhms") {
                    return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
                } else if (id == "ymdhm2") {
                    return year + "年" + month + "月" + date + "日 " + hour + ":" + minute;
                } else if (id == "ymdhm3") {
                    return year + "/" + month + "/" + date + " " + hour + ":" + minute;
                } else if (id == "md") {
                    return month + "-" + date;
                } else if (id == "md2") {
                    return month2 + "月" + date2 + "日";
                } else if (id == "hm") {
                    return hour + ":" + minute;
                } else if (id == "hms") {
                    return hour + ":" + minute + ":" + second;
                } else if (!id) {
                    return year + "-" + month + "-" + date;
                } else if (id == "mdhm2") {
                    return month + "-" + date + " " + hour + ":" + minute;
                } else if (id == "mdhm3") {
                    return month + "/" + date + " " + hour + ":" + minute;
                } else if (id == "dhms") {
                    return date + "," + hour + "," + minute + "," + second;
                }
            },
            handleApplySuccess() {
                var _self = this;
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) { //判断iPhone|iPad|iPod|iOS
                    try {
                        window.webkit.messageHandlers.lstNative.postMessage({
                            'method': 'clubMemberChange',
                        })
                    } catch (err) {
                        console.log('window.webkit.messageHandlers 回传Id failed')
                    }

                } else if (/(Android)/i.test(navigator.userAgent)) { //判断Android
                    window.android.clubMemberChange()
                }
            },
            deleteApply(item) {
                var _self = this;
                ajax({
                    type: "post",
                    url: "club/deleteApply",
                    data: {
                        clubId: _self.clubId,
                        applyId: item.applyId,
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            _self.applyList();
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            }
        }
    })
</script>

</html>