<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>创建俱乐部比赛(1/2)</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="css/clubCreateCompetition.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style type="text/css">
			.van-radio--horizontal {
				width: 30%;
				padding: .3rem 0 .3rem .6rem;
				margin-right: 0.5rem;
			}

			.van-radio--horizontal:last-child {
				margin-right: 0;
			}

			.van-radio__label {
				font-size: .32rem;
			}

			.van-radio__icon--checked .van-icon {
				background-color: #E60012;
				border-color: #E60012;
				width: 1.5em;
				height: 1.5em;
				font-size: .65em;
				line-height: 1.5;
			}

			.chosed .van-cell__value {
				color: #1F1F1F;
			}
			.van-cell__value span{
				overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
					max-width: 4.4rem;
			}
			.van-radio__label{
				color: #cfcfd2;
			}
			.van-radio__icon .van-icon{
				border-color: #71717f;
			}
			.van-radio__icon--checked .van-icon{
				border-color: transparent;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<div>
				<div style="border-bottom: 1px solid #1e1e2a;padding-bottom: .3rem;">
					<div style="">
						<div class="laberDiv van-ellipsis">
							比赛名称
						</div>
						<div style="padding:0 0.2rem 0.2rem 0.2rem;">
							<van-field v-model="form.mc" :input="titleChange()" class="club-input" style="min-height:1.3rem;" rows="2"
							 autosize type="textarea" maxlength="16" placeholder="请输入比赛名称吧～" show-word-limit />
						</div>
					</div>
				</div>
				<div style="border-bottom: 1px solid #1e1e2a">
					<div class="laberDiv">
						比赛模式
					</div>
					<div style="padding:0 0.2rem 0.2rem 0.2rem;">
						<van-radio-group @change="modeChange" v-model="submitform.mode" direction="horizontal">
							<van-radio name="2">倒计时跳</van-radio>
							<van-radio name="3">倒计数跳</van-radio>
						</van-radio-group>
					</div>
					<div style="margin-left: .5rem;border-top: 1px solid #1e1e2a;" v-if="submitform.mode==2" @click="countTimeShow = true">
						<van-cell title="倒计时长" :class="form.ms.indexOf('请选择')!=-1?'':'chosed'" is-link :value="form.ms"></van-cell>
					</div>
					<div  style="margin-left: .5rem;border-top: 1px solid #1e1e2a;" v-else-if="submitform.mode==3" @click="countNumberShow = true">
						<van-cell title="倒计数跳个数" :class="form.ms.indexOf('请选择')!=-1?'':'chosed'" is-link :value="form.ms"></van-cell>
					</div>
				</div>
				
				<div style="border-bottom: 1px solid #1e1e2a">
					<div class="laberDiv">
						比赛类型
					</div>
					<div style="padding:0 0.2rem 0.2rem 0.2rem;">
						<van-radio-group @change="typeChange" v-model="submitform.type" direction="horizontal">
							<van-radio name="personal">个人赛</van-radio>
							<van-radio name="team">团体赛</van-radio>
						</van-radio-group>
					</div>
					<div v-if="submitform.type=='team'" @click="clickTeam" style="margin-left: .5rem ;border-top: 1px solid #f5f5f5;">
						<van-cell :title="iscorporate==1?'团体赛部门':'团体赛人数'" :class="form.lx.indexOf('请选择')!=-1&&!localStorage.getItem('groupname')?'':'chosed'" is-link :value="form.lx"></van-cell>
					</div>
				</div>
				

				<van-button round class="submit" block :color="form.mc&&submitform.mode&&form.ms&&form.lx&&
				submitform.type?bgc:bgcgrey"
				 @click="submitFormData">下一步</van-button>

				<van-popup v-model="countTimeShow" position="bottom">
					<van-picker show-toolbar title="倒计时跳时长" :columns="countTimeColumns" :default-index="1" @cancel="countTimeShow = false"
					 @confirm="onCountTimeConfirm" />
				</van-popup>
				<van-popup v-model="countNumberShow" position="bottom">
					<van-picker show-toolbar title="倒计数跳个数" :columns="countNumberColumns" @cancel="countNumberShow = false" @confirm="onCountNumberConfirm" />
				</van-popup>
				<van-popup v-model="teamShow" position="bottom">
					<van-picker show-toolbar title="团体赛人数" :columns="teamColumns" @cancel="teamShow = false" @confirm="onteamConfirm" />
				</van-popup>

			</div>
		</div>
	</body>
	<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js "></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
	<script src="js/DateTime.js"></script>

	<script src="../../common/js/network.js"></script>
	<script>
		var handler = function(e) {
			e.preventDefault();
		}
		window.addEventListener('pageshow', function(event) {
			console.log("PageShow Event  " + event.persisted);
			console.log(event)
			if(localStorage.getItem('groupname')){
				window.showGroupName()
			}
			if (isIOS) {
				
			}
		})
		new Vue({
			el: '#app',
			data() {
				return {
					bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
					bgcgrey: '#999',
					isClick: false,
					activeNames: 0,
					matchName: '',
					iscorporate:localStorage.getItem('isCorporate')?parseInt(localStorage.getItem('isCorporate')):0,
					isSubmit: false,
					jlinput: false,
					countTimeColumns: ['30秒'],
					countTimeShow: false,
					countNumberColumns: [{
							values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
							defaultIndex: 1
						},
						{
							values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
							defaultIndex: 0
						},
						{
							values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
							defaultIndex: 0
						},
						{
							values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
							defaultIndex: 0
						}
					],
					countNumberShow: false,
					teamColumns: ["不限"],
					teamShow: false,
					form: JSON.parse(localStorage.getItem('competitionForm2'))||{
						ms: "",
						lx: "",
						mc: "",
						cs: "",
						yqm: "",
						jl: "",
						start: "",
						end: ""
					},
					submitform: JSON.parse(localStorage.getItem('competitionForm')) || {
						"startTime": "",
						"endTime": "",
						"name": "",
						"mode": "", //比赛模式: 2(倒计时)/3(倒计数)
						"type": "", //比赛类型: team(团队赛)/personal(个人赛)
						// "isOfficial": true,// true(官方比赛)，false(非官方比赛)
						"modeValue": "", //倒计时/秒, 倒计数/个
						"repeatTimes": "", //比赛  -1:表示不限制比赛次数
						// "invitationCode":"",//邀请码
						//"isVerify": true,//是否需要邀请码   true(需要)/
						"gameReward": "", //比赛奖励
						"teamPersonLimit": "" ,//团队人数
						clubGroupIdList:[],
					}
				};
			},
			watch: {
				countTimeShow: function(val) {
					if (val) {
						document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
							passive: false
						});
					} else {
						document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
							passive: false
						});
					}
				},
				countNumberShow: function(val) {
					if (val) {
						document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
							passive: false
						});
					} else {
						document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
							passive: false
						});
					}
				},
				teamShow: function(val) {
					if (val) {
						document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
							passive: false
						});
					} else {
						document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
							passive: false
						});
					}
				},

			},
			created() {
				for (let i = 1; i <= 60; i++) {
					this.countTimeColumns.push(i + '分');
				}

				for (let i = 2; i <= 50; i++) {
					this.teamColumns.push(i);
				}
				window.showGroupName = this.showGroupName

			},
			methods: {
				showGroupName(){
					if(localStorage.getItem('groupname')){
						let groupname = JSON.parse(localStorage.getItem('groupname'));
						let arr = [];
						groupname.forEach(d=>{
							arr.push(d.name);
						});
						this.form.lx = arr.toString();
					}
				},
				clickTeam(){
					if(this.iscorporate==1){
						localStorage.setItem("competitionForm",JSON.stringify(this.submitform));
						localStorage.setItem("competitionForm2",JSON.stringify(this.form));
						window.location.href='../corporateClub/chooseGroup.html?id='+getQueryString("id")+"&hiddenTitle=1&iscompetion=1";
					}else{
						this.teamShow = true;
					}
				},
				modeChange(name) { //比赛模式切换回调
					this.submitform.modeValue = "";
					if (name == 2) {
						this.countTimeShow = true
						this.form.ms = "请选择倒计时跳时长";
					} else {
						this.countNumberShow = true
						this.form.ms = "请选择倒计数跳个数";
					}

				},
				typeChange(name) { //比赛类型切换回调
					if (name == 'personal') {
						this.form.lx = '个人赛';
						// this.submitform.type = 'personal';
						this.submitform.teamPersonLimit = null;
					} else {
						this.form.lx = "请选择团体赛人数";
						if(this.iscorporate==1){
							this.form.lx = "请选择团体赛部门";
							this.submitform.teamPersonLimit = -1;
						}else{
							this.teamShow = true;
						}
					}
				},

				//倒计时的回调
				onCountTimeConfirm(value, index) {
					if (value == "60分") {
						this.form.ms = "1小时倒计时跳";
					} else {
						this.form.ms = value + "钟倒计时跳";
					}
					// if((!this.form.mc||this.form.ms.includes('钟倒计时跳')||this.form.ms.includes('个倒计数跳'))this.form.mc = this.form.ms;
					if(this.form.mc.includes('钟倒计时跳')||this.form.mc.includes('个倒计数跳')||!this.form.mc){
						this.form.mc = this.form.ms;
					}
					// this.submitform.mode = 2;
					if (index == 0) {
						this.submitform.modeValue = 30;
					} else {
						this.submitform.modeValue = index * 60;
					}
					this.countTimeShow = false;
					this.activeNames = 0;
				},
				//倒计数的回调
				onCountNumberConfirm(value, index) {
					let countNumber = value[0] * 1000 + value[1] * 100 + value[2] * 10 + value[3] * 1;
					if (countNumber < 50) {
						this.$toast('倒计数必须不小于50');
						return;
					}
					this.form.ms = countNumber + "个倒计数跳";
					if(this.form.mc.includes('钟倒计时跳')||this.form.mc.includes('个倒计数跳')||!this.form.mc){
						this.form.mc = this.form.ms;
					}
					// this.submitform.mode = 3;
					this.submitform.modeValue = countNumber;
					this.countNumberShow = false;
					this.activeNames = 0;
				},




				//团队人数的回调
				onteamConfirm(value, index) {
					this.form.lx = "团队赛" + value + "人";
					this.submitform.type = 'team';
					if (value == "不限") {
						this.submitform.teamPersonLimit = -1;
					} else {
						this.submitform.teamPersonLimit = value;
					}

					this.teamShow = false;
					this.activeNames = 0;
				},


				//最后的创建比赛
				submitFormData() {
					var _self = this;
					if (_self.isClick) {
						return;
					}
					if (!this.form.mc || !this.submitform.mode || !this.form.ms || !this.form.lx || !this.submitform.type) {
						return;
					}
					_self.isClick = true;
					this.checkStr(this.form.mc, function() {
						_self.checkSame(_self.form.mc,function(){
							_self.submitform.promoterId = JSON.parse(localStorage.getItem("appInfo")).userId;
							_self.submitform.clubId = getQueryString("id") || 10000111;
							_self.submitform.name = _self.form.mc;
							if(_self.form.lx!='个人赛'&&_self.iscorporate==1){
								if(localStorage.getItem("chooseGroup")){
									_self.submitform.clubGroupIdList = localStorage.getItem("chooseGroup").split(",");
									_self.submitform.clubGroupIdList.forEach((d,i)=>{
										if(d=='wfb')_self.submitform.clubGroupIdList[i] = '';
									})
								}else{
									_self.$toast("请先选择参赛部门!");
									_self.isClick = false;
									return;
								}
							}
							if (_self.form.ms) {
								if (!_self.form.mc) {
									_self.submitform.name = _self.form.ms;
									_self.form.mc = _self.form.ms;
								}
							}
							//进入比赛2
							localStorage.setItem('competitionForm', JSON.stringify(_self.submitform));
							_self.isClick = false;
							window.location.href = './clubCreateCompetition2.html';
						})
					})
				},

				titleChange() {
					this.form.mc = this.form.mc.replace(
						/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				},
				contentChange() {
					this.form.jl = this.form.jl.replace(
						/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				},
				checkStr(param, cb) {
					var that = this;
					ajax({
						type: "post",
						url: "contentSecurity/aliyun/textScan",
						data: {
							content: param
						},
						success: function(res) {
							if (res.code == 0) {
								cb()
							} else if (res.code == 4001) {
								that.$toast("输入的比赛名称不合法!");
								that.isClick = false;
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				checkSame(param,cb){
					var that = this;
					ajax({
						type: "post",
						url: "club/competition/checkname",
						data: {
							clubId:getQueryString("id"),
							name:param,
						},
						success: function(res) {
							if (res.code == 0) {
								cb()
							} else {
								that.$toast("比赛名称有重复!");
								that.isClick = false;
							}
						},
						error: function() {
							console.log("error")
						}
					})
				}

			}
		})
	</script>
</html>
