<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
	<title>创建俱乐部比赛(1/2)</title>
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
	<link rel="stylesheet" href="css/clubCreateCompetition.css">
	<link rel="stylesheet" href="../font/iconfont.css">
	<link href="../clubList_Detail/css/header.css" rel="stylesheet" type="text/css" />
	<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
		<script>
			// init vConsole
				        var vConsole = new VConsole();
				        console.log('Hello world');
				    </script> -->
	<style type="text/css">
		.van-radio--horizontal {
			width: 40%;
			padding: .3rem 0 .3rem .6rem;
			margin-right: 0.5rem;
		}

		.van-radio--horizontal:last-child {
			margin-right: 0;
		}

		.van-radio__label {
			font-size: .32rem;
		}

		.van-radio__icon--checked .van-icon {
			background-color: #E60012;
			border-color: #E60012;
			width: 1.5em;
			height: 1.5em;
			font-size: .65em;
			line-height: 1.5;
		}

		.chosed .van-cell__value {
			color: #1F1F1F;
		}

		.van-cell__value span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 4.4rem;
		}

		.van-radio__label {
			color: #cfcfd2;
		}

		.van-radio__icon .van-icon {
			border-color: #71717f;
		}

		.van-radio__icon--checked .van-icon {
			border-color: transparent;
		}
		textarea::placeholder {
			font-size: .24rem;
			color: #71717f!important;
		}
	</style>
</head>

<body>
	<div id="app" class="normalHeader" v-cloak>
		<div class="header">
			<van-nav-bar @click-left="onclickLeft" :title="'创建俱乐部比赛('+flag+'/2)'" left-arrow safe-area-inset-top fixed>
				<template #left>
					<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
				</template>

			</van-nav-bar>
		</div>
		<div v-if="flag==1">
			<div style="border-bottom: 1px solid #1e1e2a;padding-bottom: .3rem;">
				<div>
					<div class="laberDiv van-ellipsis">
						比赛名称
					</div>
					<div style="padding:0 0.2rem 0.2rem 0.2rem;">
						<van-field v-model="form.mc" class="club-input" style="min-height:1.3rem;" rows="2" autosize
							type="textarea" maxlength="16" placeholder="请输入比赛名称吧～" show-word-limit />
					</div>
				</div>
			</div>
			<div style="border-bottom: 1px solid #1e1e2a">
				<div class="laberDiv">
					比赛模式
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-radio-group @change="modeChange" v-model="submitform.mode" direction="horizontal">
						<van-radio name="2">倒计时跳</van-radio>
						<van-radio name="3">倒计数跳</van-radio>
					</van-radio-group>
				</div>
				<div style="margin-left: .5rem;border-top: 1px solid #1e1e2a;" v-if="submitform.mode==2"
					@click="countTimeShow = true">
					<van-cell title="倒计时长" :class="form.ms.indexOf('请选择')!=-1?'':'chosed'" is-link :value="form.ms">
					</van-cell>
				</div>
				<div style="margin-left: .5rem;border-top: 1px solid #1e1e2a;" v-else-if="submitform.mode==3"
					@click="countNumberShow = true">
					<van-cell title="倒计数跳个数" :class="form.ms.indexOf('请选择')!=-1?'':'chosed'" is-link :value="form.ms">
					</van-cell>
				</div>
			</div>

			<div style="border-bottom: 1px solid #1e1e2a">
				<div class="laberDiv">
					比赛类型
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-radio-group @change="typeChange" v-model="submitform.type" direction="horizontal">
						<van-radio name="personal">个人赛</van-radio>
						<van-radio name="team">团体赛</van-radio>
					</van-radio-group>
				</div>
				<div v-if="submitform.type=='team'" @click="clickTeam"
					style="margin-left: .5rem ;border-top: 1px solid #1e1e2a;">
					<van-cell :title="isCorporate==1?'团体赛部门':'团体赛人数'" :class="form.lx.indexOf('请选择')!=-1?'':'chosed'"
						is-link :value="form.lx"></van-cell>
				</div>
			</div>


			<van-button round class="submit" block :color="form.mc&&submitform.mode&&form.ms&&form.lx&&
				submitform.type?bgc:bgcgrey" @click="goNext1">下一步</van-button>

			<van-popup v-model="countTimeShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="倒计时跳时长" :columns="countTimeColumns" :default-index="1"
					@cancel="countTimeShow = false" @confirm="onCountTimeConfirm" />
			</van-popup>
			<van-popup v-model="countNumberShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="倒计数跳个数" :columns="countNumberColumns" @cancel="countNumberShow = false"
					@confirm="onCountNumberConfirm" />
			</van-popup>
			<van-popup v-model="teamShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="团体赛人数" :columns="teamColumns" @cancel="teamShow = false"
					@confirm="onteamConfirm" />
			</van-popup>
		</div>

		<div v-else-if="flag==2">
			<div @click="playTimesShow = true" style="border-bottom: .02rem solid #1e1e2a;">
				<van-cell title="比赛次数" :class="form.cs==''?'':'chosed'" is-link :value="form.cs||'请选择比赛次数'">
				</van-cell>
			</div>
			<div @click="startTimeShow = true" style="border-bottom: .02rem solid #1e1e2a;">
				<van-cell title="开始时间" :class="form.start==''?'':'chosed'" is-link :value="form.start||'请选择开始时间'">
				</van-cell>
			</div>
			<div @click="endTimeShow = true" style="border-bottom: .02rem solid #1e1e2a;">
				<van-cell title="结束时间" :class="form.end==''?'':'chosed'" is-link :value="form.end||'请选择结束时间'">
				</van-cell>
			</div>

			<div style="">
				<div class="laberDiv">
					比赛奖励
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-radio-group @change="gameRewardChange" v-model="submitform.gameReward" direction="horizontal">
						<van-radio name="无奖励">无奖励</van-radio>
						<van-radio name="自定义奖励">自定义奖励</van-radio>
					</van-radio-group>
				</div>
			</div>
			<div v-if="jlinput" style="border-bottom: .008rem solid #1e1e2a;padding-bottom: .3rem;">
				<div style="">
					<div class="laberDiv">
						自定义奖励
					</div>
					<div style="padding:0 0.35rem 0.2rem 0.35rem;">
						<van-field v-model="form.jl" class="club-input" style="min-height:1.3rem;" rows="2" autosize
							type="textarea" maxlength="20" placeholder="请输入自定义奖励" show-word-limit />
					</div>
				</div>
			</div>


			<van-button round class="submit" block :color="submitform.repeatTimes&&submitform.startTime&&submitform.endTime&&submitform.gameReward
				 ?bgc:bgcgrey" @click="submitFormData">创建</van-button>

			<van-popup v-model="playTimesShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="比赛次数" :columns="playTimesColumns" :default-index="2"
					@cancel="playTimesShow = false" @confirm="onplayTimesConfirm" />
			</van-popup>
			<van-popup v-model="startTimeShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="开始时间" :columns="startTimeColumns" @cancel="startTimeShow = false"
					@confirm="onstartTimeConfirm" @change="onstartTimeChange" />
			</van-popup>

			<van-popup v-model="endTimeShow" position="bottom">
				<van-picker confirm-button-text="确定" show-toolbar title="结束时间" :columns="endTimeColumns" @cancel="endTimeShow = false"
					@confirm="onendTimeConfirm" @change="onendTimeChange" />
			</van-popup>
		</div>



		<van-popup v-model="iframeShow" round position="right" :style="{ height: '100%' ,width:'100%'}">
			<iframe :src="iframeSrc" width="100%" height="100%" frameborder="0"></iframe>
		</van-popup>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="js/DateTime.js"></script>

<script src="../../common/js/network.js"></script>
<script>
	var handler = function (e) {
		e.preventDefault();
	}
	var vm;
	new Vue({
		el: '#app',
		data() {
			return {
				flag: 1,
				bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
				clubId: getQueryString("id"),
				bgcgrey: '#999',
				isClick: false,
				matchName: '',
				isCorporate: localStorage.getItem('isCorporate') ? parseInt(localStorage.getItem('isCorporate')) :
					0,
				jlinput: false,
				countTimeColumns: ['30秒'],
				countTimeShow: false,
				countNumberColumns: [{
						values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						defaultIndex: 1
					},
					{
						values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						defaultIndex: 0
					},
					{
						values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						defaultIndex: 0
					},
					{
						values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
						defaultIndex: 0
					}
				],
				countNumberShow: false,
				teamColumns: ["不限"],
				teamShow: false,

				playTimesShow: false,
				playTimesColumns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '不限次数，比赛期间取最好成绩'],


				startTimeColumns: [],
				startTimeShow: false,
				startTime: [],

				endTimeColumns: [],
				endTimeShow: false,
				form: {
					ms: "",
					lx: "",
					mc: "",
					cs: "",
					yqm: "",
					jl: "",
					start: "",
					end: ""
				},
				submitform: {
					startTime: "",
					endTime: "",
					name: "",
					mode: "", //比赛模式: 2(倒计时)/3(倒计数)
					type: "", //比赛类型: team(团队赛)/personal(个人赛)
					// "isOfficial": true,// true(官方比赛)，false(非官方比赛)
					modeValue: "", //倒计时/秒, 倒计数/个
					repeatTimes: "", //比赛  -1:表示不限制比赛次数
					// "invitationCode":"",//邀请码
					//"isVerify": true,//是否需要邀请码   true(需要)/
					gameReward: "", //比赛奖励
					teamPersonLimit: "", //团队人数
					clubGroupIdList: [],
				},
				iframeSrc: "",
				iframeShow: false,
				iframe_peopleList: [],
				iframe_groupList: [],
				iframe_groupNameList: []
			};
		},
		watch: {
			countTimeShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			},
			countNumberShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			},
			teamShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			},
			playTimesShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			},
			startTimeShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			},
			endTimeShow: function (val) {
				if (val) {
					document.getElementsByTagName('body')[0].addEventListener('touchmove', this.handler, {
						passive: false
					});
				} else {
					document.getElementsByTagName('body')[0].removeEventListener('touchmove', this.handler, {
						passive: false
					});
				}
			}

		},
		created() {
			vm = this
			for (let i = 1; i <= 60; i++) {
				this.countTimeColumns.push(i + '分钟');
			}

			for (let i = 2; i <= 50; i++) {
				this.teamColumns.push(i);
			}
			var startTime = DateTime.initStart(2);
			this.startTimeColumns = [{
					values: Object.keys(startTime),
				},
				{
					values: [],
				}
			]
			this.startTime = startTime;
			//先初始化结束时间
			this.initEndTime();

		},
		methods: {
			onclickLeft() {
				if (this.flag > 1) {
					this.flag--
				} else {
					window.history.back()
				}
			},
			showGroupName() {
				this.form.lx = this.iframe_groupNameList.toString();
			},
			clickTeam() {
				if (this.isCorporate == 1) {
					this.iframeSrc = `../corporateClub/chooseGroup.html?id=${this.clubId}&iscompetion=1`
					this.iframeShow = true
				} else {
					this.teamShow = true;
				}
			},
			modeChange(name) { //比赛模式切换回调
				this.submitform.modeValue = "";
				if (name == 2) {
					this.countTimeShow = true
					this.form.ms = "请选择倒计时跳时长";
				} else {
					this.countNumberShow = true
					this.form.ms = "请选择倒计数跳个数";
				}

			},
			typeChange(name) { //比赛类型切换回调
				if (name == 'personal') {
					this.form.lx = '个人赛';
					this.submitform.teamPersonLimit = null;
				} else {
					this.form.lx = "请选择团体赛人数";
					if (this.isCorporate == 1) {
						this.form.lx = "请选择团体赛部门";
						this.submitform.teamPersonLimit = -1;
					} else {
						this.teamShow = true;
					}
				}
			},

			//倒计时的回调
			onCountTimeConfirm(value, index) {
				if (value == "60分") {
					this.form.ms = "1小时倒计时跳";
				} else {
					this.form.ms = value + "倒计时跳";
				}
				// if((!this.form.mc||this.form.ms.includes('钟倒计时跳')||this.form.ms.includes('个倒计数跳'))this.form.mc = this.form.ms;
				if (this.form.mc.includes('倒计时跳') || this.form.mc.includes('个倒计数跳') || !this.form.mc) {
					this.form.mc = this.form.ms;
				}
				// this.submitform.mode = 2;
				if (index == 0) {
					this.submitform.modeValue = 30;
				} else {
					this.submitform.modeValue = index * 60;
				}
				this.countTimeShow = false;
			},
			//倒计数的回调
			onCountNumberConfirm(value, index) {
				let countNumber = value[0] * 1000 + value[1] * 100 + value[2] * 10 + value[3] * 1;
				if (countNumber < 50) {
					this.$toast('倒计数必须不小于50');
					return;
				}
				this.form.ms = countNumber + "个倒计数跳";
				if (this.form.mc.includes('钟倒计时跳') || this.form.mc.includes('个倒计数跳') || !this.form.mc) {
					this.form.mc = this.form.ms;
				}
				// this.submitform.mode = 3;
				this.submitform.modeValue = countNumber;
				this.countNumberShow = false;
			},




			//团队人数的回调
			onteamConfirm(value, index) {
				this.form.lx = "团队赛" + value + "人";
				this.submitform.type = 'team';
				if (value == "不限") {
					this.submitform.teamPersonLimit = -1;
				} else {
					this.submitform.teamPersonLimit = value;
				}

				this.teamShow = false;
			},


			//最后的创建比赛
			goNext1() {
				if (!this.form.mc || !this.submitform.mode || !this.form.ms || !this.form.lx || !this.submitform
					.type) {
					return;
				}
				this.checkStr(this.form.mc)
			},


			checkStr(param) {
				ajax({
					type: "post",
					url: "contentSecurity/aliyun/textScan",
					data: {
						content: param
					}
				}).then(res => {
					if (res.code == 0) {
						this.checkSame(param)
					} else if (res.code == 4001) {
						this.$toast("输入的比赛名称不合法!");
					}
				})
			},
			checkSame(param) {
				ajax({
					type: "post",
					url: "club/competition/checkname",
					data: {
						clubId: getQueryString("id"),
						name: param,
					}
				}).then(res => {
					if (res.code == 0) {
						this.submitform.promoterId = JSON.parse(localStorage.getItem("appInfo")).userId;
						this.submitform.clubId = getQueryString("id") || 10000111;
						this.submitform.name = this.form.mc;
						if (this.form.lx != '个人赛' && this.isCorporate == 1) {
							if (this.iframe_groupList.length > 0) {
								this.submitform.clubGroupIdList = this.iframe_groupList
							} else {
								this.$toast("请先选择参赛部门!");
								return;
							}
						}
						if (this.form.ms) {
							if (!this.form.mc) {
								this.submitform.name = this.form.ms;
								this.form.mc = this.form.ms;
							}
						}
						this.flag = 2
					} else {
						this.$toast("比赛名称有重复!");
					}
				})
			},



			gameRewardChange(name) {
				if (name == '无奖励') {
					this.form.jl = '无奖励';
					this.jlinput = false;
				} else {
					this.form.jl = '';
					this.jlinput = true;
				}
			},
			//比赛次数的回调
			onplayTimesConfirm(value, index) {
				if (index == 10) {
					this.form.cs = value;
					this.submitform.repeatTimes = -1;
				} else {
					this.form.cs = value + "次内取最好成绩"
					this.submitform.repeatTimes = value;
				}
				this.playTimesShow = false;
			},
			//开始时间的回调
			onstartTimeConfirm(value, index) {
				if (value[0] == "立即开始") {
					var nowTime = DateTime.timeStamp2String('ymdhm');
					this.form.start = DateTime.timeStamp2String('mdhm');

					this.submitform.startTime = DateTime.getSjc(nowTime);
					this.initEndTime(DateTime.sjc2time('ymdhms', DateTime.getSjc(nowTime) + 3600000));
				} else {
					this.form.start = DateTime.sjc2time('mdhm2', DateTime.getSjc(value[0] + " " + value[1].text))

					this.submitform.startTime = DateTime.getSjc(value[0] + " " + value[1].text);
					this.initEndTime(value[0] + " " + value[1].text);
				}
				this.form.end = "";
				this.submitform.endTime = "";
				this.startTimeShow = false;

			},
			//开始时间的改变
			onstartTimeChange(picker, value, index) {
				picker.setColumnValues(1, this.startTime[value[0]]);
			},
			//初始化结束时间
			initEndTime(time) {
				var num = 5;
				// if(!this.submitform.isVerify){
				// 	var endTime = DateTime.initEnd(time);
				// 	num=5;
				// }else{
				var endTime = DateTime.initEnd(time, 2);
				num = 1
				//}
				if (time) {
					var starth = DateTime.timeStamp2String("h", DateTime.getTime(time))
					var endh = Number(starth) + num;
				} else {
					var starth = DateTime.getHours()
					var endh = Number(starth) + num;
				}

				if (endh > 23) {
					this.endTimeColumns = [{
							values: Object.keys(endTime),
						},
						{
							values: endTime[DateTime.getDateByNum(1, time)],
						}
					]
				} else {
					this.endTimeColumns = [{
							values: Object.keys(endTime),
						},
						{
							values: endTime[DateTime.getDateByNum(0, time)],
						}
					]
				}
				this.endTime = endTime;
			},
			//结束时间的回调
			onendTimeConfirm(value, index) {
				this.form.end = DateTime.sjc2time('mdhm2', DateTime.getSjc(value[0] + " " + value[1].text))
				this.submitform.endTime = DateTime.getSjc(value[0] + " " + value[1].text);
				if (this.submitform.startTime) {
					var timeArray = DateTime.needYearOrNot2(this.submitform.startTime, this.submitform.endTime);
					this.form.start = timeArray[0];
					this.form.end = timeArray[1];
				}
				this.endTimeShow = false;
				
			},
			//结束时间的改变
			onendTimeChange(picker, value, index) {
				//this.form.end = value[0] + " " + value[1].text;
				picker.setColumnValues(1, this.endTime[value[0]]);
			},

			//最后的创建比赛
			submitFormData() {
				if (this.isClick) {
					return;
				}

				if (!this.submitform.repeatTimes || !this.submitform.startTime || !this.submitform.endTime || !this
					.submitform.gameReward) {
					return;
				}
				this.isClick = true
				this.submitform.gameReward = this.form.jl;



				for (var key in this.submitform) {
					console.log(key + ":" + this.submitform[key]);
					if (this.submitform[key] === "") {
						this.isClick = false;
						return;
					}
				}
				ajax({
					type: "post",
					url: "club/competition/create",
					data: this.submitform,
				}).then(res => {
					if (res.code == 0) {
						this.$toast("比赛创建成功！");

						this.gotoDetail(res.data);
					} else {
						this.isClick = false;
						this.$toast(res.msg);
					}
				})

			},
			gotoDetail(item) {
				window.location.replace("clubCompetitionDetail.html?id=" + item[0].id + "&clubId=" + item[0].clubId)
			}

		}

	})
</script>

</html>