<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>创建俱乐部(3/3)</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="css/clubCreateCompetition.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style type="text/css">
			.van-cell::after {
				border-bottom: none;
			}

			.van-hairline--top-bottom::after,
			.van-hairline-unset--top-bottom::after {
				border-width: 0;
			}

			.clubtype {
				font-size: .24rem;
				vertical-align: middle;
				text-align: center;
				color: #999;
			}

			.clubtype .clubtypeicon {
				width: .72rem;
				height: .72rem;
				border-radius: 100%;
				background-color: #1E1E2A;
				margin: 0 auto .2rem;
			}

			.clubtype .active {
				background-color: #1182ff;
			}

			.clubtag .active {
				background-color: #ff7518;
			}



			.ctype img:nth-child(3) {
				width: .48rem;
				height: .32rem;
			}

			.ctype img:nth-child(4) {
				width: .40rem;
				height: .36rem;
			}

			.ctype img:nth-child(1) {
				width: .48rem;
				height: .36rem;
			}

			.ctype img:nth-child(2) {
				width: .48rem;
				height: .48rem;
			}

			.contentSpan {
				font-size: 0.28rem;
				float: right;
			}

			.clubtag .clubtypeicon img {
				width: .32rem !important;
				height: .48rem !important;
			}

			.cellbox {
				border-bottom: .02rem solid #1E1E2A;
				height: 1.2rem;
				line-height: 1.2rem;
			}

			.van-switch {
				width: 1.2rem;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<div>
				<div @click="areaShow=true" class="cellbox ub ub-ac ub-pj" style="">
					<van-cell title="所在城市" is-link>
						<template slot="title">
							<span>所在城市</span>
							<span v-if="form.cs" class="contentSpan">{{form.cs}}</span>
						</template>
					</van-cell>
				</div>
				<div class="ctype" style="border-bottom: .02rem solid #1E1E2A;padding:0 0 .4rem 0;">
					<div class="van-cell"><span>俱乐部类型</span></div>
					<div class="ub ub-ad ub-ac">
						<div class="clubtype" @click="submitform.type = '01'">
							<div class="clubtypeicon ub ub-ac ub-pc" :class="submitform.type=='01'?'active':''">
								<img src="img/clubtype_school.png" alt="">
							</div>
							<div>学校</div>
						</div>
						<div class="clubtype" @click="submitform.type = '05';if(!form.yqm&&!form.invitecode)noCode();if(form.yqm)form.invitecode=false">
							<div class="clubtypeicon ub ub-ac ub-pc" :class="submitform.type=='05'?'active':''">
								<img style="width: .4rem;height: .4rem;" src="img/clubtype_company.png" alt="">
							</div>
							<div>企事业单位</div>
						</div>
						<div class="clubtype" @click="submitform.type = '03'">
							<div class="clubtypeicon ub ub-ac ub-pc" :class="submitform.type=='03'?'active':''">
								<img src="img/clubtype_gym.png" alt="">
							</div>
							<div>健身房</div>
						</div>
						<div class="clubtype" @click="submitform.type = '04'">
							<div class="clubtypeicon ub ub-ac ub-pc" :class="submitform.type=='04'?'active':''">
								<img src="img/clubtype_hobby.png" alt="">
							</div>
							<div>爱好者</div>
						</div>
					</div>
				</div>
				<div class="ub ub-ac ub-pj cellbox">
					<div class="van-cell"><span>是否需要申请加入</span></div>
					<van-switch style="margin-right: .3rem;" @change="isclubpublic" active-color="#07c160" v-model="form.yqm" size="20"></van-switch>
				</div>
				<div class="ub ub-ac ub-pj cellbox" v-if="submitform.type=='05'">
					<div class="van-cell"><span>是否需要邀请码</span></div>
					<van-switch style="margin-right: .3rem;" @change="isclubinviteCode" active-color="#07c160" v-model="form.invitecode"
					 size="20"></van-switch>
				</div>
				<div>
					<div class="van-cell"><span>俱乐部标签</span></div>
					<van-row type="flex" justify="space-around">
						<van-col span="6">
							<div class="clubtype clubtag" @click="submitform.label='00';clubtag=1;">
								<div class="clubtypeicon ub ub-ac ub-pc" style="margin:0 auto .2rem;" :class="submitform.label=='00'?'active':''">
									<img src="img/jumpskip.png" alt="">
								</div>
								<div>跳绳</div>
							</div>
						</van-col>
						<van-col span="6"></van-col>
						<van-col span="6"></van-col>
						<van-col span="6"></van-col>
					</van-row>
				</div>

				<van-button round class="submit" block @click="submitFormData()" :color="form.cs&&clubtag&&submitform.type?bgc:bgcgrey">创建</van-button>
				<van-popup v-model="areaShow" position="bottom">
					<van-area :area-list="areaList" @confirm="areaConfirm" @cancel="areaShow=false" />
				</van-popup>
				<van-overlay :show="overlayShow" @click="show = false" style="align-items: center;display: flex;justify-content: center;">
					<van-loading size="0.7rem" color="#fff" vertical>
						<p style="color:#fff;font-size:0.24rem">正在创建...</p>
					</van-loading>
				</van-overlay>
			</div>
		</div>
	</body>
	<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js "></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
	<script src="js/area.js"></script>

	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
					bgcgrey: '#999',
					isClick: false,
					clubtype: null,
					clubtag: null,
					isSubmit: false,
					areaShow: false,
					overlayShow: false,
					switchChecked: false,
					form: {
						cs: "",
						yqm: true,
						invitecode: false
					},
					submitform: JSON.parse(localStorage.getItem('clubForm')) || {},
				};
			},
			created() {
				console.log(this.submitform)
			},
			methods: {
				//地址选择回调
				areaConfirm(item) {
					this.submitform.province = item[0].name;
					this.submitform.city = item[1].name;
					if(item[2])this.submitform.county = item[2].name
					else this.submitform.county=""
					
					this.form.cs = this.submitform.province + this.submitform.city + this.submitform.county;
					this.activeNames = 0;
					this.areaShow = false;
				},
				//选择公开
				noCode() {
					this.form.yqm = false;
					this.submitform.isPublic = "Y";
					this.activeNames = 0;
				},
				//生成邀请码
				createCode() {
					this.submitform.isPublic = "N";
					this.form.yqm = true;
					this.activeNames = 0;
				},
				isclubpublic(val) {
					console.log(val)
					if (val) this.submitform.isPublic = "N"
					else this.submitform.isPublic = "Y";
					if (this.submitform.type == '05') {
						this.form.invitecode = !val;
						this.submitform.isInviteCode = val ? "N" : "Y";
					}
				},
				isclubinviteCode(val) {
					if (val) {
						this.noCode();
						this.submitform.isInviteCode = "Y"
					} else {
						this.createCode()
						this.submitform.isInviteCode = "N"
					}
				},
				//提交表单数据
				submitFormData() {
					var _self = this;
					if (!this.form.cs || !this.clubtag || !this.submitform.type) return;
					if (_self.isClick) {
						return;
					}
					if(this.submitform.type=='05'){
						var appInfo = JSON.parse(localStorage.getItem("appInfo"));
						var version = appInfo.appVersion;
						version = version.split(".");
						if (isIOS) {
							if (parseInt(version[version.length - 1]) < 1167) {
								this.$toast("请先升级到最新版本后再创建企事业俱乐部");
								return
							}
						} else if (isAndroid) {
							if (parseInt(version[version.length - 1]) < 1143) {
								this.$toast("请先升级到最新版本后再创建企事业俱乐部");
								return
							}
						}
					}
					_self.isClick = true
					this.isSubmit = true;
					this.submitform.creator = JSON.parse(localStorage.getItem("appInfo")).userId;
					_self.submitFormDataSecond();
				},
				submitFormDataSecond() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/saveClub",
						data: _self.submitform,
						success: function(res) {
							if (res.code == 0) {
								_self.overlayShow = false;
								_self.$toast("俱乐部创建成功！");
								// _self.growthadd();
								localStorage.removeItem('clubForm')
								if (res.data.invite_code) {
									_self.$dialog.confirm({
											title: '邀请码',
											showCancelButton: true,
											message: res.data.invite_code,
											confirmButtonText: '复制',
											cancelButtonText: '我知道了'
										})
										.then(() => {
											// on confirm
											if (isAndroid) {
												const range = document.createRange();
												range.selectNode(document.getElementsByClassName('van-dialog__message--has-title'));
												const selection = window.getSelection();
												if (selection.rangeCount > 0) selection.removeAllRanges();
												selection.addRange(range);
												document.execCommand('copy');
											} else {
												Interaction.appNative('clipboardCopy', {
													str: res.data.invite_code
												});
											}
											setTimeout(function() {
												_self.gotoDetail(res.data.clubId);
											}, 500);
										})
										.catch(() => {
											// on cancel
											setTimeout(function() {
												_self.gotoDetail(res.data.clubId);
											}, 500);
										});
								} else {
									setTimeout(function() {
										_self.gotoDetail(res.data.clubId);
									}, 500);
								}
							} else if (res.code == 3000) {
								_self.isClick = false;
								_self.overlayShow = false;
								_self.$toast("该俱乐部名称已存在！~");
							} else {
								_self.isClick = false;
								_self.overlayShow = false;
								_self.$toast(res.msg);
							}
						},
						error: function() {
							_self.isClick = false;
							console.log("error")
						}
					})




				},
				growthadd() {
					var _self = this;
					ajax({
						type: "post",
						url: "grow/addGrowth",
						data: {
							actionId: "1030"
						},
						success: function(res) {
							if (res.code == 0) {} else {}
						},
						error: function() {
							console.log("error")
						}
					})
				},

				gotoDetail(clubId) {
					if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) { //判断iPhone|iPad|iPod|iOS
						try {
							window.webkit.messageHandlers.lstNative.postMessage({
								'method': 'clubToDetail',
								'clubDetailID': clubId
							})
						} catch (err) {
							console.log('window.webkit.messageHandlers failed')
						}

					} else if (/(Android)/i.test(navigator.userAgent)) { //判断Android
						var str = 'clubId=' + clubId;
						window.android.clubToDetail(str);
					}
					//this.isClick = false;
					window.location.href = "../clubList_Detail/clubDetailJoined.html?id=" + clubId + "&userId=" + JSON.parse(
						localStorage.getItem("appInfo")).userId + "&isMinister=Y&isJoin=Y&isCorporate=1"
				},
			}
		})
	</script>
