<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
	<title>部长设置</title>
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">

	<link rel="stylesheet" href="../font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../clubList_Detail/css/header.css" />
	<link rel="stylesheet" type="text/css" href="css/memberSetting.css" />
	<script src="../corporateClub/js/clipboard.min.js"></script>
	<script src="js/upload.js"></script>


	<style type="text/css">
		.redPoint {
			width: 0.08rem;
			border-radius: 50%;
			height: 0.08rem;
			background-color: red;
			display: inline-block;
			position: relative;
			top: -0.2rem;
		}

		.smallpic {
			width: .72rem;
			height: .72rem;
			border-radius: .1rem;
			vertical-align: middle;
		}

		.van-uploader__preview,
		.van-uploader__preview-image {
			width: .72rem;
			height: .72rem;
			border-radius: .1rem;
			vertical-align: middle;
			margin-top: .1rem;
			/* display: none; */
		}
	</style>
</head>

<body>
	<div id="app" class="normalHeader" v-cloak>
		<div class="header">
			<van-nav-bar @click-left="onclickLeft" title="俱乐部设置" left-arrow safe-area-inset-top fixed>
				<template #left>
					<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
				</template>
			</van-nav-bar>
		</div>
		<div class="detailBox">
			<div class="listBox">
				<div>俱乐部名称</div>
				<div class="rightBox" @click="goClubName">
					{{submitform.name}}
					<span v-if="submitform.self.isMinister=='Y'" class="icon iconfont icon-tongyong-gengduo"
						style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox">
				<div>俱乐部形象</div>
				<div class="rightBox">
					<template v-if="submitform.self.isMinister=='Y'">
						<van-uploader v-model="fileList" :max-count="1" :after-read="afterRead" :deletable=false>
							<template #preview-cover="{ file }">
							</template>
							<van-uploader>
								<img class="smallpic" :src="submitform.photo" />
					</template>
					<template v-else>
						<img class="smallpic" :src="submitform.photo" />
					</template>
					<span v-if="submitform.self.isMinister=='Y'" class="icon iconfont icon-tongyong-gengduo"
						style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox">
				<div>俱乐部简介</div>
				<div class="rightBox" @click="goDesc">
					<span v-if="submitform.self.isMinister=='Y'" class="icon iconfont icon-tongyong-gengduo"
						style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" v-if="submitform.self.isMinister=='Y'">
				<div>是否需要申请加入</div>
				<div class="rightBox">
					<van-switch @change="ispublic" active-color="#07c160" v-model="publicFlag" size="20"></van-switch>
				</div>
			</div>
			<div class="listBox" v-if="submitform.type=='05'&&!publicFlag">
				<div>俱乐部邀请码</div>
				<div class="rightBox" data-clipboard-target="#INcode" id="inviteBtn" style="cursor:pointer;"
					@click="copyInvite()">
					<div id="INcode" style="font-size: .28rem;margin-right: .1rem;">{{submitform.inviteCode}}</div>
					<img style="width: .3rem;" src="../corporateClub/img/copyicon_white.png" alt="">
				</div>
			</div>
			<div class="listBox " style="border-bottom: 4px solid #1e1e2a;">
				<div>所在城市</div>
				<div class="rightBox">
					{{(submitform.province||"")+(submitform.city||"")+(submitform.county||"")}}
				</div>
			</div>
			<div class="listBox" style="border-bottom: 4px solid #1e1e2a;" v-if="submitform.type=='05'">
				<div>我在俱乐部的昵称</div>
				<div class="rightBox" @click="gotoNickName">
					{{submitform.nickname}}
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" v-if="submitform.self.isMinister=='Y'" @click="gotoNotice">
				<div>发通知</div>
				<div class="rightBox">
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" v-if="submitform.type=='05'" @click="gotoGroupManage">
				<div>部门管理</div>
				<div class="rightBox">
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox">
				<div>成员列表</div>
				<div class="rightBox" @click="gotoMemberList(1)">
					<div>
						{{submitform.memberNumber?submitform.memberNumber+'人':''}}
					</div>
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" @click="gotoMemberList(2)">
				<div>{{submitform.self.isMinister=='Y'?'部长转让':'分部长转让'}}</div>
				<div class="rightBox" >
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" v-if="applyIsPublic=='N'&&submitform.self.isMinister=='Y'"
				style="border-bottom: 4px solid #1e1e2a;">
				<div>申请列表 <span v-if="applyMemberList.length>0" class="redPoint"></span></div>
				<div class="rightBox" @click="gotoApplyList">
					<div>
						{{applyMemberList.length+'人'}}
					</div>
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" v-if="submitform.type!='05'" style="border-bottom: 4px solid #1e1e2a;" @click="goToDownload">
				<div>下载数据 </div>
				<div class="rightBox">
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
			<div class="listBox" @click="historyList()">
				<div>我的参与 </div>
				<div class="rightBox">
					<span class="icon iconfont icon-tongyong-gengduo" style="font-size: 0.3rem;"></span>
				</div>
			</div>
		</div>
		<van-overlay :show="overlayShow" @click="show = false"
			style="align-items: center;display: flex;justify-content: center;">
			<van-loading size="0.7rem" color="#fff" vertical>
				<p style="color:#fff;font-size:0.24rem">正在上传图片...</p>
			</van-loading>
		</van-overlay>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>

<script src="../../common/js/network.js"></script>
<script type="text/javascript">
	
	new Vue({
		el: '#app',
		data() {
			return {
				isClick: false,
				clubId: "",
				overlayShow: false,
				applyMemberList: [],
				applyIsPublic: "",
				publicFlag: false,
				isSubmit: false,
				fileList: [],
				form: {
					bq: "",
					lx: "",
					mc: "",
					cs: "",
					yqm: "",
					jj: ""
				},
				submitform: {
					"name": "",
					"province": "",
					"city": "",
					"county": "",
					"isPublic": "", // Y(官方比赛)，N(非官方比赛)
					"isinvite": "",
					"introduce": "", //简介
					"photo": "",
					self: {
						isMinister: "N"
					}
				}

			};
		},
		mounted() {
			window.initData = this.initData;
		},
		created() {
			this.clubId = getQueryString("id");
			this.submitform=Object.assign(this.submitform,localStorage.getItem("clubObj"))
			this.initData();
		},
		methods: {
			onclickLeft() {
				window.history.back(-1)
			},
			goClubName() {
				if (this.submitform.self.isMinister != 'Y') return;
				localStorage.setItem('clubForm', JSON.stringify(this.submitform));
				window.location.href = 'ministerSettingSecond.html?flag=1'
			},
			goDesc() {
				if (this.submitform.self.isMinister != 'Y') return;
				localStorage.setItem('clubForm', JSON.stringify(this.submitform));
				window.location.href = `ministerSettingSecond.html?flag=2`
			},
			initData() {
				this.applyList();
				var _self = this;
				
				
				ajax({
					type: "get",
					url: "club/clubDetail",
					data: {
						clubId: _self.clubId
					},
					success: function (res) {
						if (res.code == 0) {
							_self.submitform = res.data;
							if (_self.submitform.self.isMinister == "N" && _self.submitform.self
								.isSubMinister == "N") {
								return;
							}
							_self.publicFlag = res.data.isPublic == "N" ? true : false;
							_self.isInviteCode = res.data.isPublic == "N" ? "N" : "Y";
							_self.applyIsPublic = res.data.isPublic;
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			//获取申请列表
			applyList() {
				ajax({
					type: "post",
					url: "club/applyList",
					data: {
						clubId: this.clubId,
					}
				}).then(res => {
					if (res.code == 0) {
						this.applyMemberList = res.data;
					} else {
						this.$toast(res.msg);
					}
				})
			},

			copyInvite() {
				if (isAndroid) {
					const range = document.createRange();
					range.selectNode(document.getElementById('INcode'));
					const selection = window.getSelection();
					if (selection.rangeCount > 0) selection.removeAllRanges();
					selection.addRange(range);
					document.execCommand('copy');
				} else {
					Interaction.appNative('clipboardCopy', {
						str: this.submitform.inviteCode
					});
				}
				this.$toast('复制成功');

			},
			ispublic(val) {
				var _self = this;
				if (val) {
					this.submitform.isPublic = "N";
					this.submitform.isInviteCode = "N";
					this.form.yqm = "不公开";
				} else {
					this.form.yqm = "公开";
					this.submitform.isPublic = "Y";
					this.submitform.isInviteCode = "Y";
				}
				this.updateClub()
			},

			//进入成员管理传入不同的参数
			gotoMemberList(type) {// 1成员管理 2转让
				var flag
				if(type==1){
					flag=this.submitform.self.isMinister=='Y'?3:6
				}else if(type==2){
					flag=this.submitform.self.isMinister=='Y'?4:9
				}
				if (this.submitform.type == '05') {
					window.location.href =
						`../corporateClub/groupMember.html?clubId=${this.clubId}&fromchoose=${flag}&clubGroupId=${this.submitform.self.clubGroupId}&memberNumber=${this.submitform.memberNumber}`
				} else {
					if(type==1){
						window.location.href = `memberList.html?flag=1&id=${this.clubId}`
					}else{
						window.location.href = `memberList.html?flag=2&id=${this.clubId}`
					}
					
				}
			},
			//进入发通知的页面
			gotoNotice() { //
				window.location.href = "notice.html?flag=1&id=" + this.clubId
			},
			//进入申请列表
			gotoApplyList(flag) { //
				window.location.href = "applyList.html?id=" + this.clubId + "&isCorporate=" + (this.submitform
					.type == '05' ? 1 :
					0);
			},
			gotoNickName() { //修改昵称
				window.location.href = "../corporateClub/changeNickname.html?name=" + this.submitform.nickname +
					"&id=" + this.clubId
			},
			gotoGroupManage() {
				let editor = this.submitform.self.isMinister == "Y" ? 1 : 2;
				window.location.href = "../corporateClub/groupManagement.html?id=" + this.clubId + "&editor=" +
					editor;
			},
			//参与历史
			historyList() {
				if (this.submitform.type == '05') {
					window.location.href = "../corporateClub/myJoin.html?id=" + this.clubId
				} else {
					window.location.href = "historyList.html?id=" + this.clubId;
				}
			},
			goToDownload() {
				let editor = this.submitform.self.isMinister == "Y" ? 1 : 2;
				window.location.href = "../corporateClub/myDownload.html?id=" + this.clubId + "&editor=" + editor +
					'&clubGroupId=' + this.submitform.self.clubGroupId;
			},
			afterRead(file) {
				this.overlayShow = true;
				var formdata = new FormData();
				formdata.append("file", file.file);
				ajax({
					type: "post",
					url: "oss/upload/file",
					contentType: "multipart/form-data",
					data: {
						formdata:formdata
					}
				}).then(res => {
					if (res.code == 0) {
						this.submitform.photo = res.data.url;
						this.imageScan();
					} else {
						this.overlayShow = false;
						this.$toast(res.msg);
					}
				})
			},
			imageScan() {
				var endForm = {};
				ajax({
					type: "post",
					url: "contentSecurity/aliyun/imageScan",
					data: {
						content: this.submitform.photo
					}
				}).then(res => {
					if (res.code == 0) {
						this.overlayShow = false;
						this.updateClub()
					} else {
						this.isClick = false;
						this.overlayShow = false;
						this.fileList = []
						this.$toast("图片审核未通过，请重新上传！");
					}
				})
			},
			updateClub() {
				ajax({
					type: "post",
					url: "club/updateClub",
					data: this.submitform,
				}).then(res => {
					this.isClick = false;
					if (res.code == 0) {
						if (this.submitform.isPublic == 'Y') {
							this.applyIsPublic = 'Y';
						} else {
							this.applyIsPublic = 'N';
						}
						this.$toast("俱乐部设置成功！");
					} else {
						this.$toast(res.msg);
					}
				})
			}


		}
	})
</script>