<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
			minimum-scale=1.0, viewport-fit=cover">
		<title>任务详情</title>
		<link rel="stylesheet"
			href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
		<link rel="stylesheet" href="css/tasksDetail.css">
		<link rel="stylesheet" href="css/corporateCompetion.css">
		<link rel="stylesheet" href="../font/iconfont.css">
		<link href="../clubList_Detail/css/header.css" rel="stylesheet"
			type="text/css" />
		<style>
		#app {
			min-height: 100vh;
			background-color: #12121f;
		}

		.memberDetailBox {
			padding-bottom: 1rem;
			height: auto !important;
		}

		.ub {
			display: -webkit-flex !important;
			display: flex !important;
			position: relative;
		}

		.ub-ac {
			-webkit-align-items: center;
			align-items: center;
		}

		.ub-pj {
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}
		.van-icon__image{
			width: 1.5em;
			height: 1.5em;
		}
		.van-nav-bar__right{
			font-size: .5rem;
		}
		.van-notice-bar .van-notice-bar__right-icon{
			color: #71717f;
		}
		.van-notice-bar .van-notice-bar__left-icon{
			margin-right: 0.1rem;
		}
		.van-action-sheet{
			
		}
		.van-action-sheet__cancel,
		.van-action-sheet__item {
			font-size: .32rem;
		}
		.van-action-sheet__gap{
			background-color: #1e1e2a;
		}
		.van-action-sheet__item,.van-action-sheet__cancel {
			border-bottom: 1px solid #1e1e2a;
			background-color: #12121F;
			color: #CFCFD2;
		}
		
		.van-picker-column__item--selected {
			font-size: .4rem;
		}
		.van-popup{
			background-color: #12121F;
		}
	</style>
	</head>

	<body>
		<div id="app" class="normalHeader" v-cloak>
			<div class="header">
				<van-nav-bar @click-left="onclickLeft" title="任务详情" left-arrow
					safe-area-inset-top fixed>
					<template #left>
						<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
						</template>
						<template #right  v-if="isMinister==1">
							<span class="icon iconfont icon-gengduo"  @click="menushow= true" style="font-size: 0.5rem;" />
							</template>

						</van-nav-bar>
					</div>
					<van-action-sheet cancel-text="取消" close-on-click-action v-model="menushow"
						:round="false"
						:actions="menuaction" @select="onSelectMember"></van-action-sheet>
					<div>
						<div class="bgf8">
							<div>
								<van-notice-bar :scrollable="false" :text="taskItem.taskNotice.title" v-if="taskItem.taskNotice.title" @click="noticeDetail(taskItem.taskNotice.taskNoticeId)" mode="link"
									left-icon="img/volume.png" />
								</div>
								<div class="deatilBox">
									<van-row>
										<van-col span="4" class="laberTitle">任务名称<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.name}}
										</van-col>
									</van-row>
									<van-row>
										<van-col span="4" class="laberTitle">任务项目<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.label=="00"?"跳绳":""}}
										</van-col>
									</van-row>
									<van-row>
										<van-col span="4" class="laberTitle">任务周期<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.period=="00"?"每天":taskItem.task.period=="01"?"每周":taskItem.task.period=="02"?"每月":taskItem.task.period=="03"?"单次任务":""}}
											<span v-if="taskItem.task.period=='03'"></span>
										</van-col>
									</van-row>
									<van-row>
										<van-col span="4" class="laberTitle">参与人员<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.assignType=="00"?"成员报名参加":taskItem.task.assignType=="01"?"全员参加":taskItem.task.assignType=="02"?"指定成员参加":taskItem.task.assignType=="03"?"指定部门参加":""}}
											<span v-if="taskItem.task.period=='03'"></span>
										</van-col>
									</van-row>
									<van-row>
										<van-col span="4" class="laberTitle">任务目标<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.target}}
										</van-col>
									</van-row>
									<van-row>
										<van-col span="4" class="laberTitle">任务说明<i></i></van-col>
										<van-col span="1" class="laberTitle">：</van-col>
										<van-col span="19" class="laberContent">
											{{taskItem.task.introduce}}
										</van-col>
									</van-row>
								</div>
								<div class="memberList"
									v-if="taskItem.joinTaskMember&&taskItem.joinTaskMember.length>0">
									<div class="memberTitle">{{taskItem.taskStatusDesc=='报名'||taskItem.taskStatusDesc=='接受任务'?"成员":"参与成员"}}
									</div>
									<div>
										<van-row @click="memberList" align="center" type="flex">
											<van-col span="15" class="peopeleList">
												<div class="peopeleBox">
													<img :src="item.headPictureUrl" v-for="(item ,index) in
														taskItem.joinTaskMember"
														v-if="index<4" :style="{'left':index*0.5+'rem'}">
												</div>

											</van-col>
											<van-col span="8" class="finishNumber" style="color: #71717f;padding-right:0.05rem;">{{taskItem.doneMemberList.length}}人完成任务</van-col>
											<van-col span="1" class="finishIcon">
												<van-icon color="#71717f" name="arrow" />
												</van-col>
											</van-row>
										</div>
									</div>
									<div style="font-size: .28rem;padding: .4rem .3rem;" class="memberList
										ub ub-ac ub-pj"
										@click="gotoMemberGroup(taskItem.clubGroupVoList)"
										v-else-if="taskItem.task.assignType=='03'">
										<div>参与部门</div>
										<div class="ub ub-ac" style="color: #71717f;"><span>{{taskItem.clubGroupCount}}个部门参加任务</span>
											<van-icon color="#71717f" name="arrow" />
											</div>
										</div>
										<div class="memberDetailList" style="padding-bottom:2rem;">
											<div>
												<van-row>
													<van-col span="12" class="schedule">
														{{isCorporate==1?'总进度':'进度'}}
													</van-col>
													<van-col span="12" class="finishStatus">今日完成率
														{{isCorporate==1&&taskItem.task.assignType=="03"?(taskItem.clubGroupDonePercent||0):taskItem.donePercent||0}}%
													</van-col>
												</van-row>
											</div>
											<div class="memberDetailBox"
												v-if="taskItem.doneMemberList&&taskItem.doneMemberList.length>0">
												<van-row v-for="item in taskItem.doneMemberList">
													<van-col span="3" class=""
														@click="Interaction.visitPersonalHomepage(item.memberId)">
														<div class="detail_headpic"
															:style="{'background-image': 'url(' + item.headPictureUrl +
															')'}"></div>
													</van-col>
													<van-col span="6" class="personalName"
														@click="Interaction.visitPersonalHomepage(item.memberId)">{{
														item.nickname| ellipsis }}
													</van-col>
													<van-col span="15" v-if="taskItem.task.period=='03'"
														class="personalName" style="text-align:right">已完成</van-col>
													<van-col span="7" v-if="taskItem.task.period!='03'"
														class="personalName">已完成</van-col>
													<van-col span="8" v-if="taskItem.task.period!='03'"
														class="finishTimes">累计完成{{item.times||0}}次
													</van-col>
												</van-row>

											</div>
											<!-- 企业团队 -->
											<div class="corporate"
												v-else-if="taskItem.clubGroupVoList&&taskItem.clubGroupVoList.length>0">
												<van-row v-for="item in taskItem.clubGroupVoList" class="deptList"
													@click="gotoCompetitionDetail(item)">
													<van-col span="3" class="ranking">
														<img v-if="item.rank==1" src="./img/no1.png" />
														<img v-else-if="item.rank==2" src="./img/no2.png" />
														<img v-else-if="item.rank==3" src="./img/no3.png" />
														<span v-else>{{item.rank}}</span>
													</van-col>
													<van-col span="14" class="deptInfoBox">
														<div class="deptPic">
															<img
																:src="item.image?item.image:'../corporateClub/img/notgroup.png'"
																alt="">
														</div>
														<div class="deptD">
															<div class="name">
																{{item.name?item.name:'未分部部门'}}
															</div>
															<div class="userInfo" style="color: #71717f;">
																<span>分部长:<span class="van-ellipsis" style="width:
																		1.5rem;display: inline-flex;"><div class="van-ellipsis">{{item.subMinisterName||'--'}}</div></span>
																	成员:{{item.totalNumber}}人</span>
															</div>
														</div>
													</van-col>
													<van-col span="6" class="scoreBox">
														<div class="numBox">
															<span class="num">{{item.completionRate}}</span>
															<span class="unit">%</span>
														</div>
														<div class="numD" style="color: #71717f;">
															完成率
														</div>
													</van-col>
													<van-col span="1" class="iconBox">
														<van-icon name="arrow" color="#71717f" size="0.3rem" />
														</van-col>
													</van-row>

												</div>
												<div class="noPeople-div" v-else>
													<img class="noPeoplePic" src="../../common/img/noData.png" />
													<p class="noPeopleP">任务竟然没有人参与</p>
												</div>
											</div>
											<div class="btn_box">
												<van-button class="creatMatch" size="large"
													v-if="taskItem.taskStatusDesc=='报名'" @click="signUp()">报名
												</van-button>
												<van-button class="creatMatch" size="large"
													v-else-if="taskItem.taskStatusDesc=='接受任务'"
													@click="signUp()">接受任务</van-button>
												<van-button class="creatMatch" size="large"
													v-else-if="taskItem.taskStatusDesc=='完成任务'"
													@click="gotoSkip">完成任务</van-button>
												<van-button class="creatMatch creatMatch2" size="large"
													v-else-if="taskItem.taskStatusDesc=='任务已完成'">
													任务已完成</van-button>
												<van-button class="creatMatch creatMatch2" size="large"
													v-else-if="taskItem.taskStatusDesc=='任务已结束'">
													任务已结束</van-button>
												<van-button class="creatMatch creatMatch2" size="large"
													v-else-if="taskItem.taskStatusDesc=='任务未开始'">
													任务未开始</van-button>
											</div>

										</div>
									</div>
								</body>
								<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
								<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
								<script src="../../common/js/network.js"></script>
								<script type="text/javascript">
	new Vue({
		el: '#app',
		data() {
			return {
				isCorporate: localStorage.getItem('isCorporate') ? parseInt(localStorage.getItem('isCorporate')) :
					0,
				taskId: "",
				clubId: "",
				menuaction:[{
						name: '发任务通知',
						val: '00'
					}, {
						name: '停止报名',
						val: '01'
					}, {
						name: '结束任务',
						val: '02'
					}],
				menushow:false,
				isMinister:0,
				taskItem: {
					taskNotice: {},
					doneMemberList: [],
					task: {},
					joinTaskMember: []
				}
			}
		},
		filters: {
			ellipsis(value) {
				if (!value) return '';
				if (value.length > 5) {
					return value.slice(0, 5) + '...';
				}
				return value;
			},
			ellipsis4(value) {
				if (!value) return '';
				if (value.length > 4) {
					return value.slice(0, 4) + '...';
				}
				return value;
			}
		},
		mounted() {
			if(this.isCorporate!=0){
				this.menuaction = [{
						name: '发任务通知',
						val: '00'
					}, {
						name: '结束任务',
						val: '02'
					}]
			}
			window.taskDetail = this.initDetail;
			window.initCompetitionDetail = this.initDetail;
		},
		created() {
			this.taskId = getQueryString("id") || "";
			this.clubId = getQueryString("clubId") || "";
			this.taskDetail();
			this.memberInfo();
		},
		methods: {
			memberInfo(){
				ajax({
						url: "club/memberInfo",
						data: {
							clubId: this.clubId,
							memberId:JSON.parse(localStorage.getItem("appInfo")).userId,
						}}).then(res=>{
							this.isMinister=res.data.isMinister=='Y'?1:0
						})
			},
			onclickLeft() {
				window.history.back(-1)
			},
			memberList() {
				window.location.href = `taskMemberList.html?id=${this.taskId}&isMinister=${this.isMinister}`
			},
			initDetail() {
				this.taskDetail();
			},
			gotoCompetitionDetail(item) {
				window.location.href = "../corporateClub/corTaskDetail.html?clubId=" + this.clubId + "&taskId=" +
					this.taskId + '&clubGroupId=' + item.id + '&name=' + (item.name || '未分部部门') + '&rate=' + item
					.completionRate;
			},
			gotoMemberGroup(list) {
				list.forEach(d => {
					if (d.id == -1) d.name = "未分部部门";
				})
				localStorage.setItem('groupList', JSON.stringify(list));
				window.location.href = "../corporateClub/groupMember.html?clubId=" + this.clubId +
					"&fromchoose=5&hiddenTitle=1";
			},
			onSelectMember(obj){//点击菜单
				var _self = this;
				if(obj.val=='00'){
					//通知
					window.location.href="./notice.html?id="+this.taskId
				}else{//停止报名
					ajax({
						type: "post",
						url: obj.val=='01'?"club/stopSignUp":"club/stopTask",
						data: {
							id: this.taskId,
							clubId: this.clubId,
							memberId: JSON.parse(localStorage.getItem("appInfo")).userId
						},
						success: function (res) {
							if (res.code == 0) {
								_self.taskDetail();
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function () {
							console.log("error")
						}
					})
				}
			},
			taskDetail() {
				var _self = this;
				ajax({
					type: "post",
					url: "club/taskDetail",
					data: {
						taskId: this.taskId,
						clubId: this.clubId,
						memberId: JSON.parse(localStorage.getItem("appInfo")).userId
					},
					success: function (res) {
						if (res.code == 0) {
							_self.taskItem = res.data;
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			//报名
			signUp() {
				var _self = this;
				ajax({
					type: "post",
					url: "club/signUp",
					data: {
						clubId: this.clubId,
						taskId: this.taskId,
						memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
					},
					success: function (res) {
						if (res.code == 0) {
							_self.$toast("报名成功!");
							_self.initDetail();
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						_self.isClick = false;
						console.log("error")
					}
				})
			},
			//查看通知详情 type=1是任务通知
			noticeDetail(id) {
				if (!id) return;
				window.location.href = "../clubList_Detail/noticeDetail.html?type=1&id=" + id;
			},
			//完成任务前需要激活任务
			activeTask() {
				var _self = this;
				ajax({
					type: "post",
					url: "club/activeTask",
					data: {
						clubId: _self.clubId,
						taskId: _self.taskId,
						memberId: JSON.parse(localStorage.getItem("appInfo")).userId,
					},
					success: function (res) {
						if (res.code == 0) {
							_self.initDetail();
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			
			gotoSkip() {
                try {
                    if (isIOS) {
                        window.webkit.messageHandlers.lstNative.postMessage({
                            method: "LSTH5APP_SelectDeviceAndPushToSport", //H5调起原生选择设备，并跳转到对应设备类型的运动页，目前3.0后有：跳绳、健腹轮、腕力球
                            deviceType: "skipping", //skipping、wristball、wheel 
                            mode: null, //倒计时2、倒计数3，按照原先跳绳PK类型定义的值",
                            modeValue: null, //按照原先跳绳的类型传值
                            jumpCount: null, //按照原先跳绳的类型传值
                            category: null, //1：PK赛，2俱乐部比赛,
                            isPK: 0, //0不是，1是，表示是否是PK类型的运动，是的话去pk运动页面，不是去普通运动页面
                            dataId: null
                        });
                    } else {
                        window.android.LSTH5APP_SelectDeviceAndPushToSport(JSON.stringify({
                            deviceType: "skipping", //skipping、wristball、wheel 
                            mode: null, //倒计时2、倒计数3，按照原先跳绳PK类型定义的值",
                            modeValue: null, //按照原先跳绳的类型传值
                            jumpCount: null, //按照原先跳绳的类型传值
                            category: null, //1：PK赛，2俱乐部比赛,
                            isPK: 0, //0不是，1是，表示是否是PK类型的运动，是的话去pk运动页面，不是去普通运动页面
                            dataId: null
                        }));
                    }
                } catch (e) {
                    console.log(e);
                }

            }

			
		}
	})
</script>
							</html>