<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>成员列表</title>
		<script type="text/javascript">

		</script>
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="css/memberList.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style>
			#app{
				min-height: 100vh;
				/* background-color: #fff; */
			}
			.memberList .van-row{
				margin-bottom: 0;
			}
			.createrHeadPic .detail_headpic{
				top:.1rem;
			}
		</style>
		<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
		<script>
			// init vConsole
			var vConsole = new VConsole();
			console.log('Hello world');
		</script> -->
	</head>
	<body>
		<div id="app" v-cloak>
			<!-- <div class="header">
				<van-nav-bar title="成员列表8" @click-left="OnclickLeft" v-if="ifios" left-arrow>
				</van-nav-bar>
			</div> -->
			<!-- <div :style="{paddingTop:ifios?'.92rem':'0'}"> -->
				<div >
				<div class=" memberList" v-if="memberList.length>0 ">
					<van-row v-for="item in memberList">
						<van-col span="4" class="createrHeadPic">
							<div class="detail_headpic" @click="Interaction.visitPersonalHomepage(item.memberId)" :style="{'background-image': 'url(' + item.headPictureUrl + ')'}"></div>
						</van-col>
						<van-col span="15">
							<div class="createrName" @click="Interaction.visitPersonalHomepage(item.memberId)">{{item.nickname}}
								<!-- <van-tag class="van-tag-ower " v-if="item.isMinister=='Y'">部长</van-tag> -->
							</div>
							<div class="activityTime">
								<span>加入时间</span>
								<span>{{renderTime(item.joinTime)}}</span>
							</div>
						</van-col>
						<van-col span="5" v-if="item.assignType=='00'">
							<div class="acceptStatus">已报名</div>
						</van-col>
						<van-col span="5" v-else-if="item.assignType=='02'">
							<div class="acceptStatus">已接受</div>
						</van-col>
					</van-row>
				</div>
				<div class="noData-box" v-else-if="upFinished">
					<img class="noData-img" src="./img/noData.png" />
					<p class="noData-p">暂无数据</p>
				</div>
			</div>
		</div>
	</body>
	<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js "></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
	 
	<script src="js/DateTime.js"></script>
	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					flag: 0, //部长成员管理1  部长转让2    任务查看加入情况4  成员从设置进入的成员管理5
					memberId: "", //成员id
					ministerId: "", //部长id
					clubId: "", //俱乐部id
					taskId: "", //任务id
					ifios:false,
					memberList: [],
					isDownLoading: false, // 下拉刷新
					isUpLoading: false, // 上拉加载
					upFinished: false, // 上拉加载完毕
					page: 1,
					pageSize: 10,
					offset: 200, // 滚动条与底部距离小于 offset 时触发load事件
				}
			},
			created() {
				// this.ifios = isIOS;
				this.taskId = getQueryString("id") || "";
				this.taskMemberList();
			},
			methods: {
				OnclickLeft(){
					if(isIOS){
						Interaction.closePage()
					}else{
						window.history.back(-1);
					}
				},
				//任务的成员列表查看加入情况
				taskMemberList() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/taskMemberList",
						data: {
							taskId: _self.taskId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.memberList = res.data;
								_self.upFinished=true;
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				//2019-11-20T02:22:58.000+0000 转换2019-11-20 11:11:59
				renderTime(utc_datetime) {
					var T_pos = utc_datetime.indexOf('T');
					var Z_pos = utc_datetime.indexOf('.');
					var year_month_day = utc_datetime.substr(0, T_pos);
					var hour_minute_second = utc_datetime.substr(T_pos + 1, Z_pos - T_pos - 1);
					var new_datetime = year_month_day + " " + hour_minute_second; // 2017-03-31 08:02:06
				
					// 处理成为时间戳
					var timestamp = DateTime.getTime(new_datetime);
					// 增加8个小时，北京时间比utc时间多八个时区
					var timestamp = timestamp + 8 * 60 * 60 * 1000;
				
					// 时间戳转为时间
					var beijing_datetime = DateTime.sjc2time("ymd3", timestamp);
					return beijing_datetime;
				
				},

			}
		})
	</script>
</html>
