#clockstate {
    padding: .52rem .72rem .4rem .72rem;
    text-align: center;
    position: relative;
    height: 100%;
    width: 5.66rem
}

#clockstate .stateImg {
    width: 2.6rem
}

#clockstate .unit {
    color: var(--textColor);
    font-size: .28rem
}

#clockstate .unit .num {
    font-size: .8rem
}

#clockstate .bottomBtn {
    position: absolute;
    width: 4.22rem;
    height: .8rem;
    bottom: .4rem;
    left: calc(50% - 2.11rem);
    line-height: .8rem;
    color: var(--textColor);
    font-size: .32rem;
    text-align: center;
    background: -webkit-linear-gradient(left, #ff4e3e, #fa8);
    background: linear-gradient(90deg, #ff4e3e, #fa8);
    border-radius: .4rem
}

.attention {
    width: .24rem;
    height: .24rem;
    margin-left: .1rem
}

.van-popover--dark .van-popover__content {
    background-color: var(--popBgColor);
    color: #71717f
}

.van-popover--dark .van-popover__arrow {
    color: var(--popBgColor)
}

.attentiontxt {
    font-size: .18rem;
    width: 3.7rem;
    padding: .05rem .1rem
}

.infobox {
    padding: .48rem
}

.infobox .sportbox {
    width: 3.08rem
}

.infobox .sportbox div:first-child {
    font-size: .28rem;
    margin-bottom: .32rem
}

.infobox .sportbox div:nth-child(2) {
    font-size: .48rem
}

.infobox .sportbox div:nth-child(2) span {
    font-size: .24rem
}

.infobox .sportItem {
    background-color: var(--borderColor);
    font-size: .24rem;
    color: var(--textColor);
    border-radius: .16rem;
    padding: .24rem;
    margin-bottom: .16rem
}

.infobox .sportdetail {
    margin-top: .56rem
}

.infobox .sportdetail .target {
    color: #595962;
    font-size: .24rem;
    margin-top: .4rem
}

.infobox .sportdetail .iteminfo {
    margin-left: .24rem
}

.infobox .sportdetail .iteminfo div:first-child {
    margin-bottom: .16rem
}

.infobox .sportdetail .sporticon {
    width: .64rem;
    height: .64rem
}

.infobox .sportdetail .iconselect {
    width: .32rem;
    height: .32rem
}

.infobox .sportdetail .title {
    font-size: .32rem;
    margin-bottom: .4rem
}

.infobox .sportfinish {
    margin-bottom: .54rem
}

.infobox .sportfinish div {
    font-size: .28rem;
    color: var(--textColor)
}

.infobox .sportfinish img {
    width: .4rem;
    height: .4rem;
    margin-right: .2rem
}

.calendaroutbox {
    border-bottom: .06rem solid var(--borderColor);
    padding-bottom: .3rem
}

.normaltxt {
    font-size: .28rem
}

.normaltxt span {
    font-size: .56rem
}

.fixedpd {
    padding-bottom: 1.84rem
}

.updateclock {
    height: 1.84rem;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(18, 18, 31, 0) 10%, var(--bgColor));
    background: linear-gradient(180deg, rgba(18, 18, 31, 0) 10%, var(--bgColor));
    position: fixed;
    bottom: 0
}

.updateclock .btn {
    height: .88rem;
    width: 6.7rem;
    background: -webkit-linear-gradient(right, #ff4e3e, #fa8);
    background: linear-gradient(270deg, #ff4e3e, #fa8);
    color: var(--textColor);
    line-height: .88rem;
    border-radius: .44rem
}

.clockBtn,
.updateclock .btn {
    margin: 0 auto;
    font-size: .4rem;
    text-align: center
}

.clockBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    background: -webkit-linear-gradient(top, #fa8, #ff4e3e);
    background: linear-gradient(180deg, #fa8, #ff4e3e)
}

.van-picker__toolbar {
    border-bottom: .02rem solid var(--borderColor)
}

.van-picker-column__item {
    color: var(--textColor)
}