.header {
    margin-bottom: .3rem;
}

.van-field__label {
    color: var(--textColor2);
}

.van-picker__confirm,
.van-picker__cancel {
    color: var(--textColor);
}

.van-picker-column__item--selected {
    font-size: .4rem;
}

.van-cell {
    min-height: 1.2rem;
    line-height: .8rem;
    background-color: var(--bgColor);
}

.van-field__control--custom {
    margin-top: .2rem;
}

#switch {
    margin-top: .3rem;
}

.van-switch--on {
    background-color: #34c759!important;
}

.van-switch__node {
    width: .45rem;
    height: .45rem;
}

.van-switch--on .van-switch__node {
    transform: translateX(.55rem);
    background-color: #fff;
}

.van-switch {
    width: 1rem;
    height: .48rem;
}

#switch .van-field__label {
    width: 6rem;
    color: var(--textColor2);
    font-size: .32rem;
    margin-right: 0;
}

.van-field__control {
    color: var(--textColor);
}

.van-picker {
    background-color: var(--popBgColor);
}

.van-picker-column__item {
    color: var(--textColor);
}

.van-picker__toolbar {
    border-bottom: 1px solid var(--borderColor);
    /* background-color: var(--borderColor); */
}

.van-picker__mask {
    background-image: none;
}

.submit {
    margin-top: .6rem;
}

.van-cell::after {
    border-bottom: 1px solid var(--borderColor);
}