* {
    box-sizing: border-box;
}

//白字
$textColor:var(--textColor);
$textColor2:var(--textColor2);
$textColorActive:var(--textColorActive);
//黑色背景
$bgColor:var(--bgColor);
//边框色
$borderColor:var(--borderColor);
//pop背景
$popBgColor:var(--popBgColor);
body {
    background-color: $bgColor;
    color: $textColor;
    height: 100vh;
    overflow-x: hidden;
}

.ub {
    display: -webkit-flex !important;
    display: flex !important;
    position: relative;
}

.ub-rev {
    -webkit-flex-direction: row;
    flex-direction: row
}

.ub-f1 {
    flex: 1;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-align-items: center;
    align-items: center;
}

.ub-aend {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.ub-ae {
    -webkit-justify-content: end;
    justify-content: end;
}

.ub-pc {
    -webkit-justify-content: center;
    justify-content: center;
}

.ub-pe {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.ub-pend {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.ub-pj {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ub-ad {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.header {
    position: relative;
    z-index: 100;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
    .van-nav-bar {
        background-color: $bgColor;
        .van-nav-bar__content {
            color: $textColor;
        }
        .van-nav-bar__title {
            color: $textColor;
            font-size: 0.36rem;
        }
        .van-nav-bar__text {
            color: $textColor;
        }
        .van-icon {
            color: $textColor;
        }
    }
    .van-hairline--bottom::after {
        border: none;
    }
}

body {
    font-family: 'PingFangSC-Regular';
    background-color: $bgColor;
}

.van-cell-group {
    background-color: $bgColor;
}

.van-cell {
    background-color: $bgColor;
    .van-cell--clickable:active {
        background-color: $bgColor;
    }
    .van-cell::after {
        border-bottom: 1px solid $borderColor;
    }
    .van-hairline--bottom::after {
        border-bottom: none;
    }
}

.van-cell--clickable:active {
    background-color: transparent;
}

.van-tabs {
    .van-tabs__nav,
    .van-tabs__content {
        background-color: $bgColor;
    }
    .van-tabs--line .van-tabs__wrap {
        height: 1.08rem;
        border-bottom: 1px solid $borderColor;
    }
    .van-tabs__nav--line {
        padding-bottom: .1rem;
    }
    .van-tabs__line {
        display: none;
    }
    .van-tab {
        color: $textColor2;
        font-size: .32rem;
    }
    .van-tab--active {
        color: $textColor;
        font-size: .36rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            width: 0.4rem;
            height: 0.14rem;
            background-position: 100% 100%;
            background: url(../img/tabselect.png) no-repeat;
            background-size: 100%;
        }
    }
}

.van-popup {
    background-color: $bgColor;
}

.van-dialog,
.van-button--default {
    background-color: $popBgColor;
}

.van-dialog__message {
    color: $textColor;
}

.DBnotice {
    padding: .3rem;
    font-size: .28rem;
    padding-bottom: 0;
    color: $textColor2;
}

[class*=van-hairline]::after {
    border-color: $borderColor;
}

.DBnotice span {
    color: #E60012;
}

.list_ul {
    padding: 0 .3rem;
    padding-top: .3rem;
    li {
        margin-bottom: .3rem;
        padding-top: .3rem;
    }
    .title {
        font-size: .28rem;
        color: $textColor;
        margin-bottom: .1rem;
        padding-left: .1rem;
    }
    .titleL {
        font-size: .32rem;
        color: $textColor;
    }
    .detail {
        font-size: .24rem;
        color: $textColor2;
        padding-left: .1rem;
    }
    .imgbox {
        width: 1.32rem;
        height: 1.32rem;
        text-align: center;
        border-radius: .2rem;
        background-color: $borderColor;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .24rem;
        img {
            width: .84rem;
        }
    }
}

#pricechange {
    position: fixed;
    bottom: 0;
    height: 1.2rem;
    width: 100%;
    z-index: 99;
    background-color: $bgColor;
    .canchange {
        background: linear-gradient(to right, #ff4e3e, #ffaa88);
    }
}

.van-checkbox {
    margin-left: .3rem;
}

#gochange {
    height: .52rem;
    color: $bgColor;
    line-height: .52rem;
    text-align: center;
    border-radius: .26rem;
    font-size: .24rem;
    background-color: $textColor2;
    margin-right: .3rem;
    padding: 0 .2rem;
}

.van-checkbox__icon--checked .van-icon,
.van-address-item .van-radio__icon--checked .van-icon {
    background: #ff4e3e;
    border-color: #ff4e3e;
}

.van-radio__icon .van-icon {
    border-color: $textColor2;
}

.submit,
.submit2 {
    background: linear-gradient(to right, #ff4e3e, #ffaa88);
    border: none;
    font-size: .36rem;
    color: $textColor;
    height: .88rem;
    line-height: .88rem;
    width: 6.3rem;
    margin: 0 auto;
}

.submit2 {
    background: $bgColor;
    color: $textColor2;
    border: .02rem solid $borderColor;
    margin: .36rem auto;
}

[v-cloak] {
    display: none!important;
}

.bottombox {
    width: 100%;
    position: fixed;
    height: 1.56rem;
    bottom: 0;
    z-index: 33;
    // background: url(../img/btnbottom.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#addressChoose .van-address-list__bottom {
    // background: url(../img/btnbottom.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 1.56rem;
}

.bottomBtn {
    width: 90%;
    height: .85rem;
    background: linear-gradient(to right, #ff4e3e, #ffaa88);
    color: #fff;
    text-align: center;
    line-height: .85rem;
    border-radius: .46rem;
    font-size: .36rem;
    margin: 0 auto;
}

.bottomBtngrey {
    background: $textColor2;
}

#popbg {
    background-color: transparent;
    overflow-y: visible;
    /* position: relative; */
}

#popbg .popimg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.5rem;
    left: calc(50% - 1.2rem);
}

#popbg .prizename {
    font-size: .24rem;
    color: #E60012;
    text-align: center;
    font-family: 'PingFangSC-Medium';
    position: absolute;
    top: 5.2rem;
    width: 85%;
    left: 7.5%;
}

.van-field__right-icon {
    color: $textColor2;
}

#popbg .redbagcount {
    font-size: .28rem;
    color: #E60012;
    text-align: center;
    font-family: 'PingFangSC-Medium';
    position: absolute;
    top: 3.3rem;
    width: 85%;
    left: 7.5%;
}

#popbg .van-popup__close-icon {
    width: .8rem;
    height: .8rem;
    bottom: 0rem;
    left: calc(50% - .4rem);
}

.van-popup__close-icon .van-icon__image {
    width: 100%;
    height: 100%;
}

.van-overlay {
    background: rgba(18, 18, 31, .7);
}

.popget,
.popmiss {
    background: url(../img/prizegetbg.png);
    height: 8.5rem;
    width: 5.6rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.popmiss {
    background: url(../img/prizemiss.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.van-loading {
    position: absolute;
    color: $textColor;
    font-size: 0;
    vertical-align: middle;
    top: calc( 50% - .15rem);
    z-index: 9;
    left: calc( 50% - .15rem);
}

.van-action-sheet {
    color: $textColor;
    .van-action-sheet__cancel,
    .van-action-sheet__item {
        font-size: .32rem;
    }
    .van-action-sheet__gap {
        background-color: $borderColor;
    }
    .van-action-sheet__item,
    .van-action-sheet__cancel {
        border-bottom: 1px solid $bgColor;
        background-color: $popBgColor;
        color: $textColor;
    }
    .van-picker-column__item--selected {
        font-size: .4rem;
    }
    .van-action-sheet__cancel:active,
    .van-action-sheet__item:active {
        background-color: $popBgColor
    }
}

.van-sticky--fixed {
    top: 0.9rem;
    top: calc(0.9rem + constant(safe-area-inset-top));
    top: calc(0.9rem + env(safe-area-inset-top));
}

.van-list__error-text,
.van-list__finished-text,
.van-list__loading,
.van-checkbox__label {
    color: $textColor;
}

.van-popup--bottom.van-popup--round {
    background-color: $borderColor;
}

.van-checkbox__icon--disabled .van-icon {
    background-color: $borderColor;
    border-color: $borderColor;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $textColor2!important;
}

.van-switch {
    background-color: $borderColor;
    .van-switch__node {
        background-color: $textColor2;
        top: .025rem;
        left: .025rem;
        width: .4rem;
        height: .4rem;
    }
}

.van-address-item__edit {
    color: #cfcfd2!important;
}