.bigpic {
    width: 7.5rem;
    height: 6.8rem;
    background-color: var(--borderColor);
}

.bigpic img {
    width: 4.2rem;
    height: 4.2rem;
}

.detailbox {
    padding: .36rem;
    padding-bottom: 1.6rem;
    background-color: var(--bgColor);
}

.detailbox .title {
    font-size: .36rem;
    margin-bottom: .1rem;
    font-weight: bold;
}

.detailbox .pricetag {
    color: #E60012;
    font-size: .6rem;
}

.detailbox .pricetag span {
    font-size: .24rem;
}

.detailbox .changedetail {
    font-size: .24rem;
    color: var(--textColor2);
    padding-bottom: .1rem;
}

.detailbox .describle {
    font-size: .36rem;
    margin: .55rem 0;
}

.detailbox .describle .detail {
    font-size: .28rem;
    color: var(--textColor2);
    line-height: .45rem;
    margin: .2rem 0;
}