body {
    min-height: 100vh;
    background: #12121F;
    color: #CFCFD2;
}

.header {
    height: 1rem;
    position: relative;
    z-index: 100;
    height: calc(1rem + constant(safe-area-inset-top));
    height: calc(1rem + env(safe-area-inset-top));
}



.van-nav-bar--fixed {
    background-color: #12121f;
}

.van-nav-bar__title,
.icon-fanhuianniu {
    color: #cfcfd2;
}

.van-hairline--bottom::after {
    border-bottom-width: 0;
}


.topBanner {
    width: 100%;
    height: 4.02rem;
    background-image: url('../img/topBannerBg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.topBanner .toptxt {
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.toptxt p {
    color: #fff;
    font-size: .32rem;
    line-height: .5rem;
}

.topMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: .28rem;
    padding-top: .36rem;
}

.topMenu .menuItem {
    width: 33%;
    text-align: center;
    margin: .36rem 0;
}

.topMenu .menuItem img {
    width: .76rem;
    height: .76rem;
}

.outcommonBox {
    padding: .24rem;
}

.commonQA {
    border-radius: .24rem;
    background-color: #1E1E2A;
    padding: .4rem;
    padding-top: .2rem;
}

.commonQA .listItem {
    border-bottom: 1px solid #12121F;
    padding: .24rem 0;
    color: #CFCFD2;
    font-size: .24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blodTitle {
    border-left: .08rem solid #0b83ed;
    font-size: .28rem;
    color: #BFBFC2;
    padding-left: .08rem;
}



[v-cloak] {
    display: none !important;
}