.container {
    background-color: #1e1e2a;
    border-radius: 0.24rem;
}

.answer {
    padding: 0.24rem;
}

.answer .icon {
    float: left;
    width: 0.36rem;
    height: 0.36rem;
    line-height: 0.36rem;
    margin-right: 0.15rem;
    color: #fff;
    font-size: 0.2rem;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(to right, #FF4E3E, #FFAA88);
}

.answer .icon.bgGreen {
    background: linear-gradient(to right, #188DFF, #7DB3FF);
}

.answer .borderbtm {
    border-bottom: .02rem solid #12121f;
}

.answer .titleBox {
    margin-left: 0.6rem;
    font-size: 0.28rem;
    color: #BFBFC2;
    line-height: 0.5rem;

}

.answer .infoBox {
    margin-left: 0.6rem;
    font-size: 0.24rem;
    color: #cfcfd2;
    line-height: 0.4rem;

}