<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>逗币任务</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="../common/css/basic.css">
    <link rel="stylesheet" href="css/font/iconfont.css">
    <link rel="stylesheet" id="themeCssLink" href="../common/css/theme_black.css">
    <link rel="stylesheet" href="css/pointsLottery.css">
    <style type="text/css">
        .task_unfinish,
        .task_finish {
            background: linear-gradient(to right, #ff4e3e, #ffaa88);
            border-radius: .26rem;
            /* height: .52rem; */
            line-height: .52rem;
            font-size: .24rem;
            color: #fff;
            padding: .01rem .15rem;
            text-align: center;
            min-width: 1.2rem;
        }
        
        .task_finish {
            border: 1px solid var(--pointsLottery_taskColor);
            background: var(--bgColor);
            color: var(--pointsLottery_taskColor);
        }
        
        [class*=van-hairline]::after {
            border: none;
        }
    </style>

</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <van-nav-bar title="逗币任务" @click-left="OnclickLeft" safe-area-inset-top fixed>
                <template #left>
						<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.5rem;" />
					</template>
            </van-nav-bar>
        </div>
        <van-tabs v-model="menuactive" sticky swipeable @change="changeTab">
            <template v-for="(bitem,index) in dataList">
					<van-tab :title="bitem.timeSetting+'点'">
						<van-pull-refresh v-model="isLoading" :head-height="90" @refresh="initIndexData"
							class="monkey-pull-refresh" style="min-height: 100vh;">
							<template #pulling="props">
								<div class="monkeyBox">
									<div class="monkey"> </div>
									<p>下拉刷新</p>
								</div>
							</template>
            <!-- 释放提示 -->
            <template #loosing>
								<div class="monkeyBox">
									<div class="monkey"> </div>
									<p>释放刷新</p>
								</div>
							</template>

            <!-- 加载提示 -->
            <template #loading>
								<div class="monkeyBox">
									<div class="monkey"> </div>
									<p>正在刷新</p>
								</div>
							</template>
            <van-list v-model="loading" :finished="finished" @load="onLoad" :loading-text="txt">
                <ul class="list_ul">
                    <template v-for="(item,index) in bitem.taskAndActions">
										<li class="ub ub-pj ub-ac">
											<div style="width: 90%;">
												<div v-if="item.modelType!='07'" class="title">
													{{item.modeName}}
												</div>
												<div v-else class="title">{{item.modeName}}</div>
												<div class="detail">{{item.actionName}}</div>
											</div>

											<div class="task_unfinish ub ub-ac ub-pc"
												v-if="(item.isFinish==0&&nowIndex==menuactive)||nowIndex<menuactive"
												@click="modifyRoute(item.modelType,item.actionType)">
												+{{item.addIntegralCount||'?'}}
											</div>
											<div v-else class="task_finish"
								 				@click="modifyRoute(item.modelType,item.actionType)">
												{{item.isFinish==1?'再看看':'再看看'}}
											</div>
										</li>
									</template>
                </ul>
            </van-list>
            </van-pull-refresh>
            </van-tab>
            </template>
        </van-tabs>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="../common/js/network.js"></script>
<script src="js/tool.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                isLoading: false,
                loading: false,
                finished: false,
                dataList: [],
                pageNum: 0,
                txt: ' ',
                menuactive: 0,
                nowIndex: null,
            }
        },
        filters: {},
        mounted() {
            window.initPageData = this.initPageData;
            window.reflashFuc = this.initData;
        },
        created() {

            this.initData();
            if (isAndroid) {
                window.android.LSTH5APP_GetRandomDevicesType()
            }
        },
        methods: {
            initData() {
                var _self = this;
                ajax({
                    type: "get",
                    url: "integral/task/list",
                    data: {},
                    success: function(res) {
                        _self.loading = false;
                        if (res.code == 0) {
                            _self.dataList = res.data;
                            _self.finished = true;
                            _self.isLoading = false;
                            Interaction.VIDEO_flag = false;
                            let nowHour = new Date().getHours();
                            res.data.forEach((d, index) => {
                                let arr = d.timeSetting.split('-');
                                if (nowHour >= parseInt(arr[0]) && nowHour < parseInt(arr[1])) {
                                    _self.menuactive = index;
                                    _self.nowIndex = index;
                                }
                            })
                        } else {
                            _self.$toast(res.msg);
                        }
                    },
                    error: function() {
                        _self.loading = false;
                        console.log("error")
                    }
                })
            },
            initIndexData() {
                // 清空列表数据
                this.finished = false;
                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.loading = true;
                this.isLoading = true;
                this.initData();
                this.loading = false;
            },
            initPageData(param) {
                var _self = this;
                if (isAndroid) {
                    this.initData();
                    // console.log(param || 'null');
                    // ajax({
                    // 	type: "post",
                    // 	url: "integral/add/integral",
                    // 	data: {
                    // 		actionType: "5001"
                    // 	},
                    // 	success: function(res) {
                    // 		_self.initData();
                    // 	},
                    // 	error: function() {

                    // 	}
                    // })
                } else {
                    this.initData();
                }
            },
            changeTab() {

            },
            onLoad() {
                // if (this.isLoading) {
                // 	this.dataList = [];
                // 	this.isLoading = false;
                // 	this.pageNum = 1;
                // } else {
                // 	this.pageNum++;
                // }
                // //this.getCommentList()
                // this.loading = false;
            },
            OnclickLeft() {
                history.go(-1);
            },
            modifyRoute(type, num) {
                var isEffective = 1 //1有效可打卡 0无效不可打卡
                    // if (this.nowIndex < this.menuactive) {
                    //     this.$toast('未到任务时间点哦');
                    //     isEffective = 0
                    //     return;
                    // }
                if (this.nowIndex > this.menuactive) {
                    //this.$toast('该任务已失效');
                    //return;
                    isEffective = 0
                }
                var actionType = "",
                    actionNum = num;
                var _self = this;
                var deviceType = "skipping";
                switch (type) {
                    case "02":
                        // _self.Community();
                        actionType = "LSH5APP_BrowseCommunity";
                        break;
                    case "03":
                        actionType = "LSH5APP_BrowseCourse";
                        if (actionNum == '0304') actionType = "LSTH5APP_JoinIntelligentTrainingPlan";
                        break;
                    case "04":
                        actionType = "LSH5APP_BrowsePKGame";
                        break;
                    case "05":
                        actionType = "LSH5APP_BrowseClub";
                        break;
                    case "06":
                        actionType = "LSH5APP_BrowseShopMall";
                        break;
                    case "07":
                        actionType = "LSH5APP_BrowseChallenge";
                        break;
                    case "08":
                        actionType = "LSH5APP_BrowseRankList";
                        if (actionNum == "0802" || actionNum == "0808" || actionNum == "0809" || actionNum == "0810" || actionNum == "0811" || actionNum == "0812") deviceType = "wristball"
                        break;
                    case "09":
                        actionType = "LSTH5APP_GoMyDeviceVC";
                        break;
                    case "09":
                        actionType = "LSTH5APP_GoMyDeviceVC";
                        break;
                    case "11":
                        if (actionNum == '1100') actionType = "LSTH5APP_SportsCalendarSignIn";
                        if (actionNum == '1101') actionType = "LSTH5APP_SportsCalendarShareAction";
                        break;
                    case "13":
                        actionType = "LSTH5APP_BestSharingOfCareer";
                        break;
                    case "14":
                        actionType = "LSTH5APP_WeekReportMonthlyReportShare";
                        break;
                    default:
                        actionType = false;
                        break;
                }
                console.log(deviceType)
                if (!actionType) return;
                try {
                    //LSTH5APP_BrowseVideoAction
                    if (isIOS) {
                        localStorage.setItem('coinchange', 1);
                        window.webkit.messageHandlers.lstNative.postMessage({
                            method: "LSH5APP_Push_Action",
                            actionType: actionType,
                            actionNum: actionNum,
                            isEffective: isEffective,
                            type: deviceType
                        });

                    } else if (isAndroid) {
                        window.android.LSH5APP_Push_Action(JSON.stringify({
                            actionType: actionType,
                            actionNum: actionNum,
                            isEffective: isEffective,
                            type: deviceType
                        }))
                    }

                } catch (e) {
                    console.log(e)
                }

            },
            Community() {
                ajax({
                    type: "post",
                    url: "integral/add/integral",
                    data: {
                        actionType: "0200"
                    },
                    success: function(res) {

                    },
                    error: function() {

                    }
                })
            }



        }
    })
</script>

</html>