.van-nav-bar{
	position: fixed;
	width: 100%;
}
.van-collapse{
	padding-top: .92rem;
}
.van-nav-bar__title{
	font-size: .36rem;
	color: #000;
	font-weight: unset;
}
@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
	.page {
		padding-top: 15;
		padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
	}

	/* .header {
		padding-top: 15;
		padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
	} */
	
}
