.bgf8{
	background-color: #12121f;
}
/* 通知栏的css */
.van-notice-bar{
	background-color: #12121f;
	color: #cfcfd2;
}
.deatilBox {
	margin-top: 0.2rem;
	padding: 0.28rem;
	background-color: #12121f;
}
.deatilBox .laberTitle {
	font-size: 0.28rem;
	text-align: justify;
	line-height: 0.6rem;
	height: 0.6rem;
	color: #cfcfd2;
}
.deatilBox .laberTitle i{
	display: inline-block;
	width: 100%;
}
.deatilBox .laberContent {
	font-size: 0.28rem;
	color: #71717f;
	text-align: left;
	line-height: 0.6rem;
}
/* 成员列表 */
.memberList{
	margin-top: 0.2rem;
	background-color: #12121f;
	padding:0 0.28rem;
}
.memberList .memberTitle{
	color: #cfcfd2;
	font-size: 0.32rem;
	line-height: 0.6rem;
}
.memberList .finishNumber{
	font-size: 0.24rem;
	color: #cfcfd2;
	line-height: 1rem;
	text-align: right;
}
.memberList .finishIcon .van-icon{
	font-size: 0.32rem;
}
.memberList .peopeleList{
	position: relative;
	height: 1rem;
}
.memberList .peopeleBox{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.memberList .peopeleBox img{
	width: 0.66rem;
	height: 0.66rem;
	vertical-align: middle;
	border-radius: 50%;
	position: absolute;
	
}
.memberList .finishIcon{
	height: 1rem;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
/* 成员参与详情 */
.memberDetailList{
	margin-top: 0.2rem;
	background-color: #12121f;
}
.memberDetailList .van-row{
	border-bottom: 1px solid #1e1e2a;
	padding: 0 0.28rem;
}
.memberDetailList .schedule{
	font-size: 0.28rem;
	color: #cfcfd2 ;
	line-height: 0.88rem;
}
.memberDetailList .finishStatus{
	font-size: 0.24rem;
	color: #cfcfd2;
	line-height: 0.88rem;
	text-align: right;
}
.memberDetailList .detail_headpic{
	width: 0.6rem;
	height: 0.6rem;
	background-size: cover;
	position: relative;
	top: 0.3rem;
	border-radius: 50%;
}
.memberDetailList .personalName{
	color: #333333;
	font-size: 0.28rem;
}
.memberDetailList .memberDetailBox{
	height: 1.2rem;
	line-height: 1.2rem;
}
 .memberDetailList .finishTimes{
	 font-size: 0.24rem;
	 color: #333;
	 line-height: 1.2rem;
	 text-align: right;
 }
 .van-button::before,.van-button--default{
	 border-color: #FF4E3E;
 }
 .btn_box{
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 3;
   display: flex;
   justify-content: center;
   /* background-image: linear-gradient(to bottom, rgba(255,255,255,0.1),rgba(255,255,255,0.8),rgba(255,255,255,0.95), rgba(255,255,255,1)); */
 }
 .btn_box .creatMatch {
   color: #fff;
   width: 6.3rem;
   height: 0.88rem;
   font-size: 0.4rem;
   line-height: 0.88rem;
   background-image: linear-gradient(to right, #FF6A88, #FF5136);
   border-radius: 0.44rem;
   margin-bottom: 0.68rem;
 }
  .btn_box .creatMatch2{
   background-image:none;
   background-color: #999999;
 }
 /* .creatMatch {
 	background:linear-gradient(to right, #FF6A88, #FF5136 );
 	color: #fff;
 	position: fixed;
 	width:80%;
 	bottom: 0;
 	left: 10%;
 	height: 1rem;
 	font-size: 0.4rem;
 	line-height: 1rem;
	border-radius: .46rem;
 }
 .creatMatch2{
 	background-color: #D1D1D1;
 } */
 .van-action-sheet__description{
 	font-size: 0.36rem;
 	color: #333;
 }
 .van-action-sheet__name{
 	font-size: 0.28rem;
 	color: #727272 ;
 }
 .van-action-sheet__name.active{
 	color: #333;
 }
 .blueboothPic{
 	width: 0.3rem;
 	height: 0.3rem;
 	position: relative;
 	top: 0.05rem;
 }
 .button_box{
 	max-height: 5rem;
 	overflow-y: auto;
 }
.noPeople-div{
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}
.noPeople-div .noPeoplePic{
	width: 1.22rem;
}
.noPeople-div .noPeopleP{
	color: #D1D1D1;
	font-size: 0.28rem;
	margin: 0;
	padding: 0;
}