.ul_class {}

.ul_class li {
	/* padding: .2rem 0; */
}

.ul_class li .headpic {
	width: .8rem;
	height: .8rem;
	border-radius: 100%;
	margin-right: .2rem;
}

.ul_class li .nickname {
	color: #1f1f1f;
	font-size: .32rem;
	max-width: 3.5rem;
}

.time {
	color: #999;
	font-size: .24rem;
}

.ul_class li .badage {
	color: #fff;
	background-color: #E60012;
	font-size: .2rem;
	border-radius: .04rem;
	padding: 0 .04rem;
	margin-left: .14rem;
	height: .32rem;
	line-height: .336rem;
}

.ul_class li .btn_member {
	width: 1.24rem;
	height: .48rem;
	background-color: #fff;
	border-radius: .24rem;
	font-size: .24rem;
	border: .02rem solid #E60012;
	line-height: .45rem;
	text-align: center;
	color: #E60012;
}

.ul_class li .btn_member_gray {
	border: .02rem solid #999;
	color: #999;
}

.van-nav-bar__content {
	width: 100%;
}

.van-icon-search {
	color: #999;
}

.van-search__content {
	border-radius: .3rem;
}
