@font-face {
	font-family: "iconfont";
	src:url('iconfont.ttf?t=1614935670114') format('truetype'),
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.van-icon-icon-tongyong-fenxiang:before {
	content: "\e7a4";
}

.icon-tongyong-rili:before {
	content: "\e7a7";
}
