<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
            maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <!-- <title>动态详情</title> -->
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
    <link rel="stylesheet" href="css/invitationShare.css">
    <link rel="stylesheet" id="themeCssLink" href="../common/css/theme_black.css">
    <script src="js/community.js"></script>
    <style>
        .van-popup {
            background-color: var(--bgColor);
        }
        
        .commentBox {
            overflow-y: scroll;
            height: 100%;
            margin-top: 1rem;
        }
        
        .cpmmentTitle {
            font-size: 0.36rem;
            text-align: center;
            line-height: 1rem;
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 2;
            left: 0;
            background-color: var(--bgColor);
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div>
            <div class="header">
                <img src="../common/img/logo.png" class="logo" alt="">
                <div class="content">
                    <div class="appInfo">
                        <p class="appName">派健康</p>
                        <p class="appD">运动·健康</p>
                    </div>
                    <div class="btn"><a class="buttonA" @click="goApp">立即下载</a></div>
                </div>
            </div>
            <div class="dynamicBox" v-if="item.type==1||item.type==0" style="top: 0;border-radius: 0;">
                <ul class="dynamicUl" v-if="(item.status==0&&item)">
                    <li>
                        <div class="info">
                            <img :src="item.headerUrl" class="pic" alt="">
                            <div class="content">
                                <div class="personInfo">
                                    <div class="nickNameBox">
                                        <p class="nickName">{{item.nickName}}
                                        </p>
                                        <div class="viewNum"><img src="img/viewIcon.png" alt="">{{item.readCount}}</div>
                                    </div>
                                    <p class="detail">
                                        <span>{{renderTime(item.createTime||"")}}</span>
                                        <span>{{item.location}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="contentBox_d" v-html="item.content"></p>
                        <div class="imgBox" v-if="item.mediaUrl">
                            <div v-for="pic in item.mediaUrl.split(',')" :style="{'backgroundImage':'url('+pic+')'}">
                            </div>
                        </div>
                        <div class="statisticsBox">
                            <div> <img src="img/liked.png" alt="">{{item.likesCount}}</div>
                            <div> <img src="img/comment.png" alt="">{{item.totalComment}}</div>
                            <div> <img src="img/collected.png" alt="">{{item.marksCount}}</div>
                        </div>
                        <div class="commentBox" v-if="commmentList.length>0">
                            <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                                <van-list v-model="loading" :finished="finished" @load="onLoad">
                                    <ul id="commentUl">
                                        <li v-for="(Citem,index) in
                                                commmentList">
                                            <div class="userImg">
                                                <img :src="Citem.authorHeader" alt="">
                                            </div>
                                            <div class="detail">
                                                <div>
                                                    <p class="nickname">{{Citem.authorName}}
                                                    </p>
                                                    <p class="time">{{renderTime2(Citem.createTime)}}</p>
                                                    <p class="comment">
                                                        <span>{{Citem.content}}</span>
                                                        <span v-for="r in
                                                                Citem.refers" style="color:steelblue">
                                                                @{{r.nickName}}</span>
                                                    </p>
                                                </div>
                                                <div v-if="Citem.comments.length>0" style="background-color:
                                                        #1e1e2a;padding:
                                                        0.1rem;">
                                                    <div v-for="ccitem in
                                                            Citem.comments">
                                                        <span>{{ccitem.authorName}}
                                                            </span><span style="color:#71717f">回复</span>
                                                        <span>{{ccitem.receiverName}}
                                                            </span><span>
                                                                :{{ccitem.content}}</span>
                                                        <span v-if="ccitem.refers" v-for="r in
                                                                ccitem.refers" style="color:steelblue">
                                                                @{{r.nickName}}</span>
                                                    </div>
                                                    <div v-if="Citem.comments.length>0"><a @click="goApp" style="color:#999">查看全部{{Citem.commentCount}}条回复>></a></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </van-list>
                            </van-pull-refresh>
                        </div>
                    </li>
                </ul>
                <div class="noDataBox" v-else-if="ok">
                    <div class="noDataImg"></div>
                    <p class="noDataInfo">此动态被原作者删除了</p>
                </div>
            </div>
            <!-- 视频 -->
            <div v-else-if="(item.status==0&&item)" class="dynamicBox videobox">
                <div class="">
                    <img @click="goVideo" class="play_icon" src="img/play.png" alt="">
                    <img class="videoimg" :src="item.mediaUrl" alt="">
                </div>
                <!-- 个人信息框 -->
                <div class="authorInfo">
                    <div class="headInfo">
                        <img :src="item.headerUrl" alt="">
                        <div>{{item.nickName}}</div>
                    </div>
                    <div v-html="item.content">

                    </div>
                </div>
                <!-- 点赞导航栏 -->
                <div class="navbox">
                    <div>
                        <img src="img/liked.png" alt="">
                        <div>{{item.likesCount||0}}</div>
                    </div>
                    <div @click="commentShow= true">
                        <img src="img/comment.png" alt="">
                        <div>{{item.commentCount||0}}</div>
                    </div>
                    <div>
                        <img src="img/collected.png" alt="">
                        <div>{{item.forwardCount||0}}</div>
                    </div>
                </div>
                <van-popup position="bottom" title="评论" round :style="{
                        height: '60%' }" v-model="commentShow">
                    <div class="cpmmentTitle">评论</div>
                    <div class="commentBox" style="padding: .3rem;" v-if="commmentList.length>0">
                        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                            <van-list v-model="loading" :finished="finished" @load="onLoad">
                                <ul id="commentUl">
                                    <li v-for="(Citem,index) in
                                            commmentList">
                                        <div class="userImg">
                                            <img :src="Citem.authorHeader" alt="">
                                        </div>
                                        <div class="detail">
                                            <div>
                                                <p class="nickname">{{Citem.authorName}}
                                                </p>
                                                <p class="time">{{renderTime2(Citem.createTime)}}</p>
                                                <p class="comment">{{Citem.content}}
                                                    <span v-for="r in
                                                            Citem.refers" style="color:steelblue">
                                                            @{{r.nickName}}</span></p>
                                            </div>
                                            <div v-if="Citem.comments.length>0" style="background-color:
                                                    #1e1e2a;padding:
                                                    0.1rem;font-size:0.28rem;">
                                                <div v-for="ccitem in
                                                        Citem.comments">
                                                    <span>{{ccitem.authorName}}
                                                        </span><span style="color:#71717f">回复</span>
                                                    <span>{{ccitem.receiverName}}
                                                        </span><span>
                                                            :{{ccitem.content}}</span>
                                                    <span v-if="ccitem.refers" v-for="r in
                                                            ccitem.refers" style="color:steelblue">
                                                            @{{r.nickName}}</span>
                                                </div>
                                                <div v-if="Citem.comments.length>0"><a @click="goApp" style="color:#999">查看全部{{Citem.commentCount}}条回复>></a></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </van-list>
                        </van-pull-refresh>
                    </div>
                </van-popup>
            </div>

            <div class="noDataBox" v-else-if="ok">
                <div class="noDataImg"></div>
                <p class="noDataInfo">此动态被原作者删除了</p>
            </div>
        </div>
    </div>
</body>
<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js"></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
<script src="../common/js/network.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                item: {},
                commmentList: [],
                pageNum: 0,
                pageSize: 10,
                total: 0,
                ok: false,

                loading: false,
                finished: false,
                refreshing: false,
                commentShow: false,
            }
        },
        mounted() {

        },
        created() {
            this.getDetail() //获取个commentItem人动态详情
            this.getCommentList()


        },
        methods: {
            goApp() {
                var openApp = function(linkUrl) {
                    var a = document.createElement("a");
                    a.setAttribute("href", linkUrl);
                    a.setAttribute("id", "js_a");
                    //防止反复添加
                    if (document.getElementById("js_a")) {
                        document.body.removeChild(document.getElementById("js_a"));
                    }
                    document.body.appendChild(a);
                    a.click();
                };
                let linkUrl = "";
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    linkUrl = `https://lstemp.laisitech.com?actionType=communityDynamicDetail&id=${getQueryString('id')}&dynamicUserId=${getQueryString('userId')}`;
                    openApp(linkUrl);
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    linkUrl = "app://rehealth/mainPage?goto=/dynamic/dynamic_detail_activity$id=" + getQueryString("id") + "&userId=" + getQueryString("userId")

                    if (openApp(linkUrl)) {} else {
                        linkUrl = "https://a.app.qq.com/o/simple.jsp?pkgname=com.lstech.rehealth";
                        openApp(linkUrl);
                    }
                }
            },
            getDetail() {
                var that = this;
                ajax({
                    type: "get",
                    url: "community-core-share/story/detail",
                    isShare: 1,
                    data: {
                        authorId: getQueryString("userId"),
                        id: getQueryString("id"),
                    },
                    success: function(res) {
                        if (res.code == 0) {
                            that.item = res.data
                            that.item.content = that.item.content.replace(/(\r\n|\n|\r)/gm, "<br />");
                            that.ok = true;
                        } else {
                            //that.$toast(res.msg)
                            that.item = {};
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            getCommentList() {
                var that = this;
                var nowPageNum = that.pageNum;
                ajax({
                    type: "get",
                    url: "community-core-share/comment/list/detail",
                    shareStatus: true,
                    data: {
                        userId: getQueryString("userId"),
                        storyId: getQueryString("id"),
                        index: that.pageNum,
                        pageSize: that.pageSize
                    },
                    success: function(res) {
                        that.loading = false;
                        if (res.code == 0) {
                            that.total = res.data.total;
                            if (nowPageNum > (res.data.total / that.pageSize)) {
                                that.finished = true;
                            } else if (nowPageNum == 0) {
                                that.commmentList = res.data.content
                            } else {
                                that.commmentList = that.commmentList.concat(res.data.content);
                            }
                        } else {
                            that.$toast(res.msg)
                        }
                    },
                    error: function() {
                        console.log("error")
                    }
                })
            },
            //评论得分页加载
            onLoad() {
                if (this.refreshing) {
                    this.commmentList = [];
                    this.refreshing = false;
                    this.pageNum = 0;
                } else {
                    this.pageNum++;
                }
                this.getCommentList()
            },
            //评论刷新
            onRefresh() {
                // 清空列表数据
                this.finished = false;
                // 重新加载数据
                // 将 loading 设置为 true，表示处于加载状态
                this.loading = true;
                this.refreshing = true;
                this.onLoad();
            },
            goVideo() {
                if (!this.item.videoId) return;
                window.location.href = './videoPlay.html?videoType=2&isShare=1&id=' + this.item.videoId;
            }

        }
    })
</script>


</html>