[v-cloak] {
  display: none !important;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12121f;
  color: #CFCFD2;
}

.specialHeader .header {
  position: relative;
  z-index: 100;
  background-color: transparent !important;
}

.specialHeader .header .van-nav-bar {
  background-color: transparent;
  color: #12121f;
}

.specialHeader .header .van-nav-bar .van-nav-bar__title {
  font-size: 0.36rem;
}

.specialHeader .header .van-hairline--bottom::after {
  border: none;
}

.normalHeader .header {
  height: 0.92rem;
  position: relative;
  z-index: 100;
}

.normalHeader .header .van-nav-bar {
  background-color: #12121f;
}

.normalHeader .header .van-nav-bar .van-nav-bar__content {
  color: #CFCFD2;
}

.normalHeader .header .van-nav-bar .van-nav-bar__title {
  color: #CFCFD2;
  font-size: 0.36rem;
}

.normalHeader .header .van-nav-bar .van-nav-bar__text {
  color: #CFCFD2;
}

.normalHeader .header .van-hairline--bottom::after {
  border: none;
}

.listBox {
  padding: 0.24rem;
}

.listBox .weekItem, .listBox .monthItem {
  width: 100%;
  background-image: url(../img/weekList.png);
  height: 2.6rem;
  background-size: cover;
  border-radius: 5px;
  padding: 0.7rem 0.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.24rem;
}

.listBox .weekItem .title, .listBox .monthItem .title {
  color: #12121f;
  font-size: 0.4rem;
  margin-bottom: 0.28rem;
}

.listBox .weekItem .date, .listBox .monthItem .date {
  color: #12121f;
  font-size: 0.32rem;
}

.listBox .monthItem {
  background-image: url(../img/monthList.png);
}

.topPic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.topPic .bg {
  width: 100%;
}

.infoBox {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0.24rem;
  margin-top: 1.2rem;
}

.infoBox .headerpic {
  width: 0.64rem;
  height: 0.64rem;
  margin-right: 0.24rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.infoBox .name {
  color: #4F81E6;
  font-size: 0.24rem;
  line-height: 0.3rem;
}

.infoBox .date {
  color: #4F81E6;
  font-size: 0.2rem;
  line-height: 0.3rem;
}

.contain {
  position: absolute;
  top: 8.5rem;
  width: 100%;
  left: 0;
  z-index: 2;
}

.contain .dataBox {
  background-color: #1e1e2a;
  margin: 0 0.24rem;
  padding: 0.4rem;
  margin-bottom: 0.24rem;
  border-radius: 0.24rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  -ms-border-radius: 0.24rem;
  -o-border-radius: 0.24rem;
  position: relative;
}

.contain .dataBox .boxTitle {
  font-size: 0.32rem;
  line-height: 0.48rem;
  height: 0.48rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 78, 62, 0.2)), to(rgba(255, 170, 136, 0)));
  background-image: linear-gradient(to right, rgba(255, 78, 62, 0.2), rgba(255, 170, 136, 0));
  width: 1.5rem;
  margin-bottom: 0.4rem;
  position: relative;
}

.contain .dataBox .boxTitle .skiplevel {
  position: absolute;
  color: #FF4F3F;
  font-size: 0.28rem;
  top: 0.02rem;
  right: -1.6rem;
}

.contain .dataBox .boxTitle .skiplevel .status {
  margin-left: 0.05rem;
  width: 0.25rem;
}

.contain .dataBox .boxTitle2 {
  width: 1.6rem;
}

.contain .dataBox .modulePic_left {
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
}

.contain .dataBox .modulePic_right {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}

.contain .dataBox .text_data {
  font-size: 0.56rem;
  color: #CFCFD2;
  font-family: "BebasNeue";
  line-height: 0.6rem;
}

.contain .dataBox .text_data .status {
  width: 0.25rem;
  margin-bottom: 0.15rem;
}

.contain .dataBox .text_data_small {
  font-size: 0.24rem;
  color: #CFCFD2;
  line-height: 0.35rem;
}

.contain .dataBox .text_descript {
  font-size: 0.24rem;
  color: #71717F;
  line-height: 0.3rem;
  margin-bottom: 0.15rem;
}

.contain .dataBox .align_right {
  text-align: right;
}

.contain .dataBox .align_left {
  text-align: left;
}

.contain .dataBox .totalCalBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .dataBox .consumeBox .smallTitle {
  color: #CFCFD2;
  font-size: 0.28rem;
  line-height: 0.5rem;
  margin-top: 0.4rem;
}

.contain .dataBox .consumeBox .consumeDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.4rem 0;
}

.contain .dataBox .consumeBox .consumeDetail .consumeDetailItem {
  width: 10%;
  height: 4px;
  margin-right: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3AD266;
}

.contain .dataBox .consumeBox .consumeDetail .consumeDetailItem:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.contain .dataBox .consumeBox .consumeDetail .consumeDetailItem:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.contain .dataBox .consumeBox .itemInfoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contain .dataBox .consumeBox .itemInfoBox .itemInfo {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contain .dataBox .consumeBox .itemInfoBox .itemInfo .colorBox {
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.1rem;
}

.contain .dataBox .consumeBox .itemInfoBox .itemInfo .color_text {
  color: #CFCFD2;
  font-size: 0.2rem;
  line-height: 0.5rem;
}

.contain .bottom {
  font-size: 0.24rem;
  color: #71717F;
  margin: 0.8rem 0.24rem;
  text-align: center;
}

.contain .shareBox {
  padding: 0.5rem 0.24rem;
}

.contain .shareBox img {
  width: 100%;
}

.contain .shareBox .button {
  color: #fff;
  width: 6.7rem;
  height: 0.88rem;
  font-size: 0.4rem;
  line-height: 0.88rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#FFAA88), to(#FF4E3E));
  background-image: linear-gradient(to left, #FFAA88, #FF4E3E);
  border-radius: 0.44rem;
  text-align: center;
  margin: 0 auto;
}

.historyListBox {
  padding: 0.24rem;
}

.historyListBox .historyListDiv .title {
  color: #71717F;
  font-size: 0.32rem;
  line-height: 1rem;
}

.historyListBox .historyListDiv .itemList {
  background-color: #292934;
  border-radius: 4px;
}

.historyListBox .historyListDiv .itemList .itemTitle {
  margin: 0 0.24rem;
  height: 0.88rem;
  color: #CFCFD2;
  font-size: 0.32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #12121f;
}

.historyListBox .historyListDiv .itemList .itemTitle:last-child {
  border: none;
}

@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
  .normalHeader .header {
    height: 0.92rem;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
  }
  .infoBox {
    margin-top: calc(1.2rem + constant(safe-area-inset-top));
    margin-top: calc(1.2rem + env(safe-area-inset-top));
  }
}
/*# sourceMappingURL=index.css.map */