<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>俱乐部</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="../../common/css/basic.css">
		<link href="css/clublist.css?t=20191113" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style type="text/css">
			.van-icon-search{
				color: #999;
			}
			#app{
				min-height: 100vh;
			}
			.listItem .listItem-picImg div{
				background-position: center center;
				background-size: cover;
				width: 1.8rem;
				height: 1.8rem;
				background-repeat: no-repeat;
			}
		</style>
	</head>

	<body style="background-color: #12121f;">
		<div id="app" v-cloak>
			<div>
				<van-sticky>
					<van-search v-model="searchValue" background="#12121f" shape="round" @input="searchClub" placeholder="请输入俱乐部昵称或ID"></van-search>
				</van-sticky>
				<ul class="listDiv" v-if="searchValue!=''">
					<li v-if="list.length>0" v-for="item in list">
						<div class="listItem " @click="clickItem(item)">
							<div class="listItem-picImg">
								<div :style="{'background-image':'url('+item.photo+')'}"></div>
								<!-- <img :src="item.photo" alt=""> -->
							</div>
							<div class="listItem-content">
								<div class="name ub ub-ac">
									<div class="van-ellipsis">{{item.name|strEllipsis}}</div>
									<span v-if="item.isMinister=='Y'" class="ministerIcon">部长</span>
								</div>
								<p class="content">
									<span>{{item.label=="00"?"跳绳":"--"}}</span>
									<span>{{item.city || '--'}}</span>
									<span>{{item.memberNum}}人</span>
								</p>
								<p class="content desc van-ellipsis">{{item.introduce}}</p>
							</div>
						</div>
					</li>
					<div class="nulldataDiv" v-if="list.length==0">
						<img src="img/nulldata.png" alt="">
						未找到相关内容哦，换个词试试吧！
					</div>
				</ul>
				<van-pull-refresh v-model="refreshing" :head-height="90" @refresh="onRefresh" class="monkey-pull-refresh" v-else>
					<template #pulling="props">
						<div class="monkeyBox">
							<img class="monkey" src="../../common/img/monkey.gif" />
							<p>下拉刷新</p>
						</div>
					</template>

					<!-- 释放提示 -->
					<template #loosing>
						<div class="monkeyBox">
							<img class="monkey" src="../../common/img/monkey.gif" />
							<p>释放刷新</p>
						</div>
					</template>

					<!-- 加载提示 -->
					<template #loading>
						<div class="monkeyBox">
							<img class="monkey" src="../../common/img/monkey.gif" />
							<p>正在刷新</p>
						</div>
					</template>
					<van-list v-model="loading" :finished="finished" @load="onLoad" finished-text="已经到底啦~" v-if="list.length>0">
						<ul class="listDiv">
							<li v-for="item in list">
								<div class="listItem " @click="clickItem(item)">
									<div class="listItem-picImg">
										<div :style="{'background-image':'url('+item.photo+')'}"></div>
										<!-- <img :src="item.photo" alt=""> -->
									</div>
									<div class="listItem-content">
										<div class="name ub ub-ac">
											<div class="van-ellipsis">{{item.name|strEllipsis}}</div>
											<span v-if="item.isMinister=='Y'" class="ministerIcon">部长</span>
										</div>
										<p class="content">
											<span>{{item.label=="00"?"跳绳":"--"}}</span>
											<span>{{item.city || '--'}}</span>
											<span>{{item.memberNum}}人</span>
										</p>
										<p class="content desc van-ellipsis">{{item.introduce}}</p>
									</div>
								</div>
							</li>
						</ul>
					</van-list>
					<div class="nulldataDiv" v-else-if="finished">
						<img src="img/nulldata.png" alt="">
						暂无数据
					</div>
				</van-pull-refresh>

				<div class="addClubBtn" @click="goAddClub()">
					<img src="./img/iconAdd.png" alt="">
				</div>
			</div>
		</div>
	</body>
	<script src="https://oss.laisitech.com/0bb12bf1-cb87-4d2c-a724-8a7c25b7ae04.js "></script>
<script src="https://oss.laisitech.com/6172e6c1-f460-40ac-97ba-31c8526f2e16.js"></script>
	<script src="../../common/js/network.js"></script>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					id: null, //课程id
					error: false,
					pageNum: 1,
					pageSize: 10,
					total: 0,
					refreshing: false,
					finished: false,
					loading: false,
					list: [],
					searchValue: "",
					oldStr: ""
				};
			},
			filters: {
				strEllipsis: (str) => {
					if (str && str.length > 8) {
						return str.slice(0, 8) + '...';
					} else {
						return str;
					}
				}
			},
			created() {
				this.getClubList();
				// localStorage.removeItem("appInfo");
			},
			mounted() {
				ajax({
				          type: "post",
				          url: "integral/add/integral",
				          data:{
				            actionType:"0503"
				          },
				          success: function(res) {
				            
				          },
				          error: function() {
				            
				          }
				        })
				window.refreshList = this.refreshList;
			},
			methods: {
				//获取俱乐部列表
				getClubList() {
					var that = this;
					var nowPageNum = that.pageNum;
					if (nowPageNum > 1) {
						if ((nowPageNum - 1) > (that.total / that.pageSize)) {
							that.finished = true;
							this.loading = false;
							return
						}
					}
					ajax({
						type: "get",
						url: "club/clubList",
						data: {
							page: that.pageNum,
							pageSize: that.pageSize,
							uid: getQueryString('userId') || JSON.parse(localStorage.getItem("appInfo")).userId,
						},
						success: function(res) {
							if (res.code == 0) {
								that.total = res.data.totalNum;
								if ((nowPageNum - 1) > (res.data.totalNum / that.pageSize)) {
									that.finished = true;
								} else if (nowPageNum == 1) {
									that.list = res.data.clubList
								} else {
									that.list = that.list.concat(res.data.clubList);
								}
								 that.loading = false;
								 setTimeout(()=> {that.refreshing = false;}, 500);
							} else {
								that.finished = true;
								that.loading = false;
								that.$toast(res.msg)
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				onRefresh() {
					// 清空列表数据
					this.finished = false;
					// 重新加载数据
					// 将 loading 设置为 true，表示处于加载状态
					this.loading = true;
					this.onLoad();
				},
				onLoad() {
					if (this.refreshing) {
						this.pageNum = 1;
					} else {
						this.pageNum++;
					}
					this.getClubList()
				},
				//创建俱乐部
				goAddClub() {
					var that = this;
					localStorage.removeItem('clubForm');
					if (!JSON.parse(localStorage.getItem("appInfo")).phoneNumber) {
						that.$dialog.confirm({
							message: '使用本功能，请先绑定手机号',
							confirmButtonText: "确定",
							confirmButtonColor: "#007AFF",
							width: "300",
							cancelButtonColor: "#FF453A"
						}).then(() => {
							if (isIOS) {
								window.webkit.messageHandlers.lstNative.postMessage({
									"method": "bindPhoneNumber",
								});
							} else if (isAndroid) {
								window.android.bindPhoneNumber()
							}
							localStorage.removeItem("appInfo")
						}).catch(() => {});
					} else {
						that.goAddClubAfter()
					}
				},
				goAddClubAfter() {
					localStorage.removeItem('clubForm')
					if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) { //判断iPhone|iPad|iPod|iOS
						window.webkit.messageHandlers.lstNative.postMessage({
							'method': 'creatClub'
						})
					} else if (/(Android)/i.test(navigator.userAgent)) { //判断Android
						window.android.createClub()
					}
				},
				//点击进入俱乐部
				clickItem(item) {
					this.oldStr = this.searchValue
					this.searchValue = ""
					//console.log(item)
					//判断用户是否加入该俱乐部
					// 未加入的话，点击跳转未加入的俱乐部主页
					// 已加入的话。点击跳转俱乐部主页详情(部长和成员)
					//用户为部长或成员的 事件的处理
					//  点击返回键回到我的页面；
					//用户为部长，顶部导航栏有设置ICON , 点击设置icon跳转俱乐部设置页面(主页-部长设置),
					//用户为成员，顶部导航栏有设置ICON , 点击设置icon跳转“2-主页-成员设置”页面；
					ajax({
						type: "get",
						url: "club/memberInfo",
						data: {
							clubId: item.id,
							memberId: getQueryString('userId') || JSON.parse(localStorage.getItem("appInfo")).userId,
						},
						success: function(res) {
							if (res.code == 0) {
								var data = res.data;
								if (isIOS) { 
									window.webkit.messageHandlers.lstNative.postMessage({
										'method': 'clubListToDetail',
										'clubDetailID': item.id,
										'isMinister': data.isMinister,
										'isJoin': data.isMember,
										'isSubMinister': data.isSubMinister,
										"isCorporate":item.type=='05'?'Y':'N'
									})
								} else{ 
									var str = 'id=' + item.id + '&isMinister=' + data.isMinister + '&isJoin=' + data.isMember+'&isSubMinister='+ data.isSubMinister+'&isCorporate='+(item.type=='05'?'Y':'N')
									window.android.clubListDetail(str)
								}
							} else {

							}
						},
						error: function() {
							console.log("error")
						}
					})
				},

				//刷新列表
				refreshList() {
					if (this.oldStr) {
						//this.list = [];
						this.searchValue = this.oldStr
						this.oldStr = ""
						this.searchClub(this.searchValue)
					} 

				},
				//搜索
				searchClub(value) {
					if (!value) {
						 this.pageNum = 1;
						 this.getClubList()
						return
					}
					var that = this
					ajax({
						type: "get",
						url: "club/clubSearch",
						data: {
							page: 1,
							pageSize: 1000,
							userId: JSON.parse(localStorage.getItem("appInfo")).userId,
							uid: JSON.parse(localStorage.getItem("appInfo")).userId,
							key: value
						},
						success: function(res) {
							if (res.code == 0) {
								that.list = res.data
							} else {
								that.finished = true;
								that.loading = false;
								that.$toast(res.msg)
							}
						},
						error: function() {
							console.log("error")
						}
					})
				}






			}
		})
	</script>

</html>
