<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>已报名成员</title>
		<script type="text/javascript">

		</script>
		<link rel="stylesheet" href="../../common/css/vant-rem.css">
		<link rel="stylesheet" href="css/memberList.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		
	</head>
	<body>
		<div id="app" v-cloak>
			<div>
				<div class=" memberList" v-if="memberItem.memberList.length>0 ">
					<van-row v-for=" item in memberItem.memberList">
						<van-col span="4" class="createrHeadPic">
							<div class="detail_headpic" @click="Interaction.visitPersonalHomepage(item.uid)" :style="{'background-image': 'url(' + item.headerPicUrl + ')'}"></div>
						</van-col>
						<van-col span="15">
							<div class="createrName" @click="Interaction.visitPersonalHomepage(item.uid)">{{item.nickName}}
							<van-tag class="van-tag-ower " v-if="item.isAdmin=='Y'">部长</van-tag>
							</div>
							<div class="activityTime">
								<span >报名时间:</span>
								<span>{{DateTime.sjc2time("ymd3",item.attendTime)}}</span>
							</div>
						</van-col>
						
						<van-col span="5" v-if="item.relation==3">
							<div class="acceptStatus">相互关注</div>
						</van-col>
						<van-col span="5" v-else-if="item.relation==1">
							<div class="acceptStatus2" @click="addFans(item)">回粉</div>
						</van-col>
						<van-col span="5" v-else-if="item.relation==2">
							<div class="acceptStatus">已关注</div>
						</van-col>
					</van-row>
				</div>
				<div class="noData-box" v-else>
					<img class="noData-img" src="../clubList_Detail/img/iconNullData.png" />
					<p class="noData-p">暂无数据</p>
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
	 
	<script src="js/DateTime.js"></script>
	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					activityId: "",
					memberItem:{
						memberList:[]
					}
				}
			},
			filters: {
				ellipsis(value) {
					if (!value) return '';
					if (value.length > 4) {
						return value.slice(0, 4) + '...';
					}
					return value;
				}
			},
			created() {
				this.activityId = getQueryString("id");
				this.activityDetail();
			},
			methods: {
				activityDetail() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/activity/get/item",
						data: {
							id: _self.activityId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.memberItem=res.data.itemList[2];
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				//添加关注
				addFans(item){
					var _self = this;
					ajax({
						type: "post",
						url: "community-core/interest/add",
						data: {
							targetId: item.targetId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.activityDetail();
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				}
				
			

			}
		})
	</script>
</html>
