<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>申请列表</title>
		<link rel="stylesheet" href="../../common/css/vant-rem.css">
		<link rel="stylesheet" href="css/memberList.css">
		<link rel="stylesheet" type="text/css" href="css/iosTop.css" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<style type="text/css">
			body{
				background-color: #fff;
			}
			.noData-img{
				height: auto!important;
			}
			.van-nav-bar__text {
				color: #000;
			}
			.van-nav-bar .van-icon{
				color: #000000;
			}
			.van-hairline--bottom::after{
				border-bottom:none;
			}
			.van-nav-bar__left,
			.van-nav-bar__right {
				font-size: .32rem;
			}
			.van-nav-bar{
				background-color: #fff;
				}
				.memberList{
					padding-top: .92rem;
				}
		</style>
	</head>
	<body>
		<div id="app" v-cloak class="page">
			<div class="header">
				<van-nav-bar title="申请列表"
			 @click-left="OnclickLeft"
			 @click-right="OnclickRight"
			 right-text="全部通过"
			 left-arrow
			 >
			</van-nav-bar>
			</div>
			
			<div >
				<div class=" memberList applyList" v-if="memberList.length>0">
					<van-swipe-cell v-for="item in memberList">
						<van-row>
							<van-col span="4" class="createrHeadPic">
								<div class="detail_headpic" :style="{'background-image': 'url(' + item.headPictureUrl + ')'}"></div>
							</van-col>
							<van-col span="15">
								<div class="createrName">
									{{item.nickname}}
								</div>
								<div class="activityTime">
									<span>申请时间:</span>
									<span>{{renderTime(item.updateTime)}}</span>
								</div>
							</van-col>
							<van-col span="5">
								<div class="acceptStatus2" @click="handleApply(item)">通过</div>
							</van-col>
						</van-row>
			
						<template slot="right">
							<van-button square type="danger" @click="deleteApply(item)" text="删除" />
						</template>
					</van-swipe-cell>
				</div>
				<div class="noData-box" v-else-if="memberList.length<=0&&upFinished">
					<img class="noData-img" src="./../clubList_Detail/img/nulldata.png" />
					<p class="noData-p">暂无数据</p>
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
	 
	<script src="js/DateTime.js"></script>
	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					clubId: "", //俱乐部id
					memberList: [],
					upFinished: false, //加载完全
					
					
					pageIndex: 0,
					pageSize: 10,
					offset: 200, // 滚动条与底部距离小于 offset 时触发load事件
				}
			},
			created() {
				this.clubId = getQueryString("id") || "1";
				this.applyList();
			},
			methods: {
				OnclickLeft(){
					window.history.back(-1);
				},
				OnclickRight(){
					var _self = this;
					var mlength = _self.memberList.length;
					for (var i = 0;i<mlength;i++) {
						_self.handleApply2(_self.memberList[i],i)
					}
				},
				//获取申请列表
				applyList() {
					var _self = this;
					ajax({
						type: "post",
						url: "club/applyList",
						data: {
							clubId: _self.clubId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.memberList = res.data;
								_self.upFinished=true;
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				//处理申请 flag1 通过 2拒绝
				handleApply(item, flag) {
					var _self = this;
					var agree = true;
					if (flag == 2) {
						agree = false;
					}
					ajax({
						type: "post",
						url: "club/handleApply",
						data: {
							clubId: _self.clubId,
							applyId: item.applyId,
							agree: agree
						},
						success: function(res) {
							// 0 成功
							// 2003 参数错误
							// 3001 已在该俱乐部
							// 3002 已申请
							if (res.code == 0) {
								_self.$toast("该申请已通过!")
								_self.applyList();
								localStorage.setItem("settingChange",1);
								_self.handleApplySuccess();
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				//处理申请 flag1 通过 2拒绝
				handleApply2(item,index) {
					var _self = this;
					var agree = true;
					ajax({
						type: "post",
						url: "club/handleApply",
						data: {
							clubId: _self.clubId,
							applyId: item.applyId,
							agree: agree
						},
						success: function(res) {
							// 0 成功
							// 2003 参数错误
							// 3001 已在该俱乐部
							// 3002 已申请
							if (res.code == 0) {
								if(index == _self.memberList.length-1){
									_self.$toast("申请已全部通过!")
									_self.applyList();
									localStorage.setItem("settingChange",1);
									_self.handleApplySuccess();
								}
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				renderTime(utc_datetime) {
					var T_pos = utc_datetime.indexOf('T');
					var Z_pos = utc_datetime.indexOf('.');
					var year_month_day = utc_datetime.substr(0, T_pos);
					var hour_minute_second = utc_datetime.substr(T_pos + 1, Z_pos - T_pos - 1);
					var new_datetime = year_month_day + " " + hour_minute_second; // 2017-03-31 08:02:06
				
					// 处理成为时间戳
					var timestamp = this.getTime(new_datetime);
					// 增加8个小时，北京时间比utc时间多八个时区
					var timestamp = timestamp + 8 * 60 * 60 * 1000;
				
					// 时间戳转为时间
					var beijing_datetime = this.sjc2time("ymd3", timestamp);
					return beijing_datetime;
				
				},
				getTime(time) {
					var myDate = new Date(time);
					var u = navigator.userAgent;
					var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;   //android终端
					var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
					if (isiOS) {
						var t = new Date(time.replace(/-/g, '/')).getTime();
					} else {
						var t = myDate.getTime();
					}
					return t;
				},
				sjc2time(id, sjc) {
					var datetime = new Date(sjc);
					var year = datetime.getFullYear();
					var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
					var month2 = datetime.getMonth() + 1 < 10 ? datetime.getMonth() + 1 : datetime.getMonth() + 1;
					var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
					var date2 = datetime.getDate() < 10 ? datetime.getDate() : datetime.getDate();
					var hour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
					var minute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
					var second = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
					if (id == "y") {
						return year;
					} else if (id == "d") {
						return date;
					} else if (id == "ym") {
						return year + "-" + month;
					} else if (id == "ymd") {
						return year + "-" + month + "-" + date;
					} else if (id == "ymd3") {
						return year + "." + month + "." + date;
					} else if (id == "ymd2") {
						return year + "年" + month + "月" + date + "日";
					} else if (id == "ymdhm") {
						return year + "-" + month + "-" + date + " " + hour + ":" + minute;
					} else if (id == "mdhm") {
						return month + "月" + date + "日 " + hour + ":" + minute;
					} else if (id == "ymdhms") {
						return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
					} else if (id == "ymdhm2") {
						return year + "年" + month + "月" + date + "日 " + hour + ":" + minute;
					} else if (id == "ymdhm3") {
						return year + "/" + month + "/" + date + " " + hour + ":" + minute;
					} else if (id == "md") {
						return month + "-" + date;
					} else if (id == "md2") {
						return month2 + "月" + date2 + "日";
					} else if (id == "hm") {
						return hour + ":" + minute;
					} else if (id == "hms") {
						return hour + ":" + minute + ":" + second;
					} else if (!id) {
						return year + "-" + month + "-" + date;
					} else if (id == "mdhm2") {
						return month + "-" + date + " " + hour + ":" + minute;
					} else if (id == "mdhm3") {
						return month + "/" + date + " " + hour + ":" + minute;
					} else if (id == "dhms") {
						return date + "," + hour + "," + minute + "," + second;
					}
				},
				handleApplySuccess(){
					var _self=this;
					if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) { //判断iPhone|iPad|iPod|iOS
						try {
							window.webkit.messageHandlers.lstNative.postMessage({
								'method': 'clubMemberChange',
							})
						} catch (err) {
							console.log('window.webkit.messageHandlers 回传Id failed')
						}
					
					} else if (/(Android)/i.test(navigator.userAgent)) { //判断Android
						window.android.clubMemberChange()
					}
				},
				deleteApply(item) {
					var _self = this;
					ajax({
						type: "post",
						url: "club/deleteApply",
						data: {
							clubId: _self.clubId,
							applyId: item.applyId,
						},
						success: function(res) {
							if (res.code == 0) {
								_self.applyList();
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				}
			}
		})
	</script>
</html>
