<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>成员列表</title>
		<link rel="stylesheet" href="../../common/css/vant-rem.css">
		<link rel="stylesheet" href="css/memberList.css">
		<link rel="stylesheet" type="text/css" href="css/iosTop.css" />
		<link rel="stylesheet" href="css/clubCreateCompetition.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		
		<style type="text/css">
			.van-checkbox {
				position: relative;
				top: 0.5rem;
			}
			#app{
				min-height: 100vh;
				background-color: #fff;
				}
			.memberList .van-row {
				padding-top: .1rem;
			}

			.memberList {
				/* padding-top: .92rem; */
			}
			.van-hairline--bottom::after{
				border-bottom-width:0
			}
			.submit{
				position: fixed;
				bottom: 0;
				left: calc(50% - 2rem);
				opacity: 1;
				margin: .2rem 0;
			}
		</style>
	</head>
	<body>
		<div id="app" class="page" v-cloak>
			<!-- <div class="header">
				<van-nav-bar title="指定成员" @click-left="OnclickLeft" @click-right="OnclickRight" left-arrow>
					<template #right>
						<div :style="{color:result.length>0?'#1f1f1f':'#999'}">确定</div>
					</template>
				</van-nav-bar>
			</div> -->

			<div>
				<div class=" memberList">
					<van-list v-model="isUpLoading" :finished="upFinished" finished-text="没有更多了" :offset="offset" @load="LoadList"
					 :immediate-check=false v-if="Object.keys(memberList).length>0">
						<van-checkbox-group v-model="result">
							<van-cell-group>
								<van-index-bar>
									<template v-for="(bigitem,key,index) in memberList">
										<van-index-anchor :index="key.toUpperCase()"></van-index-anchor>
										<!-- <div class="ptitle">{{ key.toUpperCase()}}</div> -->
										<van-row v-for="(item,index2) in bigitem" ref="rows" @click="toggle(item.mindex)">
											<van-col span="2">
												<van-checkbox :name="item.memberId" ref="checkboxes"></van-checkbox>
											</van-col>
											<van-col span="4" class="createrHeadPic">
												<div class="detail_headpic" :style="{'background-image': 'url(' + item.headPictureUrl + ')'}"></div>
											</van-col>
											<van-col span="18">
												<div class="createrName">{{item.nickname}}
													<van-tag class="van-tag-ower " v-if="item.isMinister=='Y'">部长</van-tag>
												</div>
												<div class="activityTime">
													<span>加入时间:</span>
													<span>{{renderTime(item.createTime)}}</span>
												</div>
											</van-col>
										</van-row>
									</template>
								</van-index-bar>
							</van-cell-group>
						</van-checkbox-group>
						<van-button round class="submit" block
						:color="result.length>0?bgc:bgcgrey" @click="chooseBack">确定</van-button>
					</van-list>
					<div class="noData-box" v-else-if="upFinished||Object.keys(memberList).length==0">
						<img class="noData-img" src="../clubList_Detail/img/iconNullData.png" />
						<p class="noData-p">暂无可选成员</p>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>

	<script src="js/DateTime.js"></script>
	<script src="../../common/js/network.js"></script>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
					bgcgrey: '#999',
					clubId: "", //俱乐部id
					checked: true,
					memberList: [],
					isDownLoading: false, // 下拉刷新
					isUpLoading: false, // 上拉加载
					upFinished: false, // 上拉加载完毕
					page: 1,
					mindex: 0,
					pageSize: 10000000,
					offset: 200, // 滚动条与底部距离小于 offset 时触发load事件
					result: []
				}
			},
			created() {
				this.clubId = getQueryString("id") || 10000144;
				this.memberManage();

			},
			methods: {
				//成员管理
				memberManage() {
					var _self = this;
					var index = this.page;
					ajax({
						type: "post",
						url: "club/memberGroup",
						data: {
							clubId: _self.clubId,
							// page: _self.page,
							// pageSize: _self.pageSize
						},
						success: function(res) {
							_self.isDownLoading = false;
							_self.isUpLoading = false;
							if (res.code == 0) {
								// 因为对象包数组的原因，循环给每个人上index，方便组件控制toggle
								var arr = res.data,
									mindex = 0;
								for (let key in arr) {
									for (let index = 0; index < arr[key].length; index++) {
										arr[key][index].mindex = mindex;
										mindex++;
									}
								}
								_self.memberList = arr;
								return;
								if (rows == null || rows.length === 0) {
									_self.upFinished = true;
									return;
								}

								if (index > Math.ceil(res.data.length / _self.pageSize)) {
									_self.upFinished = true;
									return;
								} else {
									_self.upFinished = false;
								}
								if (rows.length < _self.pageSize) {
									_self.upFinished = true;
								}
								// 处理数据
								if (index == 1) {
									_self.memberList = rows;
								} else {
									_self.memberList = _self.memberList.concat(rows);
								}
							} else if (index == 1 && res.code == 1000) {
								_self.memberList = [];
								_self.upFinished = true;
							} else {
								_self.memberList = _self.memberList.concat([])
								_self.upFinished = true;
							}

						},
						error: function() {
							console.log("error")
						}
					})
				},
				//刷新成员管理
				Refresh() {
					this.page = 1;
					this.upFinished = false; // 不写这句会导致你上拉到底过后在下拉刷新将不能触发下拉加载事件
					this.memberManage(); // 加载数据
				},
				// 成员管理上拉加载请求方法
				LoadList() {
					this.upFinished = true;
					// this.page++;
					// this.memberManage();
				},
				toggle(index) {
					this.$refs.checkboxes[index].toggle();
				},
				chooseBack() {
					console.log(this.result)
					if (this.result.length < 1) {
						this.$toast("请先选择成员!")
						return;
					} else {
						localStorage.setItem("chooseMemberList", this.result)
					}
					window.history.back(-1);
					
					


				},
				OnclickLeft() {
					
				},
				OnclickRight() {
					this.chooseBack()
				},
				renderTime(utc_datetime) {
					var T_pos = utc_datetime.indexOf('T');
					var Z_pos = utc_datetime.indexOf('.');
					var year_month_day = utc_datetime.substr(0, T_pos);
					var hour_minute_second = utc_datetime.substr(T_pos + 1, Z_pos - T_pos - 1);
					var new_datetime = year_month_day + " " + hour_minute_second; // 2017-03-31 08:02:06

					// 处理成为时间戳
					var timestamp = DateTime.getTime(new_datetime);
					// 增加8个小时，北京时间比utc时间多八个时区
					var timestamp = timestamp + 8 * 60 * 60 * 1000;

					// 时间戳转为时间
					var beijing_datetime = DateTime.sjc2time("ymd3", timestamp);
					return beijing_datetime;

				},
			}
		})
	</script>
</html>
