<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>创建俱乐部(2/3)</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="../../common/css/vant-rem.css">
		<link rel="stylesheet" href="css/clubCreateCompetition.css">
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div>
				<div class="laberDiv">
					俱乐部名称
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-field v-model="submitform.name" :input="titleChange()" class="club-input" style="min-height:1.7rem;" rows="2"
					 autosize type="textarea" maxlength="16" placeholder="请为您的俱乐部取个响亮的名称吧～" show-word-limit />
				</div>
			</div>
			<div style="">
				<div class="laberDiv">
					俱乐部简介
				</div>
				<div style="padding:0 0.2rem 0.2rem 0.2rem;">
					<van-field v-model="submitform.introduce" :input="contentChange()" class="club-input" rows="5" autosize type="textarea"
					 maxlength="100" placeholder="简单介绍一下您的俱乐部吧～" show-word-limit />
				</div>
			</div>

			<van-button round class="submit" block @click="goNext()" :color="submitform.introduce&&submitform.name?bgc:bgcgrey">下一步</van-button>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
	<script src="../../common/js/network.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data() {
				return {
					bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
					bgcgrey: '#999',
					submitform: JSON.parse(localStorage.getItem('clubForm')) || {},
				};
			},
			methods: {
				goNext() { //去下一步
					var _this = this;
					if (!this.submitform.name || !this.submitform.introduce) return;
					this.checkStr(this.submitform.name+this.submitform.introduce,function(){
						localStorage.setItem('clubForm', JSON.stringify(_this.submitform));
						window.location.href = 'createClub3.html';
					})
				},
				contentChange() {
					if(this.submitform.introduce)this.submitform.introduce = this.submitform.introduce.replace(
						/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				},
				titleChange() {
					if(this.submitform.name)this.submitform.name = this.submitform.name.replace(
						/[^\u4E00-\u9FA5|\d|\a-zA-Z|\r\n\s,.?!，。#￥$%\`~^？！@…—&$=()\-+\/*{}【】\\（）[\]]|\s/g, '')
				},
				checkStr(param, cb) {
					var that = this;
					ajax({
						type: "post",
						url: "contentSecurity/aliyun/textScan",
						data: {content:param},
						success: function(res) {
							if (res.code == 0) {
								cb()
							} else if (res.code == 4001) {
								that.$toast("输入的内容不合法!");
							}
						},
						error: function() {
							console.log("error")
						}
					})
				}
			}
		})
	</script>
