html,body,ul,ol,li,a,p{margin: 0; padding: 0;}
p{text-align:left;line-height: 1.7;}
a,span{display:inline-block;}
a:link{ text-decoration:none; behavior:url(/scripts/blur.htc);}
a:visited{ text-decoration:none;}
a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}


/*** 颜色 ***/
.bg-green03{background:#56f593;}
.bg-green02{background:#84FF84;}
.bg-blue{background:#1DC6DA;}
.bg-green{background:#16D216;}
.bg-yellow{background:#FFD200;}
.bg-orange{background:#FF9000;}
.bg-orange2{background:#FFa400;}
.bg-red{background:#EF7161;}
.bg-red2{background:#ff2300;}
.bg-gray{background:#d1d1d1;}



.banner_sharp {
	height: 7rem !important;
}

.banner{
	position: relative;
	width: 100%;
	height: 5.46rem;
	text-align: left;
	color: #fff;
	line-height: 1.1;
	/* background: #e3e3e3; */
	background-color:transparent;
	z-index: 2;
}
.banner .content{
	width: 100%; 
	height: 100%; 
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background:rgba(255, 255, 255, 0);



}

.banner_sharp .content{
	height:120%;
	/* background: url(../images/item_banner_sharp.png) no-repeat; background-size: 100%; */
}


.banner_text{
	text-align: center;
}
.circleborder {
	width:2.14rem;
	height:2.14rem;
	margin: .6rem 0 .28rem 0;
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255, 255, 255, 1);
	border-radius:50%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.type{
	font-size: .5rem;
}
.number{
	font-size:.59rem;
}
.unit{
	font-size:.28rem;
}
.index{
	/* display: inline-block; */
	font-size: .28rem;
    width: 1.2rem;
	height: 0.4rem;
	line-height: 0.4rem;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 0.8rem;
	text-align: center;
}


.boxlist {
	background: #f8f8f8; 
	padding-bottom: .25rem;
	/* background: #0f0f0f; */
	min-height: 6rem;
}

.box{	
	/* width:5.8rem; */
	/* margin-bottom: .2rem; */
	padding: .52rem .46rem;
	background: #fff;
	box-shadow:0px 3px 10px 0px rgba(0,45,109,0.2);
	border-radius:0.15rem;
	z-index:4;
	margin:-.75rem 3% 0 3%;
	/* background: #0f0f0f; */
}
.box-top {
    position: relative;
	top: -.96rem;
	left: 0;
}

.box-bottom {
	margin-bottom: 1rem;
	margin-top: -.72rem;
}
.sharp-box-bottom{
	margin-top: .1rem;
}

.sharp-top {
	/* margin-top:10%; */
	position: relative;
	top: -1rem;
	left: 0;
}
.p-center {
	text-align: center ;
}
.text-sharp {
	margin: 1% 10%;
	text-align: center;
}
.icon{
	position:absolute;
	left: 0;
	top:.45rem;
	width:.63rem;
}

.lines-g1{
	/* margin-bottom: .35rem; */
	font-size:.24rem;
	color: #666;
	line-height: 2;
}
.lines-g1 .idealage{
	/* margin-bottom: .19rem; */
}
.lines-g1 .line-age{
	width:2.3rem;
	height: .16rem;
	border-radius:1000px;
}

.lines{
	position:relative;
	/* width:5.8rem; */
	height:.32rem;
	font-size:0;
	line-height:.32rem;
}
.lines .scale{
	position:absolute;
	top:0;
    width: 0.12rem;
    height: .12rem;
    border: 3px solid #2E80F3;
	border-radius: 50%;
	background: #fff;
	/* border-radius:1000px; */
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	z-index: 999;
	display: none;
}
.lines span:nth-of-type(1){border-radius: 5rem 0 0 5rem;}
.lines span:nth-last-of-type(1){border-radius: 0 5rem 5rem 0;}
.ruler, .text, .text02{
	/* width:5.8rem; */
}
.text02{margin-top:.37rem;}

.lines.lines-g2{width:5rem; margin:auto;}
.lines-g2 span{width:50%; height:.087rem;}
.lines-g2 span:last-of-type{margin-right:0;}
.ruler-g2 span{width:50%; font-size:.22rem; color:#999;}
.text-g2{margin-bottom:.35rem; font-size:0;}
.text-g2 span{width:50%; font-size:.24rem; color:#333;}

.lines-g3 span{width:33.33%; height:.087rem;}
.lines-g3 span:last-of-type{margin-right:0;}
.ruler-g3 span{width:33.3%; font-size:.22rem; color:#999;}
.text-g3{margin-bottom:.35rem; font-size:0;}
.text-g3 span{width:33%; font-size:.24rem; color:#333;}

.lines-g4 span{position:relative; width:25%; height:.087rem;}
.lines-g4 span:last-of-type{margin-right:0;}
.ruler-g4 span{width:25%; font-size:.22rem; color:#999;}
.text-g4{margin-bottom:.35rem; font-size:0;}
.text-g4 span{width:25%; font-size:.24rem; color:#999;}

.lines-g7 span{position:relative; width:14.28%; height:.087rem;}
.lines-g7 span:last-of-type{margin-right:0;}
.ruler-g7 span{width:14.28%; font-size:.22rem; color:#999;}
.text-g7{margin-bottom:.35rem; font-size:0;}
.text-g7 span{width:14.28%; font-size:.24rem; color:#999;}
.box p{
	margin: 0 0;
	text-align: justify;
	/* text-align: center; */
}
.box p.p-center{
	text-align: center;
}
.box p img{width:100%;}
.box .title{
	height: .3rem;
    margin-bottom: .25rem;
    color: #333;
    font-size: 0;
    line-height: .3rem;
    text-align: left;
}
.box .title p{
    display: inline-block;
    margin: 0;
    font-size: .3rem;
    vertical-align: middle;
    line-height: .3rem;
    height: .3rem;
}
.box .title .left{
	display: inline-block;
	width: .08rem; 
	height: .16rem;
	margin-right: .11rem;
	background: url(../images/icon_left.png) no-repeat;
	background-size: 100%;
	vertical-align: middle;
}
.box .title .right{
	display: inline-block;
	width: .08rem; 
	height: .16rem;
	margin-left: .11rem;
	background: url(../images/icon_right.png) no-repeat;
	background-size: 100%;
	vertical-align: middle;
}
.list{
	height: .37rem;
	margin: .1rem 0;
	font-size: .26rem;
	text-align:left;
	color: #666;
}
#dietaryAdvice{
	margin-bottom: .3rem;
}
.title {
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.title img{
	width:.42rem; 
	margin-right:.1rem;
}
.list img{
	width:.37rem; 
	margin-right:.1rem;
}
.list p{
	display:inline-block;
	margin:0;
	line-height: .37rem;
	vertical-align: top;
	color: #666;
}

.box .standard_table{
	min-height:1rem;
	margin-top: .4rem;
	line-height:0;
	background:#e3e3e3;
}