.ub {
	display: -webkit-flex !important;
	display: flex !important;
	position: relative;
}
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff2") format("woff2"),
       url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff") format("woff"),
       url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.ttf") format("truetype"),
       url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.eot") format("embedded-opentype"),
       url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ub-rev {
	-webkit-flex-direction: row;
	flex-direction: row
}

.ub-f1 {
	flex: 1;
}

.ub-fh {
	width: 100%;
}

.ub-fv {
	height: 100%;
}

.ub-con {
	position: absolute;
	width: 100%;
	height: 100%;
}

.ub-ac {
	-webkit-align-items: center;
	align-items: center;
}
.ub-aend {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.ub-ae {
	-webkit-justify-content: end;
	justify-content: end;
}

.ub-pc {
	-webkit-justify-content: center;
	justify-content: center;
}

.ub-pe {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.ub-pj {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.ub-ad {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
/* 顶部区域，包含俱乐部的基本信息 */
.main-container .bannerBg {
	height: 5rem;
    width: 100%;
    position: relative;
	filter: blur(4px);
	/* z-index: 1; */
}
.main-container .info-container {
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%; 
    height: 2.35rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 5% 0;
	z-index: 9;
}
.info-container .info-img-container {
    width: 1.8rem;
    height: 1.8rem;
    /* background: #fff; */
    /* overflow: hidden; */
    position: relative;
    border-radius: .1rem;
	margin-right: .2rem;

}
.info-img-container img {
    width: 100%;
    border-radius: .2rem;
	
    /* border: 1px #fff solid; */
    
}
.notice-container .radiusbox{
	  height: .4rem;
	    background: #fff;
	    border-radius: 1rem 1rem 0 0;
	    position: absolute;
	    width: 100%;
		top: -.4rem;
}
.info-content .clubIcon {
	border-radius: .04rem;
	width: .55rem;
	height: .32rem;
	background: linear-gradient(to right, #FF6A88, #FF5136 );
	font-size: .2rem;
	color: #fff;
	text-align: center;
	line-height: .35rem;
	text-align: center;
	display: inline-block;
}
.info-container .info-content {
    width: 64%;
    /* height: 85%; */
    font-size: .2rem;
    color:#fff;
    line-height: 1.5;
}
.info-content .title {
    font-size: .35rem;
    width: calc( 154% - 1.6rem );
    /* margin-top: 2%; */
    line-height: 1.5;
}
.info-content .title span.titlecolor {
    color: #EDD2C0 ;
    float: left;
    margin-right: 0;
}
.info-content  span:last-child {
    margin-right: 0;
}
.info-content .infolist {
    width: 108%;
    line-height: .35rem;
	font-size: .2rem;
    display: flex;
    flex-wrap: wrap;
}

/* 成员区域 */
.main-container  .member-container {
    width: 100%;
    background: #fff;
    padding: 2% 5%;
    color: #333;
    font-size: .32rem;
    line-height: 1.5;

}
.main-container .blackbg{
	width: 100%;
	    height: 5rem;
	    position: absolute;
	    background-color: rgba(0,0,0,.2);
	    z-index: 9;
}
.member-container .member-content {
    width: 100%;
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-content .memberlist {
    display: flex;
}
.member-content .memberlist .memberItemImg{
    border-radius: 50%;
    background: #f8f8f8;
    width: .565rem;
    height: .565rem;
    border: 1px #f8f8f8 soild;
    overflow: hidden;
}
.memberItemImg img {
    width: 100%;
    height: 100%;
}
.member-content .memberlist .memberItemImg:nth-child(n+2){
    margin-left: -.18rem;
}
.member-content .number-icon {
    color: #333;
    font-size: .24rem;
    
    display: flex;
    align-items: center;
}
.number-icon p {
    margin-right: .15rem;;
}
.number-icon img {
    width: .2rem;
}

/* 通知区域 */
.main-container .notice-container {
    width: 100%;
    background: #fff;
    border-bottom: 2px #f8f8f8 solid;
	position: relative;
	z-index: 99;
}
.notice-container .noticeItem {
    width: 100%;
    height: .77rem;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding-bottom: .3rem;
}
.noticeItem .icon-content {
    font-size: .28rem;
    color: #333;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.icon-content img {
    width: .35rem;
    margin-right: .15rem;
}
.icon-right {
    width: .2rem;
}

/* 创建按钮 */
.addClubBtn {
    position: fixed;
    bottom: 2.5rem;
    right: 0.3rem;
    z-index: 999;
}
.addClubBtn img {
    /* width:100%; */
    width: 0.94rem;
    height:0.94rem;
}

/* tab选择区域 */
.main-container .tab-container {
    width:100%;
    height: 1.2rem;
    margin-top: 3%;

    position:sticky;
    top:0;

    padding: 0 5%;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color:#727272;
    font-size: .28rem;
    line-height: 2.5;
}

.tab-container  .selected {
    color: #333;
    /* font-weight: 550; */
    position: relative;
}
.selected::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;   
    transform: translate(-50%, -50%);

    width:24px;
    height: 2px;
    border-radius: 1px;
    background: #333;

}

/* tab对应显示区域 */
.main-container .tab-content {
    width:100%
}

/* 任务，线上赛，活动 显示区域 */
.tab-content  .otherTab-container {
    width: 100%;
    color: #333;
    font-size: .28rem;

}
.otherTab-container .participated-container {
    color: #333;
    background: #fff;
}
.participated-container .title {
    width: 100%;
	height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-top: 1px #f8f8f8 solid;
	color: #1f1f1f;
	font-size: .28rem;
}

.participated-container .infoDivItem {
    border-top: 1px #f8f8f8 solid;
    
    width: 100%;
    height: 1.2rem;
    padding: 0 5%;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoDivItem .num-icon {

    display: flex;
    align-items: center;

    font-size: .22rem;
    
} 
.num-icon .icon-right{
    width: .2rem;

}
.num-icon .num {
    position: relative;
    margin-right: .1rem;
}
.num-icon .noNum .redcircle{
	position: absolute;
	width: .1rem;
	height: .1rem;
	border-radius: 50%;
	background: #E60012;
	top: .4rem;
	right: -.15rem;
}
.num-icon .noNum::after{
   /* position: absolute;
    top: .4rem;
    right: -.15rem;

    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #E60012; */
}

.otherTab-container .not-participate-container {
    margin-top: 3%;
    color: #333;
    background: #fff;
}

.not-participate-container .title {
    width: 100%;
    line-height: 2.5;
    text-align: center;
    border-top: 1px #f8f8f8 solid;
}

.not-participate-container .infoDivItem {
    border-top: 1px #f8f8f8 solid;
    
    width: 100%;
    height: 1rem;
    padding: 0 5%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoDivItem .num-icon {

    display: flex;
    align-items: center;

    font-size: .22rem;

}
.infoDivItem p.name{
	overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
}
.num-icon .icon-right{
    width: .2rem;
    margin-left: .1rem;
}

/* 任务模块的敬请期待区域 */
.tab-content-task-notopen {
    width: 100%;
    margin-top: 1.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color:#727272;
    font-size: .22rem;
    line-height: 3.5;
}
.tab-content-task-notopen img {
    width: .6rem;
}

/* .今日运动显示区域 */
.tab-content  .todaySportDiv {
    width: 100%;
    color: #333;
    font-size: .26rem;

}
.todaySportDiv .todaySportList {
    width: 100%;

}
.todaySportList .memberSportDetailItem {
    width: 100%;
    height: 1.03rem;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-top: 1px #f8f8f8 solid;
    
}
.memberSportDetailItem .memberInfo {
    display: flex;
    align-items: center;
}
.memberInfo img {
    width: .55rem;
    height: .55rem;
    border-radius: 50%;
    background: #666;
    margin-right: .1rem;
}
/* 今日运动 无数据 */
.memberNullData {
    width: 100%;
    padding: 8% 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-top: 1px #f8f8f8 solid;

    color: #727272;
    font-size: .22rem;
    line-height: 3;
}
.memberNullData img {
    width: 2.55rem;
    height: auto;
}

/* .往日列表 循环 */
.todaySportDiv .pastlistItem {
    width: 100%;
    margin-top: 3%;
    background: #fff;

}
.pastlistItem .sumItem {
    width: 100%;
    height: .76rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;

}
.sumItem .number-icon {
    display: flex;
    align-items: center;
    font-size: .24rem;
}
.sumItem .number-icon p {
    margin-right: .1rem;
}
.sumItem .number-icon img.icon-down{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.sumItem .number-icon img.icon-up{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}

.pastlistItem .memberSportDetailItem {
    width: 100%;
    height: 1.03rem;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-top: 1px #f8f8f8 solid;
    white-space: nowrap;
    
}
.memberSportDetailItem p {
    width: 40%;
    text-align: right;
}
.memberSportDetailItem p.name {
    width: 70%;
    text-align: right;
	overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
}
.memberSportDetailItem p.num {
    width: 25%;
    text-align: right;
}
.memberSportDetailItem p.num span.ropenum ,.memberSportDetailItem p.member-time span.ropenum{
	font-size: .48rem;
	font-family: DINCondensed-Bold;
	
}
.memberSportDetailItem p.num span {
	font-size: .2rem;
}
.memberSportDetailItem .memberInfo {
    width: 35%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.memberInfo img {
    width: .55rem;
    height: .55rem;
    border-radius: 50%;
    background: #666;
    margin-right: .1rem;
}