body {
  background-color: #f5f5f5;
}
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff2")
      format("woff2"),
    url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.woff")
      format("woff"),
    url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.ttf")
      format("truetype"),
    url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.eot")
      format("embedded-opentype"),
    url("../../../common/font/DINCondensed-Bold/DINCondensed-Bold.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: relative;
  .bannerBg {
    height: 5.16rem;
    width: 100%;
    position: relative;
    filter: blur(4px);
  }
  .blackbg {
    width: 100%;
    height: 5.16rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
  }
  .infoBox {
    padding: 0 0.3rem;
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    z-index: 99;
    justify-content: start;
    align-items: center;
    .clubPic {
      background-size: cover;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.3rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .clubDescript {
      .clubName {
        font-size: 0.28rem;
        color: #ffffff;
        line-height: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 4.7rem;
      }
      .clubId,
      .clubDate,
      .clubAddress {
        font-size: 0.2rem;
        color: #ffffff;
        line-height: 0.35rem;
        max-width: 4.7rem;
      }
      .clubLabel {
        border-radius: 2px;
        width: 0.55rem;
        height: 0.32rem;
        background: linear-gradient(to right, #ff6a88, #ff5136);
        font-size: 0.2rem;
        color: #fff;
        text-align: center;
        line-height: 0.32rem;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
      }
    }
  }
}

.containBox {
  position: relative;
  z-index: 99;
  .noticeBox {
    border-bottom: 2px #f8f8f8 solid;
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 0 0.3rem;
    box-sizing: border-box;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    top: -1rem;
    .noticeBoxLeft {
      display: flex;
      justify-content: start;
      align-items: center;
      .iconNotice {
        width: 0.4rem;
        height: 0.4rem;
        margin-right: 0.2rem;
      }
      .noticeContent {
        font-size: 0.28rem;
        color: #1f1f1f;
      }
    }

    .iconRight {
      width: 0.25rem;
      height: 0.25rem;
    }
  }

  .memberBox {
    background-color: #ffffff;
    padding: 0.3rem 0.3rem;
    .title {
      height: 0.7rem;
      font-size: 0.32rem;
      color: #1f1f1f;
    }
    .memberListDiv {
      height: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .memberPersonPic {
        display: flex;
        align-items: center;
        position: relative;
        img {
          position: absolute;
          left: 0;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      .memberPersonNum {
        display: flex;
        justify-content: end;
        align-items: center;
        .numP {
          color: #1f1f1f;
          font-size: 0.28rem;
        }
        .iconRight {
          width: 0.25rem;
          height: 0.25rem;
        }
      }
    }
  }

  .tabBox {
    margin-top: 0.2rem;
    .van-tabs__line {
      width: 0.4rem;
      height: 2px;
    }
    .nullDataBox {
      height: 3.6rem;
      background-color: #fff;
      text-align: center;
      img {
        width: 40%;
      }
    }
    .todaySport {
      .todayBox {
        max-height: 3.6rem;
        overflow-y: scroll;
        background-color: #fff;
      }

      .memberSport {
        height: 1.2rem;
        padding: 0 0.3rem;
        display: flex;
        align-items: center;
        border-top: 1px #f8f8f8 solid;
        color: #1f1f1f;
        .flexBox {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .headerPic {
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
        .nickName {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 0.28rem;
        }
        .boldNum {
          font-size: 0.48rem;
          font-family: DINCondensed-Bold;
        }
        .descript {
          font-size: 0.2rem;
        }
      }

      .historyBox {
        .van-collapse-item {
          margin-top: 0.15rem;
          background-color: #fff;
          // padding: 0.1rem 0;
        }
        .van-collapse-item__content {
          padding: 0;
        }
      }
    }

    .task {
      .taskBox {
        margin-bottom: 0.2rem;
        background-color: #ffffff;
        .title {
          height: 1.2rem;
          color: #1f1f1f;
          background-color: #ffffff;
          font-size: 0.28rem;
          line-height: 1.2rem;
          text-align: center;
        }
        .taskDiv {
          max-height: 3.6rem;
          overflow-y: scroll;
        }
        .taskList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.3rem;
          height: 1.2rem;
          background-color: #ffffff;
          border-top: 1px solid #f8f8f8;

          .taskName {
            font-size: 0.28rem;
            line-height: 1.2rem;
          }
          .taskPeopleNum {
            .redcircle {
              position: absolute;
              width: 0.1rem;
              height: 0.1rem;
              border-radius: 50%;
              background: #e60012;
              top: 0.7rem;
              right: 0.25rem;
            }
            p {
              margin-right: 0.15rem;
            }
            position: relative;
            display: flex;
            align-items: center;
            font-size: 0.24rem;
            line-height: 1.2rem;

            .iconRight {
              width: 0.25rem;
              height: 0.25rem;
            }
          }
        }
      }
    }

    .competition {
      @extend .task;
    }
    .activity {
      @extend .task;
    }
  }

  .addBtn {
    img {
      width: 0.94rem;
      height: 0.94rem;
      position: fixed;
      bottom: 2.5rem;
      right: 0.3rem;
      z-index: 999;
    }
  }
}

//未加入俱乐部
.containBox2 {
  position: relative;
  z-index: 99;
  .memberBox {
    padding: 0.3rem 0.3rem;
    background-color: #ffffff;
    border-radius: 0.6rem 0.6rem 0 0;
    box-sizing: border-box;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 2;
    height: 2rem;
    top: -1rem;
    .title {
      height: 0.7rem;
      font-size: 0.32rem;
      color: #1f1f1f;
    }
    .memberListDiv {
      height: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .memberPersonPic {
        display: flex;
        align-items: center;
        position: relative;
        img {
          position: absolute;
          left: 0;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      .memberPersonNum {
        display: flex;
        justify-content: end;
        align-items: center;
        .numP {
          color: #1f1f1f;
          font-size: 0.28rem;
        }
        .iconRight {
          width: 0.25rem;
          height: 0.25rem;
        }
      }
    }
  }
  .introduceBox {
    background-color: #fff;
    padding: 0 0.3rem 0.3rem;
    margin-bottom: 0.2rem;
    .titleBox {
      font-family: " PingFangSC-Regular";
      font-size: 0.32rem;
      color: #1f1f1f;
      line-height: 1rem;
    }
    .clubDescript {
      font-size: 0.28rem;
      color: #999999;
      line-height: 0.4rem;
    }
  }

  .detailBox {
    background-color: #fff;
    padding: 0 0.3rem 0.3rem;
    padding-bottom: 2rem;
    .titleBox {
      font-size: 0.32rem;
      font-family: " PingFangSC-Regular";
      color: #1f1f1f;
      line-height: 1rem;
    }
    .clubDataBox {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      .totalSkipBox {
        .num {
          height: 2rem;
          font-size: 0.84rem;
          font-family: "DINCondensed-Bold";
          color: #1f1f1f;
          line-height: 2rem;
          text-align: center;
          .smallNum {
            font-size: 0.48rem;
          }
        }
        .txt {
          font-size: 0.28rem;
          font-family: " PingFangSC-Regular";
          color: #999999;
          line-height: 1rem;
          text-align: center;
        }
      }
    }
  }

  .btn_box {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(rgba(255, 255, 255, 0.8)), color-stop(rgba(255, 255, 255, 0.95)), to(white));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95), white);
  }
  
  .btn_box .addClubBtn {
    color: #fff;
    width: 6.3rem;
    height: 0.88rem;
    font-size: 0.4rem;
    line-height: 0.88rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff6a88), to(#ff5136));
    background-image: linear-gradient(to right, #ff6a88, #ff5136);
    border-radius: 0.44rem;
    margin-bottom: 0.68rem;
  }
}
