@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1630919223546') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tongyong-gengduo:before {
    content: "\e79f";
}

.icon-xialaxuanxiang:before {
    content: "\e740";
}

.icon-H10-lishi:before {
    content: "\e757";
}

.icon-shurukuang-chahao:before {
    content: "\e69d";
}

.icon-wodexiaozu-jianzhi:before {
    content: "\e801";
}

.icon-wodexiaozu-jianfei:before {
    content: "\e802";
}

.icon-wodexiaozu-tiaosheng:before {
    content: "\e803";
}

.icon-wodexiaozu-jianshen:before {
    content: "\e804";
}

.icon-wodexiaozu-wanliqiu:before {
    content: "\e805";
}

.icon-dianzan-gaoliang:before {
    content: "\e80f";
}

.icon-shoucangdongtai:before {
    content: "\e641";
}

.icon-huancun:before {
    content: "\e643";
}

.icon-fenxianganniu:before {
    content: "\e689";
}

.icon-shezhi:before {
    content: "\e690";
}

.icon-fanhuianniu:before {
    content: "\e691";
}

.icon-fanhuianniu {
    color: var(--textColor);
}

.icon-duihua-fasong:before {
    content: "\e64b";
}

.icon-a-shequ-:before {
    content: "\e64e";
}

.icon-shoucangxing2:before {
    content: "\e812";
}

.icon-gengduo:before {
    content: "\e639";
}

.icon-exe-sale-primary:before {
    content: "\eacb";
}