<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
	<title>排行榜</title>
	<link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.8.1/vconsole.min.js"></script>
	<script>
		// init vConsole
			var vConsole = new VConsole();
			localStorage.setItem("202199",1)
		  
		</script>   


</head>

<body id="body">
	<div id="app" v-cloak>
		<div class="main-container">
			<div class="threeDiv">
				<div class="no1">
					<div class="noDiv">
						<div class="headerPic"></div>
						<img v-if="listData.length>1" :src="listData[1].headerPicUrl" alt="">
					</div>
					<p class="name" v-if="listData.length>1">{{listData[1].nickName}}</p>
					<p class="num" v-if="listData.length>1" v-html="listData[1].value"></p>
				</div>
				<div class="no2">
					<div class="noDiv">
						<div class="headerPic"></div>
						<img v-if="listData.length>2" :src="listData[2].headerPicUrl" alt="">
					</div>
					<p class="name" v-if="listData.length>2">{{listData[2].nickName}}</p>
					<p class="num" v-if="listData.length>2" v-html="listData[2].value"></p>

				</div>
				<div class="no3">
					<div class="noDiv">
						<div class="headerPic"></div>
						<img v-if="listData.length>3" :src="listData[3].headerPicUrl" alt="">
					</div>
					<p class="name" v-if="listData.length>3">{{listData[3].nickName}}</p>
					<p class="num" v-if="listData.length>3" v-html="listData[3].value"></p>
				</div>
			</div>
			<div class="content-container">
				<div class="headerBox">
					<div class="tabDiv">
						<p v-for="item in activeTimeOption" :class="activeTime==item.en?'selected':''"
							@click="activeTimeChange(item.en)">{{item.zh}}</p>
					</div>
					<div class="tabDiv2" v-if="userType=='skipping'">
						<p :class="secondType=='number'?'selected':''" @click="secondTypeChange('number')">总个数</p>
						<p :class="secondType=='activeTime'?'selected':''" @click="secondTypeChange('activeTime')">总时长
						</p>
					</div>

					<div class="tabDiv2" v-else-if="userType=='wristball'">
						<p :class="secondType=='maxRate'?'selected':''" @click="secondTypeChange('maxRate')">竞速派
						</p>
						<p :class="secondType=='maxStrength'?'selected':''" @click="secondTypeChange('maxStrength')">力量派
						</p>
						<p :class="secondType=='count'?'selected':''" @click="secondTypeChange('count')">数量派</p>
					</div>

					<!-- <div class="tabDiv2" v-else-if="userType=='wheel'">
						<p :class="secondType=='count'?'selected':''" @click="secondTypeChange('count')">总次数</p>
						<p :class="secondType=='standardRate'?'selected':''" @click="secondTypeChange('standardRate')">达标率
						</p>
					</div> -->
				</div>

				<van-pull-refresh v-model="refreshing" :head-height="90" @refresh="onRefresh"
					:class="userType=='steps'?'van-pull-refresh2':''"
					style="height:calc(100vh - 4.5rem) ;overflow: auto;" class="monkey-pull-refresh">
					<template #pulling="props">
						<div class="monkeyBox">
							<img class="monkey" src="../common/img/monkey.gif" />
							<p>下拉刷新</p>
						</div>
					</template>
					<!-- 释放提示 -->
					<template #loosing>
						<div class="monkeyBox">
							<img class="monkey" src="../common/img/monkey.gif" />
							<p>释放刷新</p>
						</div>
					</template>

					<!-- 加载提示 -->
					<template #loading>
						<div class="monkeyBox">
							<img class="monkey" src="../common/img/monkey.gif" />
							<p>正在刷新</p>
						</div>
					</template>
					<div class="listDiv" id='list' v-if="listData.length>0">
						<div class="listItem" v-for="(item , index) in listData" :class="index==0?'isself':''"
							v-if="item.rank>3&&item.value!=0">
							<div class="rank">{{item.rank}}</div>
							<div class="user" @click="Interaction.visitPersonalHomepage(item.userId)">
								<img class="headpic" :src="item.headerPicUrl" alt="">
								<p class="name">{{item.nickName}}</p>
							</div>
							<div class="num" v-html="item.value">
							</div>
						</div>


					</div>
					<div class="noData-box" v-else-if="!refreshing">
						<img class="noData-img" src="../common/img/noData.png" />
					</div>
				</van-pull-refresh>
			</div>
			<p class="bottomTip">{{bottomTipMsg}}</p>

		</div>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="../common/js/network.js"></script>
<script>
	new Vue({
		el: '#app',
		data() {
			return {
				userType: (getQueryString("type") || "skipping").toLowerCase(), //skipping跳绳   steps跑步  wristball腕力球 wheel健腹轮
				refreshing: false,
				listData: [],
				bottomTipMsg: "排名来源于所有跳绳数据",
				apiUrl: "ropeSkipping/rank/number",
				activeTime: "daily", //type： daily， week， month， total
				checkTime: "",
				activeTimeOption: [{
						zh: "日榜",
						en: "daily"
					},
					{
						zh: "周榜",
						en: "week"
					},
					{
						zh: "月榜",
						en: "month"
					}, {
						zh: "总榜",
						en: "total"
					}
				],
				secondType: "number",
				//skipping :number activeTime
				//wristball: "maxRate", //maxRate maxStrength count


			}
		},
		created() {
			this.initUserType()
			ajax({
				type: "post",
				url: "integral/add/integral",
				data: {
					actionType: "0800"
				}
			})
		},
		methods: {
			initUserType() {
				if (this.userType == "skipping") {
					this.secondTypeChange('number')
					this.bottomTipMsg = "排名来源于所有跳绳数据"
				} else if (this.userType == "wristball") {
					this.secondTypeChange('maxRate')
					this.bottomTipMsg = "排名来源于所有腕力球数据"
				} else if (this.userType == "steps") {
					this.apiUrl = `sportwatch/merge/steps/rank`
					this.activeTimeChange("daily")
					this.bottomTipMsg = "排名来源于所有步数数据"
				} else if (this.userType == "wheel") {
					this.secondTypeChange('count')
					this.bottomTipMsg = "排名来源于所有健腹轮数据"
				}

			},
			onRefresh() {
				this.refreshing = true;
				this.getList()
			},
			activeTimeChange(str) {
				this.activeTime = str;
				var now = new Date(); //当前日期
				var nowDayOfWeek = now.getDay(); //今天本周的第几天
				var nowDay = now.getDate(); //当前日
				var nowMonth = now.getMonth(); //当前月
				var nowYear = now.getYear(); //当前年
				nowYear += (nowYear < 2000) ? 1900 : 0;
				if (str == "daily") {
					this.checkTime =new Date(nowYear,nowMonth,nowDay) 
				} else if (str == "week") {
					this.checkTime = new Date(nowYear, nowMonth, nowDay - nowDayOfWeek + 1);
				} else if (str == "month") {
					this.checkTime =new Date(nowYear,nowMonth,1) 
				} else {
					this.checkTime = ""
				}
				if(this.checkTime){
					this.checkTime=this.checkTime.getTime()
				}
				
				this.getList()
			},
			formatDate(date) {
				var myyear = date.getFullYear();
				var mymonth = date.getMonth() + 1;
				var myweekday = date.getDate();
				if (mymonth < 10) {
					mymonth = "0" + mymonth;
				}
				if (myweekday < 10) {
					myweekday = "0" + myweekday;
				}
				return (myyear + "-" + mymonth + "-" + myweekday);
			},

			secondTypeChange(str) {
				this.secondType = str || "";
				if (this.userType == "skipping") {
					this.apiUrl = `ropeSkipping/rank/${str}` //个数
				} else if (this.userType == "wristball") {
					this.apiUrl = `wristball/rank/${str}`
				} else if (this.userType == "wheel") {
					this.apiUrl = `ab-roller/rank/${str}`
				}
				this.getList()
			},
			getList() {
				ajax({
					url: this.apiUrl,
					data: {
						type: this.activeTime,
						checkTime: this.checkTime
					}
				}).then(res => {
					setTimeout(() => {
						this.refreshing = false
					}, 500);
					if (res.code == 0) {
						if (res.data.length == 1 && res.data[0].value == 0) {
							this.listData = []
							return
						}
						if (this.userType == 'skipping') {
							if (this.secondType == 'activeTime') {
								res.data.forEach(item => {
									item.value = this.countTimeAll(item.value);
								})
							} else {
								res.data.forEach(item => {
									item.value = "<span class='bigNumberSpan'>" + item
										.value + "</span>" + "个";
								})
							}
						} else if (this.userType == 'wristball') {
							if (this.secondType == 'maxRate') {
								res.data.forEach(item => {
									item.value = "<span class='bigNumberSpan'>" + item
										.value + "</span>" + "rpm";
								})
							} else if (this.secondType == 'maxStrength') {
								res.data.forEach(item => {
									item.value = "<span class='bigNumberSpan'>" + (item
											.value / 1000).toFixed(1) + "</span>" +
										"KG";
								})
							} else if (this.secondType == 'count') {
								res.data.forEach(item => {
									var count = item.value;
									if (count > 10000000) {
										count = parseInt(count * 0.0001);
									} else {
										var num2 = (count * 0.0001).toFixed(3);
										count = num2.substring(0, num2.lastIndexOf('.') +
											4);
									}
									item.value = "<span class='bigNumberSpan'>" + count +
										"</span>" + "万圈";
								})
							}
						} else if (this.userType == 'wheel') {
							if (this.secondType == 'count') {
								res.data.forEach(item => {
									item.value = "<span class='bigNumberSpan'>" + item
										.value + "</span>" + "个";
								})
							} else {
								res.data.forEach(item => {
									item.value = "<span class='bigNumberSpan'>" + item
										.value + "</span>" + "%";
								})
							}
						} else {
							res.data.forEach(item => {
								item.value = "<span class='bigNumberSpan'>" + item
									.steps + "</span>" + "步";
							})
						}
						this.listData = res.data;

					} else {
						this.listData = [];
					}

				})

			},
			countTimeAll(time) {
				time = parseInt(time / 1000)
				var h = Math.floor(time / 60 / 60)
				var m = (Array(2).join(0) + Math.floor((time - h * 60 * 60) / 60)).slice(-2)
				var s = (Array(2).join(0) + (time - h * 60 * 60 - m * 60)).slice(-2)
				if (Math.floor(time / 60 / 60)) {
					// return h + 'h' + m + 'min' + s +'s'
					if (!Math.floor((time - h * 60 * 60) / 60) && !(time - h * 60 * 60 - m * 60)) {
						return "<span class='bigNumberSpan'>" + h + "</span>" + 'h'
					} else if (Math.floor((time - h * 60 * 60) / 60) && !(time - h * 60 * 60 - m * 60)) {
						return "<span class='bigNumberSpan'>" + h + "</span>" + 'h' +
							"<span class='bigNumberSpan'>" + m + "</span>" +
							'm'
					} else {
						return "<span class='bigNumberSpan'>" + h + "</span>" + 'h' +
							"<span class='bigNumberSpan'>" + m + "</span>" +
							'm' + "<span class='bigNumberSpan'>" + s + "</span>" + 's'
					}
				} else if (!Math.floor(time / 60 / 60) && Math.floor((time - h * 60 * 60) / 60)) {
					if ((time - h * 60 * 60 - m * 60)) {
						return "<span class='bigNumberSpan'>" + Math.floor((time - h * 60 * 60) / 60) + "</span>" +
							'm' +
							"<span class='bigNumberSpan'>" + s + "</span>" + 's'
					} else {
						return "<span class='bigNumberSpan'>" + Math.floor((time - h * 60 * 60) / 60) + "</span>" +
							'm'
					}

				} else {
					return "<span class='bigNumberSpan'>" + (time - h * 60 * 60 - m * 60) + "</span>" + 's'
				}
			}

		}
	})
</script>


</html>