<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title>指定团队参加</title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="../../common/css/vant-rem-2122.css">
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="../../common/css/basic.css">
		<link rel="stylesheet" href="css/normal.css">
		<link rel="stylesheet" href="css/member.css">
		<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
				<script>
					// init vConsole
				        var vConsole = new VConsole();
				        console.log('Hello world');
				    </script> -->
		<style type="text/css">
			.van-collapse-item__wrapper .van-cell {
				padding: 0;
			}

			.van-hairline--top-bottom::after,
			.van-hairline-unset--top-bottom::after {
				border: none;
			}

			.van-checkbox {
				margin-right: .2rem;
			}
			.van-cell{
				padding: .1rem 0.32rem;
				background-color: #12121f;
				color: #cfcfd2;
				}
				.van-cell::after{
					border-bottom-color: #1E1E2A;
				}
				.submit{
					position: fixed;
					bottom: 0;
					left: calc(50% - 3.15rem);
					opacity: 1;
					margin: .2rem 0;
				}
		</style>
	</head>

	<body>
		<div id="app" style="padding-top: 0;padding-bottom: .88rem;" v-cloak>
			<!-- <div class="header">
				<van-nav-bar title="指定团队参加" @click-left="OnclickLeft" @click-right="onClickRight" left-arrow>
					<template #right>
						<div :style="{color:memberResult.length>0?'#333':'#999'}">确定</div>
					</template>
				</van-nav-bar>
			</div> -->
			<van-search v-model="searchval" @input="search" placeholder="请输入部门昵称"></van-search>
			<div>
				<van-checkbox-group v-model="memberResult" ref="checkboxGroup">
					<van-cell-group>
						<van-cell v-for="(item,index) in searchval?searchList:dataList" clickable :key="item.id" @click="toggle(index)">
							<template #icon >
								<van-checkbox :name="item.id" ref="checkboxes"></van-checkbox>
							</template>
							<template #title>
								<ul class="ul_class">
									<li class="ub ub-ac ub-pj">
										<div >
											{{item.id=='wfb'?'未分部部门':item.name}}
										</div>
										<div style="font-size: .24rem;color: #999;">({{item.totalNumber}}人)</div>
									</li>
								</ul>
							</template>
						</van-cell>
					</van-cell-group>
				</van-checkbox-group>
			</div>
			<van-button round class="submit" block 
			:color="memberResult.length>0?bgc:bgcgrey" @click="chooseBack">确定</van-button>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
	<script src="../../common/js/network.js"></script>
	<script src="js/tool.js"></script>
	<script>
		window.addEventListener('pageshow', function(event) {
			console.log("PageShow Event  " + event.persisted);
			console.log(event)
			if (isIOS) {

			}
		})
		new Vue({
			el: '#app',
			data() {
				return {
					clubId: getQueryString('id')||10000219,
					userId: JSON.parse(localStorage.getItem("appInfo")).userId,
					iscompetion: parseInt(getQueryString('iscompetion')),
					loading: true,
					showPopover: false,
					memberResult: [],
					searchval: '',
					dataList: [],
					searchList:[],
					bgc: "linear-gradient(to right, #FF6A88, #FF5136 )",
					bgcgrey: '#999',
				}
			},
			filters: {},
			mounted() {},
			created() {
				let locList = localStorage.getItem('chooseGroup')?localStorage.getItem("chooseGroup").split(","):[];
				if(locList.length>0){
					console.log(locList)
					locList.forEach((d,index)=>{
						if(d!='wfb')locList[index] = parseInt(locList[index])
					});
					this.memberResult = locList;
				}
				this.initGroup();
			},
			methods: {
				initGroup() {
					let _self = this;
					ajax({
						type: "get",
						url: "club/queryClubGroup",
						data: {
							clubId: _self.clubId
						},
						success: function(res) {
							if (res.code == 0) {
								if(!res.data[res.data.length - 1].id){
									res.data[res.data.length - 1].id = "wfb";
									res.data[res.data.length - 1].name = "未分部部门";
								}
								_self.dataList = res.data;
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function() {
							console.log("error")
						}
					})
				},
				toggle(index) {
						this.$refs.checkboxes[index].toggle();
				},
				search(val){
					//字符串方法indexOf
					var len = this.dataList.length;
					var arr = [];
					var reg = new RegExp(val);
					for(var i=0;i<len;i++){
					    //如果字符串中不包含目标字符会返回-1
						if(reg.test(this.dataList[i].name)){
							arr.push(this.dataList[i]);
						}
					}
					this.searchList = arr;
				},
				OnclickLeft() {
					window.history.back(-1);
				},
				onClickRight() { //显示。。。
					
				},
				chooseBack(){
					if(this.memberResult.length==0)return;
					console.log(this.memberResult)
					localStorage.setItem('chooseGroup',this.memberResult);
					if(this.iscompetion==1){
						let groupname = [];
						this.memberResult.forEach((d,index)=>{
							// if(!d){
							// 	groupname.push({name:'未分部部门'});
							// }
							this.dataList.forEach((e,index2)=>{
								console.log()
								if(d==e.id){
									groupname.push(e);
								}
							})
						});
						console.log(groupname)
						localStorage.setItem('groupname',JSON.stringify(groupname));
					}
					this.OnclickLeft();
				}
			}
		})
	</script>

</html>
