<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
		<title></title>
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="../../common/css/vant-rem-2122.css">
		<link rel="stylesheet" href="https://oss.laisitech.com/04bb3a7d-8774-4441-9004-e77b0ae7e0aa.css">
		<link rel="stylesheet" href="../../common/css/basic.css">
		<link rel="stylesheet" href="css/normal.css">
		<link rel="stylesheet" href="css/member.css">
		<!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
				<script>
					// init vConsole
				        var vConsole = new VConsole();
				        console.log('Hello world');
				    </script> -->
		<style type="text/css">
			.van-collapse-item__wrapper .van-cell {
				padding: 0;
			}

			.van-hairline--top-bottom::after,
			.van-hairline-unset--top-bottom::after {
				border: none;
			}

			.van-checkbox {
				margin-right: .2rem;
			}
			.ul_class li .nickname{
				font-size: .28rem;
			}
		</style>
	</head>

	<body>
		<div id="app" v-cloak>
			<div class="header">
				<van-nav-bar title="选择团体部门" @click-left="OnclickLeft" @click-right="onClickRight" left-arrow>
					<template #right>
						<div>确认</div>
					</template>
				</van-nav-bar>
			</div>
			<van-search v-model="searchval" placeholder="请输入部门昵称"></van-search>
			<van-checkbox-group v-model="memberResult" ref="checkboxGroup">
				<van-cell-group>
					<van-cell v-for="(memItem,index) in dataList" clickable :key="memItem.id" @click="toggle(index)">
						<template #icon >
							<van-checkbox :name="memItem.id" ref="checkboxes"></van-checkbox>
						</template>
						<template #title>
							<ul class="ul_class">
								<li class="ub ub-ac ub-pj">
									<div class="nickname van-ellipsis">{{memItem.nickname}}铲平不</div>
									<div class="time">(13)人</div>
								</li>
							</ul>
						</template>
					</van-cell>
				</van-cell-group>
			</van-checkbox-group>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.12.2/lib/vant.min.js"></script>
	<script src="../../common/js/network.js"></script>
	<script src="js/tool.js"></script>
	<script>
		window.addEventListener('pageshow', function(event) {
			console.log("PageShow Event  " + event.persisted);
			console.log(event)
			if (isIOS) {

			}
		})
		new Vue({
			el: '#app',
			data() {
				return {
					loading: true,
					memberResult: [],
					searchval: '',
					dataList: [{
						title: '产品组',
						count: 11,
						member: [{
							nickname: 'ssss',
							id: 1,
						}],
						id: 1
					}, {
						title: '灭霸组',
						count: 1,
						member: [],
						id: 2
					}, {
						title: 'www',
						count: 13,
						member: [],
						id: 3
					}],
				}
			},
			filters: {},
			mounted() {},
			created() {},
			methods: {
				toggle(index) {
					this.$refs.checkboxes[index].toggle();
				},
				OnclickLeft() {
					window.history.back(-1);
				},
				onClickRight() { //显示。。。
				},
			}
		})
	</script>

</html>
