<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
	<title></title>
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://oss.laisitech.com/ccd1029d-8dd1-442a-94a7-5205ee2ff9f5.css">
	<link rel="stylesheet" href="../../common/css/basic.css">
	<link rel="stylesheet" href="css/normal.css">
	<link rel="stylesheet" href="css/groupList.css">
	<link rel="stylesheet" href="../font/iconfont.css">
	<link href="../clubList_Detail/css/header.css" rel="stylesheet" type="text/css" />

	<style type="text/css">
		#app {}

		.cardList {
			font-size: .32rem;
			padding: .2rem 0;
		}

		.cardList>li .van-ellipsis {
			max-width: 5.5rem;
			font-size: .32rem;
			margin-bottom: .1rem;
		}

		.cardList>li .detail {
			font-size: .24rem;
			color: #CFCFD2;
		}

		.cardList>li .headpic {
			width: .72rem;
			height: .72rem;
			border-radius: .1rem;
			margin-right: .2rem;
		}

		.cardList>li>div {
			border-bottom: none;
		}
	</style>
</head>

<body>
	<div id="app" class="normalHeader" v-cloak>
		<div class="header">
			<van-nav-bar @click-left="onclickLeft" @click-right="onClickRight" :title="title" left-arrow
				safe-area-inset-top fixed>
				<template #left>
					<span class="icon iconfont icon-fanhuianniu" style="font-size: 0.48rem;" />
				</template>
				<template #right>
					<van-icon v-if="isMinister==1" name="plus" size="26" />
				</template>

			</van-nav-bar>
		</div>
		<van-loading type="spinner" vertical v-show="overlayShow"></van-loading>
		<van-dialog v-model="createshow" :before-close="beforeClose" @confirm="submitCreate" cancel-button-color="#999"
			title="创建分组" confirm-button-text="创建" show-cancel-button>
			<div style="padding: .5rem;">
				<div class="ub ub-ver ub-pc">
					<van-uploader v-model="createGroupObj.fileList" upload-icon="plus" :deletable="false" :max-count="1"
						:after-read="afterRead2"></van-uploader>
				</div>
				<div style="color: #999;font-size: .24rem;text-align: center;">选择组别形象</div>
				<van-field
					style="background-color: #f8f8f8;margin-top: .48rem;border-radius: .1rem;height: .64rem;padding: .1rem .32rem;"
					maxlength="16" v-model="createGroupObj.name" placeholder="请输入组别名称" />
			</div>
		</van-dialog>
		<ul class="cardList">
			<li v-for="(item,index) in dataList" @click="chooseThisGroup(item)">
				<!-- 分组名称 -->
				<div class="ub ub-ac">
					<div><img class="headpic" :src="item.id!=-1?item.image:'img/notgroup.png'" /></div>
					<div class="">
						<div class="van-ellipsis">{{item.name}}</div>
						<div class="detail">
							{{item.subMinisterName?('分部长：'+item.subMinisterName):item.id!=-1?('分部长：未设置'):''}}
							成员数：{{item.totalNumber}}人</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
<script src="../../common/js/network.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"></script>
<script src="../club/js/exif.js"></script>
<script src="../club/js/upload.js"></script>
<script src="js/tool.js"></script>
<script>
	window.addEventListener('pageshow', function (event) {
		console.log("PageShow Event  " + event.persisted);
		console.log(event)
		if (isIOS) {

		}
	})
	new Vue({
		el: '#app',
		data() {
			return {
				groupIndex: 0,
				overlayShow: false,
				createshow: false,
				clubid: getQueryString('clubId'),
				flag: parseInt(getQueryString("flag")), //1变更到2邀请到
				isMinister: getQueryString('isMinister'), //是否是部长可以添加-1
				clubGroupId: parseInt(getQueryString("clubGroupId")),
				memberId: getQueryString("memberId") ? JSON.parse(getQueryString("memberId")).toString() :
				'', //人员组
				userId: JSON.parse(localStorage.getItem("appInfo")).userId,
				title: '邀请到',
				createGroupObj: {
					name: '',
					fileList: [],
					image: '',
					clubId: getQueryString('clubId'),
					creator: JSON.parse(localStorage.getItem('appInfo')).userId
				},
				dataList: [],
				memberResult: [],
				subMinisterArr: [], //分部长集合
			}
		},
		filters: {},
		mounted() {},
		created() {
			console.log(this.clubGroupId)
			this.flag == 1 ? this.title = '变更到' : '邀请到';
			if (localStorage.getItem('memberResult')) {
				this.memberResult = JSON.parse(localStorage.getItem('memberResult'));
				localStorage.removeItem('memberResult');
			}
			this.initData();
			window.popdone = null;
		},
		methods: {
			initData() {
				let _self = this;
				ajax({
					type: "get",
					url: "club/queryClubGroup",
					data: {
						clubId: _self.clubid
					},
					success: function (res) {
						if (res.code == 0) {
							if (!res.data[res.data.length - 1].id) {
								res.data[res.data.length - 1].id = "wfb";
								res.data[res.data.length - 1].name = "未分部部门";
							}
							if (_self.flag == 1) { //变更
								_self.dataList = res.data;
								res.data.forEach(d => {
									if (d.subMinisterId) {
										_self.subMinisterArr.push(d.subMinisterId);
									}
								})
							} else {
								//邀请
								if (_self.isMinister == 1) {
									_self.dataList = res.data;
								} else {
									if (isNaN(parseInt(getQueryString("clubGroupId")))) {
										_self.dataList.push(res.data[res.data.length - 1]);
									} else {
										res.data.forEach(d => {
											if (d.id == _self.clubGroupId) {
												_self.dataList.push(d);
												return;
											}
										})
									}
								}
							}
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			chooseThisGroup(item) { //选择点击当前小组
				let arr = []
				if (this.flag == 1) {
					//选择变更，看看上个页面带过来的人有没有是部长的
					//如果当前组有分部长或者是未分部
					if (item.subMinisterId || item.id == -1) {
						//全员部员
						this.memberResult.forEach(d => {
							let obj = {
								clubId: this.clubid,
								clubGroupId: item.id == 'wfb' ? '' : item.id,
								memberId: d,
								isSubMinister: "N"
							}
							arr.push(obj);
						})
					} else if (!item.subMinisterId) { //没有分部长的
						//判断其中是否有人是分部长
						let hasSub = false;
						this.memberResult.forEach(d => {
							let obj = {
								clubId: this.clubid,
								clubGroupId: item.id,
								memberId: d,
								isSubMinister: "N"
							}
							if (!hasSub) {
								for (let i = 0; i < this.subMinisterArr.length; i++) {
									if (d == this.subMinisterArr[i]) {
										hasSub = true;
										obj.isSubMinister = "Y";
										break;
									}
								}
							}
							arr.push(obj);
						});
					}
					this.changeMember(arr);
				} else {
					//邀请
					let _self = this;
					let obj = {
						clubId: this.clubid,
						clubGroupId: item.id == 'wfb' ? '' : item.id,
						memberId: this.memberId,
					}
					ajax({
						type: "get",
						url: "club/clubDetail",
						data: {
							clubId: _self.clubid
						},
						success: function (res) {
							if (res.code == 0) {
								obj.clubName = res.data.name;
								_self.sendInvitation(obj)
							} else {
								_self.$toast(res.msg);
							}
						},
						error: function () {
							console.log("error")
						}
					})

				}
			},
			sendInvitation(obj) {
				let _self = this;
				var memberIdsArr = [];
				var sendArr = []


				if (obj.memberId) {
					memberIdsArr = obj.memberId.split(",")
				}

				for (var i = 0; i < memberIdsArr.length; i++) {
					var arrObj = {
						clubGroupId: obj.clubGroupId,
						clubId: obj.clubId,
						clubName: obj.clubName,
						invitee: ""
					}
					arrObj.invitee = memberIdsArr[i]
					sendArr.push(arrObj)
				}
				console.log(obj)
				ajax({
					type: "post",
					url: "club/sendInvitation",
					data: sendArr,
					success: function (res) {
						if (res.code == 0) {

							if (res.data) {
								var clubInvitationIds = []
								res.data.forEach(item => {
									clubInvitationIds.push(item.id)
								})
								obj.clubInvitationIds = clubInvitationIds.join(",")
								Interaction.appNative('inviteToClub', obj);
							}


							_self.$toast('已发送邀请通知');
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			changeMember(arr) {
				let _self = this;
				ajax({
					type: "post",
					url: "club/updateClubGroupMember",
					data: arr,
					success: function (res) {
						if (res.code == 0) {
							_self.$toast("变更部员成功！");
							localStorage.setItem('haschange', 1);
							setTimeout(() => {
								window.history.back(-1);
							}, 1000)
						} else {
							_self.$toast(res.msg);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
			afterRead2(file) {
				this.overlayShow = true;
				uploadImg1(file, 'headpic', 0, res => {
					console.log(res);
					this.overlayShow = false;
					if (res.code != 0) {
						this.$toast("图片审核未通过，请重新上传！");
					} else {
						this.createGroupObj.image = res.url;
					}
				})
			},
			onclickLeft() {
				window.history.back(-1);
			},
			onClickRight() { //显示。。。
				if (this.isMinister != 1) return;
				this.createshow = true;
			},
			beforeClose(action, done) { //提交前的判断
				window.popdone = done;
				if (action === 'confirm') {
					if (!this.createGroupObj.image) {
						this.$toast("请选择组别形象");
						done(false)
					}
					if (!this.createGroupObj.name) {
						this.$toast("请输入组别名称");
						done(false);
					}
				} else {
					done();
					this.resetcreateGroupObj();
				}

			},
			resetcreateGroupObj() { //重置分部编辑数据
				this.createGroupObj = {
					name: '',
					fileList: [],
					url: '',
					clubId: getQueryString('clubId'),
					creator: JSON.parse(localStorage.getItem('appInfo')).userId
				}
			},
			submitCreate() { //编/创建分部
				console.log(this.createGroupObj);
				if (!this.createGroupObj.image) {
					this.$toast("请选择组别形象");
					return;
				}
				if (!this.createGroupObj.name) {
					this.$toast("请输入组别名称");
					return;
				}
				this.createshow = false;
				let _self = this;
				ajax({
					type: "post",
					url: !_self.createGroupObj.id ? "club/saveClubGroup" : "club/updateClubGroup",
					data: _self.createGroupObj,
					success: function (res) {
						if (res.code == 0) {
							_self.$toast(!_self.createGroupObj.id ? "创建分部成功" : "编辑分部成功");
							_self.initData();
							_self.resetcreateGroupObj();
							window.popdone();
						} else {
							_self.$toast(res.msg);
							window.popdone(false);
						}
					},
					error: function () {
						console.log("error")
					}
				})
			},
		}
	})
</script>

</html>