@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621585409145') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.28rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti15:before {
  content: "\e621";
}

