* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
}

@font-face {
  font-family: "BebasNeue";
  src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main_contaniner {
  font-size: .3rem;
  color: var(--textColor);
  font-family: sans-serif, "micrsoft yahei";
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main_contaniner .data_container {
  padding: 0.3rem;
}

.main_contaniner .data_container .devicename {
  color: var(--textColor2);
  font-size: .24rem;
}

.main_contaniner .data_container .txt-left {
  text-align: left;
}

.main_contaniner .data_container .txt-right {
  text-align: right;
}

.main_contaniner .data_container .txt-center {
  text-align: center;
}

.main_contaniner .data_container .datanumlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_contaniner .data_container .datanumlist .datanum {
  margin-top: 0.5rem;
  width: 33%;
}

.main_contaniner .data_container .datanumlist .datanum .name {
  font-size: .24rem;
  color: var(--textColor);
}

.main_contaniner .data_container .datanumlist .datanum .blodnum {
  font-family: 'BebasNeue';
  font-size: .56rem;
  color: var(--textColor);
}

/* echarts */
.main_contaniner .charts {
  border-bottom: 0.16rem var(--borderColor) solid;
  border-top: 0.16rem var(--borderColor) solid;
}

.datalist .txt-green {
  color: #2ECD70;
}

.datalist .txt-orange {
  color: #FCAB2E;
}

.datalist .txt-red {
  color: #F36176;
}

/* monthlist */
.datalist .monthlist {
  width: 100%;
}

.datalist .monthlist .monthitem {
  border-bottom: 1px solid var(--borderColor);
}

.datalist .monthlist .monthitem .monthitemBox {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.datalist .monthlist .monthitem .monthitemBox .data {
  width: 70%;
  color: var(--textColor);
}

.datalist .monthlist .monthitem .monthitemBox .data .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .28rem;
}

.datalist .monthlist .monthitem .monthitemBox .data .title img {
  width: 0.5rem;
  margin-right: 0.2rem;
}

.datalist .monthlist .monthitem .monthitemBox .data .numlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: .24rem;
}

.datalist .monthlist .monthitem .monthitemBox .data .numlist .numitem {
  width: 1.2rem;
  margin: 0.2rem 0.2rem 0 0;
}

.datalist .monthlist .monthitem .monthitemBox .data .numlist .txt-margin {
  margin-right: 0.05rem;
}

.datalist .monthlist .monthitem .monthitemBox .time {
  height: 1.35rem;
}

.datalist .monthlist .monthitem .monthitemBox .time .year {
  color: var(--textColor);
  font-size: .24rem;
  line-height: .4rem;
  text-align: right;
  letter-spacing: 1px;
}

.datalist .monthlist .monthitem .monthitemBox .time .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datalist .monthlist .monthitem .monthitemBox .time .down p {
  margin: 0;
  font-size: .24rem;
  color: var(--textColor);
}

.datalist .monthlist .monthitem .monthitemBox .time .down img {
  width: .28rem;
}

.datalist .monthlist .monthitem .monthitemBox .time .down .turn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.datalist .monthlist .monthitem .daylist {
  width: 100%;
  border-top: 0.15rem var(--borderColor) solid;
  border-bottom: 0.15rem var(--borderColor) solid;
}

.datalist .monthlist .monthitem .daylist .dayitem .dayitem_content {
  padding: 0.3rem;
  border-top: 1px var(--borderColor) solid;
}

.datalist .monthlist .monthitem .daylist .dayitem .dayitem_content .daytime {
  width: 100%;
  color: var(--textColor2);
  font-size: .24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datalist .monthlist .monthitem .daylist .dayitem .dayitem_content .daytime img {
  width: 5%;
}

.datalist .monthlist .monthitem .daylist .dayitem .dayitem_content .daytime .turn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.datalist .monthlist .monthitem .daylist .dayitem .day_time_list .list-item .item_data {
  width: 100%;
  padding: 0.2rem;
  border-top: 1px var(--borderColor) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datalist .monthlist .monthitem .daylist .dayitem .day_time_list .list-item .item_data .left {
  width: 94%;
}

.datalist .monthlist .monthitem .daylist .dayitem .day_time_list .list-item .item_data .left .time {
  color: var(--textColor2);
  font-size: .24rem;
  line-height: .5rem;
}

.datalist .monthlist .monthitem .daylist .dayitem .day_time_list .list-item .item_data .left .numlist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numlist .numitem {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numitem img {
  width: 20%;
}

.numitem .mode {
  width: .5rem;
  height: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: .28rem;
}

.bg-green {
  background-color: #01EA01;
}

.bg-Lightblue {
  background-color: #00EAEA;
}

.bg-orange {
  background-color: #FFE12F;
}

.bg-purple {
  background-color: #FF00FF;
  font-size: .2rem !important;
}

.bg-red {
  background-color: #FF0000;
}

.bg-gray {
  background-color: #B3B8BB;
}

.numitem .bloddata {
  font-size: .48rem;
  margin: 0 5%;
  font-family: 'BebasNeue';
  color: var(--textColor);
}

.numitem .unit {
  color: var(--textColor);
  font-size: .2rem;
  font-family: sans-serif, "micrsoft yahei";
}

.numlist .ppm {
  width: 40%;
}

.deleteBox {
  background-color: red;
  height: 100%;
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deleteBox img {
  width: 0.5rem;
}

.header {
  height: 0.92rem;
  position: relative;
  z-index: 100;
}

.header .van-nav-bar {
  background-color: var(--bgColor);
}

.header .van-nav-bar .van-nav-bar__content {
  color: var(--textColor);
}

.header .van-nav-bar .van-nav-bar__title {
  color: var(--textColor);
  font-size: 0.36rem;
}

.header .van-hairline--bottom::after {
  border: none;
}

@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
  .header {
    height: 0.92rem;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
  }
}
/*# sourceMappingURL=histroyList.css.map */