#app {
    padding-bottom: .2rem;
    background: var(--bgColor);
    color: var(--textColor);
}

.header {
    position: relative;
    height: 0.92rem;
    position: relative;
    z-index: 100;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
    background: var(--bgColor);
}

.van-hairline--bottom::after {
    border: none;
}

.van-nav-bar__title {
    color: var(--textColor);
}

.van-nav-bar__text {
    color: var(--textColor);
}

.van-nav-bar .van-icon {
    color: var(--textColor);
}

.wallet {
    background: url(../img/wallet.png);
    border-radius: .4rem;
    width: 6.9rem;
    height: 2.52rem;
    background-size: contain;
    margin: .3rem auto .4rem;
    padding: .4rem;
}

.wallet .detail {
    color: #fff;
    font-size: .32rem;
}

.detail2 {
    font-size: 1.12rem;
    font-family: DINCondensed-Bold;
    color: #fff;
}

.detail3 {
    font-size: .24rem;
    color: var(--textColor2);
    font-family: PingFangSC-Regular;
}

.detail4 {
    font-size: .24rem;
    color: #1f1f1f;
    font-family: PingFangSC-Regular;
}

#recordbox {
    width: 6.9rem;
    margin: 0 auto;
    border-radius: .4rem;
    padding: .4rem;
}

.recordboxDiv {
    color: var(--textColor);
}

#recordbox .detail {
    color: var(--textColor);
}

#recordbox .infobox {
    margin: .4rem 0 .5rem 0;
}

#recordbox .infobox .title {
    color: #F24023;
    font-size: .64rem;
    font-family: DINCondensed-Bold;
}

#recordbox .infobox>div:nth-child(2) {
    text-align: center;
}

#recordbox .infobox>div:nth-child(3) {
    text-align: right;
}

#recordbox .recordList .detail {
    color: #1f1f1f;
    font-size: .28rem;
    font-family: PingFangSC-Medium;
}

#recordbox .recordList li {
    padding: .24rem 0;
    border-bottom: .02rem solid var(--borderColor);
}

#recordbox .recordList li:first-child {
    border-top: .02rem solid var(--borderColor);
}

.list_ul {
    /* padding:0 .3rem; */
}

.list_ul li {
    padding: .3rem 0;
}

.list_ul li>div:first-child {
    margin-bottom: .05rem;
}

.list_ul li .title1 {
    color: var(--textColor);
    font-size: .28rem;
}

.list_ul li .title2 {
    color: var(--textColor2);
    font-size: .24rem;
}

.list_ul li .detail1 {
    color: var(--textColor);
    font-size: .36rem;
}