* {
    box-sizing: border-box;
}

body {
    font-family: 'PingFangSC-Regular';
    background-color: var(--bgColor)
}

@font-face {
    font-family: "OPPOSans-B";
    src: url("OPPOSans-B.woff2") format("woff2"), url("OPPOSans-B.woff") format("woff"), url("OPPOSans-B.ttf") format("truetype"), url("OPPOSans-B.eot") format("embedded-opentype"), url("OPPOSans-B.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DINCondensed-Bold";
    src: url("../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#app {
    min-height: 100vh;
    background: url(../img/redbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F24023;
}

.header {
    position: relative;
    height: 0.92rem;
    position: relative;
    z-index: 100;
    height: calc(0.92rem + constant(safe-area-inset-top));
    height: calc(0.92rem + env(safe-area-inset-top));
    background-color: #F24023;
}

.van-nav-bar__title {
    color: #fff;
}

.van-nav-bar__text {
    color: #fff;
}

.van-nav-bar .van-icon {
    color: #fff;
}

.van-hairline--bottom::after {
    border-bottom: none;
}

.van-nav-bar__left,
.van-nav-bar__right {
    font-size: .32rem;
    color: #fff;
}

.van-nav-bar {
    background-color: transparent;
}

.ub {
    display: -webkit-flex !important;
    display: flex !important;
    position: relative;
}

.ub-rev {
    -webkit-flex-direction: row;
    flex-direction: row
}

.ub-f1 {
    flex: 1;
}

.ub-fh {
    width: 100%;
}

.ub-fv {
    height: 100%;
}

.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ub-ac {
    -webkit-align-items: center;
    align-items: center;
}

.ub-aend {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.ub-ae {
    -webkit-justify-content: end;
    justify-content: end;
}

.ub-pc {
    -webkit-justify-content: center;
    justify-content: center;
}

.ub-pe {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.ub-pend {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.ub-pj {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ub-ad {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

[v-cloak] {
    display: none!important;
}

.van-checkbox__icon--checked .van-icon,
.van-address-item .van-radio__icon--checked .van-icon {
    background: linear-gradient(to right, #FF6A88, #FF5136);
    border-color: #FF6A88;
}

.van-checkbox__icon .van-icon {
    border: .02rem solid #fff;
}

.pinkBtn {
    background: linear-gradient(to right, #FF6A88, #FF5136);
    text-align: center;
    color: #fff;
    padding: 0 .32rem;
    line-height: .52rem;
    border-radius: .26rem;
    font-size: .32rem;
}

.redbagMain {
    background: url(../img/redbagmain.png);
    width: 7.5rem;
    height: 10.56rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#popbg {
    background-color: transparent;
    overflow-y: visible;
    /* position: relative; */
}

#popbg .popimg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.5rem;
    left: calc(50% - 1.2rem);
}

#popbg .prizename {
    font-size: .24rem;
    color: #E60012;
    text-align: center;
    font-family: 'PingFangSC-Medium';
    position: absolute;
    top: 5.2rem;
    width: 85%;
    left: 7.5%;
}

#popbg .redbagcount {
    font-size: .32rem;
    color: #E60012;
    text-align: center;
    font-family: 'PingFangSC-Medium';
    position: absolute;
    top: 2.7rem;
    width: 85%;
    left: 7.5%;
}

#popbg .van-popup__close-icon {
    width: .8rem;
    height: .8rem;
    bottom: 0rem;
    left: calc(50% - .4rem);
}

.van-count-down {
    color: #fff;
    padding-right: .02rem;
    font-size: .24rem;
}

.van-popup__close-icon .van-icon__image {
    width: 100%;
    height: 100%;
}

.van-dialog__confirm,
.van-dialog__confirm:active {
    color: #E60012;
}

.van-overlay {
    background: rgba(0, 0, 0, .5);
}

.cfF24023 {
    color: #F24023!important;
}

.ftmDON {
    font-family: DINCondensed-Bold;
}

.submit,
.submit2 {
    background: linear-gradient(to right, #FF6A88, #FF5136);
    border: none;
    font-size: .36rem;
    color: #fff;
    height: .88rem;
    line-height: .88rem;
    width: 6.3rem;
}

.submit2 {
    background: #999;
    color: #fff;
}

.popget,
.popgetshare,
.popmiss {
    background: url(../img/gamesuccess.png);
    height: 8.5rem;
    width: 5.6rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.popgetshare {
    background: url(../img/shareSuccess.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.popmiss {
    background: url(../img/gamefail.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.van-loading {
    position: absolute;
    color: #c8c9cc;
    font-size: 0;
    vertical-align: middle;
    top: calc( 50% - .15rem);
    z-index: 9;
    left: calc( 50% - .15rem);
}

.van-sticky--fixed {
    top: .92rem;
    top: calc(0.92rem + constant(safe-area-inset-top));
    top: calc(0.92rem + env(safe-area-inset-top));
}


/*# sourceMappingURL=personalRanking.css.map */

@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and (-webkit-overflow-scrolling: touch) {
    #myinfo {
        top: 1.5rem;
        top: calc(1.5rem + constant(safe-area-inset-top));
        top: calc(1.5rem + env(safe-area-inset-top));
    }
}