@font-face {
  font-family: "BebasNeue";
  src: url("../../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bgColor);
}

.van-nav-bar__title {
  margin-left: 15%;
  max-width: 50%;
}

.van-tabs .van-tab__text {
  color: var(--textColor2);
  font-size: .32rem;
}

.van-tabs .van-tab--active .van-tab__text {
  color: var(--textColor);
  font-size: .36rem;
  font-weight: bold;
}

.van-tabs .van-tab--active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0.15rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.14rem;
  background-position: 100% 100%;
  background: url("../img/tabselect.png") no-repeat;
  background-size: 100%;
}

.van-tabs .van-tabs__wrap {
  height: 1.28rem !important;
}

.van-tabs .van-tabs__line {
  display: none;
}

.headerBox {
  position: relative;
}

.headerBox .bannerBg {
  height: 5.16rem;
  width: 100%;
  position: relative;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.headerBox .blackbg {
  width: 100%;
  height: 5.16rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.headerBox .infoBox {
  padding: 0 0.3rem;
  position: absolute;
  bottom: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox .infoBox .clubPic {
  background-size: cover;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.headerBox .infoBox .clubDescript {
  color: #cfcfd2;
}

.headerBox .infoBox .clubDescript .clubName {
  font-size: 0.28rem;
  line-height: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 4.7rem;
}

.headerBox .infoBox .clubDescript .clubId,
.headerBox .infoBox .clubDescript .clubDate,
.headerBox .infoBox .clubDescript .clubAddress {
  font-size: 0.2rem;
  line-height: 0.35rem;
  max-width: 4.7rem;
}

.headerBox .infoBox .clubDescript .clubId img {
  width: 0.2rem;
  position: relative;
  top: 0.02rem;
}

.headerBox .infoBox .clubDescript .clubLabel {
  border-radius: 2px;
  width: 0.55rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
  background: linear-gradient(to right, #FF4E3E, #FFAA88);
  font-size: 0.2rem;
  color: #fff;
  text-align: center;
  line-height: 16px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.containBox {
  position: absolute;
  z-index: 99;
  top: 4.5rem;
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}

.containBox .noticeBox {
  border-bottom: 2px var(--borderColor) solid;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--bgColor);
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.2rem;
}

.containBox .noticeBox .noticeBoxLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.containBox .noticeBox .noticeBoxLeft .noticeContent {
  margin-left: 0.2rem;
  font-size: 0.28rem;
  color: var(--textColor);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.containBox .noticeBox .iconRight {
  width: 0.25rem;
  height: 0.25rem;
}

.containBox .memberBox {
  background-color: var(--bgColor);
  padding: 0.3rem 0.3rem;
}

.containBox .memberBox .title {
  height: 0.7rem;
  font-size: 0.32rem;
  line-height: 0.7rem;
  color: var(--textColor);
}

.containBox .memberBox .memberListDiv {
  height: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containBox .memberBox .memberListDiv .memberPersonPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.containBox .memberBox .memberListDiv .memberPersonPic img {
  position: absolute;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.containBox .memberBox .memberListDiv .memberPersonNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containBox .memberBox .memberListDiv .memberPersonNum .numP {
  color: var(--textColor2);
  font-size: 0.28rem;
}

.containBox .memberBox .memberListDiv .memberPersonNum .iconRight {
  width: 0.25rem;
  height: 0.25rem;
}

.containBox .van-cell--clickable:active {
  background-color: transparent;
}

.containBox .van-cell {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 0.32rem;
}

.containBox .van-cell .van-cell__value {
  color: var(--textColor2);
  font-size: 0.24rem;
}

.containBox .tabBox {
  border-top: 0.08rem solid var(--borderColor);
}

.containBox .tabBox .van-tabs__line {
  width: 0.4rem;
  height: 2px;
}

.containBox .tabBox .nullDataBox {
  height: 3.6rem;
  margin-top: 0.5rem;
  background-color: var(--bgColor);
  text-align: center;
}

.containBox .tabBox .nullDataBox img {
  width: 35%;
}

.containBox .tabBox .nullDataBox p {
  font-size: 0.25rem;
  color: var(--textColor2);
  margin: 0;
  padding: 0;
}

.containBox .tabBox .todaySport .todayBox {
  max-height: 3.6rem;
  overflow-y: scroll;
}

.containBox .tabBox .todaySport .memberSport {
  height: 1.2rem;
  padding: 0 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px var(--borderColor) solid;
  color: var(--textColor);
}

.containBox .tabBox .todaySport .memberSport .flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.containBox .tabBox .todaySport .memberSport .headerPic {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.containBox .tabBox .todaySport .memberSport .nickName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.28rem;
}

.containBox .tabBox .todaySport .memberSport .boldNum {
  font-size: 0.48rem;
  font-family: BebasNeue;
}

.containBox .tabBox .todaySport .memberSport .descript {
  font-size: 0.2rem;
  position: relative;
  top: 0.04rem;
}

.containBox .tabBox .todaySport .historyBox .van-collapse-item {
  border-top: 0.08rem var(--borderColor) solid;
  background-color: var(--borderColor);
}

.containBox .tabBox .todaySport .historyBox .van-collapse-item__content {
  padding: 0;
  background-color: var(--bgColor);
}

.containBox .tabBox .todaySport .van-cell__right-icon {
  color: var(--textColor2);
}

.containBox .tabBox .task .taskBox, .containBox .tabBox .competition .taskBox, .containBox .tabBox .activity .taskBox {
  margin-bottom: 0.2rem;
  background-color: var(--bgColor);
}

.containBox .tabBox .task .taskBox .title, .containBox .tabBox .competition .taskBox .title, .containBox .tabBox .activity .taskBox .title {
  height: 1.2rem;
  color: var(--textColor);
  background-color: var(--bgColor);
  font-size: 0.28rem;
  line-height: 1.2rem;
  text-align: center;
}

.containBox .tabBox .task .taskBox .taskList, .containBox .tabBox .competition .taskBox .taskList, .containBox .tabBox .activity .taskBox .taskList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.3rem;
  height: 1.2rem;
  background-color: var(--bgColor);
  border-top: 1px solid var(--borderColor);
  color: var(--textColor);
}

.containBox .tabBox .task .taskBox .taskList .taskName, .containBox .tabBox .competition .taskBox .taskList .taskName, .containBox .tabBox .activity .taskBox .taskList .taskName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.28rem;
}

.containBox .tabBox .task .taskBox .taskList .taskName .label, .containBox .tabBox .competition .taskBox .taskList .taskName .label, .containBox .tabBox .activity .taskBox .taskList .taskName .label {
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  width: 0.32rem;
  height: 0.32rem;
  font-size: 0.24rem;
  color: #F4FCF5;
  background-color: #6EC772;
  line-height: 0.32rem;
  margin-right: 0.1rem;
}

.containBox .tabBox .task .taskBox .taskList .taskPeopleNum, .containBox .tabBox .competition .taskBox .taskList .taskPeopleNum, .containBox .tabBox .activity .taskBox .taskList .taskPeopleNum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.24rem;
  line-height: 1.2rem;
}

.containBox .tabBox .task .taskBox .taskList .taskPeopleNum .redcircle, .containBox .tabBox .competition .taskBox .taskList .taskPeopleNum .redcircle, .containBox .tabBox .activity .taskBox .taskList .taskPeopleNum .redcircle {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: #e60012;
  top: 0.4rem;
  right: 0.25rem;
}

.containBox .tabBox .task .taskBox .taskList .taskPeopleNum p, .containBox .tabBox .competition .taskBox .taskList .taskPeopleNum p, .containBox .tabBox .activity .taskBox .taskList .taskPeopleNum p {
  margin-right: 0.15rem;
}

.containBox .tabBox .task .taskBox .taskList .taskPeopleNum .iconRight, .containBox .tabBox .competition .taskBox .taskList .taskPeopleNum .iconRight, .containBox .tabBox .activity .taskBox .taskList .taskPeopleNum .iconRight {
  width: 0.25rem;
  height: 0.25rem;
}

.containBox .addBtn img {
  width: 0.94rem;
  height: 0.94rem;
  position: fixed;
  bottom: 2.5rem;
  right: 0.3rem;
  z-index: 999;
}

.containBox2 {
  position: absolute;
  z-index: 99;
  top: 4.5rem;
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
  overflow: hidden;
}

.containBox2 .memberBox {
  padding: 0.3rem 0.3rem;
  background-color: var(--bgColor);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 2;
  height: 2rem;
}

.containBox2 .memberBox .title {
  height: 0.7rem;
  font-size: 0.32rem;
  color: var(--textColor);
}

.containBox2 .memberBox .memberListDiv {
  height: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containBox2 .memberBox .memberListDiv .memberPersonPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.containBox2 .memberBox .memberListDiv .memberPersonPic img {
  position: absolute;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.containBox2 .memberBox .memberListDiv .memberPersonNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containBox2 .memberBox .memberListDiv .memberPersonNum .numP {
  color: var(--textColor2);
  font-size: 0.28rem;
}

.containBox2 .memberBox .memberListDiv .memberPersonNum .iconRight {
  width: 0.25rem;
  height: 0.25rem;
}

.containBox2 .introduceBox {
  background-color: var(--bgColor);
  padding: 0 0.3rem 0.3rem;
  border-bottom: 0.08rem solid var(--borderColor);
}

.containBox2 .introduceBox .titleBox {
  font-family: " PingFangSC-Regular";
  font-size: 0.32rem;
  color: var(--textColor);
  line-height: 1rem;
}

.containBox2 .introduceBox .clubDescript {
  font-size: 0.28rem;
  color: var(--textColor2);
  line-height: 0.4rem;
}

.containBox2 .detailBox {
  background-color: var(--bgColor);
  padding: 0 0.3rem 0.3rem;
  padding-bottom: 2rem;
}

.containBox2 .detailBox .titleBox {
  font-size: 0.32rem;
  font-family: " PingFangSC-Regular";
  color: var(--textColor);
  line-height: 1rem;
}

.containBox2 .detailBox .clubDataBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem 0.5rem;
}

.containBox2 .detailBox .clubDataBox .totalSkipBox .num {
  font-size: 0.84rem;
  font-family: "BebasNeue";
  color: var(--textColor);
  text-align: center;
}

.containBox2 .detailBox .clubDataBox .totalSkipBox .num .smallNum {
  font-size: 0.48rem;
}

.containBox2 .detailBox .clubDataBox .totalSkipBox .txt {
  font-size: 0.28rem;
  font-family: " PingFangSC-Regular";
  color: var(--textColor2);
  line-height: 0.5rem;
  text-align: center;
}

.containBox2 .btn_box {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.containBox2 .btn_box .addClubBtn {
  color: #fff;
  width: 6.3rem;
  height: 0.88rem;
  font-size: 0.4rem;
  line-height: 0.88rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
  background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
  border-radius: 0.44rem;
  margin-bottom: 0.68rem;
}
/*# sourceMappingURL=clubIndex.css.map */