//黑字
$text_color:#595962;
//白字
$text_color_white:#cfcfd2;
//黑色背景
$bg_color:#12121f;
//边框色
$border_color:#1e1e2a;

@font-face {
    font-family: "BebasNeue";
    src: url("../../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $bg_color;
}



.van-tab__text {
    color: #71717f;
    font-size: .32rem;
}

.van-tab--active {
    .van-tab__text {
        color: $text_color_white;
        font-size: .36rem;
    }
}

.van-tabs__line {
    bottom: 0.4rem;
}

.headerBox {
    position: relative;

    .bannerBg {
        height: 5.16rem;
        width: 100%;
        position: relative;
        filter: blur(4px);
    }

    .blackbg {
        width: 100%;
        height: 5.16rem;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9;
    }

    .infoBox {
        padding: 0 0.3rem;
        position: absolute;
        bottom: 1.5rem;
        display: flex;
        z-index: 99;
        justify-content: start;
        align-items: center;

        .clubPic {
            background-size: cover;
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0.3rem;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .clubDescript {
            .clubName {
                font-size: 0.28rem;
                color: #ffffff;
                line-height: 0.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 4.7rem;
            }

            .clubId,
            .clubDate,
            .clubAddress {
                font-size: 0.2rem;
                color: #71717f;
                line-height: 0.35rem;
                max-width: 4.7rem;
            }

            .clubId {
                img {
                    width: 0.28rem;
                    height: 0.28rem;
                    position: relative;
                    top: 0.02rem;
                }
            }

            .clubLabel {
                border-radius: 2px;
                width: 0.55rem;
                height: 16px;
                background: linear-gradient(to right, #FF4E3E, #FFAA88);
                font-size: 0.2rem;
                color: #fff;
                text-align: center;
                line-height: 16px;
                text-align: center;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
            }
        }
    }
}

.containBox {
    position: relative;
    z-index: 99;

    .noticeBox {
        border-bottom: 2px $border_color solid;
        border-radius: 0.6rem 0.6rem 0 0;
        padding: 0 0.3rem;
        box-sizing: border-box;
        position: absolute;
        background-color: $bg_color;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.2rem;
        top: -1rem;

        .noticeBoxLeft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 90%;



            .noticeContent {
                margin-left: 0.2rem;
                font-size: 0.28rem;
                color: $text_color_white;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .iconRight {
            width: 0.25rem;
            height: 0.25rem;
        }
    }

    .memberBox {
        background-color: $bg_color;
        padding: 0.3rem 0.3rem;

        .title {
            height: 0.7rem;
            font-size: 0.32rem;
            color: $text_color_white;
        }

        .memberListDiv {
            height: 0.7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .memberPersonPic {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }

            .memberPersonNum {
                display: flex;
                justify-content: end;
                align-items: center;

                .numP {
                    color: #71717f;
                    font-size: 0.28rem;
                }

                .iconRight {
                    width: 0.25rem;
                    height: 0.25rem;
                }
            }
        }
    }

    .van-cell--clickable:active {
        background-color: transparent;
    }

    .van-cell {
        background-color: $bg_color;
        color: $text_color_white;
    }

    .tabBox {
        border-top: .08rem solid $border_color;

        .van-tabs__line {
            width: 0.4rem;
            height: 2px;
        }

        .nullDataBox {
            height: 3.6rem;
            background-color: $bg_color;
            text-align: center;

            img {
                width: 35%;
            }

            p {
                font-size: 0.25rem;
                color: #999;
                margin: 0;
                padding: 0;
            }
        }

        .todaySport {
            .todayBox {
                max-height: 3.6rem;
                overflow-y: scroll;
            }

            .memberSport {
                height: 1.2rem;
                padding: 0 0.3rem;
                display: flex;
                align-items: center;
                border-top: 1px $border_color solid;
                color: $text_color_white;

                .flexBox {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                .headerPic {
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .nickName {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 0.28rem;
                }

                .boldNum {
                    font-size: 0.48rem;
                    font-family: BebasNeue;
                }

                .descript {
                    font-size: 0.2rem;
                }
            }

            .historyBox {
                .van-collapse-item {
                    border-top: .08rem $border_color solid;
                    background-color: $border_color;
                }

                .van-collapse-item__content {
                    padding: 0;
                    background-color: $bg_color;
                }
            }
        }

        .task {
            .taskBox {
                margin-bottom: 0.2rem;
                background-color: $bg_color;

                .title {
                    height: 1.2rem;
                    color: $text_color_white;
                    background-color: $bg_color;
                    font-size: 0.28rem;
                    line-height: 1.2rem;
                    text-align: center;
                }

                .taskDiv {
                    max-height: 3.6rem;
                    overflow-y: scroll;

                }

                .taskList {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0.3rem;
                    height: 1.2rem;
                    background-color: $bg_color;
                    border-top: 1px solid $border_color;
                    color: $text_color_white;

                    .taskName {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .label {
                            border-radius: 2px;
                            display: inline-block;
                            text-align: center;
                            width: 0.32rem;
                            height: 0.32rem;
                            font-size: 0.24rem;
                            color: #F4FCF5;
                            background-color: #6EC772;
                            line-height: 0.32rem;
                            margin-right: 0.05rem;
                        }

                        font-size: 0.28rem;

                    }

                    .taskPeopleNum {
                        .redcircle {
                            position: absolute;
                            width: 0.1rem;
                            height: 0.1rem;
                            border-radius: 50%;
                            background: #e60012;
                            top: 0.7rem;
                            right: 0.25rem;
                        }

                        p {
                            margin-right: 0.15rem;
                        }

                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 0.24rem;
                        line-height: 1.2rem;

                        .iconRight {
                            width: 0.25rem;
                            height: 0.25rem;
                        }
                    }
                }
            }
        }

        .competition {
            @extend .task;
        }

        .activity {
            @extend .task;
        }
    }

    .addBtn {
        img {
            width: 0.94rem;
            height: 0.94rem;
            position: fixed;
            bottom: 2.5rem;
            right: 0.3rem;
            z-index: 999;
        }
    }
}

//未加入俱乐部
.containBox2 {
    position: relative;
    z-index: 99;

    .memberBox {
        padding: 0.3rem 0.3rem;
        background-color: $bg_color;
        border-radius: 0.6rem 0.6rem 0 0;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        z-index: 2;
        height: 2rem;
        top: -1rem;

        .title {
            height: 0.7rem;
            font-size: 0.32rem;
            color: $text_color_white;
        }

        .memberListDiv {
            height: 0.7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .memberPersonPic {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }

            .memberPersonNum {
                display: flex;
                justify-content: end;
                align-items: center;

                .numP {
                    color: #71717f;
                    font-size: 0.28rem;
                }

                .iconRight {
                    width: 0.25rem;
                    height: 0.25rem;
                }
            }
        }
    }

    .introduceBox {
        background-color: $bg_color;
        padding: 0 0.3rem 0.3rem;
        border-bottom: 0.08rem solid $border_color;

        .titleBox {
            font-family: " PingFangSC-Regular";
            font-size: 0.32rem;
            color: $text_color_white;
            line-height: 1rem;
        }

        .clubDescript {
            font-size: 0.28rem;
            color: #71717f;
            line-height: 0.4rem;
        }
    }

    .detailBox {
        background-color: $bg_color;
        padding: 0 0.3rem 0.3rem;
        padding-bottom: 2rem;

        .titleBox {
            font-size: 0.32rem;
            font-family: " PingFangSC-Regular";
            color: $text_color_white;
            line-height: 1rem;
        }

        .clubDataBox {
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem;

            .totalSkipBox {
                .num {
                    height: 1.5rem;
                    font-size: 0.84rem;
                    font-family: "BebasNeue";
                    color: $text_color_white;
                    line-height: 1.5rem;
                    text-align: center;

                    .smallNum {
                        font-size: 0.48rem;
                    }
                }

                .txt {
                    font-size: 0.28rem;
                    font-family: " PingFangSC-Regular";
                    color: #71717f;
                    line-height: 0.8rem;
                    text-align: center;
                }
            }
        }
    }

    .btn_box {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        // background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(rgba(255, 255, 255, 0.8)), color-stop(rgba(255, 255, 255, 0.95)), to(white));
        // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95), white);
    }

    .btn_box .addClubBtn {
        color: #fff;
        width: 6.3rem;
        height: 0.88rem;
        font-size: 0.4rem;
        line-height: 0.88rem;
        background-image: -webkit-gradient(linear, left top, right top, from(#FF4E3E), to(#FFAA88));
        background-image: linear-gradient(to right, #FF4E3E, #FFAA88);
        border-radius: 0.44rem;
        margin-bottom: 0.68rem;
    }
}