* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PingFangSC-Regular", sans-serif;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../../../common/font/BebasNeue/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  height: 100vh;
}

.specialHeader .header {
  position: relative;
  z-index: 100;
  background-color: transparent !important;
}

.specialHeader .header .van-nav-bar {
  background-color: transparent;
  color: #fff;
}

.specialHeader .header .van-nav-bar .van-nav-bar__title {
  opacity: 0;
  font-size: 0.36rem;
}

.specialHeader .header .van-hairline--bottom::after {
  border: none;
}

.normalHeader .header {
  position: relative;
  z-index: 100;
  height: calc(0.92rem + constant(safe-area-inset-top));
  height: calc(0.92rem + env(safe-area-inset-top));
}

.normalHeader .header .van-nav-bar {
  background-color: var(--bgColor);
}

.normalHeader .header .van-nav-bar .van-nav-bar__content {
  color: var(--textColor);
}

.normalHeader .header .van-nav-bar .van-nav-bar__title {
  color: var(--textColor);
  font-size: 0.36rem;
}

.normalHeader .header .van-nav-bar .van-nav-bar__text {
  color: var(--textColor);
}

.normalHeader .header .van-hairline--bottom::after {
  border: none;
}

.van-cell--clickable:active {
  background-color: transparent !important;
}

.van-uploader__upload:active {
  background-color: transparent !important;
}

.van-action-sheet__cancel:active,
.van-action-sheet__item:active {
  background-color: transparent !important;
}

.van-cell-group {
  background-color: var(--bgColor);
}

.van-dialog .van-cell {
  background-color: var(--bgColor);
}

.van-dialog,
.van-button--default {
  background-color: var(--popBgColor);
  color: var(--textColor);
}

.van-dialog__header,
.van-button--default,
.van-field__control {
  color: var(--textColor);
}

.van-field__control {
  color: var(--textColor2);
  border-radius: .08rem;
  padding: 0 .1rem;
}

.van-tabs__nav,
.van-dialog {
  background-color: var(--bgColor) !important;
}

.van-dialog,
.van-dialog .van-cell,
.van-dialog .van-button--default {
  background-color: var(--popBgColor) !important;
}

.van-dialog [class*=van-hairline]::after {
  border: 1px solid var(--borderColor);
}

.van-picker {
  background-color: var(--bgColor);
}

.van-picker .van-picker__toolbar {
  border-bottom: 1px solid var(--borderColor);
  height: 1.12rem;
}

.van-picker .van-picker-column__item {
  color: var(--textColor);
}

.van-picker .van-picker__mask {
  display: none;
}

.van-picker .van-hairline--top-bottom::after,
.van-picker .van-hairline-unset--top-bottom::after {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
}

.van-picker .van-picker__cancel,
.van-picker .van-picker__confirm {
  color: var(--textColor);
}

.van-switch {
  background-color: var(--challenge_btnBgColor);
  border: none;
}

.van-popup {
  background-color: var(--popBgColor);
}

.van-collapse-item--border::after {
  border: 1px solid var(--borderColor);
}

textarea::-webkit-input-placeholder {
  color: var(--textColor2) !important;
}

textarea:-ms-input-placeholder {
  color: var(--textColor2) !important;
}

textarea::-ms-input-placeholder {
  color: var(--textColor2) !important;
}

textarea::placeholder {
  color: var(--textColor2) !important;
}

input::-webkit-input-placeholder {
  color: var(--textColor2) !important;
}

input:-ms-input-placeholder {
  color: var(--textColor2) !important;
}

input::-ms-input-placeholder {
  color: var(--textColor2) !important;
}

input::placeholder {
  color: var(--textColor2) !important;
}

.van-list__error-text,
.van-list__finished-text,
.van-list__loading {
  color: var(--textColor2);
}

[class*=van-hairline]::after {
  border-color: var(--borderColor);
}

.van-calendar {
  background-color: var(--popBgColor);
}

.van-calendar .van-calendar__month-mark {
  color: var(--textColor2);
}

.van-checkbox .van-checkbox__icon {
  font-size: 0.32rem;
}

.van-button::before {
  border: none;
}

.van-button--default {
  border: none;
}

.van-search__content {
  background-color: var(--borderColor);
}

.van-field__control {
  color: var(--textColor2);
}

.van-icon-clear {
  color: var(--textColor2);
}

.van-icon-search {
  color: var(--textColor2);
}

.van-search {
  background-color: var(--bgColor);
}

.ub {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
}

.ub-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ub-f1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ub-fh {
  width: 100%;
}

.ub-fv {
  height: 100%;
}

.ub-con {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ub-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ub-aend {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ub-ae {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.ub-pc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ub-pe {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ub-pj {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ub-ad {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=header.css.map */